<div
    class=" px-10 pt-3 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="heading">Target Tracking</div>
    <!-- Header -->
    <!-- Main -->


    <!-- Products list -->
    <div class="flex flex-auto" style="flex-direction: column;">
        <form [formGroup]="targetTrackingForm">
            <mat-form-field>
                <input matInput [matDatepicker]="dp" placeholder="Year" [value]="year">
                <input type="hidden" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp
                                startView="multi-year"
                                (yearSelected)="chosenYearHandler($event,dp)"
                                panelClass="example-month-picker">
                </mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Search" formControlName="search">
            </mat-form-field>
            <button class="bg-green btn" type="button" (click)="getTargetTracks()">Submit</button>
        </form>
        <div class="container  px-0 pt-2">
            <div class="table-responsive  border shadow-xs rounded-sm bg-gray-50" id="map_canvas">
                <table class="table accordion table-striped" *ngIf="target_0">
                    <thead>
                    <tr class="table-header-background">
                        <th scope="col"></th>
                        <th scope="col">{{target_0?.Heading?.Name}}</th>
                        <th scope="col">{{target_0?.Heading?.DepositAmount}}</th>
                        <th scope="col">{{target_0?.Heading?.DisbursmentAmount}}</th>
                        <th scope="col">{{target_0?.Heading?.NormalRecoveryAmount}}</th>
                        <th scope="col">{{target_0?.Heading?.NplRecoveryAmount}}</th>
                        <th scope="col">{{target_0?.Heading?.SamRecoveryAmount}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-bs-toggle="collapse"
                        *ngFor="let single_provincial_target of target_0?.Targets;let i=index" [data-bs-target]="'#'+i">
                        <th scope="row">
                            <mat-icon class="text-green">expand_more</mat-icon>
                        </th>
                        <td>{{single_provincial_target.Name ? single_provincial_target.Name : 'Not Assigned'}}</td>
                        <td>{{single_provincial_target.DepositAmount ? single_provincial_target.DepositAmount : 'Not Assigned'}}</td>
                        <td>{{single_provincial_target.DisbursmentAmount ? single_provincial_target.DisbursmentAmount : 'Not Assigned'}}</td>
                        <td>{{single_provincial_target.NormalRecoveryAmount ? single_provincial_target.NormalRecoveryAmount : 'Not Assigned'}}</td>
                        <td>{{single_provincial_target.NplRecoveryAmount ? single_provincial_target.NplRecoveryAmount : 'Not Assigned'}}</td>
                        <td>{{single_provincial_target.SamRecoveryAmount ? single_provincial_target.SamRecoveryAmount : ''}}</td>
                    </tr>
                    <tr class="collapse accordion-collapse"
                        *ngFor="let single_provincial_target of target_0.Targets;let i=index" [id]="i"
                        data-bs-parent=".table">
                        <td colspan="5"> Item 1 detail .. This is the first item's accordion body. It is shown by
                            default, until the collapse plugin adds the appropriate classes that we use to style each
                            element. These classes control the overall appearance, as well as the showing and hiding via
                            CSS transitions. You can modify any of this with custom CSS or overriding our default
                            variables. It's also worth noting that just about any HTML can go within the
                            .accordion-body, though the transition does limit overflow.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>


</div>
