<div class=" sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">
    <div class="heading">MCO Dashboard</div>
    <!-- Header -->
    <form name="form" novalidate>
        <div class="form-row row pt-2">
            <div class="form-group col-lg-3">
                <mat-form-field class="mat-form-field-fluid w-full mb-0" appearance="outline">
                    <mat-label class="customMatLabel">Year</mat-label>
                    <mat-select [(ngModel)]="year" name="year" #Year="ngModel"
                                required>

                        <mat-option *ngFor="let single_year of years;let i=index"
                                    [value]="single_year">{{single_year}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-lg-3">
                <button class="btn btn-primary mat-flat-button mr-1 bg-gray-500 mt-2 mat-primary" mat-raised-button
                        (click)="getData()">
                    <mat-icon class="mr-2">search</mat-icon>
                    Search
                </button>

            </div>
        </div>
        <div class="text-center">

        </div>
    </form>

    <!-- Main -->

    <!-- Products list -->
    <div class="flex flex-auto" style="flex-direction: column;">
        <div class="row">
            <div class="col-lg-6 col-sm-12 my-2  ">
                <div class="shadow-sm border"   style="height: calc(100vh - 310px);">
                    <div id="chart" class=" mt-0 py-3  " *ngIf="chartOptions1">
                        <p class="text-green px-2 font-bold mb-0">Performance Indicators</p>
                        <apx-chart
                            [series]="chartOptions1?.series"
                            [chart]="chartOptions1?.chart"
                            [labels]="chartOptions1?.labels"
                            [theme]="chartOptions1?.theme"
                            [responsive]="chartOptions1?.responsive"
                            [noData]="chartOptions1.noData"
                            [colors]="chartOptions1?.colors"
                        ></apx-chart>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-12 my-2">
                <div class="shadow-sm border"   style="height: calc(100vh - 310px);">
                    <div id="chart" class=" mt-0 py-3" *ngIf="chartOptions2">
                        <p class="text-green px-2 font-bold mb-0">Circle Bench Mark</p>
                        <apx-chart
                            [series]="chartOptions2?.series"
                            [chart]="chartOptions2?.chart"
                            [labels]="chartOptions2?.labels"
                            [theme]="chartOptions2?.theme"
                            [responsive]="chartOptions2?.responsive"
                            [noData]="chartOptions2.noData"

                        ></apx-chart>
                    </div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12 my-2">
                <div class="shadow-sm border"   style="height: calc(100vh - 310px);">
                    <div id="chart" class="mt-0 py-3" *ngIf="chartOptions2">
                        <p class="text-green px-2 font-bold mb-0">Loan Portfolio</p>
                        <apx-chart
                            [series]="chartOptions3?.series"
                            [chart]="chartOptions3?.chart"
                            [labels]="chartOptions3?.labels"
                            [theme]="chartOptions3?.theme"
                            [responsive]="chartOptions3?.responsive"
                            [noData]="chartOptions3.noData"

                        ></apx-chart>
                    </div>
                </div>

            </div>

        </div>

        <div class="row ">
            <div class="col-lg-6 table-responsive">
                <p class="heading mb-2 text-lg">Disbursement</p>
                <table class="table  table-striped">
                    <!-- <thead>
                      <tr class="table-header-background">
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                      </tr>
                    </thead> -->
                    <tbody>
                    <tr *ngFor="let item of  DisbursmentAchievement">
                        <td>{{item[0]}}</td>
                        <td>{{item[1]}}</td>
                    </tr>


                    </tbody>
                </table>
            </div>
            <div class="col-lg-6  table-responsive">
                <p class="heading mb-2 text-lg">Recovery</p>
                <table class="table  table-striped">
                    <!-- <thead>
                      <tr class="table-header-background">
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                      </tr>
                    </thead> -->
                    <tbody>
                    <tr *ngFor="let item of  RecoveryAchievement">
                        <td>{{item[0]}}</td>
                        <td>{{item[1]}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
         </div>
        <div class="row ">

            <div class="col-lg-6   table-responsive">
                <p class="heading mb-2 text-lg">Utilization/Mutations</p>
                <table class="table  table-striped">
                    <!-- <thead>
                      <tr class="table-header-background">
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                      </tr>
                    </thead> -->
                    <tbody>
                    <tr *ngFor="let item of  UtilizationMutation">
                        <td>{{item[0]}}</td>
                        <td>{{item[1]}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>






