<div class=" sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">
    <div class="heading">MCO Dashboard</div>
    <!-- Header -->
    <form name="form" novalidate>
        <div class="form-row row pt-2">
            <div class="form-group col-lg-3">
                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full mb-0">
                    <mat-label class="customMatLabel">Year</mat-label>
                    <mat-select #Year="ngModel" [(ngModel)]="year" name="year"
                                required>

                        <mat-option *ngFor="let single_year of years;let i=index"
                                    [value]="single_year">{{single_year}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-lg-3">
                <button (click)="getData()" class="btn btn-primary mat-flat-button mr-1 bg-gray-500 mt-2 mat-primary"
                        mat-raised-button>
                    <mat-icon class="mr-2">search</mat-icon>
                    Search
                </button>

            </div>
        </div>
        <div class="text-center">

        </div>
    </form>

    <!-- Main -->

    <!-- Products list -->
<!--    <div class="flex flex-auto" style="flex-direction: column;">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6 col-sm-12 my-2  ">-->
<!--                <div class="shadow-sm border graph-box" style="height:auto !important;">-->
<!--                    <div *ngIf="chartOptions1" class=" mt-0 py-3  position-relative " id="chart">-->
<!--                        <p class="text-green px-2 font-bold mb-0">Performance Indicators</p>-->
<!--                        <apx-chart-->
<!--                            [chart]="chartOptions1?.chart"-->
<!--                            [colors]="chartOptions1?.colors"-->
<!--                            [dataLabels]="chartOptions1.dataLabels"-->
<!--                            [labels]="chartOptions1?.labels"-->
<!--                            [noData]="chartOptions1.noData"-->
<!--                            [responsive]="chartOptions1?.responsive"-->
<!--                            [series]="chartOptions1?.series"-->
<!--                            [theme]="chartOptions1?.theme"-->
<!--                            [tooltip]="chartOptions1.tooltip"-->
<!--                        ></apx-chart>-->
<!--                        &lt;!&ndash;                        <p class="text-green px-1 font-medium mb-0 position-absolute" style="bottom: 19px; right: 3px; font-size: 12px;">**Deposits figures are for complete branch</p>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--            <div class="col-lg-6 col-sm-12 my-2">-->
<!--                <div class="shadow-sm border graph-box" style="height:auto !important;">-->
<!--                    <div *ngIf="chartOptions2" class=" mt-0 py-3" id="chart">-->
<!--                        <p class="text-green px-2 font-bold mb-0">Circle Bench Mark</p>-->
<!--                        <apx-chart-->
<!--                            [chart]="chartOptions2?.chart"-->
<!--                            [colors]="chartOptions2?.colors"-->
<!--                            [dataLabels]="chartOptions2.dataLabels"-->
<!--                            [labels]="chartOptions2?.labels"-->
<!--                            [noData]="chartOptions2.noData"-->
<!--                            [responsive]="chartOptions2?.responsive"-->
<!--                            [series]="chartOptions2?.series"-->
<!--                            [theme]="chartOptions2?.theme"-->
<!--                            [tooltip]="chartOptions2.tooltip"-->

<!--                        ></apx-chart>-->
<!--                    </div>-->
<!--                </div>-->


<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6 col-sm-12 my-2">-->
<!--                <div class="shadow-sm border graph-box" style="height:auto !important;">-->
<!--                    <div *ngIf="chartOptions3" class="mt-0 py-3" id="chart">-->
<!--                        <p class="text-green px-2 font-bold mb-0">Loan Portfolio</p>-->
<!--                        <apx-chart-->
<!--                            [chart]="chartOptions3.chart"-->
<!--                            [colors]="chartOptions3?.colors"-->
<!--                            [dataLabels]="chartOptions3?.dataLabels"-->
<!--                            [labels]="chartOptions3?.labels"-->
<!--                            [noData]="chartOptions3?.noData"-->
<!--                            [responsive]="chartOptions3?.responsive"-->
<!--                            [series]="chartOptions3?.series"-->
<!--                            [theme]="chartOptions3?.theme"-->
<!--                            [tooltip]="chartOptions3.tooltip"-->

<!--                        ></apx-chart>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--            <div class="col-lg-6 col-sm-12 my-2">-->
<!--                <div class="shadow-sm border graph-box" style="height:auto !important;">-->
<!--                    <div *ngIf="chartOptions4" class="mt-0 py-3" id="chart">-->
<!--                        <p class="text-green px-2 font-bold mb-0">Circle Radius</p>-->
<!--                        <apx-chart-->
<!--                            [chart]="chartOptions4?.chart"-->
<!--                            [dataLabels]="chartOptions4.dataLabels"-->
<!--                            [labels]="chartOptions4?.labels"-->
<!--                            [noData]="chartOptions4.noData"-->
<!--                            [responsive]="chartOptions4?.responsive"-->
<!--                            [series]="chartOptions4?.series"-->
<!--                            [theme]="chartOptions4?.theme"-->
<!--                            [tooltip]="chartOptions4.tooltip"-->

<!--                        ></apx-chart>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

<!--        </div>-->

<!--        <div class="row ">-->
<!--            <div class="col-lg-12 table-responsive">-->
<!--                <p class="heading mb-2 text-lg">Disbursement</p>-->
<!--                <table class="table  table-striped">-->
<!--                    &lt;!&ndash; <thead>-->
<!--                      <tr class="table-header-background">-->
<!--                        <th scope="col">#</th>-->
<!--                        <th scope="col">First</th>-->
<!--                        <th scope="col">Last</th>-->
<!--                      </tr>-->
<!--                    </thead> &ndash;&gt;-->
<!--                    <tbody>-->
<!--                    <tr *ngFor="let items of DisbursmentAchievement" class="text-center">-->
<!--                        <td>-->
<!--                            <div class="d-grid">-->
<!--                                <div>-->
<!--                                    {{_dashboardService.getCamelCaseString(items[0], 0)}}-->
<!--                                </div>-->
<!--                                <div class="fw-bold">-->
<!--                                    {{_dashboardService.getCamelCaseString(items[0], 1)}}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <div class="d-grid">-->
<!--                                <div>-->
<!--                                    {{_dashboardService.getCamelCaseString(items[1], 0)}}-->
<!--                                </div>-->
<!--                                <div class="fw-bold">-->
<!--                                    {{_dashboardService.getCamelCaseString(items[1], 1)}}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <div class="d-grid">-->
<!--                                <div>-->
<!--                                    {{_dashboardService.getCamelCaseString(items[2], 0)}}-->
<!--                                </div>-->
<!--                                <div class="fw-bold">-->
<!--                                    {{_dashboardService.getCamelCaseString(items[2], 1)}}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                    </tr>-->

<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--            <div class="col-lg-12  table-responsive">-->
<!--                <p class="heading mb-2 text-lg">Recovery</p>-->
<!--                <table class="table  table-striped">-->
<!--                    &lt;!&ndash; <thead>-->
<!--                      <tr class="table-header-background">-->
<!--                        <th scope="col">#</th>-->
<!--                        <th scope="col">First</th>-->
<!--                        <th scope="col">Last</th>-->
<!--                      </tr>-->
<!--                    </thead> &ndash;&gt;-->
<!--                    <tbody>-->
<!--                    <tr *ngFor="let items of RecoveryAchievement" class="text-center">-->
<!--                        <td>-->
<!--                            <div class="d-grid">-->
<!--                                <div>-->
<!--                                    {{_dashboardService.getCamelCaseString(items[0], 0)}}-->
<!--                                </div>-->
<!--                                <div class="fw-bold">-->
<!--                                    {{_dashboardService.getCamelCaseString(items[0], 1)}}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <div class="d-grid">-->
<!--                                <div>-->
<!--                                    {{_dashboardService.getCamelCaseString(items[1], 0)}}-->
<!--                                </div>-->
<!--                                <div class="fw-bold">-->
<!--                                    {{_dashboardService.getCamelCaseString(items[1], 1)}}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <div class="d-grid">-->
<!--                                <div>-->
<!--                                    {{_dashboardService.getCamelCaseString(items[2], 0)}}-->
<!--                                </div>-->
<!--                                <div class="fw-bold">-->
<!--                                    {{_dashboardService.getCamelCaseString(items[2], 1)}}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row ">-->

<!--            <div class="col-lg-12   table-responsive">-->
<!--                <p class="heading mb-2 text-lg">Utilization/Mutations</p>-->
<!--                <table class="table  table-striped">-->
<!--                    <thead>-->
<!--                    <tr class="table-header-background">-->
<!--                        <th scope="col"></th>-->
<!--                        <th scope="col">Utilization</th>-->
<!--                        <th scope="col">Mutations</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr>-->
<!--                        <td>Opening Balance</td>-->
<!--                        <td>{{UtilizationMutation?.UtilizationOpenningBalance}}</td>-->
<!--                        <td>{{UtilizationMutation?.MutationOpenningBalance}}</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Added</td>-->
<!--                        <td>{{UtilizationMutation?.UtilizationAdded}}</td>-->
<!--                        <td>{{UtilizationMutation?.MutationAdded}}</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Checked</td>-->
<!--                        <td>{{UtilizationMutation?.UtilizationChecked}}</td>-->
<!--                        <td>{{UtilizationMutation?.MutationChecked}}</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Outstanding</td>-->
<!--                        <td>{{UtilizationMutation?.UtilizationOutstanding}}</td>-->
<!--                        <td>{{UtilizationMutation?.MutationOutstanding}}</td>-->
<!--                    </tr>-->

<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


</div>






