<div class=" pt-3 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="heading">MCO Dashboard</div>
    <!-- Header -->
    <!-- Main -->
  
      <!-- Products list -->
      <div class="flex flex-auto overflow-x-hidden overflow-y-scroll" style="flex-direction: column;">
      <div class="row">
          <div  class="col-lg-4">
            <p class="text-green px-2 py-2 font-bold mb-0 mt-2">Performance Indicators</p>
            <div id="chart" class=" mt-0 py-3 shadow-sm border">
                <apx-chart
                  [series]="chartOptions1.series"
                  [chart]="chartOptions1.chart"
                  [labels]="chartOptions1.labels"
                  [theme]="chartOptions1.theme"
                  [responsive]="chartOptions1.responsive"
                ></apx-chart>
              </div>
          </div>
          <div  class="col-lg-4">
            <p class="text-green px-2 py-2 font-bold mb-0 mt-2">Circle Bench Mark</p>
            <div id="chart" class=" mt-0 py-3 shadow-sm border">
                <apx-chart
                  [series]="chartOptions2.series"
                  [chart]="chartOptions2.chart"
                  [labels]="chartOptions2.labels"
                  [theme]="chartOptions2.theme"
                  [responsive]="chartOptions2.responsive"
                ></apx-chart>
              </div>
          </div>
          <div  class="col-lg-4">
            <p class="text-green px-2 py-2 font-bold mb-0 mt-2">Loan Portfolio</p>
            <div id="chart"  class="mt-0 py-3 shadow-sm border">
                <apx-chart
                  [series]="chartOptions3.series"
                  [chart]="chartOptions3.chart"
                  [labels]="chartOptions3.labels"
                  [theme]="chartOptions3.theme"
                  [responsive]="chartOptions3.responsive"
                ></apx-chart>
              </div>
          </div>

        </div>
        <div class="row ">
          <div  class="col-lg-4 table-responsive">
            <p class="heading mb-2 text-lg">Disbursement</p>
            <table class="table  table-striped">
                <thead>
                  <tr class="table-header-background">
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div  class="col-lg-4  table-responsive">
            <p class="heading mb-2 text-lg">Recovery</p>
            <table class="table  table-striped">
                <thead>
                  <tr class="table-header-background">
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div  class="col-lg-4   table-responsive">
            <p class="heading mb-2 text-lg">Utilization/Mutations</p>
            <table class="table  table-striped">
                <thead>
                  <tr class="table-header-background">
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                  </tr>
                </tbody>
              </table>
          </div>
          </div>
      </div>
   

  
  </div>
  
  
  
  
  
  
  