<h3 class="text-3xl  mt-4  font-extrabold tracking-tight pb-2 border-b mb-2 border-green-500 p-2" style="background-color: #f6fcf8;">Error Log Details({{errorLogDetails.MethodName}})</h3>

<table class="table ">
    <thead class="bg-success">
    <tr style="text-align: center">
        <th scope="col">Input Parameters</th>
        <th scope="col">ZTBL Input Parameters</th>
        <th scope="col">Error Trace</th>
        <th scope="col">Message</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="text-black w-24"> <div class="w-24 break-words">{{errorLogDetails.InputParameters}}</div> </td>
        <td class="text-black w-24"> <div class="w-24 break-words">{{errorLogDetails.ZtblInputParams}}</div>    </td>
        <td class="text-black w-56"> <div class="w-96 break-words">{{errorLogDetails.ErrorTrace}}</div></td>
        <td class="text-black w-56"> <div class="w-96 break-words"> {{errorLogDetails.Message}}</div> </td>
    </tr>
    </tbody>
</table>
