<div
    class="px-10  sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-y-scroll bg-card dark:bg-transparent">

    <div class="row pt-3">
        <div class="col-lg-10 col-sm-12">
            <div class="heading">Correction of Phone Cell</div>
        </div>
        <div class="col-lg-2 col-sm-12 self-center">
            <p class="text-right">
                <button class="mt-1  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary" type="button"
                        color="primary"
                        aria-expanded="false" aria-controls="collapseExample" onclick="toggleCollapse()">
                    <mat-icon class="mr-2" id='arrow'>keyboard_arrow_down</mat-icon>
                    Advance Filter
                </button>
            </p>
        </div>
    </div>

    <!-- Header -->


    <div class="collapse show" id="collapseExample">
        <div class="card card-body" [formGroup]="cpForm">


            <div class="flex mt-1" style="flex-wrap: wrap;">

                <!-- <kt-alert *ngIf="hasFormErrors" class="col-lg-12" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
                  Please enter valid Input
                </kt-alert> -->
                <app-zone-branch-circle [should_show_circle]="false" [form]="cpForm"
                                        (branchZoneCircleData)="getAllData($event)"></app-zone-branch-circle>
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                    <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                        <mat-label class="customMatLabel">CNIC#</mat-label>
                        <!-- <input appNumberOnly matInput (keyup)="changed($event)" placeholder="Enter Cnic" formControlName="Cnic"  maxlength="13" autocomplete="off" [readonly]="viewOnly"/> -->
                        <input appNumberOnly matInput placeholder="Enter Cnic" formControlName="Cnic" maxlength="13"
                               autocomplete="off"/>
                    </mat-form-field>
                </div>
                <div class="flex flex-shrink-0 items-center  sm:mt-0 mx-2" style="width: 225px;">
                    <div class="form-group kt-form__group row">
                        <div class="col-lg-2 kt-margin-bottom-20-mobile">
                            <input type="button" mat-raised-button color="primary"
                                   class=" bg-gray-500 mat-raised-button mat-button-base mat-primary searchLCBtn"
                                   value="Find" (click)="find()"/>
                            <!-- <button mat-raised-button color="primary" (click)="find()">Find</button> -->
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pt-4 px-6 md:px-8"
         style="flex-wrap: wrap">
    </div>
    <div class="flex flex-auto overflow-x-hidden overflow-y-scroll" style="flex-direction: column;">
        <form class="kt-form kt-form--group-seperator-dashed">


            <div *ngIf="phoneCellTab" class="form-group kt-form__group row justify-content-center">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="heading">Update Customer Phone Cell</p>
                        </div>
                    </div>
                    <div class="table-responsive" style="overflow-x: hidden;">
                        <table class="table table-striped">
                            <thead>
                            <tr class="table-header-background text-center">

                                <th class="text-left">Customer Name:</th>
                                <th class="text-left">Father Name:</th>
                                <th class="text-left">Existing Cnic:</th>
                                <th class="text-left">Phone mat-cell: (0092***********):</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr [formGroup]="cpForm">
                                <td>
                                    <div class="row">
                                        <div class="col-lg-12 pl-0">
                                            <input class="border bg-white rounded p-3" placeholder="Customer Name"
                                                   formControlName="CustomerName" autocomplete="off"/>
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-lg-12 pl-0">
                                            <input class="border bg-white rounded p-3" placeholder="Father Name"
                                                   formControlName="FatherName" autocomplete="off"/>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-lg-12 pl-0">
                                            <input class="border bg-white rounded p-3" placeholder="Existing Cnic"
                                                   formControlName="ExistingCnic" autocomplete="off"/>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-lg-3 pl-0">
                                            <input autocomplete="off" value="00923"
                                                   class="mr-2 border bg-white rounded p-3 w-100" readonly="readonly"/>
                                        </div>
                                        <div class="col-lg-9 pl-0">
                                            <input class="border bg-white rounded p-3 w-100" placeholder="34555555555"
                                                   appNumberOnly
                                                   formControlName="PhoneCell" autocomplete="off" maxlength="10"/>
                                        </div>
                                    </div>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="button" mat-raised-button color="primary"
                                       class=" mat-raised-button mat-button-base mat-primary mr-4 searchLCBtn bg-green"
                                       value="Update" (click)="onUpdate()"/>
                                <input type="button" mat-raised-button color="primary"
                                       class=" mat-raised-button bg-red-500 mat-button-base mat-primary searchLCBtn"
                                       value="Cancel" (click)="onCancel()"/>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </form>
    </div>

</div>







