<div class=" px-10 pt-4 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-scroll bg-card dark:bg-transparent">
    <div class="text-4xl font-extrabold tracking-tight px-2">Get Village Bench Marking</div>

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4"
         style="flex-wrap: wrap" [formGroup]="getVillageBenchmarkForm">
        <div
            class="absolute inset-x-0 bottom-0">
            <mat-progress-bar [mode]="'indeterminate'" *ngIf="!loaded"></mat-progress-bar>
        </div>
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <mat-form-field class="mat-form-field-fluid" appearance="outline" *ngIf="single_zone">
                <mat-label class="customMatLabel">Zone</mat-label>
                <mat-select [(ngModel)]="selected_z" formControlName="Zone" [disabled]="disable_zone">
                    <mat-option [value]="SelectedZones?.ZoneId">
                        {{SelectedZones?.ZoneName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="mat-form-field-fluid" appearance="outline" *ngIf="!single_zone">
                <mat-label class="customMatLabel">Zone</mat-label>
                <mat-select [(ngModel)]="selected_z" formControlName="Zone" [disabled]="disable_zone"
                            (selectionChange)="changeZone($event)">
                    <mat-option *ngFor="let zone of SelectedZones" [value]="zone?.ZoneId"
                                [disabled]="disable_zone">
                        {{zone?.ZoneName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


        </div>

        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">Branch <strong class="matMandatory">*</strong></mat-label>
                <mat-select [(ngModel)]="selected_b" formControlName="Branch" [disabled]="disable_branch"
                            (selectionChange)="changeBranch($event)"
                            *ngIf="!single_branch">
                    <mat-option *ngFor="let branch of SelectedBranches" [value]="branch?.BranchCode"
                    >
                        {{branch?.Name}}
                    </mat-option>
                </mat-select>
                <mat-select [(ngModel)]="selected_b" formControlName="Branch" [disabled]="disable_branch"
                            *ngIf="single_branch">
                    <mat-option [value]="SelectedBranches?.BranchCode"
                    >
                        {{SelectedBranches?.Name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">Circle</mat-label>

                <mat-select formControlName="Circle" [disabled]="disable_circle">
                    <mat-option *ngFor="let circle of SelectedCircles" [value]="circle?.Id"
                    >
                        {{circle?.CircleCode}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">Village Name</mat-label>
                <input matInput placeholder="Enter Village Name" formControlName="VillageName" maxlength="30" autocomplete="off" />
              </mat-form-field>
        </div>


        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <button mat-raised-button color="accent"
                    type="button" (click)="search()"><span><i
                class="fa fa-search"> &nbsp;</i> Find</span></button>
        </div>

    </div>
    <div class="flex flex-auto overflow-hidden" style="flex-direction: column;">
        <div class="example-table-container">
            <table mat-table
                   [dataSource]="dataSource | paginate: {itemsPerPage: itemsPerPage, currentPage: pageIndex, totalItems: totalItems} "
                   class="example-table"
                   matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
                <!-- Number Column -->
                <ng-container matColumnDef="VillageName">
                    <th mat-header-cell *matHeaderCellDef>Village Name</th>
                    <td mat-cell *matCellDef="let VillageBenchMark">{{VillageBenchMark.Name}}</td>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="NoOfFormaer">
                    <th mat-header-cell *matHeaderCellDef>No of Farmers</th>
                    <td mat-cell *matCellDef="let VillageBenchMark">{{VillageBenchMark.NoOfFormaer}}</td>
                </ng-container>

                <!-- State Column -->
                <ng-container matColumnDef="FarmSize">
                    <th mat-header-cell *matHeaderCellDef>Farm Size</th>
                    <td mat-cell *matCellDef="let VillageBenchMark">{{VillageBenchMark.FarmSize}}</td>
                </ng-container>

                <!-- State Column -->
                <ng-container matColumnDef="GenderCount">
                    <th mat-header-cell *matHeaderCellDef>Gender Count</th>
                    <td mat-cell *matCellDef="let VillageBenchMark">{{VillageBenchMark.GenderCount}}</td>
                </ng-container>

                <!-- State Column -->
                <ng-container matColumnDef="GenderType">
                    <th mat-header-cell *matHeaderCellDef>Gender Type</th>
                    <td mat-cell *matCellDef="let VillageBenchMark">{{VillageBenchMark.GenderType}}</td>
                </ng-container>

                <ng-container matColumnDef="AverageLoanSize">
                    <th mat-header-cell *matHeaderCellDef>Average Loan Size</th>
                    <td mat-cell *matCellDef="let VillageBenchMark">{{VillageBenchMark.AverageLoanSize}}</td>
                </ng-container>

                <ng-container matColumnDef="AgriBusinessPotential">
                    <th mat-header-cell *matHeaderCellDef>Agri Business Potential</th>
                    <td mat-cell *matCellDef="let VillageBenchMark">{{VillageBenchMark.AgriBusinessPotential}}</td>
                </ng-container>

                <ng-container matColumnDef="Delete">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let VillageBenchMark">
                        <button mat-icon-button color="primary" *ngIf="checkDeleteStatus(VillageBenchMark)" (click)="deleteVillageBenchMark(VillageBenchMark)">
                            <mat-icon title="delete benchmark">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div *ngIf="matTableLenght" class="mat-select" style="padding:5px;">
                Items per page:
                <mat-select display="inline" [(value)]="itemsPerPage" (valueChange)="paginate(1,$event)"
                            style="width: 50px; margin-left: 15px; display: inline-block; margin-right: 10px;">
                    <mat-option [value]="5">5</mat-option>
                    <mat-option [value]="10">10</mat-option>
                    <mat-option [value]="25">25</mat-option>
                    <mat-option [value]="50">50</mat-option>
                </mat-select>
                <button (click)="paginate(1)">First</button>
                <pagination-controls display="inline" (pageChange)="paginate($event)"
                                     style="display: inline-block;"></pagination-controls>
                <button (click)="paginate(MathCeil(totalItems/itemsPerPage))">Last</button>
                <p style="float:right;">Total <b>{{totalItems}}</b> items</p>

            </div>


            <!-- <div class="mat-table__message" *ngIf="!loading && !matTableLenght">No records found</div>
            <div class="mat-table__message" *ngIf="loading">Please wait....</div> -->

        </div>

    </div>
</div>
