<div
    class=" px-10 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-scroll bg-card dark:bg-transparent">


    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">Get Village Benchmarking</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center">
            <p class="text-right">
                <button aria-controls="collapseExample" aria-expanded="false"
                        class="mt-1  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                        color="primary" onclick="toggleCollapse()" type="button">
                    <mat-icon class="mr-2" id='arrow'>keyboard_arrow_down</mat-icon>
                    Advance Filter
                </button>
            </p>
        </div>
    </div>

    <!-- Header -->


    <div class="collapse show" id="collapseExample">
        <div class="card card-body">
            <div [formGroup]="getVillageBenchmarkForm" class="py-2">


                <div class="flex" style="flex-wrap: wrap;">
                    <app-zone-branch-circle (branchZoneCircleData)="getAllData($event)" [form]="getVillageBenchmarkForm"
                                            [show_circle]="true"></app-zone-branch-circle>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">

                            <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                <mat-label class="customMatLabel">Village Name</mat-label>
                                <input autocomplete="off" formControlName="VillageName" matInput
                                       maxlength="30" placeholder="Enter Village Name"/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">

                            <button (click)="search()" class="bg-gray-500 mat-primary mt-2"
                                    mat-raised-button type="button">
                                <mat-icon class="mr-2">search</mat-icon>
                                Search
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Header -->

    <div [style.height]="gridHeight"
         class="mat-table__wrapper overflow-y-scroll border shadow-xs rounded-sm bg-gray-50">
        <!--[style.height]="gridHeight"-->
        <mat-table
            #sort1="matSort"
            #table
            [dataSource]="dataSource | paginate: {itemsPerPage: itemsPerPage, currentPage: pageIndex, totalItems: totalItems}"
            matSort
            matSortActive="id"
            matSortDirection="asc"
            matSortDisableClear>
            CircleCode

            <ng-container matColumnDef="CircleCode">
                <mat-header-cell *matHeaderCellDef class="place-content-center">Circle Code.</mat-header-cell>
                <mat-cell *matCellDef="let VillageBenchMark"
                          class="place-content-center">{{VillageBenchMark.CircleCode}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="VillageName">
                <mat-header-cell *matHeaderCellDef class="place-content-center">Village Name</mat-header-cell>
                <mat-cell *matCellDef="let VillageBenchMark"
                          class="place-content-center">{{VillageBenchMark.VillageName}}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="FarmSize">
                <mat-header-cell *matHeaderCellDef class="place-content-center">Farm Size</mat-header-cell>
                <mat-cell *matCellDef="let VillageBenchMark"
                          class="place-content-center">{{VillageBenchMark.FarmSize}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="NoOfFarmer">
                <mat-header-cell *matHeaderCellDef class="place-content-center">No Of Farmers</mat-header-cell>
                <mat-cell *matCellDef="let VillageBenchMark"
                          class="place-content-center">{{VillageBenchMark.NoOfFarmer}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="MaleCount">
                <mat-header-cell *matHeaderCellDef class="place-content-center">Male Count</mat-header-cell>
                <mat-cell *matCellDef="let VillageBenchMark"
                          class="place-content-center">{{VillageBenchMark.MaleCount}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="FemaleCount">
                <mat-header-cell *matHeaderCellDef class="place-content-center">Female Count</mat-header-cell>
                <mat-cell *matCellDef="let VillageBenchMark"
                          class="place-content-center">{{VillageBenchMark.FemaleCount}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="TransGenderCount">
                <mat-header-cell *matHeaderCellDef class="place-content-center">TransGender Count</mat-header-cell>
                <mat-cell *matCellDef="let VillageBenchMark"
                          class="place-content-center">{{VillageBenchMark.TransGenderCount}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="AverageLoanSize">
                <mat-header-cell *matHeaderCellDef class="place-content-center">Average Loan Size</mat-header-cell>
                <mat-cell *matCellDef="let VillageBenchMark"
                          class="place-content-center">{{VillageBenchMark.AverageLoanSize}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="AgriBusinessPotential">
                <mat-header-cell *matHeaderCellDef class="place-content-center text-center">Agri Business Potential
                </mat-header-cell>
                <mat-cell *matCellDef="let VillageBenchMark" class="place-content-center"
                          style="width: 50px; text-align:center;">
                    <div class="w-28 text-center">
                        <div class="w-full break-words text-center">
                            {{VillageBenchMark.AgriBusinessPotential}}
                        </div>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Delete">
                <mat-header-cell *matHeaderCellDef class="place-content-center text">Action</mat-header-cell>
                <mat-cell *matCellDef="let VillageBenchMark">
                    <div style="flex-wrap: wrap; width:100; display: flex;">
                        <button (click)="viewVillageBenchMark(VillageBenchMark)" *ngIf="checkViewStatus(VillageBenchMark) && currentActivity.C"
                                color="primary" mat-icon-button>
                            <mat-icon class="text-green" title="view benchmarking">visibility</mat-icon>
                        </button>
                        <button (click)="editVillageBenchMark(VillageBenchMark)" *ngIf="checkEditStatus(VillageBenchMark) && currentActivity.U"
                                color="primary" mat-icon-button>
                            <mat-icon title="edit benchmarking">edit</mat-icon>
                        </button>

                        <button (click)="deleteVillageBenchMark(VillageBenchMark)" *ngIf="checkDeleteStatus(VillageBenchMark) && currentActivity.D"
                                mat-icon-button>
                            <mat-icon class=" text-red-500" title="delete benchmarking">delete</mat-icon>
                        </button>

                        <button (click)="viewMap(VillageBenchMark)" *ngIf="checkMap(VillageBenchMark)" color="primary"
                                mat-icon-button>
                            <mat-icon title="view location of benchmarking">location_on</mat-icon>
                        </button>
                    </div>


                </mat-cell>


            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"
                            class="table-header-background"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        </mat-table>


        <!-- <div class="mat-table__message" *ngIf="!loading && !matTableLenght">No records found</div>
        <div class="mat-table__message" *ngIf="loading">Please wait....</div> -->

    </div>
    <div *ngIf="matTableLenght" class=" pt-4 mat-select" style="padding:0px 5px; font-size: 13px; margin-top:10px;">
        <span class="font-bold text-green">Items per page:</span>

        <mat-select (valueChange)="paginate(1,$event)" [(value)]="itemsPerPage" class="border-2 pl-1 py-2"
                    display="inline"
                    style="width: 50px; margin-left: 15px; display: inline-block; margin-right: 10px;">
            <mat-option [value]="5">5</mat-option>
            <mat-option [value]="10">10</mat-option>
            <mat-option [value]="25">25</mat-option>
            <mat-option [value]="50">50</mat-option>
            <mat-option [value]="100">100</mat-option>
        </mat-select>
        <button (click)="paginate(1)">First</button>
        <pagination-controls (pageChange)="paginate($event)" display="inline"
                             style="display: inline-block;"></pagination-controls>
        <button (click)="paginate(Math.ceil(totalItems/itemsPerPage))">Last</button>
        <p style="float:right;">Total <b class="text-green">{{totalItems}}</b> items</p>

    </div>
</div>
