.mt-1p {
    margin-top: 1% !important;
}

.mt-10p {
    margin-top: 10% !important;
}

.ml-1p {
    margin-left: 1% !important;
}

.mb-1p {
    margin-bottom: 1% !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}

.table-header-background {
    height: 45px;

    th {
        font-size: 12px;

    }
}

table {
    tr {
        td {
            font-size: 12px;
        }
    }
}
