<div class="px-10  sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 overflow-y-scroll overflow-x-hidden bg-card dark:bg-transparent">


    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">TOUR DIARY & PROGRESS REPORT OF PROVINCIAL CHIEF</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center">

            <!--            <p class="text-right">-->
            <!--                <button class="mt-1  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary" type="button"-->
            <!--                        color="primary"-->
            <!--                        aria-expanded="false" aria-controls="collapseExample" onclick="toggleCollapse()">-->
            <!--                    <mat-icon class="mr-2" id='arrow'>keyboard_arrow_down</mat-icon>-->
            <!--                    Advance Filter-->
            <!--                </button>-->
            <!--            </p>-->

        </div>
    </div>


    <div id="Kt-portlet-margin-top">
        <div class="collapse show" id="collapseExample">
                <form [formGroup]="gridForm" class="kt-form kt-form--group-seperator-dashed">

                    <div class="kt-form">

                        <div class="kt-portlet__body">

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Name of Officer</mat-label>
                                            <input matInput formControlName="NameOfOfficer" autocomplete="off" readonly="readonly"/>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">P.P.NO</mat-label>
                                            <input matInput formControlName="PPNO" autocomplete="off" readonly="readonly"/>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Month</mat-label>
                                            <input matInput formControlName="Month" autocomplete="off" readonly="readonly"/>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Branch</mat-label>
                                            <input matInput formControlName="Branch" autocomplete="off" readonly="readonly"/>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Zone</mat-label>
                                            <input matInput formControlName="Zone" autocomplete="off" readonly="readonly"/>
                                        </mat-form-field>
                                    </div>

                                </div>


                            </div>

                            <div class="col-lg-12 mt-2 p-0 overflow-scroll">
                                <table class="table">
                                    <thead>
                                    <tr class="table-header-background text-center">
                                        <th rowspan="3" class="border-r">Date</th>
                                        <th colspan="2" rowspan="2" class="border-r">Departure from</th>
                                        <th colspan="2" rowspan="2" class="border-r">Arrival at</th>
                                        <th colspan="6" class="border-r">Portfolio of the Province/Zone/Branch/Circle</th>
                                        <th rowspan="3" class="border-r">No. of defaulters contacted </th>
                                        <th rowspan="3" class="border-r">Results of contacts so made
                                        </th>
                                    </tr>

                                    <tr class="table-header-background text-center">
                                        <th colspan="2" class="border-r">General</th>
                                        <th colspan="2" class="border-r">NPLs</th>
                                        <th colspan="2" class="border-r">SAM</th>
                                    </tr>

                                    <tr class="table-header-background text-center">
                                        <th class="border-r">Place</th>
                                        <th class="border-r">Time</th>
                                        <th class="border-r">Place</th>
                                        <th class="border-r">Time</th>
                                        <th class="border-r">No.</th>
                                        <th class="border-r">Amt.</th>
                                        <th class="border-r">No.</th>
                                        <th class="border-r">Amt.</th>
                                        <th class="border-r">No.</th>
                                        <th class="border-r">Amt.</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="border-r">
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput>
                                            </mat-form-field>
                                        </td>
                                        <td class="border-r">
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput>
                                            </mat-form-field>
                                        </td>
                                        <td class="border-r">
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput>
                                            </mat-form-field>
                                        </td>
                                        <td class="border-r">
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput>
                                            </mat-form-field>
                                        </td>
                                        <td class="border-r">
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput>
                                            </mat-form-field>
                                        </td>
                                        <td class="border-r"></td>
                                        <td class="border-r"></td>
                                        <td class="border-r"></td>
                                        <td class="border-r"></td>
                                        <td class="border-r"></td>
                                        <td class="border-r"></td>
                                        <td class="border-r">
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput>
                                            </mat-form-field>
                                        </td>
                                        <td class="border-r">
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-lg-12 mt-2 p-0 overflow-scroll">
                                <table class="table">
                                    <thead>
                                    <tr class="table-header-background text-center">
                                        <th colspan="15" class="border-r">RECOVERY</th>
                                    </tr>
                                    </thead>
                                    <thead>
                                    <tr class="table-header-background text-center">
                                        <!-- UTILIZATIONS -->
                                        <th colspan="3" class="border-r">Annual Target/Recoverable of Province/Zone/Branch/Circle</th>
                                        <th colspan="3" class="border-r">Recovery during the month under report</th>
                                        <th colspan="3" class="border-r">Balance Recoverable</th>
                                        <th colspan="3" class="border-r">Recovery during corresponding period</th>
                                        <th rowspan="2" class="border-r">Increase/Deficit</th>
                                        <th rowspan="2" class="border-r">Measures/Efforts for boosting up recovery</th>
                                        <th rowspan="2" class="border-r">Remarks</th>
                                    </tr>
                                    <tr class="table-header-background text-center">
                                        <th class="border-r">Past Dues</th>
                                        <th class="border-r">Current Dues</th>
                                        <th class="border-r">Total</th>
                                        <th class="border-r">Past Dues</th>
                                        <th class="border-r">Current Dues</th>
                                        <th class="border-r">Total</th>
                                        <th class="border-r">Past Dues</th>
                                        <th class="border-r">Current Dues</th>
                                        <th class="border-r">Total</th>
                                        <th class="border-r">Past Dues</th>
                                        <th class="border-r">Current Dues</th>
                                        <th class="border-r">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="border-r"></td>
                                        <td class="border-r"></td>
                                        <td class="border-r"></td>
                                        <td class="border-r"></td>
                                        <td class="border-r"></td>
                                        <td class="border-r"></td>
                                        <td class="border-r"></td>
                                        <td class="border-r"></td>
                                        <td class="border-r"></td>
                                        <td class="border-r"></td>
                                        <td class="border-r"></td>
                                        <td class="border-r"></td>
                                        <td class="border-r"></td>
                                        <td class="border-r">
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput>
                                            </mat-form-field>
                                        </td>
                                        <td class="border-r">
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Name</mat-label>
                                            <input matInput formControlName="Name" autocomplete="off" readonly="readonly"/>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Designation</mat-label>
                                            <input matInput formControlName="Designation" autocomplete="off" readonly="readonly"/>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Date of Visit (ddMMyyyy) <strong class="matMandatory">*</strong>
                                            </mat-label>
                                            <input matInput [matDatepicker]="picker2" formControlName="Date" maxlength="30" autocomplete="off"
                                                   [max]="maxDate" (dateChange)="isEnableReceipt(false)" appNumberOnly/>
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

                </form>
        </div>

        <div class="row">
            <div class="col-lg-12 flex  py-2 border-t">
                <button mat-raised-button class="mr-2" color="primary" (click)="submit()">
                    <mat-icon class="mr-2">check_circle</mat-icon>
                    Submit
                </button>
            </div>
        </div>


    </div>

</div>
