<div
    [formGroup]="customerForm"
    class=" px-10  sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 overflow-y-hidden bg-card dark:bg-transparent">
    <div class="heading mt-3">Loan Utilization
    </div>


    <!-- Header -->
    <div class="flex flex-auto mt-2  px-0 overflow-y-scroll overflow-x-hidden" style="flex-direction: column; ">
        <div>


            <div class="flex" style="flex-wrap: wrap;">
                <app-zone-branch-circle (branchZoneCircleData)="getAllData($event)" [form]="customerForm"
                                        [show_circle]="false"></app-zone-branch-circle>
                <div class="mx-2">
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label class="customMatLabel">LC NO#</mat-label>
                            <input appNumberOnly autocomplete="off" formControlName="LoanCaseNo" matInput
                                   maxlength="13"
                                   placeholder="Enter LC No#" readonly/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mx-2">
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                            <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                <mat-label>Loan GL</mat-label>
                                <!--                [ngClass]="{ 'is-invalid': f.LoanDisbID.touched && f.LoanDisbID.errors }"-->
                                <mat-select [disabled]="'true'" formControlName="LoanDisbID">
                                    <mat-option>
                                        Select
                                    </mat-option>
                                    <mat-option *ngFor="let obj of LoanGls" [value]="obj.LoanDisbID">
                                        {{obj.DisbDesc}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-error *ngIf="isControlHasError('LoanDisbID','required')">
                                <strong class="mx-3">Loan Disbursment ID is mandatory</strong>
                            </mat-error>
                        </div>
                    </div>

                </div>
                <div class="mx-2">
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label class="customMatLabel">Gl Sub Code</mat-label>
                            <input appNumberOnly autocomplete="off" formControlName="GlSubCode" matInput maxlength="13"
                                   placeholder="Gl Sub Code" readonly/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mx-2">
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label class="customMatLabel">Crop Code</mat-label>
                            <input appNumberOnly autocomplete="off" formControlName="CropCode" matInput maxlength="13"
                                   placeholder="CropCode" readonly/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mx-2">
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label class="customMatLabel">Scheme Code</mat-label>
                            <input appNumberOnly autocomplete="off" formControlName="SchemeCode" matInput maxlength="13"
                                   placeholder="SchemeCode" readonly/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mx-2">
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                        <input autocomplete="off" formControlName="Status" hidden matInput maxlength="13"/>
                    </div>
                </div>

            </div>


        </div>
        <div class="col-lg-12 pt-2 tab-box">

            <div class="heading">Loan Application
            </div>
            <mat-tab-group class="mt-1" mat-align-tabs="start">

                <!-- Applicants -->
                <mat-tab class="px-0" label="Applicants">
                    <div *ngIf="LoanApplicants" class="table-responsive px-0  border shadow-xs rounded-sm bg-gray-50">
                        <table class="table table-striped">
                            <thead>
                            <tr class="table-header-background">
                                <th style="min-width: 150px;">Cnic</th>
                                <th>Customer Name</th>
                                <th>Father Name</th>
                                <th>AGPS</th>
                                <th>DOB</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of LoanApplicants;">
                                <td style="min-width: 150px;">{{item.Cnic}}</td>
                                <td>{{item.CustomerName}}</td>
                                <td>{{item.FatherName}}</td>
                                <td>{{item.Agps}}</td>
                                <td>{{item.DOB | date: 'dd-MM-yyyy'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3 *ngIf="!LoanApplicants">Data not found.</h3>
                </mat-tab>
                <!-- Purpose -->
                <mat-tab label="Purpose">
                    <div *ngIf="Loanpurpose" class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr class="table-header-background">
                                <th>GL Description</th>
                                <th>Crop</th>
                                <th>Capacity</th>
                                <th>TotalEstimatedCost</th>
                                <th>Equity</th>
                                <th>Amount Required</th>
                                <th>Prod/Dev Flag</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of Loanpurpose;">
                                <td>{{item.GlDescription}}</td>
                                <td>{{item.CropName}}</td>
                                <td>{{item.Capacity}}</td>
                                <td>{{item.TotalEstimatedCost}}</td>
                                <td>{{item.Equity}}</td>
                                <td>{{item.AmountRequired}}</td>
                                <td>{{item.ProdDev}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3 *ngIf="!Loanpurpose">Data not found.</h3>
                </mat-tab>
                <!-- here -->

            </mat-tab-group>
        </div>
        <!--        <div *ngIf="DisbursementsRecoveries">-->
        <!--            <div class="kt-portlet__head kt-portlet__head__custom" >-->
        <!--                <div class="kt-portlet__head-label">-->
        <!--                    <div class="text-3xl font-extrabold tracking-tight pb-2 border-b mb-2 border-green-500 p-2" style="background-color: #f6fcf8;">Disbursements/Recoveries</div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="col-lg-12">-->
        <!--                <div class="table-responsive">-->
        <!--                    <table class="table table-striped">-->
        <!--                        <thead>-->
        <!--                        <tr class="table-header-background">-->
        <!--                            <th>Gl Description</th>-->
        <!--                            <th>Scheme Code</th>-->
        <!--                            <th>Crop Code</th>-->
        <!--                            <th>Disb Date</th>-->
        <!--                            <th>Disbursed Amount</th>-->
        <!--                            <th>Balance</th>-->
        <!--                            <th>Disb Status Name</th>-->
        <!--                            <th>New Next Due Date</th>-->
        <!--                        </tr>-->
        <!--                        </thead>-->
        <!--                        <tbody>-->
        <!--                        <tr *ngFor="let val of DisbursementsRecoveries">-->
        <!--                            <td>{{val.GlDescription}}</td>-->
        <!--                            <td>{{val.SchemeCode}}</td>-->
        <!--                            <td>{{val.CropCode}}</td>-->
        <!--                            <td>{{val.DisbDate}}</td>-->
        <!--                            <td>{{val.DisbursedAmount}}</td>-->
        <!--                            <td>{{val.Balance}}</td>-->
        <!--                            <td>{{val.DisbStatusName}}</td>-->
        <!--                            <td>{{val.NewNextDueDate}}</td>-->
        <!--                            &lt;!&ndash; <td style="cursor: pointer; color: #ecbd00;"> <span (click)="viewDocument(img.ID, $event)">View</span></td> &ndash;&gt;-->
        <!--                        </tr>-->
        <!--                        </tbody>-->
        <!--                    </table>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

        <!-- images -->
        <div class="kt-portlet__head kt-portlet__head__custom" style="width: 100%">
            <div class="kt-portlet__head-label">
                <div class="sub-heading">Attach Images
                </div>
                <mat-error *ngIf="hasError('file', 'required')">Must Contain a Image<strong>required</strong>
                </mat-error>
            </div>
        </div>

        <div class="row py-2">
            <div class="col-lg-12 col-sm-12">
                <input (change)="onSelectFile($event)" (click)="ifResetRequired()" *ngIf="!viewonly" accept="image/jpg, image/jpeg"
                       formControlName="file" type='file'/>
                <div *ngIf="imageUrl.length>0 && visible" class="mt-2 overflow-scroll"
                     style="display: flex !important;flex-direction: row !important;flex-wrap: wrap !important;gap: 10px">
                    <div *ngFor='let url of imageUrl; let i = index'>
                        <!-- <button *ngIf="!viewonly" (click)="removeImage(url,i)">
                            X"
                        </button> -->
                        <div class="row">
                            <div class="col-lg-12  text-right relative">
                                <div class="bg-white float-right">
                                    <button (click)="removeImage(url,i)" *ngIf="!viewonly && currentActivity.D"
                                            class="close-button float-right absolute right-4 top-0 bg-red-500"
                                            mat-icon-button>
                                        <!-- X -->
                                        <mat-icon class="close-icon w-12 h-12 text-white bg-danger">close</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div style="width: 240px; position: relative;">
                            <img (click)="previewImg(url)" [src]="url">
                            <button (click)="viewMap(i,false)"
                                    *ngIf="viewonly"
                                    class=" mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                                    mat-flat-button style="position: absolute; top: 0px; right:0px; border-radius: 0% !important;">
                                <mat-icon>location_on</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--        Video-->
        <div class="kt-portlet__head kt-portlet__head__custom">
            <div class="kt-portlet__head-label">
                <div class="sub-heading mb-2">Attach Videos
                </div>
                <mat-error *ngIf="hasError('fileV', 'required')">Must Contain a Video<strong>required</strong>
                </mat-error>
            </div>
        </div>

        <div>
            <input (change)="onSelectFileV($event)" (click)="ifResetRequiredV()" *ngIf="!viewonly && currentActivity.C"
                   [required] accept="video/*"
                   formControlName="fileV" type='file'/>
        </div>

        <ng-container class="py-2">
            <div *ngIf="videoUrl.length>0 && visible"
                 style="display: flex !important;flex-direction: row !important;flex-wrap: wrap !important;gap: 10px">
                <div *ngFor="let url of videoUrl;let i = index" class="item m-2">
                    <!-- <button *ngIf="!viewonly" (click)="removeVideo(url,i)">
                        X
                    </button> -->
                    <div class="row">
                        <div class="col-lg-12 text-right relative">
                            <div class="bg-white float-right">
                                <button (click)="removeVideo(url,i)" *ngIf="!viewonly && currentActivity.D"
                                        class="close-button float-right absolute right-4 top bg-red-500"
                                        mat-icon-button>
                                    <!-- X -->
                                    <mat-icon class="close-icon text-white w-12 h-12 text-white bg-danger">close
                                    </mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- <button type="button" class="btn-close" aria-label="Close" (click)="removeVideo(i)"></button> -->
                    <div style="position: relative; width: 240px;">
                        <!-- <video (loadedmetadata)="getDuration($event,i)"  height="240px" width="320px" [src]="url" controls></video> -->
                        <video (loadedmetadata)="getDuration($event,i)" [attr.src]="url" controls height="240"
                               style="height: 240px;">
                        </video>
                        <button (click)="viewMap(i,true)"
                                *ngIf="viewonly"
                                class=" mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                                mat-flat-button style="position: absolute; top: 0px; right:0px; border-radius: 0% !important;">
                            <mat-icon>location_on</mat-icon>
                        </button>

                    </div>
                </div>
            </div>
        </ng-container>
        <div class="row">
            <!--            <mat-form-field class="mat-form-field-fluid" appearance="outline">-->
            <!--                <mat-label class="customMatLabel">Remarks</mat-label>-->
            <!--                <input  matInput placeholder="Enter Remarks" formControlName="remarks"-->
            <!--                       maxlength="100" autocomplete="off"/>-->
            <!--&lt;!&ndash;                <mat-error *ngIf="hasError('remarks', 'required')">Date of Death <strong>required</strong></mat-error>&ndash;&gt;-->
            <!--            </mat-form-field>-->

            <div class="col-md-12 col-sm-12">
                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full h-24">
                    <mat-label class="customMatLabel">Remarks<strong class="matMandatory">*</strong></mat-label>
                    <input [readonly]='remarksFeild' autocomplete="off" formControlName="Remarks" matInput
                           maxlength="20"
                           placeholder="Enter Remarks"/>
                </mat-form-field>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12 text-right">
            <div class="float-right mr-4 mt-2 border-t py-2">
                <button (click)="save()"
                        *ngIf="isSave && currentActivity.C" class="ml-2 bg-green mat-focus-indicator mat-flat-button mat-button-base mat-primary" mat-raised-button>
                    <mat-icon class="mr-2">save</mat-icon>
                    Save
                </button>
                <button (click)="changeStatus('S')"
                        *ngIf="isSubmit && currentActivity.U" class="ml-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary" color="primary"
                        mat-raised-button>
                    <mat-icon class="mr-2">check_circle</mat-icon>
                    Submit
                </button>
                <button (click)="changeStatus('R')" *ngIf="isReffer && currentActivity.U" class="ml-2" color="primary"
                        mat-raised-button>
                    Reffer
                    Back
                </button>
                <button (click)="changeStatus('A')" *ngIf="isAuthorize && currentActivity.U" class="ml-2" color="primary"
                        mat-raised-button>
                    Authorize
                </button>
                <button (click)="changeStatus('C')" *ngIf="isDelete && currentActivity.D" class="ml-2 bg-danger" color="primary"
                        mat-raised-button>
                    <mat-icon class="mr-2 ">delete_forever</mat-icon>
                    Delete
                </button>
            </div>
        </div>
    </div>

</div>
