#map_canvas {
    height: calc(100vh - 380px);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.exceptionalclass{
    background: #d0d0d0;
    padding-left: 7px !important;
}
.input-class{
    td{
        padding-top: 1em !important;

    }
}
