<div>
    <div class="heading">Images
        <button (click)="dialogRef.close()" color="warn" mat-icon-button style="float: right">
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
    <!--    <ng-image-slider [images]="images" id="image" #image [imagePopup]="true">-->
    <!--    </ng-image-slider>-->


    <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
        <div class="carousel-indicators">
            <button *ngFor="let single_image of images;let i=index" aria-current="true"
                    class="active" data-bs-slide-to="{{i}}" data-bs-target="#carouselExampleIndicators"
                    type="button"></button>
        </div>
        <div class="carousel-inner">
            <div *ngFor="let single_image of images; let i=index" [class]="i==0?'active':''" class="carousel-item">
                <img [alt]="single_image" [src]="single_image.image" class="d-block w-100" style="height: 83vh;"
                >
            </div>
        </div>
        <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators"
                style="background: black"
                type="button">
            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators"
                style="background: black"
                type="button">
            <span aria-hidden="true" class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>


