<div
    class=" px-10 sm:absolute sm:inset-0 flex flex-col px-10  flex-auto min-w-0 sm:overflow-scroll bg-card dark:bg-transparent">
    <div class="row py-3">
        <div class="col-lg-12 col-sm-12">
            <div class="heading">{{getTitle()}}</div>
        </div>

    </div>
    <!-- Header -->
    <div [style.height]="gridHeight" class="flex flex-auto overflow-y-scroll overflow-x-hidden pb-4"
         style="flex-direction: column;">
        <form [formGroup]="customerInfo" class="kt-form kt-form--group-seperator-dashed">
            <div class="kt-form">
                <div class="kt-portlet__body" style="margin-top: 5px">
                    <!--Get Customer Info-->
                    <div *ngIf="NDCActionPerformSuccess">
                        <div class="form-group kt-form__group row ">
                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                    <input (keydown)="change_cnic($event.target.value)"
                                           (keyup)="change_cnic($event.target.value)" [mask]="maskEnums.cnic"
                                           autocomplete="off"
                                           formControlName="Cnic"
                                           matInput
                                           maxlength="16" placeholder="Enter cnic"/>
                                    <mat-hint align="left" class="pt-3">Please enter cnic
                                        <strong>(3210412345678)</strong></mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 kt-margin-bottom-20-mobile ">
                                <button (click)="getCustomerInfo()" *ngIf="currentActivity?.C"
                                        [disabled]="disable_buttons"
                                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                                        class=" ml-2  btn mt-2 bg-green rounded-md"
                                        mat-flat-button
                                        type="button">
                                    <mat-icon class="mr-2">check_circle</mat-icon>
                                    Check Eligibility
                                </button>
                            </div>


                        </div>
                        <div *ngIf="NDCPerform && show_ndc"
                             class="form-group kt-form__group row  py-2 mx-0  mt-2">
                            <div class="col-lg-12 shadow-md border " style="background-color: #f6fcf8 !important;">
                                <div class="row p-4">
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <h5 class="text-green mb-0">NDC - Status</h5>
                                        <p [ngClass]="{'text-red': IsNdcDefaulter == true, 'text-green': IsNdcDefaulter == false}"
                                           class="text-sm">{{CustomerNdc?.Message}}</p>
                                    </div>
                                    <div class="col-lg-6 text-right kt-margin-bottom-20-mobile self-center">
                                        <a *ngIf="NDCLinkView && currentActivity?.R" color="primary"
                                           href="{{Customer.NDCPDFLink}}"
                                           mat-flat-button
                                           target="_blank">
                                            <mat-icon class="text-green mr-2" title="view">insert_drive_file</mat-icon>
                                            View NDC
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--                        *ngIf="IsNdcDefaulter"-->
                        <div *ngIf="IsNdcDefaulter && disable_defaulter"
                             class="form-group kt-form__group py-2 mx-0 row mt-2">
                            <div class="col-lg-12 kt-margin-bottom-20-mobile py-1 border shadow-md"
                                 style="background-color: #f6fcf8 !important;">
                                <div class="row p-4">
                                    <h5 class="text-green">Summary</h5>
                                    <p>Customer is not eligible due to following reasons</p>
                                    <table class="col-lg-12">
                                        <tbody>
                                        <tr>
                                            <td class="text-blue">BMVS/NIVS:</td>
                                            <td [ngClass]="{'text-red': BMVS_NIVS == 'Not Found'}"
                                                class="pl-0">{{BMVS_NIVS}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-blue">NDC:</td>
                                            <td class=" pl-0" style="color:red;">Defaulter</td>
                                        </tr>
                                        <tr>
                                            <td class="text-blue">ECIB:</td>
                                            <td class=" pl-0">Not Checked</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>


                    </div>
                    <!--BioMatric Case Perform-->
                    <div *ngIf="BiMatricCasePerfom">
                        <div class="form-group kt-form__group row">
                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                    <mat-label class="customMatLabel">CNIC <strong
                                        class="matMandatory">*</strong></mat-label>
                                    <input [mask]="maskEnums.cnic" autocomplete="off" formControlName="Cnic" matInput
                                           maxlength="30" placeholder="Enter cnic" readonly/>
                                    <mat-hint align="left">Please enter cnic <strong>(32104-1234567-8)</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                    <mat-label class="customMatLabel">Cell Number<strong
                                        class="matMandatory">*</strong></mat-label>
                                    <input appNumberOnly autocomplete="off" formControlName="CellNumber" matInput
                                           maxlength="12" placeholder="Cell Number"/>
                                    <mat-hint align="left">Please Cell Number <strong></strong></mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                    <mat-label class="customMatLabel">Select Account Type <strong
                                        class="matMandatory">*</strong></mat-label>
                                    <mat-select formControlName="AccountType">
                                        <mat-option *ngFor="let obj of AccountType?.LOVs" [value]="obj.Value">
                                            {{obj.Name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-hint align="left">Please select Account Type <strong></strong></mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                    <mat-label class="customMatLabel">Select Finger <strong
                                        class="matMandatory">*</strong></mat-label>
                                    <mat-select formControlName="FingerIndex">
                                        <mat-option *ngFor="let obj of finger" [value]="obj.value">
                                            {{obj.Name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-hint align="left">Please select Finger <strong></strong></mat-hint>

                                </mat-form-field>
                            </div>

                        </div>
                        <div class="form-group kt-form__group row mt-4">
                            <div class="col-lg-2 kt-margin-bottom-20-mobile">

                            </div>
                            <div class="col-lg-8 kt-margin-bottom-20-mobile">
                                <div class="col-lg-12 text-center mt-1">
                                    <h5 style="text-align:center">Biometric Verification</h5>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <span style="font-size: 14px !important; text-align:center">Please Place your fingertip on the scanner to verify your identity</span>
                                </div>
                                <div *ngIf="!image" class="col-lg-12 text-center mt-1 mb-3">
                                    <img alt="icon"
                                         src="./assets/media/icons/capture.jpg"
                                         style="height: 20%; margin: auto;width: 20%;"/>
                                </div>
                                <div *ngIf="image" class="col-lg-12 text-center mt-1 mb-3">
                                    <img alt="icon"
                                         [src]="image"
                                         style="height: 20%; margin: auto;width: 20%;"/>
                                </div>
                                <div class="col-lg-12 text-center mt-5 mb-3">
                                    <span style="font-size: 14px !important; text-align:center">Please place your finger on scanner</span>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button (click)="captureBiometric()" *ngIf="currentActivity?.C"
                                            class="btn btn-primary mt-19 kt-login__btn-primary"
                                            color="primary"
                                            style="width:30%;" type="button">
                                        Capture
                                    </button>&nbsp;
                                    <button (click)="VerifyCustomerNADRA()" *ngIf="currentActivity?.C"
                                            class="btn btn-secondary mt-19 kt-login__btn-primary"
                                            color="primary"
                                            style="width:30%;" type="button">
                                        Verify
                                    </button>
<!--                                    <button (click)="performBiomatric()" *ngIf="currentActivity?.C"-->
<!--                                            class="btn btn-secondary mt-19 kt-login__btn-primary"-->
<!--                                            color="primary"-->
<!--                                            style="width:30%;" type="button">-->
<!--                                        dummy-->
<!--                                    </button>-->
                                </div>
                            </div>
                            <div class="col-lg-2 kt-margin-bottom-20-mobile">

                            </div>
                        </div>
                    </div>
                    <!--Biometric Credentials-->
                    <div *ngIf="BioMetricCapture">
                        <div class="form-group kt-form__group row">
                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                    <mat-label class="customMatLabel">CNIC <strong
                                        class="matMandatory">*</strong></mat-label>
                                    <input [mask]="maskEnums.cnic" autocomplete="off" formControlName="Cnic" matInput
                                           maxlength="30" placeholder="Enter cnic" readonly/>
                                    <mat-hint align="left">Please enter cnic <strong>(32104-1234567-8)</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                    <mat-label class="customMatLabel">Date Of Birth<strong
                                        class="matMandatory">*</strong></mat-label>
                                    <input [matDatepicker]="picker" [max]="todayMax" autocomplete="off"
                                           formControlName="Dob" matInput placeholder="Enter DOB" readonly readonly>

                                    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-hint align="left">Please enter DOB(DDMMYYYY) <strong></strong></mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                    <mat-label class="customMatLabel">CNIC Expiry <strong
                                        class="matMandatory">*</strong></mat-label>
                                    <input [matDatepicker]="picker1" [min]="todayMin" autocomplete="off"
                                           formControlName="CnicExpiry" matInput maxlength="30"
                                           placeholder="Enter cnic expiry"
                                           readonly/>

                                    <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>

                                    <mat-hint align="left">Please enter cnic expiry (DDMMYYYY)<strong></strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                    <mat-label class="customMatLabel">Customer Name<strong
                                        class="matMandatory">*</strong></mat-label>
                                    <input appAlphabetOnly autocomplete="off" formControlName="CustomerName"
                                           matInput
                                           maxlength="100" placeholder="Enter Customer Name"/>
                                    <mat-hint align="left">Please enter Customer Name <strong></strong></mat-hint>
                                </mat-form-field>
                            </div>

                        </div>

                        <div class="form-group kt-form__group row mt-2">
                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                    <mat-label class="customMatLabel">Select Gender <strong
                                        class="matMandatory">*</strong></mat-label>
                                    <mat-select formControlName="Gender">
                                        <mat-option *ngFor="let obj of GenderLov?.LOVs" [value]="obj.Value">
                                            {{obj.Name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-hint align="left">Please select Gender <strong></strong></mat-hint>

                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full ">
                                    <mat-label class="customMatLabel">Father Name<strong
                                        class="matMandatory">*</strong></mat-label>
                                    <input appAlphabetOnly autocomplete="off" formControlName="FatherName"
                                           matInput
                                           maxlength="100" placeholder="Enter Father Name"/>
                                    <mat-hint align="left">Please enter father name <strong></strong></mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                    <mat-label class="customMatLabel">Current Address<strong
                                        class="matMandatory">*</strong></mat-label>
                                    <input autocomplete="off" formControlName="CurrentAddress" matInput
                                           maxlength="200" placeholder="Current Address"/>
                                    <mat-hint align="left">Please enter address <strong></strong></mat-hint>
                                </mat-form-field>
                            </div>
                            <!--                            <div class="col-lg-4 kt-margin-bottom-20-mobile">-->
                            <!--                                <mat-form-field class="mat-form-field-fluid" appearance="outline">-->
                            <!--                                    <input matInput placeholder="City" formControlName="District"/>-->
                            <!--                                </mat-form-field>-->
                            <!--                            </div>-->
                        </div>

                    </div>
                    <!--CWR-->
                    <div *ngIf="BiometricCredentials">
                        <div class="form-group kt-form__group row">
                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                    <mat-label class="customMatLabel">CNIC <strong
                                        class="matMandatory">*</strong></mat-label>
                                    <input [mask]="maskEnums.cnic" autocomplete="off" formControlName="Cnic" matInput
                                           maxlength="30" placeholder="Enter cnic" readonly="readonly"/>
                                    <mat-hint align="left">Please enter cnic <strong>(3210412345678)</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                    <mat-label class="customMatLabel">Date Of Birth<strong
                                        class="matMandatory">*</strong></mat-label>
                                    <input [disabled]="true" [matDatepicker]="picker" [max]="todayMax"
                                           autocomplete="off"
                                           formControlName="Dob" matInput placeholder="Enter dob"
                                           readonly="readonly">

                                    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-hint align="left">Please enter Dob (DDMMYYYY) <strong></strong></mat-hint>
                                </mat-form-field>
                            </div>


                            <div class="col-lg-3 kt-margin-bottom-20-mobile">

                                <mat-form-field appearance="outline" class="mat-form-field-fluid w-100">
                                    <mat-label class="customMatLabel">Enter Customer Name <strong
                                        class="matMandatory">*</strong></mat-label>
                                    <!--                                    <p *ngIf="UrduName!=undefined && UrduName!=''" class="text-right"> {{UrduName}}</p>-->
                                    <input appAlphabetOnly autocomplete="off" formControlName="CustomerName"
                                           matInput maxlength="50" placeholder="Enter Name" readonly/>
                                    <mat-hint *ngIf="UrduName!=undefined && UrduName!=''" align="end"
                                              class="text-md text-black"> {{UrduName}}</mat-hint>
                                    <mat-error *ngIf="hasError('CustomerName', 'required')">Name
                                        <strong>required</strong>
                                    </mat-error>
                                    <mat-hint align="left">Please enter Name</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 kt-margin-bottom-20-mobile">
                                <mat-form-field appearance="outline" class="mat-form-field-fluid w-100">
                                    <mat-label class="customMatLabel">City <strong
                                        class="matMandatory">*</strong></mat-label>
                                    <!--                                    <p *ngIf="UrduCity!=undefined && UrduCity!=''"-->
                                    <!--                                       class="text-right">{{UrduCity}}</p>-->
                                    <input [(ngModel)]="disrtrict_value" formControlName="District" matInput
                                           placeholder="City"/>
                                    <mat-hint *ngIf="UrduCity!=undefined && UrduCity!=''" align="end"
                                              class="text-md text-black"> {{UrduCity}}</mat-hint>
                                    <mat-hint align="left">Please enter City <strong></strong></mat-hint>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-group kt-form__group row mb-3 mt-4">
                            <div class="col-lg-12 kt-margin-bottom-20-mobile">
                                <mat-form-field appearance="outline" class="mat-form-field-fluid w-100">
                                    <mat-label class="customMatLabel">Enter Current Address <strong
                                        class="matMandatory">*</strong></mat-label>
                                    <!--                                    <p *ngIf="UrduCurrentAddress!=undefined && UrduCurrentAddress!=''"-->
                                    <!--                                       class="text-right">{{UrduCurrentAddress}}</p>-->
                                    <input autocomplete="off" formControlName="CurrentAddress"
                                           matInput maxlength="150" placeholder="Enter Current Address"/>
                                    <mat-hint *ngIf="UrduCurrentAddress!=undefined && UrduCurrentAddress!=''"
                                              align="end"
                                              class="text-md text-black"> {{UrduCurrentAddress}}</mat-hint>
                                    <mat-error *ngIf="hasError('CurrentAddress', 'required')">Current Address <strong>required</strong>
                                    </mat-error>
                                    <mat-hint align="left">Please enter Current Address
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>


                    <!--ECIB-->
                    <!-- [style.height]="gridHeight"   not able to understand  -->
                    <div *ngIf="ECIBPerformForm">
                        <div class="form-group kt-form__group mb-2">
                            <div class="col-lg-12 border " style="background-color: #f6fcf8 !important;">
                                <div class="row p-4">
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <h5 class="text-green">ECIB</h5>
                                        <h6 [ngClass]="{'text-red': IsEcibDefaulter == true, 'text-green': IsEcibDefaulter == false}">{{CustomerECIB?.Message}}</h6>
                                    </div>
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile text-right">

                                        <!--                                        <a *ngIf="NDCLinkView" href="{{Customer.NDCPDFLink}}" target="_blank"-->
                                        <!--                                           mat-flat-button-->
                                        <!--                                           color="primary">-->
                                        <!--                                            <mat-icon class="text-green mr-2" title="view">insert_drive_file</mat-icon>-->
                                        <!--                                            View NDC-->
                                        <!--                                        </a>-->
                                        <a *ngIf="EcibLinkView" color="primary" href="{{Customer?.ECIBPDFLink}}"
                                           mat-flat-button
                                           target="_blank">
                                            <mat-icon class="text-green mr-2" title="view">insert_drive_file</mat-icon>
                                            View File
                                        </a>
                                        <span *ngIf="!EcibLinkView" class="text-red">No ECIB Record Available</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div *ngIf="IsEcibDefaulter" class="form-group kt-form__group row">
                            <div class="col-lg-12 kt-margin     -bottom-20-mobile">
                                <h5 class="heading">Summary</h5>
                                <p class="text-red-500 mb-1">Customer is not eligible due to following reasons</p>
                                <table class="col-lg-12 table-bordered mr-2">
                                    <thead class="table-header-background">
                                    <th class="p-2 w-3/12">Name</th>
                                    <th claeess="p-2 w-9/12">Status</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-blue-500 p-2 ">BMVS:</td>
                                        <td [ngClass]="{'text-red-500': customer_bmvs?.Message == 'Not Found'}">{{customer_bmvs?.Message}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-blue-500 p-2">NIVS:</td>
                                        <td [ngClass]="{'text-red-500': customer_bmvs?.Message == 'Not Found'}">{{customer_nivs?.Message}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-blue-500 p-2">NDC:</td>
                                        <td class="p-2">{{customer_ndc.Message}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-blue-500 p-2">ECIB:</td>
                                        <td class="text-red-500 p-2">{{CustomerECIB?.Message}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-blue-500 p-2">ECIB Approval Status:</td>
                                        <td class="text-red-500 p-2">{{CustomerECIB?.EcibAprovalMessage}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a *ngIf="should_regenerate" [routerLink]="['dashboard']"
                                   class=" mt-2 bg-red-500 text-white mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                                   mat-flat-button>Close/Exit</a>
                            </div>
                        </div>
                        <div *ngIf="!IsEcibDefaulter  && !should_regenerate" class="form-group kt-form__group row">
                            <div class="col-lg-12 kt-margin-bottom-20-mobile">
                                <h5 class="heading">Summary</h5>
                                <p class=" mb-1"><strong>Customer is eligible due to following
                                    reasons</strong></p>
                                <table class="col-lg-12 table-bordered mr-2">
                                    <thead class="table-header-background">
                                    <th class="p-2 w-3/12">Name</th>
                                    <th class="p-2 w-9/12">Status</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-blue-500 p-2 ">BMVS:</td>
                                        <td>{{customer_bmvs?.Message}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-blue-500 p-2">NIVS:</td>
                                        <td>{{customer_nivs?.Message}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-blue-500 p-2">NDC:</td>
                                        <td class="p-2">{{customer_ndc.Message}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-blue-500 p-2">ECIB:</td>
                                        <td class=" p-2">{{CustomerECIB?.Message}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-blue-500 p-2">ECIB Approval Status:</td>
                                        <td class=" p-2">{{CustomerECIB?.EcibAprovalMessage}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a *ngIf="currentActivity?.C" [routerLink]="['dashboard']"
                                   class=" mt-2 bg-red-500 text-white mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                                   mat-flat-button>Close/Exit</a>
                            </div>
                        </div>

                        <div *ngIf="IsEcibDefaulter && should_regenerate" class="py-2">
                            <div class="heading">Regenerate ECIB Request</div>

                            <button (click)="regenerate()" *ngIf="currentActivity?.C"
                                    class=" my-3 bg-green mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                                    mat-flat-button
                                    type="button">
                                Regenerate
                            </button>

                            <div class="heading">Remarks</div>
                            <mat-form-field appearance="outline" class="w-full mt-2">
                                <input [ngModel]="remarks" matInput placeholder="Remarks">
                            </mat-form-field>

                        </div>
                        <div *ngIf="IsEcibDefaulter && should_regenerate" class="py-2">
                            <div class="heading ">Attach An Image</div>
                            <div *ngFor="let item of [].constructor(number_of_files); let i = index" class="py-3">
                                <input (change)="onFileChange($event, i)"
                                       accept="image/png, image/jpg, image/jpeg"
                                       type="file">
                            </div>
                        </div>

                        <div *ngIf="IsEcibDefaulter && should_regenerate && currentActivity?.C">
                            <button (click)="submitEcibDefaulterForm()"
                                    class="bg-green mat-focus-indicator  w-32  mat-flat-button mat-button-base mat-primary"
                                    mat-flat-button
                                    type="button">Submit
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border mt-2">
        <div class="kt-form__actions kt-form__actions--solid">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <button (click)="SubmitNdc()" *ngIf="NdcSubmit && show_ndc && currentActivity?.C"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                            class="mat-focus-indicator w-32  mat-flat-button mat-button-base mat-primary bg-green"
                    >
                        Next
                    </button>
                    <button (click)="saveBiomatricdata()" *ngIf="BioMetricCapture && currentActivity?.C"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                            class="mat-focus-indicator w-32  mat-flat-button mat-button-base mat-primary bg-green"
                            type="button"
                    >
                        Save & Next
                    </button>
                    <button (click)="submitCWR()"
                            *ngIf="BiometricCredentials && currentActivity?.C"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                            class="mat-focus-indicator w-32  mat-flat-button mat-button-base bg-green mat-primary"
                            type="button"
                    >
                        Next
                    </button>
                    <button (click)="refreshEcib()"
                            *ngIf="should_regenerate"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                            class="mat-focus-indicator w-32  mat-flat-button mat-button-base mat-primary bg-green"
                            type="button"
                    >
                        Refresh
                    </button>
                    <button (click)="NextOpenCreateCustomer()" *ngIf="ECIBPerformSuccess"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                            class="mat-focus-indicator w-32 mat-flat-button mat-button-base mat-primary bg-green"
                            type="button"
                    >
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
