<div
    class=" px-10 sm:absolute sm:inset-0 flex flex-col px-10  flex-auto min-w-0 sm:overflow-scroll bg-card dark:bg-transparent">
    <div class="row py-3">
        <div class="col-lg-12 col-sm-12">
            <div class="heading">{{getTitle()}}</div>
        </div>

    </div>
    <!-- Header -->
    <div class="flex flex-auto overflow-y-scroll overflow-x-hidden pb-4" style="flex-direction: column;"
         [style.height]="gridHeight">
        <form [formGroup]="customerInfo" class="kt-form kt-form--group-seperator-dashed">
            <div class="kt-form">
                <div class="kt-portlet__body" style="margin-top: 5px">
                    <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
                              (close)="onAlertClose($event)">
                        Please enter valid Input
                    </kt-alert>

                    <!--Get Customer Info-->
                    <div *ngIf="NDCActionPerformSuccess">
                        <div class="form-group kt-form__group row ">
                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <input matInput placeholder="Enter cnic" formControlName="Cnic" maxlength="15"
                                           (keydown)="change_cnic($event.target.value)"
                                           (keyup)="change_cnic($event.target.value)"
                                           autocomplete="off" [mask]="maskEnums.cnic"/>
                                    <mat-error *ngIf="hasError('Cnic', 'required')">cnic <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="hasError('Cnic', 'pattern')"><strong>Cnic lenght invalid</strong>
                                    </mat-error>
                                    <mat-hint class="pt-3" align="left">Please enter cnic
                                        <strong>(3210412345678)</strong></mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 kt-margin-bottom-20-mobile ">
                                <button type="button" (click)="getCustomerInfo()" mat-flat-button
                                        [disabled]="disable_buttons"
                                        class=" ml-2  btn mt-2 bg-green rounded-md"
                                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
                                    <mat-icon class="mr-2">check_circle</mat-icon>
                                    Check Eligibility
                                </button>
                            </div>


                        </div>
                        <div class="form-group kt-form__group row pl-0 p-1 py-2 mx-0  mt-4"
                             *ngIf="NDCPerform && show_ndc">
                            <div class="col-lg-12 shadow-md " style="background-color: #f6fcf8 !important;">
                                <div class="row p-4">
                                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                        <h5 class="text-green">NDC - Status</h5>
                                        <p class="text-sm"
                                           [ngClass]="{'text-red': IsNdcDefaulter == true, 'text-green': IsNdcDefaulter == false}">{{CustomerNdc?.Message}}</p>
                                    </div>
                                    <div class="col-lg-6 text-right kt-margin-bottom-20-mobile self-center">
                                        <a *ngIf="NDCLinkView" href="{{Customer.NDCPDFLink}}" target="_blank"
                                           mat-flat-button
                                           color="primary">
                                            <mat-icon class="text-green mr-2" title="view">insert_drive_file</mat-icon>
                                            View NDC
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--                        *ngIf="IsNdcDefaulter"-->
                        <div class="form-group kt-form__group px-2 py-2 mx-0 border row mt-6" *ngIf="IsNdcDefaulter">
                            <div class="col-lg-12 kt-margin-bottom-20-mobile py-3">
                                <h5 class="text-blue">Summary</h5>
                                <p>Customer is not eligible due to following reasons</p>
                                <table class="col-lg-12">
                                    <tbody>
                                    <tr>
                                        <td class="text-blue pl-0">BMVS/NIVS:</td>
                                        <td class="pl-0"
                                            [ngClass]="{'text-red': BMVS_NIVS == 'Not Found'}">{{BMVS_NIVS}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-blue pl-0">NDC:</td>
                                        <td style="color:red;">Defaulter</td>
                                    </tr>
                                    <tr>
                                        <td class="text-blue pl-0">ECIB:</td>
                                        <td>Not Checked</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                    <!--BioMatric Case Perform-->
                    <div *ngIf="BiMatricCasePerfom">
                        <div class="form-group kt-form__group row">
                            <div class="col-lg-2 kt-margin-bottom-20-mobile">

                            </div>
                            <div class="col-lg-8 kt-margin-bottom-20-mobile">
                                <div class="col-lg-12 text-center mt-1">
                                    <h5 style="text-align:center">Biometric Verification</h5>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <span style="font-size: 14px !important; text-align:center">Please Place your fingertip on the scanner to verify your identity</span>
                                </div>
                                <div class="col-lg-12 text-center mt-1 mb-3">
                                    <img src="./assets/media/icons/capture.jpg"
                                         style="height: 20%; margin: auto;width: 20%;"
                                         alt="icon"/>
                                </div>
                                <div class="col-lg-12 text-center mt-5 mb-3">
                                    <span style="font-size: 14px !important; text-align:center">Please place your finger on scanner</span>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button (click)="performBiomatric()" color="primary" type="button"
                                            class="btn btn-primary mt-19 kt-login__btn-primary" style="width:30%;">
                                        Capture
                                    </button>&nbsp;
                                    <button (click)="performBiomatric()" color="primary" type="button"
                                            class="btn btn-secondary mt-19 kt-login__btn-primary" style="width:30%;">
                                        Verify
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-2 kt-margin-bottom-20-mobile">

                            </div>
                        </div>
                    </div>
                    <!--Biometric Credentials-->
                    <div *ngIf="BioMetricCapture">
                        <div class="form-group kt-form__group row">
                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <input matInput placeholder="Enter cnic" formControlName="Cnic" maxlength="30"
                                           autocomplete="off" [mask]="maskEnums.cnic" readonly/>
                                    <mat-error *ngIf="hasError('Cnic', 'required')">cnic <strong>required</strong>
                                    </mat-error>
                                    <mat-hint align="left">Please enter cnic <strong>(32104-1234567-8)</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <input matInput [matDatepicker]="picker" placeholder="Enter DOB"
                                           formControlName="Dob" autocomplete="off" readonly [max]="todayMax" readonly>

                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>

                                    <mat-error *ngIf="hasError('Dob', 'required')">DOB <strong>required</strong>
                                    </mat-error>
                                    <mat-hint align="left">Please enter DOB <strong></strong></mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <input matInput [matDatepicker]="picker1" placeholder="Enter cnic expiry"
                                           formControlName="CnicExpiry" maxlength="30" autocomplete="off" readonly
                                           [min]="todayMin"/>

                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>

                                    <mat-error *ngIf="hasError('CnicExpiry', 'required')">CnicExpiry
                                        <strong>required</strong></mat-error>
                                    <mat-hint align="left">Please enter cnic expiry <strong></strong></mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <input matInput placeholder="Enter Customer Name" formControlName="CustomerName"
                                           maxlength="100" autocomplete="off"/>
                                    <mat-error *ngIf="hasError('CustomerName', 'required')">Customer Name <strong>required</strong>
                                    </mat-error>
                                    <mat-hint align="left">Please enter Customer Name <strong></strong></mat-hint>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-group kt-form__group row mt-2">

                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid w-full " appearance="outline">
                                    <input matInput placeholder="Enter Father Name" formControlName="FatherName"
                                           maxlength="100" autocomplete="off"/>
                                    <mat-error *ngIf="hasError('FatherName', 'required')">Father Name
                                        <strong>required</strong></mat-error>
                                    <mat-hint align="left">Please enter father name <strong></strong></mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <input matInput placeholder="Current Address" formControlName="CurrentAddress"
                                           maxlength="200" autocomplete="off"/>
                                    <mat-error *ngIf="hasError('CurrentAddress', 'required')">Current Address <strong>required</strong>
                                    </mat-error>
                                    <mat-hint align="left">Please enter address <strong></strong></mat-hint>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                    <!--CWR-->
                    <div *ngIf="BiometricCredentials">
                        <div class="form-group kt-form__group row">
                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <input readonly="readonly" matInput placeholder="Enter cnic" formControlName="Cnic"
                                           maxlength="30" autocomplete="off" [mask]="maskEnums.cnic"/>
                                    <mat-error *ngIf="hasError('Cnic', 'required')">cnic <strong>required</strong>
                                    </mat-error>
                                    <mat-hint align="left">Please enter cnic <strong>(32104-1234567-8)</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <input [disabled]="true" readonly="readonly" matInput [matDatepicker]="picker"
                                           placeholder="Enter dob" formControlName="Dob" autocomplete="off"
                                           [max]="todayMax">

                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>

                                    <mat-error *ngIf="hasError('Dob', 'required')">Dob <strong>required</strong>
                                    </mat-error>
                                    <mat-hint align="left">Please enter Dob <strong></strong></mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <input readonly="readonly" matInput placeholder="Enter Customer Name"
                                           formControlName="CustomerName" maxlength="100" autocomplete="off"/>
                                    <mat-error *ngIf="hasError('CustomerName', 'required')">Customer Name <strong>required</strong>
                                    </mat-error>
                                    <mat-hint align="left">Please enter Customer Name <strong></strong></mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <input matInput placeholder="Current Address" formControlName="CurrentAddress"
                                           maxlength="200" autocomplete="off"/>
                                    <mat-error *ngIf="hasError('CurrentAddress', 'required')">Address
                                        <strong>required</strong></mat-error>
                                    <mat-hint align="left">Please enter address <strong></strong></mat-hint>
                                </mat-form-field>
                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid" appearance="outline">
                                        <input matInput placeholder="City" formControlName="District"
                                               [disabled]="disable_district_field"
                                               maxlength="200" autocomplete="off"/>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="form-group kt-form__group row mt-2">


                            <div class="col-lg-3 col-sm-12 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <mat-label class="customMatLabel">Select Gender <strong
                                        class="matMandatory">*</strong></mat-label>
                                    <mat-select formControlName="Gender">
                                        <mat-option *ngFor="let obj of GenderLov.LOVs" [value]="obj.Value">
                                            {{obj.Name}}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </div>
                        </div>

                    </div>


                    <!--ECIB-->
                    <!-- [style.height]="gridHeight"   not able to understand  -->
                    <div *ngIf="ECIBPerformForm">
                        <div class="form-group kt-form__group">
                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                <h5>ECIB</h5>
                                <h6 [ngClass]="{'text-red': IsEcibDefaulter == true, 'text-green': IsEcibDefaulter == false}">{{CustomerECIB.Message}}</h6>
                            </div>
                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                <a mat-icon-button *ngIf="EcibLinkView" href="{{Customer.ECIBPDFLink}}" target="_blank"
                                   color="primary">
                                    <mat-icon title="view">pageview</mat-icon>
                                </a>
                                <span *ngIf="!EcibLinkView" class="text-red">No ECIB Record Available</span>
                            </div>
                        </div>
                        <div class="form-group kt-form__group row" *ngIf="IsEcibDefaulter">
                            <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                <h5 class="text-blue">Summary</h5>
                                <h5>Customer is not eligible due to following reasons</h5>
                                <table class="col-lg-6">
                                    <tbody>
                                    <tr>
                                        <td class="text-blue">BMVS/NIVS:</td>
                                        <td [ngClass]="{'text-red': BMVS_NIVS == 'Not Found'}">{{BMVS_NIVS}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-blue">NDC:</td>
                                        <td>Approved</td>
                                    </tr>
                                    <tr>
                                        <td class="text-blue">ECIB:</td>
                                        <td class="text-red">{{CustomerECIB.Message}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a mat-flat-button [routerLink]="['dashboard']"
                                   class=" mt-2 bg-red-500 text-white mat-focus-indicator mat-flat-button mat-button-base mat-primary">Close/Exit</a>
                            </div>
                        </div>
                        <div class="py-2" *ngIf="IsEcibDefaulter">
                            <div class="heading">Regenerate ECIB Request</div>

                            <button mat-flat-button
                                    class=" my-3 bg-green mat-focus-indicator mat-flat-button mat-button-base mat-primary">
                                Regenerate
                            </button>

                            <div class="heading">Remarks</div>
                            <mat-form-field appearance="outline" class="w-full mt-2">
                                <input matInput placeholder="Remarks">
                            </mat-form-field>

                        </div>
                        <div class="py-2" *ngIf="IsEcibDefaulter">
                            <div class="heading ">Attach An Image</div>
                            <div class="py-3">
                                <input type="file">
                            </div>
                        </div>

                        <div>
                            <button mat-flat-button
                                    class="bg-green mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                                    type="button">Submit
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border mt-2">
        <div class="kt-form__actions kt-form__actions--solid">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <button (click)="SubmitNdc()" *ngIf="NdcSubmit"
                            class="mat-focus-indicator mat-flat-button mat-button-base mat-primary bg-green"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                    >
                        Next
                    </button>
                    <button (click)="saveBiomatricdata()" *ngIf="BioMetricCapture"
                            type="button"
                            class="mat-focus-indicator mat-flat-button mat-button-base mat-primary bg-green"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                    >
                        Save & Next
                    </button>
                    <button (click)="submitCWR()"
                            *ngIf="BiometricCredentials" type="button"
                            class="mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                    >
                        Next
                    </button>
                    <button type="button"
                            (click)="refreshEcib()"
                            *ngIf="ECIBPerform"
                            class="mat-focus-indicator mat-flat-button mat-button-base mat-primary bg-green"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                    >
                        Refresh
                    </button>
                    <button (click)="NextOpenCreateCustomer()" *ngIf="ECIBPerformSuccess"
                            type="button"
                            class="mat-focus-indicator mat-flat-button mat-button-base mat-primary bg-green"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                    >
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
