<div
    class="
        px-10
        sm:absolute sm:inset-0
        flex flex-col flex-auto
        min-w-0
        sm:overflow-y-scroll
        overflow-x-hidden
        bg-card
        dark:bg-transparent

        reports
    "
>
    <div class="row">
        <div class="col-lg-12 col-sm-12 pt-3">
            <div class="heading">Notifications</div>
        </div>
    </div>

    <div class="col-lg-12 row ml-1  mt-2 justify-content-center text-center bg-gray-50  py-4">
        <div class="col-lg-4 col-sm-12">
            <mat-card  class="cursor-pointer mx-4 d-flex justify-content-center items-center font-bold text-lg"
                      id="llcInquiryText" >
                <count [count]="nRcn" *ngIf="nRcn  != undefined"></count>
                <div class="d-grid" style="justify-items: center;">
<!--                    <mat-icon class="mb-2 text-green">file_copy</mat-icon>-->
                    <img src="../../../../assets/images/ic_recovery_collection_notification.PNG" class="img-responsive center-block w-12 mx-auto mb-3" alt="icon"/>

                    <p class="text-md text-black">Recovery Collection Notifications</p>
                </div>
            </mat-card>
        </div>

        <div class="col-lg-4 col-sm-12">
            <mat-card class="cursor-pointer mx-4 d-flex justify-content-center items-center font-bold text-lg"
                      id="llcInquiryText" (click)="click(2)">
                <count [count]="nDpi" *ngIf="nDpi  != undefined" ></count>
                <div class="d-grid" style="justify-items: center;">
                    <!--                    <mat-icon class="mb-2 text-green">file_copy</mat-icon>-->
                    <img src="../../../../assets/images/ic_due_payments.PNG" class="img-responsive center-block w-12 mx-auto mb-3" alt="icon"/>

                    <p class="text-md text-black">Due Payments/Installments</p>
                </div>
            </mat-card>
        </div>

        <div class="col-lg-4 col-sm-12">
            <mat-card class="cursor-pointer mx-4 d-flex justify-content-center items-center font-bold text-lg"
                      id="llcInquiryText">
                <count [count]="nPcl" *ngIf="nPcl  != undefined"></count>
                <div class="d-grid" style="justify-items: center;">
                    <!--                    <mat-icon class="mb-2 text-green">file_copy</mat-icon>-->
                    <img src="../../../../assets/images/ic_possible_customer_lead.PNG" class="img-responsive center-block w-12 mx-auto mb-3" alt="icon"/>

                    <p class="text-md text-black">Possible Customer Leads</p>
                </div>
            </mat-card>
        </div>
    </div>

    <div class="col-lg-12 row ml-1  mt-2 justify-content-center text-center bg-gray-50  py-4">
        <div class="col-lg-4 col-sm-12">
            <mat-card class="cursor-pointer mx-4 d-flex justify-content-center items-center font-bold text-lg"
                      id="llcInquiryText">
                <count [count]="nIlt" *ngIf="nIlt  != undefined"></count>
                <div class="d-grid" style="justify-items: center;">
                    <img src="../../../../assets/images/ic_text_msg.PNG" class="img-responsive center-block w-12 mx-auto mb-3" alt="icon"/>

                    <p class="text-md text-black">Intimate the Loaner via Text</p>
                </div>
            </mat-card>
        </div>

        <div class="col-lg-4 col-sm-12">
            <mat-card class="cursor-pointer mx-4 d-flex justify-content-center items-center font-bold text-lg"
                      id="llcInquiryText" (click)="click(5)">
                <count [count]="nLd" *ngIf="nLd  != undefined"></count>
                <div class="d-grid" style="justify-items: center;">
                    <img src="../../../../assets/images/ic_loanersdefaulters.PNG" class="img-responsive center-block w-12 mx-auto mb-3" alt="icon"/>

                    <p class="text-md text-black">Loaners/Defaulter</p>
                </div>
            </mat-card>
        </div>

        <div class="col-lg-4 col-sm-12">
            <mat-card class="cursor-pointer mx-4 d-flex justify-content-center items-center font-bold text-lg"
                      id="llcInquiryText">
                <count [count]="nDc" *ngIf="nDc  != undefined"></count>
                <div class="d-grid" style="justify-items: center;">
                    <img src="../../../../assets/images/ic_death_of_a_customer.PNG" class="img-responsive center-block w-12 mx-auto mb-3" alt="icon"/>
                    <p class="text-md text-black">Death of a Customer</p>
                </div>
            </mat-card>
        </div>
    </div>

    <div class="col-lg-12 row ml-1  mt-2 justify-content-center text-center bg-gray-50  py-4">
        <div class="col-lg-4 col-sm-12">
            <mat-card class="cursor-pointer mx-4 d-flex justify-content-center items-center font-bold text-lg"
                      id="llcInquiryText" (click)="click(7)">
                <count [count]="nCel" *ngIf="nCel  != undefined"></count>
                <div class="d-grid" style="justify-items: center;">
                    <img src="../../../../assets/images/ic_cnic_expiry.png" class="img-responsive center-block w-12 mx-auto mb-3"
                    alt="icon"/>
                    <p class="text-md text-black">Cnic Expiry of Loaner</p>
                </div>
            </mat-card>
        </div>

        <div class="col-lg-4 col-sm-12">
            <mat-card class="cursor-pointer mx-4 d-flex justify-content-center items-center font-bold text-lg"
                      id="llcInquiryText">
                <count [count]="nDn" *ngIf="nDn  != undefined"></count>
                <div class="d-grid" style="justify-items: center;">
                    <img src="../../../../assets/images/ic_demand_notice.PNG" class="img-responsive center-block w-12 mx-auto mb-3" alt="icon"/>

                    <p class="text-md text-black">Demand Notices</p>
                </div>
            </mat-card>
        </div>

        <div class="col-lg-4 col-sm-12">
            <mat-card class="cursor-pointer mx-4 d-flex justify-content-center items-center font-bold text-lg"
                      id="llcInquiryText">
                <count [count]="nBl" *ngIf="nBl  != undefined"></count>
                <div class="d-grid" style="justify-items: center;">
                    <img src="../../../../assets/images/ic_business_leads.PNG" class="img-responsive center-block w-12 mx-auto mb-3"
                    alt="icon"/>
                    <p class="text-md text-black">Business Leads</p>
                </div>
            </mat-card>
        </div>
    </div>

    <div class="col-lg-12 row ml-1  mt-2 justify-content-center text-center bg-gray-50  py-4">
        <div class="col-lg-4 col-sm-12">
            <mat-card class="cursor-pointer mx-4 d-flex justify-content-center items-center font-bold text-lg"
                      id="llcInquiryText">
                <count [count]="nUv" *ngIf="nBl  != undefined"></count>
                <div class="d-grid" style="justify-items: center;">
                    <img src="../../../../assets/images/ic_upcoming_visits.PNG" class="img-responsive center-block w-12 mx-auto mb-3"

                    <p class="text-md text-black">Upcoming Visits</p>
                </div>
            </mat-card>
        </div>

        <div class="col-lg-4 col-sm-12">
            <mat-card class="cursor-pointer mx-4 d-flex justify-content-center items-center font-bold text-lg"
                      id="llcInquiryText">
                <count [count]="nLDef" *ngIf="nBl  != undefined"></count>
                <div class="d-grid" style="justify-items: center;">
                    <img src="../../../../assets/images/ic_loan_defaulters.PNG" class="img-responsive center-block w-12 mx-auto mb-3" alt="icon"/>

                    <p class="text-md text-black">Loan Defaulters</p>
                </div>
            </mat-card>
        </div>

    </div>

</div>

<!--routerLink="search-loan-case-by-cnic"-->
