u
<div
    class=" px-10 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">List of Transactions</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center">
            <p class="text-right">
                <button aria-controls="collapseExample" aria-expanded="false"
                        class="mt-1  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                        color="primary" onclick="toggleCollapse()" type="button">
                    <mat-icon class="mr-2" id='arrow'>keyboard_arrow_down</mat-icon>
                    Advance Filter
                </button>
            </p>
        </div>
    </div>

    <div class="collapse show" id="collapseExample">
        <div class="card card-body">
            <div [formGroup]="pendingForm">
                <!-- <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                    <mat-form-field class="mat-form-field-fluid" appearance="outline">
                        <mat-label class="customMatLabel">PP No.</mat-label>
                        <input matInput placeholder="PP No." formControlName="PPNo" maxlength="30"
                               autocomplete="off"/>
                    </mat-form-field>
                </div> -->


                <div class="flex" style="flex-wrap: wrap;">
                    <app-zone-branch-circle (branchZoneCircleData)="getAllData($event)" [form]="pendingForm"
                                            [show_circle]="false"></app-zone-branch-circle>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                            <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                <mat-label class="customMatLabel">Application Date(ddMMyyyy) <strong
                                    class="matMandatory">*</strong>
                                </mat-label>
                                <input [matDatepicker]="picker3" [max]="maxDate" formControlName="TrDate" matInput
                                       readonly="readonly">
                                <mat-datepicker-toggle [for]="picker3" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                                <!--<mat-error *ngIf="hasError('AppDate', 'required')">Application Date <strong>required</strong></mat-error>-->
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                            <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                <mat-label class="customMatLabel">Loan Case#</mat-label>
                                <input appNumberOnly autocomplete="off" formControlName="Lcno" matInput
                                       maxlength="10" placeholder="Enter Loan Case No"/>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                            <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                <mat-label>Select Status</mat-label>
                                <mat-select [disabled]="true" formControlName="Status">
                                    <mat-option *ngFor="let status of SelectedLoanStatus" [value]="status.Id">
                                        {{status.Name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">

                            <button (click)="find()" class="bg-gray-500 mt-2" color="primary"
                                    mat-raised-button type="button">
                                <mat-icon class="mr-2">search</mat-icon>
                                Search
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="flex flex-auto border shadow-xs rounded-sm bg-gray-50 "
         style="flex-direction: column;overflow-y: scroll">
        <mat-table #sort1="matSort"
                   #table
                   [dataSource]="dataSource | paginate: {itemsPerPage: itemsPerPage, currentPage: pageIndex, totalItems: totalItems}"
                   class="example-table-container"
                   matSort
                   matSortActive="id"
                   matSortDirection="asc"
                   matSortDisableClear>
            <ng-container matColumnDef="Branch">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Branch</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.branch}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="TransactionDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Date</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.transactionDate}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="LoanApp">
                <mat-header-cell *matHeaderCellDef mat-sort-header>LOAN APP #</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.loanApp}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="GlDescription">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Gl description</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.glDescription}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.status}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Scheme">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Scheme</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.scheme}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="OldDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Old Due Date</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.oldDate}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="AcStatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header>A/C Status</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.acStatus}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="View">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button *ngIf="currentActivity.U" color="primary" mat-icon-button>
                        <mat-icon (click)="editPen(row)" style="margin-left: 5px;" title="Edit row">edit</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Submit">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Submit</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="getRow(row)" *ngIf="currentActivity.U"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"
                            class="table-header-background"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        </mat-table>
    </div>

    <div *ngIf="matTableLenght" class="mat-select" style="padding:0px 5px; font-size: 13px; margin-top:10px;">
        <span class="font-bold text-green">Items per page:</span>

        <mat-select (valueChange)="paginate(1,$event)" [(value)]="itemsPerPage" class="border-2 pl-1 py-2"
                    display="inline"
                    style="width: 50px; margin-left: 15px; display: inline-block; margin-right: 10px;">
            <mat-option [value]="5">5</mat-option>
            <mat-option [value]="10">10</mat-option>
            <mat-option [value]="25">25</mat-option>
            <mat-option [value]="50">50</mat-option>
        </mat-select>
        <button (click)="paginate(1)">First</button>
        <pagination-controls (pageChange)="paginate($event)" display="inline"
                             style="display: inline-block;"></pagination-controls>
        <button (click)="paginate(Math.ceil(totalItems/itemsPerPage))">Last</button>
        <p style="float:right;">Total <b class="text-green">{{totalItems}}</b> items</p>

    </div>

    <div *ngIf="allowSubmit && currentActivity.U" class="col-lg-12 text-center py-4 border-t px-4">
        <button (click)="SubmitData()" class="mr-2" color="primary" mat-raised-button>
            <mat-icon class="mr-2">check_circle</mat-icon>
            Submit
        </button>
    </div>
</div>
