<div
    class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="heading">Provincial Cheif</div>
    <!-- Header -->

    <!-- Main -->
    <div class="flex flex-auto overflow-x-hidden overflow-y-scroll">

        <!-- Products list -->
        <div class="flex flex-auto overflow-x-hidden overflow-y-scroll" style="flex-direction: column;">
            <div class="row">
                <div class="col-lg-6 py-3">
                    <div class="shadow-sm border">
                        <div id="chart" *ngIf="chartOptions" class=" m-0 pt-2">
                            <apx-chart
                                [series]="chartOptions.series"
                                [chart]="chartOptions.chart"
                                [labels]="chartOptions.labels"
                                [title]="chartOptions.title"
                                [theme]="chartOptions.theme"
                                [responsive]="chartOptions.responsive"
                            ></apx-chart>
                        </div>
                    </div>


                </div>
                <div class="col-lg-6 py-3">
                    <div class="shadow-sm border pt-2" *ngIf="CreditCeiling" >
                            <p class=" ml-3" style="font-size: 14px; font-weight: 900;">Credit Ceiling</p>
                            <app-pyramid-chart [item]="CreditCeiling">
                            </app-pyramid-chart>
                    </div>
                </div>
            </div>
            <div class="row  justify-content-md-center">

                <div class="col-lg-6 table-responsive">
                    <p class="heading mb-2 text-lg">Recovery</p>
                    <table class="table  table-striped">

                        <!-- <thead>
                        <tr class="table-header-background">
                            <th scope="col">Calendar Year Target</th>
                            <th scope="col">Achievement</th>
                            <th scope="col">%age</th>
                        </tr>
                        </thead> -->
                        <tbody>
                        <tr *ngFor="let item of RecoveryAchievement">
                            <td>{{item[0]}}</td>
                            <td>{{item[1]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6 table-responsive">
                    <p class="heading mb-2 text-lg">Circle Wise within Allocated Branches</p>
                    <table class="table  table-striped">

                        <thead>
                        <tr class="table-header-background">
                            <th scope="col">Branch</th>
                            <th scope="col">Disbursement</th>
                            <th scope="col">Recovery</th>
                            <th scope="col">NPL</th>
                            <th scope="col">SAM</th>
                            <th scope="col">Outstanding</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of CirclePositions | paginate: { itemsPerPage: 5, currentPage: p }">
                            <td>{{item.Name}}</td>
                            <td>{{item.TotalDisbursment}}</td>
                            <td>{{item.TotalRecovery}}</td>
                            <td>{{item.NplOS}}</td>
                            <td>{{item.SamOS}}</td>
                            <td>{{item.TotalOS}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
                </div>
            </div>

        </div>

    </div>
</div>
