<div
    class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="heading">Regional Cheif</div>
    <!-- Header -->
    <form name="form" #f="ngForm" novalidate>
        <div class="form-row row pt-2">
            <div class="form-group col-lg-3">
                <mat-form-field class="mat-form-field-fluid w-full mb-0" appearance="outline">
                    <mat-label class="customMatLabel">Year</mat-label>
                    <mat-select [(ngModel)]="year" name="year" #Year="ngModel"
                                required>

                        <mat-option *ngFor="let single_year of years;let i=index"
                                    [value]="single_year">{{single_year}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="f.submitted && Year.invalid" class="invalid-feedback">
                    <div *ngIf="Year.errors.required">Title is required</div>
                </div>
            </div>
            <div class="form-group col-lg-3">
                <button class="btn btn-primary mat-flat-button mr-1 bg-gray-500 mt-2 mat-primary" mat-raised-button
                        (click)="getData()">
                    <mat-icon class="mr-2">search</mat-icon>
                    Search
                </button>

            </div>
        </div>
        <div class="text-center">

        </div>
    </form>

    <!-- Main -->
    <div class="flex flex-auto overflow-x-hidden overflow-y-scroll">

        <!-- Products list -->
        <div class="flex flex-auto overflow-x-hidden overflow-y-scroll" style="flex-direction: column;">
            <div class="row">
                <div class="col-lg-6 py-3">
                    <div class="shadow-sm border graph-box" style="height: 365px;">
                        <div id="chart" *ngIf="chartOptions" class=" m-0 pt-2">
                            <apx-chart
                                [series]="chartOptions.series"
                                [chart]="chartOptions.chart"
                                [labels]="chartOptions.labels"
                                [title]="chartOptions.title"
                                [theme]="chartOptions.theme"
                                [tooltip]="chartOptions.tooltip"
                                [dataLabels]="chartOptions.dataLabels"
                                [responsive]="chartOptions.responsive"
                                [colors]="chartOptions?.colors"
                                [noData]="chartOptions.noData"

                            ></apx-chart>
                        </div>
                    </div>


                </div>
                <div class="col-lg-6 py-3">
                    <div class="shadow-sm border pt-2" *ngIf="CreditCeiling" style="height: 365px;">
                        <p class=" ml-3" style="font-size: 14px; font-weight: 900;">Credit Ceiling</p>
                        <app-pyramid-chart [item]="CreditCeiling">
                        </app-pyramid-chart>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 table-responsive">
                    <p class="heading mb-2 text-lg">Recovery</p>
                    <table class="table  table-striped">

                        <!-- <thead>
                        <tr class="table-header-background">
                            <th scope="col">Calendar Year Target</th>
                            <th scope="col">Achievement</th>
                            <th scope="col">%age</th>
                        </tr>
                        </thead> -->
                        <tbody *ngIf="RecoveryAchievement">
                        <tr *ngFor="let items of RecoveryAchievement" class="text-center">
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCaseString(items[0], 0)}}
                                    </div>
                                    <div class="fw-bold">
                                        {{dashboardService.getCamelCaseString(items[0], 1)}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCaseString(items[1], 0)}}
                                    </div>
                                    <div class="fw-bold">
                                        {{dashboardService.getCamelCaseString(items[1], 1)}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCaseString(items[2], 0)}}
                                    </div>
                                    <div class="fw-bold">
                                        {{dashboardService.getCamelCaseString(items[2], 1)}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tbody *ngIf="!RecoveryAchievement">
                        <tr>
                            <td>Target<br/><strong>0</strong></td>
                            <td>Achievement<br/> <strong>0</strong></td>
                            <td>Percentage(%)<br/> <strong>0</strong></td>
                        </tr>
                        <tr>
                            <td>Corresponding Calender Year Target<br/> <strong>0</strong></td>
                            <td>Corresponding Calender Year Achievement<br/> <strong>0</strong></td>
                            <td>Corresponding Calender Year Percentage(%)<br/> <strong>0</strong></td>

                        </tr>
                        <tr>
                            <td>Fiscal Calender Year Target<br/> <strong>0</strong></td>
                            <td>Fiscal Calender Year Achievement<br/> <strong>0</strong></td>
                            <td>Fiscal Calender Year Percentage(%)<br/> <strong>0</strong></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row  justify-content-md-center">
                <div class="col-lg-12 table-responsive">
                    <p class="heading mb-2 text-lg">Branch Wise within Allocated Branches</p>
                    <table class="table  table-striped">

                        <thead>
                        <tr class="table-header-background">
                            <th scope="col">Branch</th>
                            <th scope="col">Disbursement</th>
                            <th scope="col">Recovery</th>
                            <th scope="col">NPL</th>
                            <th scope="col">SAM</th>
                            <th scope="col">Outstanding</th>
                        </tr>
                        </thead>
                        <tbody *ngIf="CirclePositions">
                        <tr *ngFor="let item of CirclePositions | paginate: { itemsPerPage: 5, currentPage: p }">
                            <td>{{item.Name}}</td>
                            <td>{{item.TotalDisbursment}}</td>
                            <td>{{item.TotalRecovery}}</td>
                            <td>{{item.NplOS}}</td>
                            <td>{{item.SamOS}}</td>
                            <td>{{item.TotalOS}}</td>
                        </tr>
                        </tbody>
                        <tbody *ngIf="!CirclePositions">
                        <tr>
                            <td>{{'No Data'}}</td>
                            <td>{{'No Data'}}</td>
                            <td>{{'No Data'}}</td>
                            <td>{{'No Data'}}</td>
                            <td>{{'No Data'}}</td>
                            <td>{{'No Data'}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination-controls *ngIf="CirclePositions" (pageChange)="p = $event"
                                         class="my-pagination"></pagination-controls>
                </div>


            </div>


        </div>

    </div>
</div>
