<div
    class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="heading">EVP(Operation Division)</div>

    <form name="form" #f="ngForm" novalidate>
        <div class="form-row row pt-2">
            <div class="form-group col-lg-3">
                <mat-form-field class="mat-form-field-fluid w-full mb-0" appearance="outline">
                    <mat-label class="customMatLabel">Year</mat-label>
                    <mat-select [(ngModel)]="year" name="year" #Year="ngModel"
                                required>

                        <mat-option *ngFor="let single_year of years;let i=index"
                                    [value]="single_year">{{single_year}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="f.submitted && Year.invalid" class="invalid-feedback">
                    <div *ngIf="Year.errors.required">Title is required</div>
                </div>
            </div>
            <div class="form-group col-lg-3">
                <button class="btn btn-primary mat-flat-button mr-1 bg-gray-500 mt-2 mat-primary" mat-raised-button
                        (click)="getData()">
                    <mat-icon class="mr-2">search</mat-icon>
                    Search
                </button>

            </div>
        </div>
        <div class="text-center">

        </div>
    </form>

    <div class="flex flex-auto overflow-x-hidden overflow-y-scroll" style="flex-direction: column;">

        <!-- Products list -->
        <div class=" overflow-x-hidden overflow-y-scroll">
            <div class="row pb-4">
                <div class="col-lg-6 mb-3">
                    <div class="shadow-sm border"     style="height: calc(100vh - 310px);" >
                        <div id="chart" *ngIf="chartOptions" class=" mt-0 py-3">
                            <apx-chart [series]="chartOptions?.series" [chart]="chartOptions?.chart"
                                       [labels]="chartOptions?.labels" [title]="chartOptions?.title"
                                       [theme]="chartOptions?.theme"
                                       [responsive]="chartOptions?.responsive"
                                       [noData]="chartOptions.noData"

                            ></apx-chart>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 table-responsive">
                    <table class="table table-striped">
                        <!-- <thead>
                            <tr class="table-header-background">
                                <th scope="row">No?. of Zones</th>
                                <th scope="row">No?. of Branchs</th>
                                <th scope="row">No?. of LLUs</th>
                                <th scope="row">No?. of IC Units</th>
                                <th scope="row">No?. of Accounts</th>
                                <th scope="row">No?. of Lockers</th>
                                <th scope="row">No?. of Bank owned Buildings</th>
                                <th scope="row">No?. of Rented Officers</th>
                                <th scope="row">No?. of Branches in Profits</th>
                                <th scope="row">No?. of Lose</th>
                                <th scope="row">No?. of Biometric Verified consumers (Loan + Accounts)</th>
                                <th scope="row">No?. of MCO Circles</th>
                                <th scope="row">No?. of MCOs available</th>
                                <th scope="row">No?. of Burnt Files</th>
                                <th scope="row">ATM Machines</th>
                            </tr>
                        </thead> -->
                        <tbody>
                        <tr *ngFor="let item of ResourcesCount">
                            <td>{{item[0]}}</td>
                            <td>{{item[1]}}</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
                <div class="col-lg-6 table-responsive">
                    <table class="table table-striped">
                        <!-- <thead>
                            <tr class="table-header-background">
                                <th scope="col">Utilization</th>
                                <th scope="col">Mutations</th>
                                <th scope="col">Audit Para</th>
                                <th></th>
                            </tr>
                        </thead> -->
                        <tbody>
                        <tr *ngFor="let item of UtilizationMutation">
                            <td>{{item[0]}}</td>
                            <td>{{item[1]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
