<div class=" px-10  sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <div class="row py-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">Search for Loan Utilization</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center">
            <p class="text-right">
                <button class="  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary" type="button"
                        color="primary" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                    <mat-icon class="mr-2">filter_list</mat-icon>
                    Advance Filter
                </button>
            </p>
        </div>
    </div>

    <!-- Header -->


    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div
            [formGroup]="loanutilizationSearch">
    
    
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
    
                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline" *ngIf="single_zone">
                            <mat-label class="customMatLabel">Zone</mat-label>
                            <mat-select [(ngModel)]="selected_z" formControlName="Zone" [disabled]="disable_zone">
                                <mat-option [value]="SelectedZones?.ZoneId">
                                    {{SelectedZones?.ZoneName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline" *ngIf="!single_zone">
                            <mat-label class="customMatLabel">Zone</mat-label>
                            <mat-select [(ngModel)]="selected_z" formControlName="Zone" [disabled]="disable_zone"
                                        (selectionChange)="changeZone($event)">
                                <mat-option *ngFor="let zone of SelectedZones" [value]="zone?.ZoneId"
                                            [disabled]="disable_zone">
                                    {{zone?.ZoneName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
    
    
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                            <mat-label class="customMatLabel">Branch <strong class="matMandatory">*</strong></mat-label>
                            <mat-select [(ngModel)]="selected_b" formControlName="Branch" [disabled]="disable_branch"
                                        (selectionChange)="changeBranch($event)"
                                        *ngIf="!single_branch">
                                <mat-option *ngFor="let branch of SelectedBranches" [value]="branch?.BranchCode">
                                    {{branch?.Name}}
                                </mat-option>
                            </mat-select>
                            <mat-select [(ngModel)]="selected_b" formControlName="Branch" [disabled]="disable_branch"
                                        *ngIf="single_branch">
                                <mat-option [value]="SelectedBranches?.BranchCode"
                                >
                                    {{SelectedBranches?.Name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
    
    <!--                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">-->
    <!--                    <mat-label class="customMatLabel">From</mat-label>-->
    <!--                    <input matInput readonly appNumberOnly [matDatepicker]="picker" placeholder="ddMMyyyy"-->
    <!--                           formControlName="FromDate" [max]="getToday()" (dateChange)="setFromDate()">-->
    <!--                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
    <!--                    <mat-datepicker #picker></mat-datepicker>-->
    <!--                </mat-form-field>-->
    
    
                    <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                        <mat-label class="customMatLabel">From </mat-label>
                        <input matInput  [matDatepicker]="picker2" formControlName="FromDate" maxlength="8"
                               autocomplete="off" [max]="getToday()" (dateChange)="setFromDate()" appNumberOnly/>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
    
    <!--                    <mat-error *ngIf="hasError('TransactionDate', 'required')">Transaction Date <strong>required</strong>-->
    <!--                    </mat-error>-->
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                        <mat-label class="customMatLabel">To</mat-label>
                        <input matInput readonly appNumberOnly [matDatepicker]="picker1" placeholder="ddMMyyyy" formControlName="ToDate"
                            [min]="minDate" [max]="getTodayForTo()" (dateChange)="setToDate()" autocomplete="off">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
    
            </div>
    
    
    
    
    
    
    
    <!--            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">-->
    
    <!--                <mat-form-field class="mat-form-field-fluid" appearance="outline">-->
    <!--                    <mat-label class="customMatLabel">Circle</mat-label>-->
    
    <!--                    <mat-select [(ngModel)]="selected_c" formControlName="Circle" [disabled]="disable_circle">-->
    <!--                        <mat-option *ngFor="let circle of SelectedCircles" [value]="circle?.Id"-->
    <!--                        >-->
    <!--                            {{circle?.CircleCode}}-->
    <!--                        </mat-option>-->
    <!--                    </mat-select>-->
    <!--                </mat-form-field>-->
    <!--            </div>-->
    
    
    <!--            <div class="col-md-2 kt-margin-bottom-10-mobile mr-4" *ngIf="!isUserAdmin && !isZoneUser">-->
    <!--                <mat-form-field class="mat-form-field-fluid" appearance="outline">-->
    <!--                    <mat-label>Branch</mat-label>-->
    <!--                    <input matInput formControlName="Branch" readonly="readonly" maxlength="30" autocomplete="off">-->
    <!--                    &lt;!&ndash;  <mat-error *ngIf="hasError('loanutilizationName', 'required')">loanutilizationName <strong>required</strong></mat-error>&ndash;&gt;-->
    <!--                </mat-form-field>-->
    <!--            </div>-->
    <!--            <div class="col-md-2 kt-margin-bottom-10-mobile mr-4" *ngIf="isUserAdmin || isZoneUser">-->
    <!--                <mat-form-field class="mat-form-field-fluid map-fields" appearance="outline" *ngIf="!BMUser">-->
    <!--                    <mat-label>Branch</mat-label>-->
    <!--                    <mat-select (selectionChange)="SetBranches($event)" formControlName="BranchId">-->
    <!--                        <mat-option>-->
    <!--                            <ngx-mat-select-search placeholderLabel="Search Branch..."-->
    <!--                                (focusout)="validateBranchOnFocusOut()" noEntriesFoundLabel="No Branch Found"-->
    <!--                                (keyup)="searchBranch($event.target.value)">-->
    <!--                            </ngx-mat-select-search>-->
    <!--                        </mat-option>-->
    <!--                        <mat-option>-->
    <!--                            Select-->
    <!--                        </mat-option>-->
    <!--                        <mat-option *ngFor="let branch of SelectedBranches" [value]="branch.BranchId">-->
    <!--                            {{branch.Name }}-->
    <!--                        </mat-option>-->
    <!--                    </mat-select>-->
    <!--                </mat-form-field>-->
    <!--            </div>-->
    
    
    <div class="row">
    
        <div class="col-md-3 col-sm-12">
            <div class="col-md-12 kt-margin-bottom-10-mobile mr-4">
                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                    <mat-label>LoanCaseNo</mat-label>
                    <input appNumberOnly matInput formControlName="LoanCaseNo" placeholder="Enter LoanCaseNo" maxlength="100"
                        autocomplete="off">
                </mat-form-field>
            </div>
        </div>
    
        <div class="col-md-3 col-sm-12">
    
            <div *ngIf="loanutilizationStatusLov" class="col-md-12 kt-margin-bottom-10-mobile">
                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                    <mat-label>Select loanutilization Status</mat-label>
                    <mat-select formControlName="loanutilizationStatus">
                        <mat-option value="">
                            Select
                        </mat-option>
                        <mat-option *ngFor="let obj of loanutilizationStatusLov.LOVs" [value]="obj.Value">
                            {{obj.Name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
    
        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="flex flex-shrink-0 items-center  mb-2">
                <button data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample" (click)="searchloanutilization()" class="mt-2 bg-gray-500" mat-flat-button [color]="'primary'">
                    <mat-icon class="mr-2">search</mat-icon> Search
                </button>
            </div>
        </div>
    
    
    
    
    
            </div>

        </div>
        </div>
    </div>






    <!-- Main -->
    <div class="flex flex-auto overflow-scroll">

        <!-- Products list -->
        <div class="flex flex-auto border shadow-xs rounded-sm bg-gray-50 overflow-scroll" style="flex-direction: column;">
            <div class="flex flex-col flex-auto sm:mb-2  overflow-scroll" [style.height]="gridHeight">
                <mat-table class="lmat-elevation-z8"
                           #table
                           [dataSource]="dataSource | paginate: {itemsPerPage: itemsPerPage, currentPage: pageIndex, totalItems: totalItems}"
                           matSort
                           #sort1="matSort"
                           matSortActive="id"
                           matSortDirection="asc"
                           matSortDisableClear>

<!--                    <ng-container matColumnDef="BranchName">-->
<!--                        &lt;!&ndash; ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview &ndash;&gt;-->
<!--                        <mat-header-cell *matHeaderCellDef mat-sort-header>Branch Name</mat-header-cell>-->
<!--                        <mat-cell *matCellDef="let loanutilization">{{loanutilization.BranchName}}</mat-cell>-->
<!--                    </ng-container>-->

                    <ng-container matColumnDef="BranchCode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Branch Code</mat-header-cell>
                        <mat-cell *matCellDef="let loanutilization">{{loanutilization.BranchCode}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="GlSubCode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Gl Sub Code</mat-header-cell>
                        <mat-cell *matCellDef="let loanutilization">{{loanutilization.GlSubCode}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="SchemeCode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Scheme code</mat-header-cell>
                        <mat-cell *matCellDef="let loanutilization">{{loanutilization.SchemeCode}}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="CropCode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Crop code</mat-header-cell>
                        <mat-cell *matCellDef="let loanutilization">{{loanutilization.CropCode}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="LoanCaseNo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Loan Case No.</mat-header-cell>
                        <mat-cell *matCellDef="let loanutilization">{{loanutilization.LoanCaseNo}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="OutStandingPrinciple">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Out Standing Principle</mat-header-cell>
                        <mat-cell *matCellDef="let loanutilization">{{loanutilization.OutStandingPrinciple}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="DisbursedAmount">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Disbursed Amount</mat-header-cell>
                        <mat-cell *matCellDef="let loanutilization">{{loanutilization.DisbursedAmount}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ToDateMarkup">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>To Date Markup</mat-header-cell>
                        <mat-cell *matCellDef="let loanutilization">{{loanutilization.ToDateMarkup}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="prodDevFlag">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>prod Dev Flag</mat-header-cell>
                        <mat-cell *matCellDef="let loanutilization">{{loanutilization.prodDevFlag}}</mat-cell>
                    </ng-container>



                    <ng-container matColumnDef="Balance">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Balance</mat-header-cell>
                        <mat-cell *matCellDef="let loanutilization">{{loanutilization.Balance}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="DisbDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Disb Date</mat-header-cell>
                        <mat-cell *matCellDef="let loanutilization">{{loanutilization.DisbDate}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="StatusName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Status Name</mat-header-cell>
                        <mat-cell *matCellDef="let loanutilization">{{loanutilization.StatusName}}</mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="loanutilizationStatus">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                      <mat-cell *matCellDef="let loanutilization">{{getStatus(loanutilization.loanutilizationStatus)}}</mat-cell>
                    </ng-container> -->

                    <!-- <ng-container matColumnDef="View" *ngIf="!isDialog">
                      <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
                      <mat-cell *matCellDef="let loanutilization">
                        <button *ngIf="!isDialog" mat-icon-button color="primary"
                                >
                          <mat-icon style="margin-left: 2px;" title="View loanutilization">visibility</mat-icon>
                        </button>
                      </mat-cell>
                    </ng-container>
                    *ngIf="CheckViewStatus(jv)" -->

                    <ng-container matColumnDef="add">
                        <mat-header-cell *matHeaderCellDef>Add Utilization</mat-header-cell>
                        <mat-cell *matCellDef="let loanutilization">
                            <button mat-icon-button color="primary"
                                    (click)="addloanutilization(loanutilization)">
                                <mat-icon style="margin-left: 1px;" title="View loanutilization">add</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <!-- *ngIf="CheckEditStatus(jv)" -->
                    <!-- <ng-container matColumnDef="Edit">
                      <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
                      <mat-cell *matCellDef="let loanutilization">
                        <button mat-icon-button color="primary"
                        (click)="editloanutilization(loanutilization)">
                          <mat-icon style="margin-left: 2px;" title="Edit loanutilization">edit</mat-icon>
                        </button>
                      </mat-cell>
                    </ng-container> -->

                    <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;" class="table-header-background"></mat-header-row>

                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                </mat-table>


                <div class="mat-table__message" *ngIf="!loading && !matTableLenght">No records found</div>
                <div class="mat-table__message" *ngIf="loading">Please wait....</div>

            </div>


        </div>

    </div>
    <div *ngIf="matTableLenght" class="mat-select" style="padding:5px;">
        Items per page:
        <mat-select display="inline" [(value)]="itemsPerPage" (valueChange)="paginate(1,$event)"
            style="width: 50px; margin-left: 15px; display: inline-block; margin-right: 10px;">
            <mat-option [value]="5">5</mat-option>
            <mat-option [value]="10">10</mat-option>
            <mat-option [value]="25">25</mat-option>
            <mat-option [value]="50">50</mat-option>
        </mat-select>
        <button (click)="paginate(1)">First</button>
        <pagination-controls display="inline" (pageChange)="paginate($event)"
            style="display: inline-block;"></pagination-controls>
        <button (click)="paginate(Math.ceil(totalItems/itemsPerPage))">Last</button>
        <p style="float:right;">Total <b>{{totalItems}}</b> items</p>

    </div>
</div>
