]
<div class="px-10  sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 overflow-scroll bg-card dark:bg-transparent">

    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">API Logs</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center mt-2 ">
            <p class="text-right">
                <button aria-controls="collapseExample" aria-expanded="false"
                        class="mt-1  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                        color="primary" onclick="toggleCollapse()" type="button">
                    <mat-icon class="mr-2" id='arrow'>keyboard_arrow_down</mat-icon>
                    Advance Filter
                </button>
            </p>
        </div>
    </div>

    <!-- Header -->


    <div class="collapse show" id="collapseExample">
        <div class="card card-body">
            <div [formGroup]="FilterForm" class="">


                <div class="row">
                    <div class="col-lg-3 col-sm-12">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 ">
                            <mat-form-field appearance="outline" class="w-full">
                                <input (keyup)="applyFilter($event.target.value)" appearance="outline" autocomplete="off"
                                       formControlName="TranId" matInput
                                       placeholder="Search">
                                <!-- <mat-hint align="start"><strong>Search</strong> in all fields</mat-hint> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                            <mat-form-field appearance="outline" class="mat-form-field-fluid  w-full">
                                <mat-label>Choose start date</mat-label>
                                <input (dateChange)="comparisonStartdateValidator()" [matDatepicker]="picker1" autocomplete="off"
                                       formControlName="StartDate" matInput>

                                <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>

                                <mat-datepicker #picker1></mat-datepicker>

                                <mat-error *ngIf="FilterForm.controls['StartDate'].hasError('invaliddaterange')">
                                    <strong>Start date cannot be greater than end date</strong>
                                </mat-error>
                                <mat-error *ngIf="hasError('StartDate', 'required')">Start Date
                                    <strong>required</strong>
                                </mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                            <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                <mat-label>Choose end date</mat-label>
                                <input (dateChange)="comparisonEnddateValidator()" [matDatepicker]="picker" autocomplete="off"
                                       formControlName="EndDate" matInput>

                                <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>

                                <mat-error *ngIf="FilterForm.controls['EndDate'].hasError('invaliddaterange')">
                                    <strong>End date cannot be earlier than start date</strong>
                                </mat-error>

                                <mat-error *ngIf="hasError('EndDate', 'required')">End Date <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                            <button (click)="loadApiLogs()"
                                    class="mat-focus-indicator mat-flat-button mat-button-base mat-primary bg-gray-500 mt-2"
                                    mat-raised-button type="button">
                                <mat-icon class="mr-2">search</mat-icon>
                                Search
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <section class="mat-elevation-z2 mat-header-row bg-green api-table" matSort>
        <span class="mat-header-cell text-white" mat-sort-header="Id" style="width: 10px;">ID</span>
        <span class="mat-header-cell text-white" mat-sort-header="TransactionId">Transaction ID</span>
        <span class="mat-header-cell text-white" mat-sort-header="ApiName">API Name</span>
        <span class="mat-header-cell text-white" mat-sort-header="CallDateTime">Call Date Time</span>
        <span class="mat-header-cell text-white" mat-sort-header="ResponseTotalTime">Total Time Taken</span>
        <span class="mat-header-cell text-white" mat-sort-header="View">View</span>
    </section>
    <mat-accordion class="mat-table  border shadow-xs rounded-sm bg-gray-50 px-1" displayMode="flat" multi
                   style="overflow-y:scroll;">


        <mat-expansion-panel #exppanel (click)="fetch3rdAPI($event,item)"
                             *ngFor="let item of displayedRows$ |async" class="api-table shadow-none mb-4 p-0"
                             style="box-shadow: none !important; margin-bottom: 5px !important; font-size: 12px;">
            <mat-expansion-panel-header class="mat-row custom-accordion py-2 h-10  rounded-lg my-1 shadow-sm border"
                                        style="font-size: 12px;">
                <span class="mat-cell py-6 self-center font-bold"
                      style="width: 10px; font-size: 12px;">{{item?.Id}}</span>
                <span class="mat-cell py-6 self-center font-bold"
                      style="font-size: 12px;">{{item?.TransactionId}}</span>
                <p class="mat-cell py-6 self-center  font-bold mt-3" style="font-size: 12px;">{{item?.APIName}}</p>
                <span class="mat-cell py-6 self-center px-2 font-bold"
                      style="font-size: 12px;">{{item?.CallDateTime | date}} {{item?.CallDateTime | date:'shortTime'}}</span>
                <span class="mat-cell py-6 self-center px-2 font-bold "
                      style="font-size: 12px;">{{item?.TotalTimeTaken}}</span>
                <span class="mat-cell py-6 self-center">
                    <button (click)="viewRequestResponse($event,item)" color="primary" mat-icon-button>
                                            <mat-icon class="text-green" title="View">visibility</mat-icon>
                                        </button>
                </span>
            </mat-expansion-panel-header>
            <div>
                <div class="custom-accordion-body bg-gray-50 border-t rounded">
                    <table class="table table-responsive" style="display: inline-table !important;">
                        <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Transaction ID</th>
                            <th>API Name</th>
                            <th>Call Date Time</th>
                            <th>Total Time Taken</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let tp_item of item?.third_apis">
                            <td>{{tp_item?.Id}}</td>
                            <td>{{tp_item?.TransactionId}}</td>
                            <td>{{tp_item?.APIName}}</td>
                            <td>{{item?.CallDateTime | date}} {{item?.CallDateTime | date:'shortTime'}}</td>
                            <td>{{tp_item?.TotalTimeTaken}}</td>
                            <td>
                                <button (click)="viewRequestResponse($event,tp_item,true)" color="primary"
                                        mat-icon-button>
                                    <mat-icon class="text-green" title="View">visibility</mat-icon>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-expansion-panel>

    </mat-accordion>

    <mat-paginator #paginator
                   [length]="totalRows$ | async"
                   [pageIndex]="0"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   [pageSize]="10"
    ></mat-paginator>
</div>


