.mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
}

.mat-expansion-panel-header.mat-row {
    border-bottom: none;
}

//copied from https://github.com/angular/material2/blob/master/src/lib/table/table.scss
$mat-header-row-height: 56px;
$mat-row-height: 48px;
$mat-row-horizontal-padding: 24px;

.mat-table {
    display: block;
}

.mat-header-row {
    min-height: $mat-header-row-height;
}

.mat-row {
    min-height: $mat-row-height;
}

.mat-row, .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    padding: 0 $mat-row-horizontal-padding;
    box-sizing: border-box;

    // Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
    // element that will stretch the row the correct height. See:
    // https://connect.microsoft.com/IE/feedback/details/802625
    &::after {
        display: inline-block;
        min-height: inherit;
        content: '';
    }
}

.mat-cell, .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
}

.custom-accordion {
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transition: dispaly 1s ease;

}

.custom-accordion-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid green;

}

.custom-padding {
    padding: 10px;

    display: flex;
    margin-right: 10%;
}

.custom-accordion-body {
    padding: 20px;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

