<div
    #container
    class="px-10  sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 overflow-y-scroll overflow-x-hidden bg-card dark:bg-transparent">


    <div class="row pt-3">
        <div class="col-lg-12 col-sm-12">
            <div class="heading" style="display: flex;justify-content: space-between">Business Leads
            </div>
        </div>
    </div>


    <div id="Kt-portlet-margin-top">
        <div class="collapse show" id="collapseExample">
            <form [formGroup]="business_leads_form" class="kt-form kt-form--group-seperator-dashed">

                <div class="kt-form">

                    <div class="kt-portlet__body">

                        <div class="col-lg-12">
                            <div class="flex" style="flex-wrap: wrap;flex-direction: column">

                                <app-zone-branch-circle (branchZoneCircleData)="getAllData($event)"
                                                        [form]="business_leads_form"
                                                        [is_required_circle]="false"
                                                        [should_filter]="false"
                                                        [show_circle]="false"></app-zone-branch-circle>

                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 400px;">
                                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                        <mat-label class="customMatLabel">Customer CNIC<strong
                                            class="matMandatory">*</strong></mat-label>
                                        <input autocomplete="off" formControlName="CNIC" matInput appNumberOnly
                                               maxlength="13"/>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 400px;">
                                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                        <mat-label class="customMatLabel">Customer Name<strong
                                            class="matMandatory">*</strong>
                                        </mat-label>
                                        <input autocomplete="off" formControlName="RequestName" matInput
                                        />
                                    </mat-form-field>
                                </div>

                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 400px;">
                                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                        <mat-label class="customMatLabel">Mobile Number<strong
                                            class="matMandatory">*</strong>
                                        </mat-label>
                                        <input autocomplete="off" formControlName="MobileNo" matInput
                                               appNumberOnly/>
                                    </mat-form-field>
                                </div>

                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 400px;">
                                    <mat-label>Do You own the land?</mat-label>
                                    <mat-radio-group aria-label="Do you own land?" formControlName="IsLandOwner">
                                        <mat-radio-button value="Y">Yes</mat-radio-button>
                                        <mat-radio-button value="N">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 400px;">
                                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                        <mat-label class="customMatLabel">If Yes, Provide Passbook Number:<strong
                                            class="matMandatory">*</strong>
                                        </mat-label>
                                        <input autocomplete="off" formControlName="PassbookNo" matInput
                                               appNumberOnly/>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 400px;">
                                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                        <mat-label class="customMatLabel">Total Area of Land you own:<strong
                                            class="matMandatory">*</strong>
                                        </mat-label>
                                        <input autocomplete="off" formControlName="TotalArea" matInput
                                               appNumberOnly/>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                     style="width: 400px;flex-direction: column;">
                                    <div>
                                        <mat-label>Type of Loan do you want</mat-label>
                                    </div>
                                    <div style="display: flex;flex-direction: column;">

                                        <mat-checkbox class="example-margin" #crop
                                                      (change)="changeCheckbox(crop.checked,'crop_farming')">Crop
                                            farming
                                        </mat-checkbox>
                                        <mat-checkbox class="example-margin" #catle
                                                      (change)="changeCheckbox(catle.checked,'cattle')">Cattle
                                        </mat-checkbox>
                                        <mat-checkbox class="example-margin" #tubewel
                                                      (change)="changeCheckbox(tubewel.checked,'tubewell')">tube-well
                                        </mat-checkbox>
                                        <mat-checkbox class="example-margin" #tractr
                                                      (change)="changeCheckbox(tractr.checked,'tractor')">Tractor
                                        </mat-checkbox>
                                        <mat-checkbox class="example-margin" #othr
                                                      (change)="changeCheckbox(othr.checked,'other')">Other
                                        </mat-checkbox>
                                    </div>

                                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                        <input autocomplete="off" formControlName="OtherReason" matInput
                                        />
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 400px;">
                                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                        <mat-label class="customMatLabel">Total Loan Required<strong
                                            class="matMandatory">*</strong>
                                        </mat-label>
                                        <input autocomplete="off" formControlName="TotalAmount" matInput
                                               appNumberOnly/>
                                    </mat-form-field>
                                </div>

                            </div>

                        </div>


                    </div>

                    <div class="row mt-2 mr-1">
                        <div class="col-lg-12 text-right">
                            <button
                                class="ml-2 bg-green" color="primary" mat-raised-button type="button"
                                (click)="submitData()">
                                <mat-icon class="mr-2">save</mat-icon>
                                Submit
                            </button>
                        </div>
                    </div>
                </div>


            </form>
        </div>


    </div>

</div>
