\
<div
    class=" px-10 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-y-scroll bg-card dark:bg-transparent">

    <div class="row py-3">
        <div class="col-lg-12 col-sm-12">
            <div class="heading">Make Reschedule</div>
        </div>

    </div>

    <div [formGroup]="mrForm" class="">

        <div class="flex" style="flex-wrap: wrap;">
            <app-zone-branch-circle (branchZoneCircleData)="getAllData($event)" [form]="mrForm"
                                    [show_circle]="false"></app-zone-branch-circle>


            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">

                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Transaction Date</mat-label>
                        <input autocomplete="off" formControlName="TranDate" matInput maxlength="13"
                               placeholder="Enter Tran Date" readonly="readonly"/>
                    </mat-form-field>
                </div>
            </div>


            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-6/12">
                        <mat-label class="customMatLabel">LC# <strong class="matMandatory">*</strong></mat-label>
                        <input appNumberOnly autocomplete="off" formControlName="Lcno" matInput
                               maxlength="13" placeholder="Enter Loan Case No"/>
                    </mat-form-field>
                    <input (click)="subProposal()" *ngIf="currentActivity?.C" class="w-5/12 ml-1 w-full mat-raised-button mat-button-base mat-primary searchLCBtn" color="primary"
                           mat-raised-button
                           type="button" value="Search"/>
                </div>
            </div>


            <div *ngIf="!expand" class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Sub Proposal <strong class="matMandatory">*</strong>
                        </mat-label>
                        <mat-select formControlName="LoanAppSanctionID">
                            <mat-option (click)="Disbursement(sub.LoanAppSanctionID)" *ngFor="let sub of SubProposalGLList"
                                        [value]="sub.LoanAppSanctionID">
                                {{sub.Description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div *ngIf="expand" class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Sub Proposal <strong class="matMandatory">*</strong>
                        </mat-label>
                        <mat-select formControlName="LoanAppSanctionID">
                            <mat-option (click)="Disbursement(sub.LoanAppSanctionID)" *ngFor="let sub of SubProposalGLList"
                                        [value]="sub.LoanAppSanctionID">
                                {{sub.Description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Disbursement <strong class="matMandatory">*</strong>
                        </mat-label>
                        <mat-select formControlName="LoanDisbID">
                            <mat-option *ngFor="let disbur of DisbursementGLList" [value]="disbur.LoanDisbID">
                                {{disbur.Description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-6/12">
                        <mat-label class="customMatLabel">New Gl Code<strong class="matMandatory">*</strong></mat-label>
                        <input appNumberOnly autocomplete="off" formControlName="GlSubIDNew" matInput
                               maxlength="13" placeholder="Enter New Gl Code"/>
                    </mat-form-field>
                    <input (click)="newGlDialog()" *ngIf="currentActivity?.C" class="w-full ml-1 w-5/12 mat-raised-button mat-button-base mat-primary searchLCBtn" color="primary"
                           mat-raised-button
                           type="button" value="Search"/>

                </div>
            </div>


            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">New Scheme Code</mat-label>
                        <input appNumberOnly autocomplete="off" formControlName="SchemeCode" matInput
                               maxlength="10" placeholder="Enter New Scheme Code"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">New Crop Code</mat-label>
                        <input appNumberOnly autocomplete="off" formControlName="CropCode" matInput
                               maxlength="10" placeholder="Enter New Corp Code"/>
                    </mat-form-field>
                </div>
            </div>


            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Down Payment (%) <strong class="matMandatory">*</strong>
                        </mat-label>
                        <input appNumberOnly autocomplete="off" formControlName="AmountPayableForReschPer"
                               matInput maxlength="5" placeholder="Enter Down Payment"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Grace Days(1st Installment)</mat-label>
                        <input autocomplete="off" formControlName="ProposalID" matInput
                               maxlength="13" placeholder="Enter Manager Grace Days" readonly="readonly"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Mark-UP Installment (%)</mat-label>
                        <input autocomplete="off" formControlName="OutSDMarkupWithIstInstPer"
                               matInput maxlength="13" placeholder="Enter Mark-UP Installment"
                               readonly="readonly"/>
                    </mat-form-field>
                </div>
            </div>


            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Resch Type <strong class="matMandatory">*</strong></mat-label>
                        <mat-select formControlName="RescheduleTypeID">
                            <mat-option *ngFor="let type of ReschedulingTypes" [value]="type.Value">
                                {{type.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 465px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Remarks<strong class="matMandatory">*</strong></mat-label>
                        <input autocomplete="off" formControlName="Remarks" matInput placeholder="Enter Remarks"/>
                    </mat-form-field>
                </div>
            </div>

        </div>


        <!-- <strong class="matMandatory">*</strong> -->


        <div class="row">
            <div class="col-lg-12 flex  py-2 border-t">

                <button (click)="uploadDocuments()" *ngIf="currentActivity?.C" class="mr-2" color="primary"
                        mat-raised-button>
                    <mat-icon class="mr-2">check_circle</mat-icon>
                    Upload Documents
                </button>


                <button (click)="SaveData()" *ngIf="currentActivity?.C" class="mr-2" color="primary"
                        mat-raised-button style="background-color: #01671B;">
                    <mat-icon class="mr-2">save</mat-icon>
                    Save
                </button>
                <button (click)="SubmitData()" *ngIf="currentActivity?.U" class="mr-2" color="primary" mat-raised-button>
                    <mat-icon class="mr-2">check_circle</mat-icon>
                    Submit
                </button>
                <button (click)="clear()"
                        *ngIf="currentActivity?.C"
                        class="mr-2 mat-focus-indicator  btn bg-red-500 text-white rounded-md mat-raised-button mat-button-base mat-danger" color="primary" mat-raised-button>
                    <mat-icon class="mr-2"> clear_all</mat-icon>
                    Clear
                </button>
                <button (click)="cancelTransaction()"
                        *ngIf="currentActivity?.D"
                        class=" mat-focus-indicator  btn bg-red-500 text-white rounded-md mat-raised-button mat-button-base mat-danger" color="primary" mat-raised-button>
                    <mat-icon class="mr-2">cancel</mat-icon>
                    Cancel Transaction
                </button>


            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-right py-2">
                <span [routerLink]="['/reschedule-cases/pending-reschedule']" class="mr-4 cursor-pointer"
                      id="llcInquiryText"><b>Pending List</b></span>
                <span [routerLink]="['/reschedule-cases/refer-back-reschedule']" class="mr-4 cursor-pointer"
                      id="llcInquiryText"><b>Referback List</b></span>
                <span (click)="viewLCInquiry()" class="cursor-pointer" id="llcInqiryText" style="color: #01671B;"><b>View LC Inquiry</b></span>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="table-responsive">

                <table *ngIf="table" class="table table-striped">
                    <thead>
                    <tr class="table-header-background">
                        <th>Int Rate</th>
                        <th>Seq#</th>
                        <th>Due Date</th>
                        <th>Grace Days</th>
                        <th>Inst Principal</th>
                        <th>Inst Markup</th>
                        <th>Inst Amount</th>

                    </tr>
                    </thead>
                    <tbody>

                    <!--                        <tr >-->
                    <tr *ngFor="let inst of installmentPlan">
                        <td>{{inst.IntRate}}</td>
                        <td>{{inst.InstSeq}}</td>
                        <td>{{inst.DueDate}}</td>
                        <td>{{inst.GraceDays}}</td>
                        <td>{{inst.InstPrincipal}}</td>
                        <td>{{inst.InstMarkup}}</td>
                        <td>{{inst.InstAmount}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>


    </div>
</div>
