<div class=" px-10 pt-4 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="text-3xl font-extrabold tracking-tight pb-2 border-b mb-2 border-green-500 p-2" style="background-color: #f6fcf8;">Make Reschedule</div>
    <div class="flex flex-auto mt-4" style="flex-direction: row;flex-wrap: wrap;overflow-y: scroll;gap:2%" [formGroup]="mrForm">
        

        <div>

            <mat-form-field class="mat-form-field-fluid" appearance="outline" *ngIf="single_zone">
                <mat-label class="customMatLabel">Zone</mat-label>
                <mat-select [(ngModel)]="selected_z" formControlName="Zone" [disabled]="disable_zone">
                    <mat-option [value]="SelectedZones?.ZoneId">
                        {{SelectedZones?.ZoneName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="mat-form-field-fluid" appearance="outline" *ngIf="!single_zone">
                <mat-label class="customMatLabel">Zone</mat-label>
                <mat-select [(ngModel)]="selected_z" formControlName="Zone" [disabled]="disable_zone"
                            (selectionChange)="changeZone($event)">
                    <mat-option *ngFor="let zone of SelectedZones" [value]="zone?.ZoneId"
                                [disabled]="disable_zone">
                        {{zone?.ZoneName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div>
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">Branch <strong class="matMandatory">*</strong></mat-label>
                <mat-select [(ngModel)]="selected_b" formControlName="Branch" [disabled]="disable_branch"
                            (selectionChange)="changeBranch($event)"
                            *ngIf="!single_branch">
                    <mat-option *ngFor="let branch of SelectedBranches" [value]="branch?.BranchCode"
                    >
                        {{branch?.Name}}
                    </mat-option>
                </mat-select>
                <mat-select [(ngModel)]="selected_b" formControlName="Branch" [disabled]="disable_branch"
                            *ngIf="single_branch">
                    <mat-option [value]="SelectedBranches?.BranchCode"
                    >
                        {{SelectedBranches?.Name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>

            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">Transaction Date</mat-label>
                <input matInput placeholder="Enter Tran Date" formControlName="TranDate" readonly="readonly" maxlength="13" autocomplete="off" />
              </mat-form-field>
        </div>


        <div>
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">LC# <strong class="matMandatory">*</strong></mat-label>
                <input matInput placeholder="Enter Loan Case No" formControlName="Lcno"  maxlength="13" autocomplete="off" appNumberOnly />
            </mat-form-field>
        </div>

        <div>
            <input type="button" mat-raised-button color="primary" class=" mat-raised-button mat-button-base mat-primary searchLCBtn" (click)="subProposal()" value="Search"/>
        </div>

        <div *ngIf="!expand">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">Sub Proposal <strong class="matMandatory">*</strong></mat-label>
                <mat-select formControlName="LoanAppSanctionID">
                  <mat-option *ngFor="let sub of SubProposalGLList" [value]="sub.LoanAppSanctionID" (click)="Disbursement(sub.LoanAppSanctionID)">
                    {{sub.Description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>


        <div *ngIf="expand">
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">Sub Proposal <strong class="matMandatory">*</strong></mat-label>
                <mat-select formControlName="LoanAppSanctionID">
                  <mat-option *ngFor="let sub of SubProposalGLList" [value]="sub.LoanAppSanctionID" (click)="Disbursement(sub.LoanAppSanctionID)">
                    {{sub.Description}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">Disbursement <strong class="matMandatory">*</strong></mat-label>
                <mat-select formControlName="LoanDisbID">                                  
                   <mat-option *ngFor="let disbur of DisbursementGLList" [value]="disbur.LoanDisbID">
                    {{disbur.Description}}
                  </mat-option>                                 
                </mat-select>
              </mat-form-field>
        </div>

        <div>
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">New Gl Code<strong class="matMandatory">*</strong></mat-label>
                <input matInput placeholder="Enter New Gl Code" formControlName="GlSubIDNew"  maxlength="13" autocomplete="off" />
              </mat-form-field>
        </div>

        <div>
            <input type="button" mat-raised-button color="primary" class=" mat-raised-button mat-button-base mat-primary searchLCBtn" (click)="newGlDialog()" value="Search"/>
        </div>

        <div>
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">New Scheme Code</mat-label>
                <input matInput placeholder="Enter New Scheme Code" formControlName="SchemeCode"  maxlength="10" autocomplete="off" />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">New Crop Code</mat-label>
                <input matInput placeholder="Enter New Corp Code" formControlName="CropCode"  maxlength="10" autocomplete="off" />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">Down Payment (%) <strong class="matMandatory">*</strong></mat-label>
                <input matInput placeholder="Enter Down Payment" formControlName="AmountPayableForReschPer"  maxlength="5" autocomplete="off" />
            </mat-form-field>
        </div>

        <!-- <strong class="matMandatory">*</strong> -->

        <div>
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">Grace Days(1st Installment)</mat-label>
                <input matInput placeholder="Enter Manager Grace Days" formControlName="ProposalID" readonly="readonly" maxlength="13" autocomplete="off" />
              </mat-form-field>
        </div>

        <div>
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">Grace Days(1st Installment)</mat-label>
                <input matInput placeholder="Enter Manager Grace Days" formControlName="ProposalID" readonly="readonly" maxlength="13" autocomplete="off" />
            </mat-form-field>
        </div>


        <div>
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">Remarks<strong class="matMandatory">*</strong></mat-label>
                <input matInput placeholder="Enter Remarks" formControlName="Remarks" autocomplete="off" />
              </mat-form-field>
        </div>


        <div>
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                <mat-label class="customMatLabel">Mark-UP Installment (%)</mat-label>
                <input matInput placeholder="Enter Mark-UP Installment" formControlName="OutSDMarkupWithIstInstPer" readonly="readonly" maxlength="13" autocomplete="off" />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                                <mat-label class="customMatLabel">Resch Type <strong class="matMandatory">*</strong></mat-label>
                                <mat-select formControlName="RescheduleTypeID">
                                  <mat-option *ngFor="let type of ReschedulingTypes" [value]="type.Value">
                                    {{type.Name}}
                                  </mat-option>
                                </mat-select>
            </mat-form-field>
        </div>
        
    </div>
    <div class="col-lg-12 text-right py-4 border-t px-4">

        <button mat-raised-button class="mr-2" color="primary" (click)="SaveData()">Save</button>
        <button mat-raised-button class="mr-2" color="primary" (click)="SubmitData()">Submit</button>
        <button mat-raised-button class="mr-2" color="primary" (click)="clear()">Clear</button>
        <button mat-raised-button class="mr-2" color="primary" (click)="cancelTransaction()">Cancel Transaction</button>
        <span id="llcInquiryText" class="mr-2"  [routerLink]="['/reschedule-cases/pending-reschedule']"><b>Pending List</b></span>
        <span id="llcInquiryText" class="mr-2" [routerLink]="['/reschedule-cases/refer-back-reschedule']"><b>Referback List</b></span>
        <span id="llcInqiryText" (click)="viewLCInquiry()"><b>View LC Inquiry</b></span>
    </div>

</div>
