<div [formGroup]="change_password_form">
    <button mat-icon-button (click)="close()" style="float:right">
        <mat-icon>cancel</mat-icon>
    </button>
    <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
        <input matInput type="password" placeholder="Old Password" formControlName="old_password"
        />
    </mat-form-field>

    <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
        <input matInput type="password" placeholder="New Password" formControlName="new_password"
        />
    </mat-form-field>
    <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
        <input matInput type="password" placeholder="Change Password" formControlName="confirm_password"
        />
    </mat-form-field>


    <button mat-flat-button (click)="changePassword()" color="accent">Change Password</button>
</div>
