<div class="flex" [formGroup]="form">

    <div class="w-4/12 ml-2">
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                <mat-label class="customMatLabel">Zone</mat-label>
                <mat-select [(ngModel)]="selected_z" formControlName="ZoneId" [disabled]="single_zone"
                            (selectionChange)="changeZone($event)">
                    <mat-option *ngFor="let zone of SelectedZones" [value]="zone?.ZoneId">
                        {{zone?.ZoneName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


        </div>
    </div>
    <div class="w-4/12 ml-2">
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                <mat-label class="customMatLabel">Branch <strong class="matMandatory">*</strong></mat-label>
                <mat-select matInput [(ngModel)]="selected_b" formControlName="BranchCode" [disabled]="single_branch"
                            (selectionChange)="changeBranch($event)">
                    <mat-option *ngFor="let branch of SelectedBranches" [value]="branch?.BranchCode">
                        {{branch?.Name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="w-4/12 ml-2 " *ngIf="should_show_circle">
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">

            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                <mat-label class="customMatLabel">Circle</mat-label>

                <mat-select [(ngModel)]="selected_c" formControlName="CircleId" [disabled]="single_circle"
                            (selectionChange)="changeCircle($event)">
                    <mat-option *ngFor="let circle of SelectedCircles" [value]="circle?.Id">
                        {{circle?.CircleCode}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>

