<div
    class="px-10 pt-3 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="heading">Applying ORR</div>
    <!-- Header -->
    <div class="form-group kt-form__group row" *ngIf="dataFetched && ApplicationHeader">
        <div class="col-lg-12">
            <!--            <h3 class="heading">sam</h3>-->
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                    <tr class="table-header-background">
                        <th>Branch</th>
                        <th>Circle</th>
                        <th>LC #</th>
                        <th>LC Auto#</th>
                        <th>LA File/Booklet#</th>
                        <th>Application Date</th>
                        <th>Status</th>
                        <th>Status (Post Sanction)</th>
                        <th>Dev Amount</th>
                        <th>Prod Amount</th>
                        <th>DEPOSIT ACC#</th>
                        <th>Sanction Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ApplicationHeader?.BranchName}}</td>
                        <td>{{ApplicationHeader?.CircleCode}}</td>
                        <td>{{ApplicationHeader?.LoanCaseNo}}</td>
                        <td>{{ApplicationHeader?.LoanAutoNo}}</td>
                        <td>{{ApplicationHeader?.AppNumberManual}}</td>
                        <td>{{ApplicationHeader?.AppDate}}</td>
                        <td>{{ApplicationHeader?.StatusName}}</td>
                        <td>{{ApplicationHeader?.StatusNamePS}}</td>
                        <td>{{ApplicationHeader?.DevAmount}}</td>
                        <td>{{ApplicationHeader?.ProdAmount}}</td>
                        <td>{{ApplicationHeader?.AccountNo}}</td>
                        <td>{{ApplicationHeader?.SanctionDate}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div *ngIf="!showFinalOrrTable" class="pt-4" [formGroup]="ORRForm">
        <!--    application header-->


        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                    <mat-label>Soil/Irrigation Type <strong class="matMandatory">*</strong></mat-label>
                    <mat-select formControlName="SoilTypeORRID">
                        <mat-option *ngFor="let obj of SoilIrrigation" [value]="obj.GradeID">
                            {{obj.Description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('SoilTypeORRID', 'required')">Soil/Irrigation Type
                        <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-3 col-sm-12">
                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                    <mat-label>Land Ownership <strong class="matMandatory">*</strong></mat-label>
                    <mat-select formControlName="LandOwnershipORRID">
                        <mat-option *ngFor="let obj of LandOwnership" [value]="obj.GradeID">
                            {{obj.Description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('LandOwnershipORRID', 'required')">Land Ownership
                        <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-3 col-sm-12">
                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                    <mat-label>Availability Of Market <strong class="matMandatory">*</strong></mat-label>
                    <mat-select formControlName="MarketAvailabilityORRID">
                        <mat-option *ngFor="let obj of AvailabilityMarket" [value]="obj.GradeID">
                            {{obj.Description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('MarketAvailabilityORRID', 'required')">Availability Of Market <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-3 col-sm-12">
                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                    <mat-label>Net Income <strong class="matMandatory">*</strong></mat-label>
                    <mat-select formControlName="NetIncodeORRID">
                        <mat-option *ngFor="let obj of NetIncome" [value]="obj.GradeID">
                            {{obj.Description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('NetIncodeORRID', 'required')">Net Income <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

        </div>

    </div>
    <div class="flex flex-auto overflow-y-scroll overflow-x-hidden">
        <div class="flex flex-auto overflow-y-scroll overflow-x-hidden" style="flex-direction: column;">
            <div class="flex flex-col flex-auto sm:mb-2 overflow-x-hidden sm:overflow-y-auto">
                <div *ngIf="!showFinalOrrTable">
                    <div class="form-group kt-form__group row" *ngIf="dataFetched && ApplicationORR.length>0">
                        <div class="col-lg-12">
                            <h3 class="heading">Application</h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr class="table-header-background">
                                        <th>LA File/Booklet #</th>
                                        <th>Soil Type</th>
                                        <th>Land ownership</th>
                                        <th>Market Availability</th>
                                        <th>Net Income</th>
                                        <th>Re Payment</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let obj of ApplicationORR; let i = index;">
                                        <td>{{obj.AppNumberManual}}</td>
                                        <td>{{obj.SoilTypeORR}}</td>
                                        <td>{{obj.LandOwnershipORRName}}</td>
                                        <td>{{obj.MarketAvailORR}}</td>
                                        <td>{{obj.NetInORR}}</td>
                                        <td>{{obj.RepaymentORR}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>


                    <div class="form-group kt-form__group row " *ngIf="dataFetched && CustomerORR.length>0">

                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <h3 class="heading"> Customers</h3>
                                <table class="table table-striped">
                                    <thead>
                                    <tr class="table-header-background">
                                        <th style="min-width: 150px;">CNIC</th>
                                        <th>Name</th>
                                        <th>AGPS</th>
                                        <th>DOB</th>
                                        <th>AGE</th>
                                        <th>CIB Report</th>
                                        <th>Default Days</th>
                                        <th>Experience</th>
                                        <th>Market Reputation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
<!--                                    {{CustomerORR|json}}-->
                                    <tr *ngFor="let obj of CustomerORR; let i = index;">
                                        <td style="min-width: 150px;">{{obj.Cnic}}</td>
                                        <td>{{obj.CustomerName}}</td>
                                        <td>{{obj.MajorBorrower}}</td>
                                        <td>{{obj.Dob}}</td>
                                        <td>{{obj.CustAgeORR}}</td>
                                        <td>
                                            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                                                <mat-select [(ngModel)]="obj.EcibORRID"
                                                            [ngModelOptions]="{standalone: true}">
                                                    <mat-option *ngFor="let obj of Cib" [value]="obj.GradeID">
                                                        {{obj.Description}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                        <!--<td>{{obj.CustMarketRepORR}}</td>-->
                                        <td>
                                            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                                                <mat-label class="customMatLabel">Default Days<strong
                                                    class="matMandatory">*</strong>
                                                </mat-label>
                                                <input appNumberOnly matInput placeholder="0" [(ngModel)]="obj.DefaultDays" maxlength="5"
                                                       autocomplete="off"
                                                       [ngModelOptions]="{standalone: true}"/>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                                                <mat-label class="customMatLabel">Experience<strong
                                                    class="matMandatory">*</strong>
                                                </mat-label>
                                                <input matInput [(ngModel)]="obj.Experience" maxlength="8"
                                                       autocomplete="off" [ngModelOptions]="{standalone: true}"/>
                                            </mat-form-field>
                                        </td>

                                        <td>
                                            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                                                <mat-select [(ngModel)]="obj.MarketReputationORRID"
                                                            [ngModelOptions]="{standalone: true}">
                                                    <mat-option *ngFor="let obj of MarketReputation"
                                                                [value]="obj.GradeID">
                                                        {{obj.Description}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group kt-form__group row"
                         *ngIf="dataFetched && GlProposalORR && GlProposalORR.length>0">
                        <div class="col-lg-12">
                            <h3 class="heading">Proposals/GL</h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr class="table-header-background">
                                        <th>GL Description</th>
                                        <th>Prod/Dev</th>
                                        <th>ORR</th>
                                        <th>Applied Amount</th>
                                        <th>Recommended Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let obj of GlProposalORR; let i = index;">
                                        <td>{{obj.GlDescription}}</td>
                                        <td>{{obj.ProdDev}}</td>
                                        <td>{{obj.GlOrr}}</td>
                                        <td>{{obj.AmountRequired}}</td>
                                        <td>
                                            <mat-form-field class="mat-form-field-fluid" appearance="outline">
                                                <mat-label class="customMatLabel">Amount Recommended<strong
                                                    class="matMandatory">*</strong>
                                                </mat-label>
                                                <input appNumberOnly matInput [(ngModel)]="obj.RecommendedAmount" maxlength="8"
                                                       autocomplete="off" [ngModelOptions]="{standalone: true}"/>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="secondPage" *ngIf="showFinalOrrTable">
                    <div class="form-group kt-form__group row" *ngIf="dataFetched && submitArray?.length>0">
                        <div class="col-lg-12">
                            <h3>Final ORR</h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr class="table-header-background">
                                        <th>CNIC</th>
                                        <th>Name</th>
                                        <th>GL Description</th>
                                        <th>ORR</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let obj of submitArray; let i = index;">
                                        <td>{{obj.Cnic}}</td>
                                        <td>{{obj.CustomerName}}</td>
                                        <td>{{obj.Gl}}</td>
                                        <td>{{obj.Orr}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="form-group kt-form__group row">
                        <div class="col-lg-12 col-sm-12 kt-margin-bottom-20-mobile mt-2">


                            <mat-checkbox class="example-margin pb-2" [checked]="Orrapplied"
                                          (change)="Orrapplied = !Orrapplied">
                                ORR Applied
                            </mat-checkbox>

                            <div   class="row" >
                                <div class="col-lg-12">

<!--                                    <kt-calculate-dbr [checkk]="'1'"></kt-calculate-dbr>-->
                                    <div [formGroup]="DBRForm"
                                         class=" flex flex-col flex-auto min-w-0 sm:overflow-scroll bg-card dark:bg-transparent">
                                        <div class="heading">Calculate DBR</div>
                                        <!-- Header -->

                                        <!-- Main -->
                                        <div class="flex flex-auto overflow-y-scroll" >

                                            <!-- Products list -->
                                            <div class="flex flex-auto overflow-y-scroll overflow-x-hidden" style="flex-direction: column;">
                                                <div class="flex flex-col flex-auto sm:mb-6 overflow-x-hidden sm:overflow-y-auto">
<!--                                                    <div class="form-group kt-form__group row" *ngIf="ApplicationHeader">-->
<!--                                                        <div class="col-lg-12">-->
<!--                                                            &lt;!&ndash;            <h3 class="heading">sam</h3>&ndash;&gt;-->
<!--                                                            <div class="table-responsive">-->
<!--                                                                <table class="table table-striped">-->
<!--                                                                    <thead>-->
<!--                                                                    <tr class="table-header-background">-->
<!--                                                                        <th>Branch</th>-->
<!--                                                                        <th>Circle</th>-->
<!--                                                                        <th>LC #</th>-->
<!--                                                                        <th>LC Auto#</th>-->
<!--                                                                        <th>LA File/Booklet#</th>-->
<!--                                                                        <th>Application Date</th>-->
<!--                                                                        <th>Status</th>-->
<!--                                                                        <th>Status (Post Sanction)</th>-->
<!--                                                                        <th>Dev Amount</th>-->
<!--                                                                        <th>Prod Amount</th>-->
<!--                                                                        <th>DEPOSIT ACC#</th>-->
<!--                                                                        <th>Sanction Date</th>-->
<!--                                                                    </tr>-->
<!--                                                                    </thead>-->
<!--                                                                    <tbody>-->
<!--                                                                    <tr>-->
<!--                                                                        <td>{{ApplicationHeader?.BranchName}}</td>-->
<!--                                                                        <td>{{ApplicationHeader?.CircleCode}}</td>-->
<!--                                                                        <td>{{ApplicationHeader?.LoanCaseNo}}</td>-->
<!--                                                                        <td>{{ApplicationHeader?.LoanAutoNo}}</td>-->
<!--                                                                        <td>{{ApplicationHeader?.AppNumberManual}}</td>-->
<!--                                                                        <td>{{ApplicationHeader?.AppDate}}</td>-->
<!--                                                                        <td>{{ApplicationHeader?.StatusName}}</td>-->
<!--                                                                        <td>{{ApplicationHeader?.StatusNamePS}}</td>-->
<!--                                                                        <td>{{ApplicationHeader?.DevAmount}}</td>-->
<!--                                                                        <td>{{ApplicationHeader?.ProdAmount}}</td>-->
<!--                                                                        <td>{{ApplicationHeader?.AccountNo}}</td>-->
<!--                                                                        <td>{{ApplicationHeader?.SanctionDate}}</td>-->
<!--                                                                    </tr>-->
<!--                                                                    </tbody>-->
<!--                                                                </table>-->
<!--                                                            </div>-->

<!--                                                        </div>-->
<!--                                                    </div>-->
                                                    <div class="kt-portlet__head-label pt-3">
                                                        <h5 class="sub-heading">Salary/Income from Different Sources:</h5>
                                                    </div>
                                                    <table class="table table-striped  border shadow-xs rounded-sm bg-gray-50">
                                                        <thead>
                                                        <tr class="table-header-background">
                                                            <th class="col-lg-9">Item Name</th>
                                                            <th class="col-lg-3">Amount</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr *ngFor="let item of dataSourcee.DBRIncomeList">
                                                            <td class="col-lg-9">{{item.ItemName}}</td>
                                                            <td class="col-lg-3">
                                                                <form class="kt-form kt-form--group-seperator-dashed">
                                                                    <mat-form-field class="mat-form-field-fluid" appearance="outline">
                                                                        <mat-label class="customMatLabel"> {{item.ItemName}} <strong
                                                                            class="matMandatory">* </strong></mat-label>
                                                                        <input [readonly]="isReadOnly" matInput (keypress)="numberOnly($event)" maxlength="8" type="text"  placeholder="Enter '+ {{item.ItemName}} + '"
                                                                               id="{{item.ID}}" value="{{item.Value}}" (keydown)="onIncomeChange($event)" (keyup)="onIncomeChange($event)"
                                                                               autocomplete="off"/>
                                                                    </mat-form-field>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                    <div class="kt-portlet__head-label pt-3">
                                                        <h5 class="sub-heading">Loan/Liabilities:</h5>
                                                    </div>

                                                    <table class="table table-striped  border shadow-xs rounded-sm bg-gray-50">
                                                        <thead>
                                                        <tr class="table-header-background">
                                                            <th class="col-lg-9">Item Name</th>
                                                            <th class="col-lg-3">Amount</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <!--<form class="kt-form kt-form--group-seperator-dashed">-->
                                                        <tr *ngFor="let liab of dataSourcee.DBRLiabilitiesList">
                                                            <td class="col-lg-9">{{liab.ItemName}}</td>
                                                            <td class="col-lg-3">
                                                                <mat-form-field class="mat-form-field-fluid" appearance="outline">
                                                                    <mat-label class="customMatLabel"> {{liab.ItemName}} <strong
                                                                        class="matMandatory">* </strong></mat-label>
                                                                    <input matInput [readonly]="isReadOnly" (keypress)="numberOnly($event)" maxlength="8" type="text"  placeholder="Enter '+ {{liab.ItemName}} + '"
                                                                           id="{{liab.ID}}" value="{{liab.Value}}"  (keydown)="onLiabChange($event)" (keyup)="onLiabChange($event)"
                                                                           autocomplete="off"/>
                                                                </mat-form-field>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="flex">
                                                        <div class="mx-2">
                                                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                                                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                                                    <mat-label class="customMatLabel">Total Debts/Liabilities</mat-label>
                                                                    <input matInput readonly appNumberOnly formControlName="Liabilites"
                                                                           maxlength="13" autocomplete="off"/>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="mx-2">
                                                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                                                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                                                    <mat-label class="customMatLabel">Total Income</mat-label>
                                                                    <input matInput readonly appNumberOnly formControlName="Income"
                                                                           maxlength="13" autocomplete="off"/>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="mx-2">
                                                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                                                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                                                    <mat-label class="customMatLabel">DBR</mat-label>
                                                                    <input matInput readonly appNumberOnly formControlName="DBR"
                                                                           maxlength="13" autocomplete="off"/>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>


<!--                                                    <div class="row">-->
<!--                                                        <div class="col-lg-12 mt-1p ml-1p mb-1p">-->
<!--                                                            <button type="button" *ngIf="!isReadOnly" (click)="saveLoanDbr()" class="btn btn-primary bg-green" mat-raised-button-->
<!--                                                                    color="primary">-->
<!--                                                                <mat-icon class="mr-2">save</mat-icon>-->
<!--                                                                Save & Submit DBR-->
<!--                                                            </button>-->
<!--                                                            <button *ngIf="!isReadOnly" type="button"-->
<!--                                                                    class="mat-focus-indicator btn bg-red-500 text-white rounded-md mx-2 mat-raised-button mat-button-base mat-danger"-->
<!--                                                                    mat-raised-button color="danger">-->
<!--                                                                <mat-icon class="mr-2">cancel</mat-icon>-->
<!--                                                                Close-->
<!--                                                            </button>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>




                </div>


            </div>


        </div>


    </div>
    <div *ngIf="showFinalOrrTable" class="secondPage row">

    </div>

</div>





    <div class="form-group kt-form__group mb-2 row">
        <div class="col-lg-12 kt-margin-bottom-20-mobile">
            <button type="button" *ngIf="showFinalOrrTable && currentActivity.C" (click)="saveLoanDbr()" class="mr-2 btn btn-primary bg-green" mat-raised-button
                    color="primary">
                <mat-icon class="mr-2">save</mat-icon>
                Save & Submit DBR
            </button>
            <button *ngIf="currentActivity.U" class="bg-green" mat-raised-button color="primary" (click)="SaveOrSubmit()" [disabled]="submitted">
                <mat-icon class="mr-2">save</mat-icon>
                {{showFinalOrrTable ? "Submit" : "Save"}}</button>
            <!--            *ngIf="submitArray?.length>0"-->

            <button  mat-raised-button color="primary" class="ml-2" (click)="togglePage()"
                     [disabled]="submitted">
                <mat-icon>navigate_next</mat-icon>
                {{showFinalOrrTable ? "Back" : "Next"}}</button>
            &nbsp;&nbsp;&nbsp;&nbsp;<span *ngIf="currentActivity.C" id="llcInquiryText" class="cursor-pointer" (click)="goToPendingList()"><b>Pending List</b></span>
            <!--<button mat-raised-button color="primary" class="ml-2">Delete</button>-->
        </div>
    </div>
