<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'" *ngIf="loading"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Roles list</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="createOrEditItem()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add New </span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-y-scroll mx-10">

        <!-- Products list -->
        <div class="flex flex-auto overflow-hidden" style="flex-direction: column;">
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                <mat-table class="lmat-elevation-z8"
                           #table
                           [dataSource]="dataSource | paginate: {itemsPerPage: itemsPerPage, currentPage: pageIndex, totalItems: totalItems} "
                           matSort
                           #sort1="matSort"
                           matSortActive="id"
                           matSortDirection="asc"
                           matSortDisableClear>

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
                        <mat-cell *matCellDef="let profile">{{profile.ProfileName}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="GroupName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Group Name</mat-header-cell>
                        <mat-cell *matCellDef="let profile"> {{profile.GroupName}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Description">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Description</mat-header-cell>
                        <mat-cell *matCellDef="let profile"> {{profile.ProfileDesc}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                        <mat-cell *matCellDef="let activity">
                            <button mat-icon-button color="primary"
                                    (click)="createOrEditItem(activity)">
                                <mat-icon>
                                    {{ activity.isCoreactivity ? 'visibility' : 'create' }}
                                </mat-icon>
                            </button>&nbsp;
                            <!-- <button mat-icon-button color="primary"
                            (click)="deleteActivity(activity)">
                        <mat-icon>
                            {{ activity.isCoreactivity ? 'visibility' : 'delete' }}
                        </mat-icon>
                    </button>&nbsp; -->
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"
                                    class="table-header-background"></mat-header-row>

                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                </mat-table>

            </div>
            <mat-paginator [length]="50" [pageSize]="itemsPerPage" [pageSizeOptions]="[5, 10, 25]">
            </mat-paginator>
        </div>

    </div>

</div>






