<div
    class=" px-10 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 overflow-x-hidden overflow-y-auto bg-card dark:bg-transparent">
    <div class="row pt-3">
        <div class="col-lg-12 col-sm-12">
            <div class="heading">Add Update Benchmarking</div>
        </div>

    </div>

    <div [formGroup]="addUpdateBenchMarkForm">

        <div class="flex mt-3" style="flex-wrap: wrap;">

            <app-zone-branch-circle (branchZoneCircleData)="getAllData($event)" [form]="addUpdateBenchMarkForm"
                                    [show_circle]="true"></app-zone-branch-circle>

            <input formControlName="CircleCode" hidden matInput/>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Village Name<strong class="matMandatory">*</strong>
                        </mat-label>
                        <input [readonly]="!is_view" formControlName="VillageName" matInput
                               placeholder="Enter Village Name'"/>
                    </mat-form-field>
                </div>
            </div>


            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">No. of Farmer<strong class="matMandatory">*</strong>
                        </mat-label>
                        <input [readonly]="!is_view" appNumberOnly autocomplete="off"
                               formControlName="NoOfFarmer"
                               matInput placeholder="Enter No. of Farmer"/>
                    </mat-form-field>
                </div>
            </div>

            <!--        <div class="col-lg-3 col-sm-12">-->
            <!--          <div>-->
            <!--            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">-->
            <!--              <mat-label class="customMatLabel">Gender Count<strong class="matMandatory">*</strong></mat-label>-->
            <!--              <input matInput placeholder="Enter Gender Count" formControlName="GenderCount" autocomplete="off" appNumberOnly />-->
            <!--            </mat-form-field>-->
            <!--          </div>-->
            <!--        </div>-->

            <!--        <div class="col-lg-3 col-sm-12">-->
            <!--          <div>-->
            <!--            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">-->
            <!--              <mat-label class="customMatLabel">Gender Type<strong class="matMandatory">*</strong></mat-label>-->
            <!--              <mat-select formControlName="GenderType">-->
            <!--                <mat-option *ngFor="let gender of GenderLov" [value]="gender.Name">-->
            <!--                  {{gender.Name}}-->
            <!--                </mat-option>-->
            <!--              </mat-select>-->
            <!--            </mat-form-field>-->
            <!--          </div>-->
            <!--        </div>-->
            <input formControlName="Id" hidden matInput/>

            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">MaleCount<strong class="matMandatory">*</strong></mat-label>
                        <input [readonly]="!is_view" appNumberOnly autocomplete="off"
                               formControlName="MaleCount"
                               matInput placeholder="Enter MaleCount Population"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">FemaleCount<strong class="matMandatory">*</strong></mat-label>
                        <input [readonly]="!is_view" appNumberOnly autocomplete="off"
                               formControlName="FemaleCount"
                               matInput placeholder="Enter FemaleCount Population"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">TransGenderCount<strong class="matMandatory">*</strong>
                        </mat-label>
                        <input [readonly]="!is_view" appNumberOnly autocomplete="off"
                               formControlName="TransGenderCount" matInput placeholder="Enter TransGenderCount Population"/>
                    </mat-form-field>
                </div>
            </div>


            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Farm Size<strong class="matMandatory">*</strong></mat-label>
                        <input [readonly]="!is_view" appNumberOnly autocomplete="off" formControlName="FarmSize"
                               matInput
                               placeholder="Enter Farm Size"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <div *ngIf="farmSizeForVillageWise" class="col-lg-12 col-sm-12">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label>Select Farm Size Unit<strong class="matMandatory">*</strong></mat-label>
                            <mat-select [disabled]="!is_view" formControlName="FarmSizeUnit">
                                <mat-option value="">
                                    Select
                                </mat-option>
                                <mat-option *ngFor="let obj of farmSizeForVillageWise.LOVs" [value]="obj.Value">
                                    {{obj.Name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Average Loan Size<strong class="matMandatory">*</strong>
                        </mat-label>
                        <input [readonly]="!is_view" appNumberOnly autocomplete="off"
                               formControlName="AverageLoanSize"
                               matInput placeholder="Enter Average Loan Size"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Subsistence Farmer<strong class="matMandatory">*</strong>
                        </mat-label>
                        <input [readonly]="!is_view" appNumberOnly autocomplete="off"
                               formControlName="SubsistenceFarmer"
                               matInput placeholder="Enter Tour Subsistence Farmer"/>
                    </mat-form-field>
                </div>
            </div>


            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Economic Farmer<strong class="matMandatory">*</strong>
                        </mat-label>
                        <input [readonly]="!is_view" appNumberOnly autocomplete="off"
                               formControlName="EconomicFarmer"
                               matInput placeholder="Enter Tour Economic Farmer"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Big Farmers<strong class="matMandatory">*</strong></mat-label>
                        <input [readonly]="!is_view" appNumberOnly autocomplete="off"
                               formControlName="BigFarmers" matInput
                               placeholder="Enter Big Farmers"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Agri Business Potential</mat-label>
                        <input [readonly]="!is_view" autocomplete="off" formControlName="AgriBusinessPotential"
                               matInput
                               maxlength="200" placeholder="Enter Agri Business Potential"/>
                    </mat-form-field>
                </div>
            </div>


        </div>

        <div *ngIf="is_view" class="mt-2  border-t py-4">
            <button (click)="Add()" *ngIf="isAdd && !updatingCase  && currentActivity?.C" class="mr-4" color="primary"
                    mat-raised-button>
                <mat-icon class="mr-2">add_circle</mat-icon>
                Add
            </button>
            <button (click)="update()" *ngIf="isUpdate || updatingCase && currentActivity?.U" class="mr-4" color="primary"
                    mat-raised-button>
                <mat-icon class="mr-2">add_circle</mat-icon>
                Update
            </button>
            <button (click)="SubmitSingle()" *ngIf="updatingCase && currentActivity?.U" class="mr-4 bg-green mat-primary"
                    mat-raised-button>
                <mat-icon class="mr-2">check_circle</mat-icon>
                Submit
            </button>

            <button (click)="clear()"
                    *ngIf="currentActivity?.C"
                    class="mat-focus-indicator btn bg-red-500 text-white rounded-md mat-raised-button mat-button-base mat-danger" mat-raised-button>
                <mat-icon class="mr-2"> clear_all</mat-icon>
                Clear
            </button>
        </div>
        <div *ngIf="!updatingCase" class="row">
            <div class="col-lg-12">

                <table *ngIf="tableLength" class="table table-striped">
                    <thead>
                    <tr class="table-header-background text-center">
                        <th>Circle Code</th>
                        <th>Village Name</th>
                        <th>No of Farmer</th>
                        <th>Farm Size</th>
                        <th>Male Count</th>
                        <th>Female Count</th>
                        <th>Transgender Count</th>
                        <th>Average Loan Size</th>
                        <th>Agri Business Potential</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let array of village; let i = index" class="text-center">
                        <td style="width: 100px; text-align:center;">{{array?.CircleCode}}</td>
                        <td>{{array?.VillageName}}</td>
                        <td>{{array?.NoOfFarmer}}</td>
                        <td>{{array?.FarmSize}}</td>
                        <td>{{array?.MaleCount}}</td>
                        <td>{{array?.FemaleCount}}</td>
                        <td>{{array?.TransGenderCount}}</td>
                        <td>{{array?.AverageLoanSize}}</td>
                        <td style="width: 100px; text-align:center;">
                            <div style="width: 100px;">
                                <div class="w-full break-words text-center">
                                    {{array?.AgriBusinessPotential}}
                                </div>
                            </div>

                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <button (click)="editRow(array, i)" *ngIf="currentActivity?.U" color="primary"
                                        mat-icon-button>
                                    <mat-icon title="Edit Customer">edit</mat-icon>
                                </button>
                                <button (click)="deleteRow(i,array)" *ngIf="currentActivity?.D" color="primary"
                                        mat-icon-button style="margin-left: 5px">
                                    <mat-icon title="Edit Customer">delete</mat-icon>
                                </button>
                            </div>
                            <!--                  *ngIf="hideDelete(array)"-->
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div *ngIf="tableLength && !updatingCase" class="row mt-2 justify-content-center">
            <div class="col-lg-12 text-right">
                <button (click)="Submit()" color="primary" mat-raised-button>
                    <mat-icon class="mr-2">check_circle</mat-icon>
                    Submit
                </button>

            </div>
        </div>


    </div>
</div>
