<div class=" px-10 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-scroll bg-card dark:bg-transparent">
    <div class="text-3xl font-extrabold tracking-tight pb-2 border-b mb-2 border-green-500 p-2 mt-4" style="background-color: #f6fcf8;">Add Update Bench Marking</div>
    <div [formGroup]="addUpdateBenchMarkForm">
        

      <div class="row mt-4 ">
        <div class="col-lg-3 col-sm-12">
        <div>

            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline" *ngIf="single_zone">
                <mat-label class="customMatLabel">Zone</mat-label>
                <mat-select [(ngModel)]="selected_z" formControlName="ZoneId" [disabled]="disable_zone">
                    <mat-option [value]="SelectedZones?.ZoneId">
                        {{SelectedZones?.ZoneName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline" *ngIf="!single_zone">
                <mat-label class="customMatLabel">Zone</mat-label>
                <mat-select [(ngModel)]="selected_z" formControlName="ZoneId" [disabled]="disable_zone"
                            (selectionChange)="changeZone($event)">
                    <mat-option *ngFor="let zone of SelectedZones" [value]="zone?.ZoneId"
                                [disabled]="disable_zone">
                        {{zone?.ZoneName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        </div>

        <div class="col-lg-3 col-sm-12">

          <div>
            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                <mat-label class="customMatLabel">Branch <strong class="matMandatory">*</strong></mat-label>
                <mat-select [(ngModel)]="selected_b" formControlName="BranchCode" [disabled]="disable_branch"
                            (selectionChange)="changeBranch($event)"
                            *ngIf="!single_branch">
                    <mat-option *ngFor="let branch of SelectedBranches" [value]="branch?.BranchCode"
                    >
                        {{branch?.Name}}
                    </mat-option>
                </mat-select>
                <mat-select [(ngModel)]="selected_b" formControlName="BranchCode" [disabled]="disable_branch"
                            *ngIf="single_branch">
                    <mat-option [value]="SelectedBranches?.BranchCode"
                    >
                        {{SelectedBranches?.Name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        </div>

        <div class="col-lg-3 col-sm-12">
        <div>
            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                <mat-label class="customMatLabel">Circle</mat-label>

                <mat-select formControlName="CircleId" [disabled]="disable_circle" (selectionChange)="circleChange($event)">
                    <mat-option *ngFor="let circle of SelectedCircles" [value]="circle?.Id"
                    >
                        {{circle?.CircleCode}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12">
        <div>
            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
              <mat-label class="customMatLabel">Village Name<strong class="matMandatory">*</strong></mat-label>
              <input matInput placeholder="Enter Village Name'" formControlName="VillageName" />
            </mat-form-field>
          </div>
        </div>
      </div>  


      <div class="row">
        <div class="col-lg-3 col-sm-12">
  
          <div>
            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
              <mat-label class="customMatLabel">No. of Farmer<strong class="matMandatory">*</strong></mat-label>
              <input matInput placeholder="Enter No. of Farmer" formControlName="NoOfFormaer" autocomplete="off" appNumberOnly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12">
          <div>
            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
              <mat-label class="customMatLabel">Gender Count<strong class="matMandatory">*</strong></mat-label>
              <input matInput placeholder="Enter Gender Count" formControlName="GenderCount" autocomplete="off" appNumberOnly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12">
          <div>
            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
              <mat-label class="customMatLabel">Gender Type<strong class="matMandatory">*</strong></mat-label>
              <mat-select formControlName="GenderType">
                <mat-option *ngFor="let gender of GenderLov" [value]="gender.Name">
                  {{gender.Name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12">
          <div>
            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
              <mat-label class="customMatLabel">Farm Size<strong class="matMandatory">*</strong></mat-label>
              <input matInput placeholder="Enter Farm Size" formControlName="FarmSize" autocomplete="off" appNumberOnly />
            </mat-form-field>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-3 col-sm-12">
          <div>
            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
              <mat-label class="customMatLabel">Average Loan Size<strong class="matMandatory">*</strong></mat-label>
              <input matInput placeholder="Enter Average Loan Size" formControlName="AverageLoanSize" autocomplete="off" appNumberOnly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12">
          <div>
            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
              <mat-label class="customMatLabel">Subsistence Farmer</mat-label>
              <input matInput placeholder="Enter Tour Subsistence Farmer" formControlName="SubsistenceFarmer" autocomplete="off" appNumberOnly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12">
          <div>
            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
              <mat-label class="customMatLabel">Economic Farmer</mat-label>
              <input matInput placeholder="Enter Tour Economic Farmer" formControlName="EconomicFarmer" autocomplete="off" appNumberOnly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12">
          <div>
            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
              <mat-label class="customMatLabel">Big Farmers</mat-label>
              <input matInput placeholder="Enter Big Farmers" formControlName="BigFarmars" autocomplete="off" appNumberOnly />
            </mat-form-field>
          </div>
        </div>
        </div>
          <div>
            <div class="row">
              <div class="col-lg-3 col-sm-12">
            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
              <mat-label class="customMatLabel">Agri Business Potential</mat-label>
              <input matInput placeholder="Enter Agri Business Potential" formControlName="AgriBusinessPotential" autocomplete="off" />
            </mat-form-field>
          </div>
          <div>
          </div>

    </div>

    <div class="mt-2 justify-content-end text-right border-t py-4" >
        <button mat-raised-button color="primary" class="mr-4" (click)="Add()"><mat-icon class="mr-2">add_circle</mat-icon>Add</button>
        <button mat-raised-button class="mat-focus-indicator shadow-md btn bg-red-500 text-white rounded-md mx-2 mat-raised-button mat-button-base mat-danger" (click)="clear()"><mat-icon class="mr-2"> clear_all</mat-icon>Clear</button>
    </div>

    <div class="col-lg-12">

        <table class="table table-striped" *ngIf="tableLength">
          <thead>
            <tr class="table-header-background text-center">
              <th>Circle Id</th>
              <th>Village Name</th>
              <th>No Of Formaer</th>
              <th>Farm Size</th>
              <th>GenderCount</th>
              <th>Gender Type</th>
              <th>Average Loan Size</th>
              <th>Agri Business Potential</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngFor="let array of req_array; let i = index">
              <td style="width: 100px; text-align:center;">{{circleCode}}</td>
              <td>{{array.VillageName}}</td>
              <td>{{array.NoOfFormaer}}</td>
              <td>{{array.FarmSize}}</td>
              <td>{{array.GenderCount}}</td>
              <td>{{array.GenderType}}</td>
              <td>{{array.AverageLoanSize}}</td>
              <td  style="width: 100px; text-align:center;" >
                <div class="w-96">
                  <div class="w-full break-words text-center">
                    {{array.AgriBusinessPotential}}
                  </div>
                </div>

                </td>
              <td >
                <div class="d-flex justify-content-center">
                <button mat-icon-button color="primary" (click)="editRow(array, i)"><mat-icon title="Edit Customer">edit</mat-icon></button>
                <button *ngIf="hideDelete(array)" mat-icon-button color="primary" style="margin-left: 5px" (click)="deleteRow(i)"><mat-icon title="Edit Customer">delete</mat-icon></button></div>
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class=" row mt-2 justify-content-center" *ngIf="tableLength">
        <div class="col-lg-12 text-right">
          <button mat-raised-button color="primary" (click)="Submit()"><mat-icon class="mr-2">check_circle</mat-icon>Submit</button>
          
          </div>
      </div>

</div>
