<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
        <div class="kt-portlet__head-label py-4 ">
            <h3 class="text-3xl font-extrabold tracking-tight pb-2 border-b mb-2 border-green-500 p-2"
                style="background-color: #f6fcf8;">{{getTitle()}}</h3>
        </div>
    </div>
    <form [formGroup]="myForm" class="kt-form kt-form--group-seperator-dashed">
        <div class="kt-form">
            <div class="kt-portlet__body">


                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <div class="form-group kt-form__group row">
                            <div *ngIf="!isFormReadonly" class=" kt-margin-bottom-20-mobile">
                                <label>Select Image</label>
                                <input (change)="onFileChange($event)"
                                       class="form-control"
                                       formControlName="file"
                                       id="file"
                                       multiple=""
                                       type="file">
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row py-4">
                    <div>
                        <div class="form-group kt-form__group row">
                            <div *ngFor="let url of uploadDocumentsData; let i = index;" class="col-lg-3">
                                <div *ngIf="CheckImageOrVideo(url.Path)">
                                    <span (click)="deleteImage(url.Path,url.ImageID,i)"
                                          *ngIf="!isFormReadonly"
                                          class="delete-entry relative" style="cursor:pointer;position: absolute; z-index: 5; right:-173px;TOP: 26px; font-size:20px;"><b>x</b></span>
                                    <a href="{{url.Path}}" target="_blank"><img [src]="url.Path" class="mx-4"
                                                                                class="rounded float-left"
                                                                                style="width:200px; height:120px; padding-right:5px; "></a>
                                </div>
                                <div *ngIf="CheckImageOrVideo(url.VideoPath)">
                                    <span (click)="deleteImage(url.VideoPath,url.ImageID,i)"
                                          *ngIf="!isFormReadonly"
                                          class="delete-entry  relative"
                                          style="cursor:pointer;position: absolute; z-index: 5;  right:-173px;TOP: 26px; font-size:20px;"><b>x</b></span> <a href="{{url.VideoPath}}"
                                                                                     target="_blank">

                                    <video controls height="140" style="width:200px; height:120px; padding-right:5px; "
                                           width="200">
                                        <source [src]="url.VideoPath" type="video/mp4">
                                    </video>

                                    <!--<img [src]="" class="rounded float-left" style="width:100px; height:100px;">-->
                                </a>
                                </div>
                                <div class="col-lg-3">
                                    <b>{{Lat}},</b>
                                    <b> {{Lng}}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div>
                    <span [innerHTML]="errorMessage" style="color:red;"></span>
                </div>
            </div>
            <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
                <div class="kt-form__actions kt-form__actions--solid">
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <button (click)="UploadDocuments()" *ngIf="!isFormReadonly" color="primary"
                                    mat-raised-button>
                                <mat-icon class="mr-2">cloud_upload</mat-icon>
                                Upload Documents
                            </button>&nbsp;&nbsp;
                            <button (click)="onCloseClick()"
                                    cdkFocusInitial
                                    class="mat-focus-indicator shadow-md btn bg-red-500 text-white rounded-md mx-2 mat-raised-button mat-button-base mat-danger" mat-raised-button
                                    type="button">
                                <mat-icon class="mr-2">cancel</mat-icon>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             color="#ecbd00"
             size="medium"
             type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
