<div
    class=" px-10 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between">
        <!-- Loader -->
        <!-- Title -->
        <div class="text-3xl w-full font-extrabold tracking-tight pb-1 border-b mb-2 border-green-500 p-2"
             style="background-color: #f6fcf8;">Pages List
        </div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="addActivity()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add New </span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="">

        <!-- CONTENT GOES HERE -->
        <div class="pt-1 ">
            <div class="form-group row" style="
            min-width: max-content;
            max-height: 70vh;
            overflow-y:scroll;">
                <div class="col-lg-12 col-md-12 kt-margin-bottom-20-mobile  mat-elevation-z8"
                     id="custom-table-activity-list">
                    <div class="custom-accordion  rounded-lg my-2 shadow border"
                         *ngFor="let activity of userActivities;let i=index">
                        <div class="custom-accordion-head border-0" (click)="toggleAccordion(activity.ActivityID)"
                             style="cursor: pointer">
                            <div class="custom-padding" style="align-self: center;">
                                <h3 class="font-medium">
                                    {{activity.ActivityName}}
                                </h3>
                            </div>

                            <div class="custom-padding">
                                <button mat-icon-button color="warn" (click)="deleteActivity(activity)">
                                    <mat-icon>
                                        delete_forever
                                    </mat-icon>
                                </button>
                                <button class="ml-2" mat-icon-button color="primary" (click)="editActivity(activity)">
                                    <mat-icon>
                                        edit
                                    </mat-icon>
                                </button>
                                <button mat-icon-button *ngIf="!lists_record.includes(activity.ActivityID)">
                                    <mat-icon>expand_more</mat-icon>
                                </button>
                                <button mat-icon-button *ngIf="lists_record.includes(activity.ActivityID)">
                                    <mat-icon>expand_less</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="custom-accordion-body bg-gray-50 border-t rounded"
                             id="{{'table_'+activity.ActivityID}}"
                             style="display: none">
                            <table class="table table-responsive" style="display: inline-table !important;">
                                <thead class="thead-light">
                                <tr>
                                    <th>Activity Name</th>
                                    <th>Activity URL</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let child of activity.ChildActvities">
                                    <td>{{child.ActivityName}}</td>
                                    <td>{{child.ActivityUrl}}</td>
                                    <td>
                                        <button mat-icon-button color="primary" (click)="editActivity(child)">
                                            <mat-icon>
                                                {{ activity.isCoreactivity ? 'visibility' : 'create' }}
                                            </mat-icon>
                                        </button>&nbsp;
                                        <button mat-icon-button color="warn" (click)="deleteActivity(child)">
                                            <mat-icon>
                                                delete
                                            </mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>

</div>
