<div
    class=" px-10   sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-auto bg-card dark:bg-transparent">

    <mat-tab-group [ngClass]="{'dash-tab': userGroup.length == 1}" class="pt-4 flex  flex-auto dash-ttab  shadow-xs rounded-sm pb-3" style="flex-direction: column; overflow-y: scroll"
                   animationDuration="200ms" style="background-color: white;">
        <ng-container *ngFor="let item of userGroup">

            <mat-tab  *ngIf=" item.ProfileID=='69'" ng-disable="visibleFlag" label="ZM RECOVERY">
                <app-set-target-tabs [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>

            <mat-tab *ngIf="item.ProfileID=='205'" label="Provincial Chief">
                <app-set-target-tabs [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>

            <mat-tab *ngIf="item.ProfileID =='68'" label="SVP COD">
                <app-set-target-tabs [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>

            <mat-tab *ngIf="item.ProfileID =='199'" label="SVP RECOVERY">
                <app-set-target-tabs [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>

            <mat-tab label="EVP LMD" *ngIf="item.ProfileID =='207'">
                <app-set-target-tabs [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>

            <mat-tab label="ZONAL CHIEF" *ngIf="item.ProfileID =='75'">
                <app-set-target-tabs  [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>

            <mat-tab label="AUTHOR" *ngIf="item.ProfileID =='57'">
                <app-set-target-tabs [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>

            <mat-tab label="MAKER" *ngIf="item.ProfileID =='56'">
                <app-set-target-tabs [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>

            <mat-tab label="REGIONAL CHIEF" *ngIf="item.ProfileID =='203'">
                <app-set-target-tabs [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>
        </ng-container>
    </mat-tab-group>



</div>
