<div
    class=" px-10   sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-auto bg-card dark:bg-transparent">
    <!--    <button class="buttonred">sam</button>-->
    <mat-tab-group [ngClass]="applyClass()" animationDuration="200ms"
                   class="pt-2  dash-ttab  shadow-xs rounded-sm pb-3"
                   style="flex-direction: column; overflow-y: scroll" style="background-color: white;">
        <ng-container *ngFor="let item of userGroup">

            <mat-tab *ngIf=" item.ProfileID==zm_profile_id" label="ZM RECOVERY" ng-disable="visibleFlag">
                <app-set-target-tabs [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>

            <mat-tab *ngIf="item.ProfileID==pc_profile_id" label="Provincial Chief">
                <app-set-target-tabs [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>

            <mat-tab *ngIf="item.ProfileID ==svp_cod" label="SVP COD">
                <app-set-target-tabs [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>

            <mat-tab *ngIf="item.ProfileID ==svp_recovery" label="SVP RECOVERY">
                <app-set-target-tabs [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>

            <mat-tab *ngIf="item.ProfileID ==evp_lmd_profile_id" label="EVP LMD">
                <app-set-target-tabs [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>

            <mat-tab *ngIf="item.ProfileID ==zc_profile_id" label="ZONAL CHIEF">
                <app-set-target-tabs [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>

            <mat-tab *ngIf="item.ProfileID ==bm_profile_id" label="AUTHOR">
                <app-set-target-tabs [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>

            <mat-tab *ngIf="item.ProfileID ==mco_profile_id" label="MAKER">
                <app-set-target-tabs [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>

            <mat-tab *ngIf="item.ProfileID ==rc_profile_id" label="REGIONAL CHIEF">
                <app-set-target-tabs [UserID]="item.ProfileID"></app-set-target-tabs>
            </mat-tab>
        </ng-container>
    </mat-tab-group>


</div>
