<div class="row">

    <div class="col-lg-11">
        <h2 *ngIf="is_referback" class="heading">Specify Reason to Referback</h2>
        <h2 *ngIf="!is_referback" class="heading">Add Signature to Approve Tour Plan</h2>

    </div>
    <div class="col-lg-1">
        <button (click)="close(true)" color="warn" mat-icon-button style="float: right;">
            <mat-icon>
                close
            </mat-icon>
        </button>
    </div>
</div>


<ng-container>
    <signature-pad (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()" [hidden]="is_referback"
                   [options]="signaturePadOptions"></signature-pad>
</ng-container>

<div [ngClass]="classDesign()" class="mx-2 pt-2">
    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 overflow-hidden">
        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
            <mat-label>Remarks<strong
                class="matMandatory">*</strong></mat-label>
            <input [(ngModel)]="remarks" matInput maxlength="500" placeholder="Remarks"/>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 ">
        <div class="space-between">
            <button
                (click)="clearSignature()"
                *ngIf="!is_referback" class=" mx-2 mat-raised-button mat-button-base kt-login__btn-primary btn-block mat-primary bg-red-500" color="warn" mat-flat-button>
                <mat-icon class="me-2"> clear_all</mat-icon>
                Clear Signature
            </button>

        </div>

    </div>
    <div class="col-lg-6 pe-3" style="text-align: end;">
        <button (click)="submit()" *ngIf="!is_referback"
                class="  mat-raised-button mat-button-base kt-login__btn-primary btn-block mat-primary" color="primary" mat-flat-button>
            <mat-icon class="me-2">check_circle</mat-icon>
            Approve
        </button>
        <button (click)="submit()" *ngIf="is_referback" class="  mat-raised-button mat-button-base mat-primary" color="warn"
                mat-flat-button>
            <mat-icon class="me-2">cancel</mat-icon>
            Referback
        </button>
    </div>

</div>
