<div class="px-10  absolute inset-0 bg-white flex flex-col min-w-0 overflow-y-scroll overflow-x-hidden" cdkScrollable>

    <div class="row py-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">Configurations List</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center">
            <p class="text-right">
                <button class="  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                        (click)="addNewConfiguration()">
                    <mat-icon class=" mr-2 text-white">edit</mat-icon>
                    Configuration
                </button>
            </p>
        </div>
    </div>


    <!-- Main -->
    <div class=" overflow-x-hidden "
         style="
            min-width: max-content;
            max-height: 70vh;
            overflow-y:scroll;
            "
    >

        <!-- CONTENT GOES HERE -->
        <!-- CONTENT GOES HERE -->
        <div class="form-group row  px-3 shadow-none">
            <div class="col-lg-12 col-md-12 kt-margin-bottom-20-mobile  border shadow-xs rounded-sm bg-gray-50"
                 id="custom-table-activity-list">
                <div class="custom-accordion rounded-lg my-2 bg-white shadow-sm border"
                     *ngFor="let parent_configuration of configurations;let i=index">
                    <div class="custom-accordion-head border-0" (click)="toggleAccordion(parent_configuration.KeyID)"
                         style="cursor: pointer">
                        <div class="ml-8" style="align-self: center;">
                            <span class="font-bold text-md text-green">
                                {{parent_configuration.KeyName}}
                            </span>
                        </div>
                        <div class="mr-8" style="display: flex;
    margin-right: 10%;">
                            <button mat-icon-button>
                                <mat-icon class="text-red-500">delete_forever</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" style="margin-left: 10%;"
                                    (click)="editConfiguration(parent_configuration)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button id="{{'arrow_down_'+parent_configuration.KeyID}}"
                                    *ngIf="!lists_record.includes(parent_configuration.KeyID)"
                                    style="display: block">
                                <mat-icon>expand_more</mat-icon>
                            </button>
                            <button mat-icon-button id="{{'arrow_up_'+parent_configuration.KeyID}}"
                                    *ngIf="lists_record.includes(parent_configuration.KeyID)"
                                    style="display:none;">
                                <mat-icon>expand_less</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="custom-accordion-body bg-white border-t bg-gray-50 rounded"
                         id="{{'table_'+parent_configuration.KeyID}}"
                         style="display: none">
                        <table class="table table-responsive bg-gray-50" style="display: inline-table !important;"
                        >
                            <thead class="thead-light">
                            <tr>
                                <th>Sr.</th>
                                <th>Key name</th>
                                <th>Key Value</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let child of parent_configuration.ChildConfigurations;let i=index;">
                                <td>{{i + 1}}</td>
                                <td class="break-all" style="width: 300px;">{{child.KeyName}}</td>
                                <td class="break-all" style="width: 400px;">{{child.KeyValue}}</td>
                                <td>
                                    <div class="flex">
                                        <button mat-icon-button color="primary">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                        <button mat-icon-button color="warn" style="margin-left: 10%;"
                                                (click)="editConfiguration(child)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
