<div
    class=" px-10 pt-3 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="heading">Loan Application
    </div>
    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pt-3">

    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-y-scroll">

        <!-- Products list -->
        <div class="flex flex-auto overflow-y-scroll" style="flex-direction: column;">
            <div class="flex flex-col flex-auto sm:mb-4 overflow-scroll sm:overflow-y-auto">
                <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChangeClick($event)">
                    <mat-tab label="Application Header">
                        <kt-cl-application-header [loanAppHeaderDetails]="applicationHeaderDetail"
                                                  (applicationCall)="fillLoanApplicationObject($event)"></kt-cl-application-header>
                    </mat-tab>
                    <mat-tab label="Customers">
                        <kt-cl-customers #child [loanDetail]="loanApplicationReq"
                                         [customersList]="CustomersLoanAppList"
                                         (loanCustomerCall)="fillLoanApplicationObject($event)"></kt-cl-customers>
                    </mat-tab>

                    <mat-tab label="Purpose">
                        <ng-template mat-tab-label>
                            <span (click)="checkError(disabled_tab)">Purpose</span>
                        </ng-template>

                        <kt-cl-purpose
                            [loanDetail]="loanApplicationReq"></kt-cl-purpose>
                    </mat-tab>

                    <mat-tab label="Securities">
                        <kt-cl-securities [loanDetail]="loanApplicationReq"></kt-cl-securities>
                    </mat-tab>
                    <mat-tab label="LegalHeirs">
                        <kt-cl-legal-heirs [loanDetail]="loanApplicationReq"></kt-cl-legal-heirs>
                    </mat-tab>
                    <mat-tab label="Appraisal Of Proposed Investment">
                        <kt-cl-appraisal-of-proposed-investment
                            [loanDetail]="loanApplicationReq"></kt-cl-appraisal-of-proposed-investment>
                    </mat-tab>
                    <mat-tab label="Documents">
                        <kt-cl-upload-document [loanDetail]="loanApplicationReq"></kt-cl-upload-document>
                    </mat-tab>
                    <mat-tab label="Loan Details/Witnesses">
                        <kt-cl-loan-witness [loanDetail]="loanApplicationReq"></kt-cl-loan-witness>
                    </mat-tab>
                </mat-tab-group>

            </div>

        </div>

    </div>

</div>
















