<div class=" px-10 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->

    <div class="row py-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">View Map</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center">
            <p class="text-right">
                <button class="  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary" type="button"
                        color="primary" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                    <mat-icon class="mr-2">filter_list</mat-icon>
                    Advance Filter
                </button>
            </p>
        </div>
    </div>

    <!-- Header -->


    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div class="row">
                <app-zone-branch-circle [form]="viewForm" [should_show_circle]="false"
                                        (branchZoneCircleData)="getAllData($event)"></app-zone-branch-circle>
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <button data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                            class=" mt-2 bg-gray-500 mat-focus-indicator mat-flat-button mat-button-base mat-primary mat-raised-button"
                            (click)="loadCirclesSinglePoints()" color="primary">
                        <mat-icon class="mr-2">search</mat-icon>
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Main -->

    <!-- Products list -->
    <agm-map style="width: 500px;height: 500px"
             #gm [zoom]="zoom" [latitude]="lat" [longitude]="lng" [mapTypeControlOptions]="controlOptions"
             [mapTypeControl]="true" (mapReady)="onMapReady($event)" [restriction]="countryRestriction"
             style="height: 500px !important;">

        <agm-marker *ngFor="let m of fenceMarkers; let i = index"
                    (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow; clickedMarker(i, infowindow)"
                    [latitude]="m.lat" [longitude]="m.lng" [title]="m.BranchId">

            <agm-info-window #infowindow>
                <strong>{{m.BranchId}}</strong>
            </agm-info-window>

        </agm-marker>


    </agm-map>

</div>
