<div class=" px-10 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->

    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">View Map</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center">
            <p class="text-right">
                <button aria-controls="collapseExample" aria-expanded="false"
                        class="mt-1  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                        color="primary" onclick="toggleCollapse()" type="button">
                    <mat-icon class="mr-2" id='arrow'>keyboard_arrow_down</mat-icon>
                    Advance Filter
                </button>
            </p>
        </div>
    </div>

    <!-- Header -->


    <div class="collapse show" id="collapseExample">
        <button (click)="loadAll()" *ngIf="showViewAllBtn" class="btn btn-primary" color="primary" mat-raised-button
                style="margin-right: 20px;" type="button">View All
        </button>
        <div class="card card-body">
            <div class="row">
                <app-zone-branch-circle (branchZoneCircleData)="getAllData($event)" [form]="viewForm" [show_branch]="true"
                                        [show_circle]="false"></app-zone-branch-circle>
            </div>
        </div>
    </div>


    <!-- Main -->

    <!-- Products list -->
    <div class="flex flex-auto" style="flex-direction: column;">
        <agm-map #gm
                 (mapReady)="onMapReady($event)" [latitude]="lat" [longitude]="lng" [mapTypeControlOptions]="controlOptions" [mapTypeControl]="true"
                 [restriction]="countryRestriction" [zoom]="zoom" style="width: 500px; overflow: scroll;"
                 style="height: 58vh !important;">

            <agm-marker (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow; clickedMarker(i, infowindow)"
                        *ngFor="let m of fenceMarkers; let i = index"
                        [latitude]="m.lat" [longitude]="m.lng" [title]="m.CircleCode">

                <agm-info-window #infowindow>
                    <strong>{{m.CircleCode}}</strong>
                </agm-info-window>

            </agm-marker>


        </agm-map>
    </div>

</div>
