<div
    class="px-10 pt-3 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-scroll bg-card dark:bg-transparent">

    <!-- Header -->

    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">List of Application</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center">
            <p class="text-right">
                <button class="mt-1  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary" type="button"
                        color="primary" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                    <mat-icon class="mr-2 up">keyboard_arrow_up</mat-icon>
                    <mat-icon class="mr-2 down">keyboard_arrow_down</mat-icon>
                    Advance Filter
                </button>
            </p>
        </div>
    </div>


    <div class="collapse show" id="collapseExample">
        <div class="card card-body" [formGroup]="loanSearch">
            <div class="flex" style="flex-wrap: wrap;">
                <app-zone-branch-circle [form]="loanSearch" [should_show_circle]="false"
                                        (branchZoneCircleData)="getAllData($event)"></app-zone-branch-circle>
                <div class="mx-2">
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                            <mat-label>Application Date(ddMMyyyy)</mat-label>
                            <input readonly="readonly" matInput [matDatepicker]="picker3" placeholder="ddMMyyyy"
                                   autocomplete="off" formControlName="Appdt">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mx-2">
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                        <mat-form-field class="mat-form-field-fluid  w-full" appearance="outline">
                            <mat-label>LA File/Booklet#</mat-label>
                            <input appNumberOnly matInput placeholder="Enter >LA File/Booklet" formControlName="AppNo">
                        </mat-form-field>
                    </div>
                </div>
                <div class="mx-2">
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                        <mat-form-field class="mat-form-field-fluid  w-full" appearance="outline">
                            <mat-label>Status</mat-label>
                            <mat-select disabled formControlName="Status">
                                <mat-option>
                                    <ngx-mat-select-search placeholderLabel="Search Loan Status..."
                                                           (focusout)="validateLoanStatusOnFocusOut()"
                                                           noEntriesFoundLabel="No Loan Status Found"
                                                           (keyup)="searchLoanStatus($event.target.value)">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let loanStatus of SelectedLoanStatus" [value]="loanStatus.Id">
                                    {{loanStatus.Name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mx-2">
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                        <mat-form-field class="mat-form-field-fluid  w-full" appearance="outline">
                            <mat-label>Loan Case#</mat-label>
                            <input appNumberOnly matInput placeholder="Enter Loan Case Number" formControlName="LcNo">
                        </mat-form-field>

                    </div>
                </div>
                <div class="mx-2">
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                        <div class="flex flex-shrink-0 items-center mt-2 mb-2">
                            <button class="bg-gray-500" (click)="searchLoan()" mat-flat-button [color]="'primary'">
                                <mat-icon class="mr-2">search</mat-icon>
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>


        <!-- Main -->
        <div class="flex flex-auto shadow-xs rounded-sm bg-gray-50 overflow-y-scroll">

            <!-- Products list -->
            <div class="flex flex-auto overflow-scroll" style="flex-direction: column;">
                <div class="flex flex-col flex-auto sm:mb-18 overflow-scroll sm:overflow-y-auto">
                    <mat-table class="lmat-elevation-z8"
                               #table
                               [dataSource]="dataSource | paginate: {itemsPerPage: itemsPerPage, currentPage: pageIndex, totalItems: totalItems}"
                               matSort
                               #sort1="matSort"
                               matSortActive="id"
                               matSortDirection="asc"
                               matSortDisableClear>

                        <ng-container matColumnDef="BranchName">
                            <!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Branch</mat-header-cell>
                            <mat-cell *matCellDef="let loan">{{loan.BranchName}}</mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="AppDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Application Date</mat-header-cell>
                            <mat-cell *matCellDef="let loan">{{loan.AppDate}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="AppNumberManual">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>LA File/Booklet#</mat-header-cell>
                            <mat-cell *matCellDef="let loan">{{loan.AppNumberManual}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="LoanCaseNo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>LCNO</mat-header-cell>
                            <mat-cell *matCellDef="let loan">{{loan.LoanCaseNo}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="ApplicationTitle">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
                            <mat-cell *matCellDef="let loan">{{loan.ApplicationTitle}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="DevAmount">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>DEV AMOUNT</mat-header-cell>
                            <mat-cell *matCellDef="let loan">{{loan.DevAmount}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="ProdAmount">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>PROD AMOUNT</mat-header-cell>
                            <mat-cell *matCellDef="let loan">{{loan.ProdAmount}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="StatusName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</mat-header-cell>
                            <mat-cell *matCellDef="let loan">{{loan.StatusName}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Action">
                            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                            <mat-cell *matCellDef="let loan">

                                <a class="self-center cursor-pointer text-green" (click)="ApplyOrr(loan)"> Apply ORR</a>
                                <button mat-icon-button color="primary"   *ngIf="CheckEditStatus(loan)" (click)="ViewOrr(loan)">
                                    <mat-icon style="margin-left: 5px;" title="View Loan">visibility</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"
                                        class="table-header-background"></mat-header-row>

                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                    </mat-table>
<!--                    <div class="mat-table__message" *ngIf="dataSource.data.length==0">No records found</div>-->
                </div>
                <div *ngIf="matTableLenght" class="mat-select" style="padding:5px;">
                    <!-- This mat select is customized, not a part of Ngx Paginator, used for selected items per page -->
                    Items per page:
                    <mat-select display="inline" [(value)]="itemsPerPage" (valueChange)="paginate(1,$event)"
                                style="width: 50px; margin-left: 15px; display: inline-block; margin-right: 10px;">
                        <mat-option [value]="5">5</mat-option>
                        <mat-option [value]="10">10</mat-option>
                        <mat-option [value]="25">25</mat-option>
                        <mat-option [value]="50">50</mat-option>
                    </mat-select>
                    <button (click)="paginate(1)">First</button>
                    <pagination-controls display="inline" (pageChange)="paginate($event)"
                                         style="display: inline-block;"></pagination-controls>
                    <button (click)="paginate(Math.ceil(totalItems/itemsPerPage))">Last</button>
                    <p style="float:right;">Total <b>{{totalItems}}</b> items</p>

                </div>

            </div>

        </div>

    </div>





