<div
    [formGroup]="LandInformationForm"
    class="px-10 pt-4 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 overflow-scroll bg-card dark:bg-transparent">
    <div class="heading">Customer Land Information</div>
    <div class="row">
        <div class="col-lg-12 col-sm-2 text-right pr-8">
            <button (click)="ViewLandHistory()" *ngIf="isFormReadonly" class="ml-2" color="primary" mat-raised-button
                    type="button">
                <mat-icon class="mr-2">remove_red_eye</mat-icon>
                View Land History
            </button>
        </div>
    </div>


    <!-- Header -->
    <div class="pt-4">

        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">

                    <mat-form-field *ngIf="single_zone" appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Zone</mat-label>
                        <mat-select [(ngModel)]="selected_z" [disabled]="disable_zone" formControlName="Zone">
                            <mat-option [value]="SelectedZones?.ZoneId">
                                {{SelectedZones?.ZoneName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="!single_zone" appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Zone</mat-label>
                        <mat-select (selectionChange)="changeZone($event)" [(ngModel)]="selected_z" [disabled]="disable_zone"
                                    formControlName="Zone">
                            <mat-option *ngFor="let zone of SelectedZones" [disabled]="disable_zone"
                                        [value]="zone?.ZoneId">
                                {{zone?.ZoneName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">

                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Branch <strong class="matMandatory">*</strong></mat-label>
                        <mat-select (selectionChange)="changeBranch($event)" *ngIf="!single_branch" [(ngModel)]="selected_b"
                                    [disabled]="disable_branch"
                                    formControlName="Branch">
                            <mat-option *ngFor="let branch of SelectedBranches" [value]="branch?.BranchCode"
                            >
                                {{branch?.Name}}
                            </mat-option>
                        </mat-select>
                        <mat-select *ngIf="single_branch" [(ngModel)]="selected_b" [disabled]="disable_branch"
                                    formControlName="Branch">
                            <mat-option [value]="SelectedBranches?.BranchCode"
                            >
                                {{SelectedBranches?.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="PostCodeLov" class="col-lg-3 col-sm-12">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Post Code <strong class="matMandatory">*</strong></mat-label>
                        <mat-select [disabled]="isFormReadonly" formControlName="PostCode">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="searchFilterCtrlPostCode"
                                                       noEntriesFoundLabel="'No result Found'"
                                                       placeholderLabel="Search Post Code...">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let obj of PostCodeLov.LOVs" [value]="obj.Value">
                                {{obj.Name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('PostCode', 'required')">Post Code <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="LandingProcedureLov" class="col-lg-3 col-sm-12">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Lending Procedure <strong class="matMandatory"></strong>
                        </mat-label>
                        <mat-select [disabled]="isFormReadonly" formControlName="LandingProcedure">
                            <mat-option *ngFor="let obj of LandingProcedureLov.LOVs" [value]="obj.Value">
                                {{obj.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Passbook/Reference No <strong class="matMandatory">*</strong>
                        </mat-label>
                        <input [readonly]="isFormReadonly" appAlphaNumSpecial appNumberOnly autocomplete="off"
                               formControlName="PassbookNO"
                               matInput maxlength="30" placeholder="Enter Passbook NO"/>
                        <mat-error *ngIf="hasError('PassbookNO', 'required')">Passbook/Reference No
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Total Area <strong class="matMandatory">*</strong></mat-label>
                        <input [readonly]="isFormReadonly" appNumberOnly autocomplete="off"
                               formControlName="TotalArea"
                               matInput maxlength="30" placeholder="Enter Total Area"/>
                        <mat-error *ngIf="hasError('TotalArea', 'required')">Total Area <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 text-center self-center">
                <div
                    (click)="AreaConvertor()"
                    class="cursor-pointer border bg-green h-10 mx-auto w-full place-content-center px-3 rounded-md flex">
                    <img alt="Calculator"
                         class="cursor-pointer calculator-img  w-6"
                         src="../../../../../assets/media/icons/svg/Shopping/Calculator.svg"/>
                    <p class="ml-2 mb-0 self-center">Area Convertor</p>

                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Date of Issuance(ddMMyyyy) <strong
                            class="matMandatory">*</strong>
                        </mat-label>
                        <input [disabled]="isFormReadonly" [matDatepicker]="picker" [max]="today" autocomplete="off"
                               formControlName="DateIssue"
                               matInput maxlength="30" readonly="readonly"/>
                        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>

                        <mat-error *ngIf="hasError('DateIssue', 'required')">Date Issuance <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label>Place of Issuance: <strong class="matMandatory">*</strong></mat-label>
                        <input [readonly]="isFormReadonly" autocomplete="off" formControlName="PlaceofIssuePB"
                               matInput maxlength="200" placeholder="Add area of issuance"/>
                        <mat-error *ngIf="hasError('PlaceofIssuePB', 'required')">Place of Issuance
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label>Land Complete Address: <strong class="matMandatory">*</strong></mat-label>
                        <input [readonly]="isFormReadonly" autocomplete="off" formControlName="CompleteAddress"
                               matInput maxlength="200" placeholder="Complete Address"/>
                        <mat-error *ngIf="hasError('CompleteAddress', 'required')">Land Complete Address
                            <strong>required</strong></mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Auto Number <strong class="matMandatory"></strong></mat-label>
                        <input autocomplete="off" formControlName="LandAutoCode" matInput maxlength="30"
                               placeholder="Land Auto Code" readonly="readonly"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">No of Customers: <strong class="matMandatory"></strong>
                        </mat-label>
                        <input (keyup)="onKey($event)" [readonly]="isFormReadonly" appNumberOnly
                               autocomplete="off" formControlName="NumberOfCustomer" matInput maxlength="2"
                               min="1"
                               placeholder="Number Of Customer"/>
                        <!--<mat-error *ngIf="hasError('FamilyNumber', 'required')">Family No <strong>required</strong></mat-error>-->
                    </mat-form-field>
                </div>
            </div>

        </div>


        <div class="row pb-2">
            <div class="col-lg-6 col-sm-12">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">

                    <button (click)="viewCustomrePage()"
                            class="mat-focus-indicator mat-flat-button mat-button-base mat-primary" type="button">
                        <mat-icon class="mr-2">remove_red_eye</mat-icon>
                        View
                    </button>
                </div>
            </div>
        </div>


    </div>

    <div class="flex flex-auto h-auto" style="flex-direction: column;">
        <div class="example-class-container">
            <table class="table table-striped" style="table-layout: fixed;">
                <thead>
                <tr class="table-header-background">
                    <th>CNIC</th>
                    <th>Owner/Tenant</th>
                    <th>Customer Name</th>
                    <th>Father Name</th>
                    <th>Area</th>
                    <th *ngIf="!isFormReadonly"></th>
                    <th *ngIf="!isFormReadonly"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                    <td>
                        <input [(ngModel)]="dynamicArray[i].cnic" [mask]="maskEnums.cnic"
                               [ngModelOptions]="{standalone: true}" [readonly]="dynamicArray[i].isReadOnly" class="form-control" size="6"
                               type="text"/>
                    </td>
                    <td>
                        <input checked disabled id="vehicle1" name="vehicle1" type="checkbox" value="Bike">
                        <label for="vehicle1" style="padding-left:5px;font-size:1rem !important;"> Owner</label>
                    </td>
                    <td>
                        <input [(ngModel)]="dynamicArray[i].customerName" [ngModelOptions]="{standalone: true}" class="form-control"
                               readonly="readonly" type="text"/>
                    </td>
                    <td>
                        <input [(ngModel)]="dynamicArray[i].fatherName" [ngModelOptions]="{standalone: true}" class="form-control"
                               readonly="readonly" type="text"/>
                    </td>
                    <td>
                        <input [(ngModel)]="dynamicArray[i].area" [ngModelOptions]="{standalone: true}" class="form-control"
                               readonly="readonly" size="6" type="text"/>
                    </td>
                    <td (click)="searchCustomer(i)" *ngIf="!isFormReadonly || !NumberOfCustomerDisable">
                        <p class="btn btn-primary" style="background-color: #01671B; border:none;">Attach</p>
                    </td>
                    <td (click)="deleteRow(i)" *ngIf="(!isFormReadonly|| !NumberOfCustomerDisable) && currentActivity?.D"
                        style="cursor:pointer;">
                        <p class="btn btn-warning">Remove</p>
                    </td>
                </tr>
                </tbody>
            </table>
            <button (click)="saveCustomerLandInfo()" *ngIf="currentActivity?.C" class="py-2" color="primary"
                    mat-raised-button style="background-color: #01671B;"
                    type="button">
                <mat-icon class="mr-2">save</mat-icon>
                Save
            </button>
            <button (click)="clearSaveCustomerLandInfo()" *ngIf="!isFormReadonly && currentActivity?.C" class="ml-2 mat-focus-indicator btn bg-red-500 text-white rounded-md mx-2 mat-raised-button mat-button-base mat-danger"
                    color="primary"
                    mat-raised-button
                    type="button">
                <mat-icon class="mr-2"> clear_all</mat-icon>
                Clear
            </button>
        </div>
        <mat-form-field appearance="outline" class="mat-form-field-fluid w-4/12 py-2">
            <mat-label>Select Customer:</mat-label>
            <mat-select (selectionChange)="SelectionChangePushData($event)" formControlName="LandCustID">
                <mat-option *ngFor="let obj of CustomerLov" [value]="obj.LandCustID">
                    {{obj.CustomerName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="ShowTable" class="example-table-container owner-ship-table border shadow-xs rounded-sm bg-gray-50">
            <table class="table table-striped mb-0">
                <tr class="table-header-background">
                    <th></th>
                    <th class="px-2 border-r border-l">Ownership Area (Marla)</th>
                    <th class="text-center" colspan="6">Development Area (Marla)</th>
                </tr>
                <tr class="table-header-background">
                    <th class="px-2 border-r">Land Type</th>
                    <th class="px-4 border-r">Area</th>
                    <th class="px-4 border-r">1-Area Owned</th>
                    <th class="px-4 border-r">2-Leased In</th>
                    <th class="px-4 border-r">3-Leased Out</th>
                    <th class="px-4 border-r">4-Family Operated</th>
                    <th class="px-4 border-r">5-Under Custom Hiring</th>
                    <th class="px-4 border-r">Total (1+2+4+5-3)</th>
                </tr>
                <tr class=" border-0 values-row">
                    <td class=" border-r border-gray-200">Barani</td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="BArea" [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly" appNumberOnly
                                   matInput min="0" name="BArea" placeholder="{{landDetailMarlaPlaceholder}}" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="BAreaOwned" [ngModelOptions]="{standalone: true}" appNumberOnly
                                   matInput
                                   min="0" name="BAreaOwned"
                                   placeholder="{{landDetailMarlaPlaceholder}}" readonly="readonly" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="BLeasedIn" [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly"
                                   appNumberOnly matInput
                                   min="0" name="BLeasedIn" placeholder="{{landDetailMarlaPlaceholder}}" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="BLeasedOut" [ngModelOptions]="{standalone: true}" [readonly]="isFormReadonly"
                                   appNumberOnly
                                   matInput min="0"
                                   name="BLeasedOut" placeholder="{{landDetailMarlaPlaceholder}}" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="BFimalyOperated" [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly"
                                   appNumberOnly matInput
                                   min="0" name="BFimalyOperated" placeholder="{{landDetailMarlaPlaceholder}}" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="BUnderCustomhiring" [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly"
                                   appNumberOnly matInput
                                   min="0" name="BUnderCustomhiring" placeholder="{{landDetailMarlaPlaceholder}}" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input [(ngModel)]="BTotal" [ngModelOptions]="{standalone: true}" matInput min="0"
                                   name="BTotal" readonly="readonly" type="text"/>
                        </mat-form-field>
                    </td>
                </tr>

                <tr class=" border-0">
                    <td class="px-2 border-r border-gray-200">Irrigated</td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="IArea" [ngModelOptions]="{standalone: true}" [readonly]="isFormReadonly"
                                   appNumberOnly
                                   matInput min="0" name="IArea" placeholder="{{landDetailMarlaPlaceholder}}"
                                   type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="IAreaOwned" [ngModelOptions]="{standalone: true}"
                                   appNumberOnly matInput
                                   min="0"
                                   name="IAreaOwned" placeholder="{{landDetailMarlaPlaceholder}}" readonly="readonly" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="ILeasedIn" [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly"
                                   appNumberOnly matInput min="0" placeholder="{{landDetailMarlaPlaceholder}}"
                                   type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="ILeasedOut" [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly"
                                   appNumberOnly matInput min="0" placeholder="{{landDetailMarlaPlaceholder}}"
                                   type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="IFimalyOperated" [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly"
                                   appNumberOnly matInput min="0" placeholder="{{landDetailMarlaPlaceholder}}"
                                   type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="IUnderCustomhiring" [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly"
                                   appNumberOnly matInput min="0" placeholder="{{landDetailMarlaPlaceholder}}"
                                   type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="ITotal" [ngModelOptions]="{standalone: true}"
                                   matInput min="0"
                                   placeholder="{{landDetailMarlaPlaceholder}}" readonly="readonly" type="text"/>
                        </mat-form-field>
                    </td>
                </tr>

                <tr class=" border-0">
                    <td class="px-2 border-r border-gray-200">Un-Cultivated</td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="UnArea" [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly"
                                   appNumberOnly matInput min="0" placeholder="{{landDetailMarlaPlaceholder}}"
                                   type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="UnAreaOwned" [ngModelOptions]="{standalone: true}"
                                   appNumberOnly matInput
                                   min="0" placeholder="{{landDetailMarlaPlaceholder}}" readonly="readonly" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="UnLeasedIn" [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly"
                                   appNumberOnly matInput min="0" placeholder="{{landDetailMarlaPlaceholder}}"
                                   type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="UnLeasedOut" [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly"
                                   appNumberOnly matInput min="0" placeholder="{{landDetailMarlaPlaceholder}}"
                                   type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="UnFimalyOperated" [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly"
                                   appNumberOnly matInput min="0" placeholder="{{landDetailMarlaPlaceholder}}"
                                   type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="UnUnderCustomhiring" [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly"
                                   appNumberOnly matInput min="0" placeholder="{{landDetailMarlaPlaceholder}}"
                                   type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="UnTotal" [ngModelOptions]="{standalone: true}"
                                   appNumberOnly matInput
                                   min="0" placeholder="{{landDetailMarlaPlaceholder}}" readonly="readonly" type="text"/>
                        </mat-form-field>
                    </td>
                </tr>

                <tr class=" border-0">
                    <td class="px-2 border-r border-gray-200">Un-cultivable</td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="UnAArea" [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly" appNumberOnly
                                   matInput min="0" placeholder="{{landDetailMarlaPlaceholder}}" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="UnAAreaOwned" [ngModelOptions]="{standalone: true}"
                                   appNumberOnly
                                   matInput min="0"
                                   placeholder="{{landDetailMarlaPlaceholder}}" readonly="readonly" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="UnALeasedIn" [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly" appNumberOnly
                                   matInput min="0" placeholder="{{landDetailMarlaPlaceholder}}" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="UnALeasedOut" [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly" appNumberOnly
                                   matInput min="0" placeholder="{{landDetailMarlaPlaceholder}}" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="UnAFimalyOperated"
                                   [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly" appNumberOnly
                                   matInput min="0" placeholder="{{landDetailMarlaPlaceholder}}" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="UnAUnderCustomhiring"
                                   [ngModelOptions]="{standalone: true}"
                                   [readonly]="isFormReadonly" appNumberOnly
                                   matInput min="0" placeholder="{{landDetailMarlaPlaceholder}}" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input (keyup)="onKeyInputCalculateValue($event)" [(ngModel)]="UnATotal" [ngModelOptions]="{standalone: true}"
                                   appNumberOnly
                                   matInput min="0"
                                   placeholder="{{landDetailMarlaPlaceholder}}" readonly="readonly" type="text"/>
                        </mat-form-field>
                    </td>
                </tr>

                <tr class="border-0">
                    <td class="px-2 border-r border-gray-200">Total Area</td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input [(ngModel)]="AreaTotal" [ngModelOptions]="{standalone: true}" appNumberOnly
                                   matInput min="0"
                                   placeholder="{{landDetailMarlaPlaceholder}}" readonly="readonly" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input [(ngModel)]="AreaOwnedTotal" [ngModelOptions]="{standalone: true}" appNumberOnly
                                   matInput min="0"
                                   placeholder="{{landDetailMarlaPlaceholder}}" readonly="readonly" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input [(ngModel)]="LeasedInTotal" [ngModelOptions]="{standalone: true}" appNumberOnly
                                   matInput min="0"
                                   placeholder="{{landDetailMarlaPlaceholder}}" readonly="readonly" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input [(ngModel)]="LeasedOutTotal" [ngModelOptions]="{standalone: true}" appNumberOnly
                                   matInput min="0"
                                   placeholder="{{landDetailMarlaPlaceholder}}" readonly="readonly" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input [(ngModel)]="FamilyOperatedTotal" [ngModelOptions]="{standalone: true}" appNumberOnly
                                   matInput min="0"
                                   placeholder="{{landDetailMarlaPlaceholder}}" readonly="readonly" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input [(ngModel)]="UnderCustomHiringTotal" [ngModelOptions]="{standalone: true}" appNumberOnly
                                   matInput min="0"
                                   placeholder="{{landDetailMarlaPlaceholder}}" readonly="readonly" type="text"/>
                        </mat-form-field>
                    </td>
                    <td class="px-2 border-r border-gray-200">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid">
                            <input [(ngModel)]="TotalOfTotal" [ngModelOptions]="{standalone: true}" appNumberOnly
                                   matInput min="0"
                                   placeholder="{{landDetailMarlaPlaceholder}}" readonly="readonly" type="text"/>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <span [innerHTML]="errorMessage" style="color:red;"></span>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div *ngIf="LandingProcedureLov" class="flex flex-shrink-0 items-center mt-6 sm:mt-0 ">
                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full ">
                    <mat-label class="customMatLabel">Remarks: <strong class="matMandatory"></strong></mat-label>
                    <input [readonly]="isFormReadonly" autocomplete="off" formControlName="Remarks" matInput
                           maxlength="200"
                           placeholder="Remarks"/>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="form-group kt-form__group row pb-4">
        <div class="col-lg-12 kt-margin-bottom-20-mobile">
            <button (click)="saveCustomerLandInfoDetails()" *ngIf="ShowTable && !isFormReadonly && currentActivity?.C" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" class="mr-2" color="primary"
                    mat-raised-button
                    style="background-color: #01671B;"
                    type="button">
                <mat-icon class="mr-2">save</mat-icon>
                Save
            </button>
            <button (click)="landChargeCreation()" *ngIf="AllowchargeCreation && currentActivity?.C" color="primary" mat-raised-button
                    type="button">
                <mat-icon class="mr-2">create</mat-icon>
                Land Charge Creation
            </button>
            <button (click)="landUploadFiles()" *ngIf="AllowDocumentUpload && !hasHistoryLandInfoId && !isFormReadonly && currentActivity?.C" class="ml-2 bg-green" color="primary"
                    mat-raised-button
                    type="button">
                <mat-icon class="mr-2">cloud_upload</mat-icon>
                Upload Documents
            </button>
            <button (click)="submitCustomerLandInfo()" *ngIf="AllowSubmit && !isFormReadonly && currentActivity?.U" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" class="ml-2" color="primary"
                    mat-raised-button
                    type="button">
                <mat-icon class="mr-2">check_circle</mat-icon>
                Submit
            </button>
        </div>
    </div>
</div>
