<div
    #container
    class="px-10  sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 overflow-y-scroll overflow-x-hidden bg-card dark:bg-transparent">


    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading" style="display: flex;justify-content: space-between">TOUR DIARY & PROGRESS REPORT OF
                BRANCH MANAGER
            </div>
            <!--            <button (click)="assignValues()">DO it</button>-->
        </div>
        <div class="col-lg-3 col-sm-12 self-center">
            <button class="py-1 mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                    (click)="previousPage()" *ngIf="has_previous">
                <mat-icon class="mr-2">keyboard_backspace</mat-icon>
                Back To List
            </button>

        </div>
    </div>


    <div id="Kt-portlet-margin-top">
        <div [formGroup]="gridForm" class="collapse show" id="collapseExample">
            <div class="kt-form kt-form--group-seperator-dashed">

                <div class="kt-form">

                    <div class="kt-portlet__body">

                        <div class="col-lg-12">
                            <div class="flex" style="flex-wrap: wrap;">

                                <app-zone-branch-circle (branchZoneCircleData)="getAllData($event)" [form]="gridForm"
                                                        [is_required_circle]="false" [should_filter]="false"
                                                        [show_circle]="false"></app-zone-branch-circle>

                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                        <mat-label class="customMatLabel">Name of Officer<strong
                                            class="matMandatory">*</strong></mat-label>
                                        <input autocomplete="off" formControlName="NameOfOfficer" matInput
                                               placeholder="Name of Officer"
                                               readonly="readonly"/>
                                    </mat-form-field>
                                </div>

                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                        <mat-label class="customMatLabel">P.P.NO<strong class="matMandatory">*</strong>
                                        </mat-label>
                                        <input autocomplete="off" formControlName="PPNO" matInput placeholder="PPNO"
                                               readonly="readonly"/>
                                    </mat-form-field>
                                </div>

                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                        <mat-label class="customMatLabel">Tour Date<strong
                                            class="matMandatory">*</strong></mat-label>
                                        <input (dateChange)="setDate()" [matDatepicker]="picker2" [max]="maxDate" appNumberOnly
                                               autocomplete="off"
                                               formControlName="TourDate" matInput maxlength="8"
                                               placeholder="TourDate" readonly/>
                                        <mat-datepicker-toggle [disabled]="!edit_mode && currentActivity?.R" [for]="picker2"
                                                               matSuffix></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                        <mat-label class="customMatLabel">Tour Plan<strong
                                            class="matMandatory">*</strong></mat-label>
                                        <mat-select (selectionChange)="getTourDiary($event)"
                                                    [disabled]="!edit_mode && currentActivity?.R"
                                                    formControlName="TourPlanId">
                                            <mat-option>
                                                Select
                                            </mat-option>
                                            <mat-option *ngFor="let obj of TourPlan" [value]="obj.TourPlanId">
                                                {{obj.PurposeName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="sub-heading">Departure From
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">Departure Place<strong
                                                class="matMandatory">*</strong></mat-label>
                                            <input autocomplete="off" formControlName="DepartureFromPlace" matInput
                                                   placeholder="Departure Place"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">Departure Time<strong
                                                class="matMandatory">*</strong></mat-label>
                                            <input [disabled]="!edit_mode && currentActivity?.R" [format]="DateFormat()" [ngxTimepicker]="timepickerDeparture"
                                                   formControlName="DepartureFromTime" matInput
                                                   placeholder="Departure Time"
                                                   readonly type="text"/>
                                            <mat-icon (click)="openFromIcon(timepickerDeparture)" *ngIf="edit_mode" class="cursor-pointer"
                                                      matSuffix>schedule
                                            </mat-icon>
                                            <mat-icon *ngIf="!edit_mode" matSuffix>schedule</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div class="sub-heading">Arrival At
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">Arrival Place<strong class="matMandatory">*</strong>
                                            </mat-label>
                                            <input autocomplete="off" formControlName="ArrivalAtPlace" matInput
                                                   placeholder="Arrival Place"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">Arrival Time<strong
                                                class="matMandatory">*</strong></mat-label>
                                            <input [disabled]="!edit_mode && currentActivity?.R" [format]="DateFormat()" [ngxTimepicker]="timepickerArrival"
                                                   formControlName="ArrivalAtTime" matInput
                                                   readonly
                                                   type="text"/>
                                            <mat-icon (click)="openFromIcon(timepickerArrival)" *ngIf="edit_mode" class="cursor-pointer"
                                                      matSuffix>schedule
                                            </mat-icon>
                                            <mat-icon *ngIf="!edit_mode" matSuffix>schedule</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="sub-heading">Disbursements
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">No. of New Borrowers Contacted</mat-label>
                                            <input [readonly]="!edit_mode && currentActivity?.R" appNumberOnly autocomplete="off"
                                                   formControlName="DisbNoOfNewBorrowerContacted"
                                                   matInput placeholder="No. of New Borrowers Contacted"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 240px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">No. Of Borrowers Of Roll-Over Cases
                                            </mat-label>
                                            <input [readonly]="!edit_mode && currentActivity?.R" appNumberOnly
                                                   autocomplete="off"
                                                   formControlName="DisbBorrowerRollOverCasesContacted"
                                                   matInput placeholder="No. Of Borrowers Of Roll-Over Cases"/>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="sub-heading">Recovery
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">No. Of Defaulters Contacted</mat-label>
                                            <input [readonly]="!edit_mode && currentActivity?.R" appNumberOnly autocomplete="off"
                                                   formControlName="RecNoOfDefaulterContacted"
                                                   matInput placeholder="No. Of Defaulters Contacted"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">Amount Recovered With L.C. No.</mat-label>
                                            <input [readonly]="!edit_mode && currentActivity?.R" appNumberOnly autocomplete="off"
                                                   formControlName="RecAmountRecoveredWithLCNo"
                                                   matInput placeholder="Amount Recovered With L.C. No."/>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">No. Of Utilizations Checked
                                            </mat-label>
                                            <input [readonly]="!edit_mode && currentActivity?.R" appNumberOnly autocomplete="off"
                                                   formControlName="NoOfUtilizationChecked"
                                                   matInput placeholder="No. Of Utilizations Checked"/>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="sub-heading">Transfer of Technology
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">Progressive Farmers Contacted</mat-label>
                                            <input [readonly]="!edit_mode && currentActivity?.R" appNumberOnly autocomplete="off"
                                                   formControlName="TOTFarmersContacted"
                                                   matInput placeholder="Progressive Farmers Contacted"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">No. Of Farms Visited</mat-label>
                                            <input [readonly]="!edit_mode && currentActivity?.R" appNumberOnly autocomplete="off"
                                                   formControlName="TOTNoOfFarmersVisisted"
                                                   matInput placeholder="No. Of Farms Visited"/>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">Any Other Work Done</mat-label>
                                            <input [readonly]="!edit_mode && currentActivity?.R" autocomplete="off" formControlName="AnyOtherWorkDone"
                                                   matInput
                                                   placeholder="Any Other Work Done"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">Remarks</mat-label>
                                            <input [readonly]="!edit_mode && currentActivity?.R" autocomplete="off" formControlName="Remarks"
                                                   matInput placeholder="Remarks"/>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="row mt-2 mr-1">
                            <div class="col-lg-12 text-right">
                                <button (click)="saveTourDiary()" *ngIf="isUpdate==false && currentActivity?.C && edit_mode"
                                        class="mr-2 bg-green" color="primary" mat-raised-button
                                        type="button">
                                    <mat-icon class="mr-2">save</mat-icon>
                                    Save
                                </button>
                                <button (click)="saveTourDiary()" *ngIf="isUpdate==true && currentActivity?.U && edit_mode"
                                        class="mr-2 bg-green" color="primary" mat-raised-button
                                        type="button">
                                    <mat-icon class="mr-2">save</mat-icon>
                                    Update
                                </button>
                                <button (click)="changeStatus('','S')" *ngIf="isUpdate==true && currentActivity?.U && edit_mode"
                                        class="mr-2" color="primary" mat-raised-button type="button">
                                    <mat-icon class="mr-2">check_circle</mat-icon>
                                    Submit
                                </button>
                                <button (click)="onClearForm()"
                                        *ngIf="currentActivity?.C && edit_mode"
                                        class="mat-focus-indicator btn bg-red-500 text-white rounded-md mx-2 mat-raised-button mat-button-base mat-danger" color="danger" mat-raised-button
                                        type="button">
                                    <mat-icon class="mr-2"> clear_all</mat-icon>
                                    Clear
                                </button>
                            </div>
                        </div>

                        <div class="col-lg-12 p-0 ist-table overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400" rowspan="2">Date</th>
                                    <th class="border-r border-gray-400" rowspan="2">Tour Plan</th>
                                    <th class="border-r border-gray-400" colspan="2">Departure from</th>
                                    <th class="border-r border-gray-400" colspan="2">Arrival at</th>
                                    <th class="border-r border-gray-400" colspan="2">Disbursements</th>
                                    <th class="border-r border-gray-400" colspan="2">Recovery</th>
                                    <th class="border-r border-gray-400" rowspan="2">No. of utilizations checked as per
                                        quota
                                    </th>
                                    <th class="border-r border-gray-400" colspan="2">
                                        Transfer of Technology
                                    </th>
                                    <th class="border-r border-gray-400" rowspan="2">Any other work done</th>
                                    <th class="border-r border-gray-400" rowspan="2">Remarks</th>
                                    <th class="border-r border-gray-400" rowspan="2">Actions</th>
                                </tr>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400">Place</th>
                                    <th class="border-r border-gray-400">Time</th>
                                    <th class="border-r border-gray-400">Place</th>
                                    <th class="border-r border-gray-400">Time</th>
                                    <th class="border-r border-gray-400">No. of new borrowers contacted</th>
                                    <th class="border-r border-gray-400">No. of borrowers of Roll-over cases contacted
                                    </th>
                                    <th class="border-r border-gray-400">No. of Defaulters contacted</th>
                                    <th class="border-r border-gray-400">Amount recovered with L.C. No.</th>
                                    <th class="border-r border-gray-400">Progressive Farmers contacted</th>
                                    <th class="border-r border-gray-400">No. of farms visited</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let single_list of TourDiaryList">
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.TourDate" matInput readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.PlanPurposeName" matInput readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.DepartureFromPlace" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.DepartureFromTime" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.ArrivalAtPlace" matInput readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.ArrivalAtTime" matInput readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.DisbNoOfNewBorrowerContacted" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.DisbBorrowerRollOverCasesContacted" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.RecNoOfDefaulterContacted" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.RecAmountRecoveredWithLCNo" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full" style="width: 13rem !important">
                                            <input [value]="single_list?.NoOfUtilizationChecked" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full" style="width: 13rem !important">
                                            <input [value]="single_list?.TOTFarmersContacted" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full" style="width: 13rem !important">
                                            <input [value]="single_list?.TOTNoOfFarmersVisisted" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full" style="width: 13rem !important">
                                            <input [value]="single_list?.AnyOtherWorkDone" matInput readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full" style="width: 13rem !important">
                                            <input [value]="single_list?.Remarks" matInput readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <button
                                            (click)="editData(single_list); container.scrollTop = 0"
                                            *ngIf="checkStatus(single_list, 'edit') && currentActivity?.U && edit_mode" mat-icon-button>
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button
                                            (click)="deleteData(single_list)"
                                            *ngIf="checkStatus(single_list, 'delete') && currentActivity?.D && edit_mode" mat-icon-button>
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>


                        <div
                            class="col-lg-12 p-0  third-table  overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table ">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400" colspan="6">
                                        Disbursement
                                    </th>
                                </tr>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400">Annual Target</th>
                                    <th class="border-r border-gray-400">Proportionate Target up to the end of month
                                        under report
                                    </th>
                                    <th class="border-r border-gray-400">Total disbursement up to the end of previous
                                        month
                                    </th>
                                    <th class="border-r border-gray-400">Disbursement during the month under report</th>
                                    <th class="border-r border-gray-400">Total disbursement up to the end of month under
                                        report
                                    </th>
                                    <th class="border-r border-gray-400">Increase/Deficit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DisbAnnualTarget}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DPropTargetEoM}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DTotalDisbEOPM}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DisbDuringMnth}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DTotalDisbUpToEOM}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DisbIncreaseDeficit}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                        <div
                            class="col-lg-12 p-0  third-table  overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table ">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400" colspan="15">RECOVERY</th>
                                </tr>
                                </thead>
                                <thead>
                                <tr class="table-header-background text-center">
                                    <!-- UTILIZATIONS -->
                                    <th class="border-r border-gray-400" colspan="3">Amount in default up to the month
                                        under report (TARGET)
                                    </th>
                                    <th class="border-r border-gray-400" colspan="3">Recovery during the month under
                                        report
                                    </th>
                                    <th class="border-r border-gray-400" colspan="3">Balance Recoverable</th>
                                    <th class="border-r border-gray-400" colspan="3">Recovery during corresponding
                                        period
                                    </th>
                                    <th class="border-r border-gray-400" rowspan="2">Increase/Deficit</th>
                                    <th class="border-r border-gray-400" colspan="2">
                                        Reschedulement/Restructuring/Write-off/Remission cases of the branch visited
                                    </th>
                                </tr>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Activity</th>
                                    <th class="border-r border-gray-400">No.</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RecoveryAmountUpToEOMPD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RecoveryAmountUpToEOMCD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RecoveryAmountUpToEOMTotal}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringMonthPD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringMonthCD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringMonthTotal}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RBalnceRecoverablePD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RBalnceRecoverableCD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RBalnceRecoverableTotal}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringCorrespondingPD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringCorrespondingCD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringCorrespondingTotal}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RecIncreaseDecrease}}</td>
                                    <td class="border-r border-gray-400">
                                        <ul>
                                            <li>Reschedulement/Restructring of Installments</li>
                                            <li>RightOff/remission</li>
                                        </ul>
                                    </td>
                                    <td class="border-r border-gray-400"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div
                            class="col-lg-12 p-0  third-table  overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table ">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th colspan="6">
                                        Deposits
                                    </th>
                                </tr>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400">Annual Target</th>
                                    <th class="border-r border-gray-400">Proportionate Target</th>
                                    <th class="border-r border-gray-400">Achievement Percentage</th>
                                    <th class="border-r border-gray-400">Deposit Balance during corresponding period</th>
                                    <th class="border-r border-gray-400">Deposit Balance during period</th>
                                    <th class="border-r border-gray-400">Increase/Deficit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DepositAnnualTarget}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DepProportionateTarget}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DepAcchivementPercentage}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DepCorrespondingPeriod}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DepBalnceDuringPeriod}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DepIncreaseDecrease}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<ngx-material-timepicker #timepickerDeparture></ngx-material-timepicker>
<ngx-material-timepicker #timepickerArrival></ngx-material-timepicker>
