<div
    class="px-10  sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 overflow-y-scroll overflow-x-hidden bg-card dark:bg-transparent"
    #container>


    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading" style="display: flex;justify-content: space-between">TOUR DIARY & PROGRESS REPORT OF
                BRANCH MANAGER
                <button mat-flat-button color="primary" (click)="previousPage()" *ngIf="has_previous">Previous</button>
            </div>
            <!--            <button (click)="assignValues()">DO it</button>-->
        </div>
        <div class="col-lg-3 col-sm-12 self-center">
        </div>
    </div>


    <div id="Kt-portlet-margin-top">
        <div [formGroup]="gridForm" class="collapse show" id="collapseExample">
            <div class="kt-form kt-form--group-seperator-dashed">

                <div class="kt-form">

                    <div class="kt-portlet__body">

                        <div class="col-lg-12">
                            <div class="flex" style="flex-wrap: wrap;">

                                <app-zone-branch-circle [form]="gridForm" [show_circle]="false"
                                                        [is_required_circle]="false" [should_filter]="false"
                                                        (branchZoneCircleData)="getAllData($event)"></app-zone-branch-circle>

                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                    <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                        <mat-label class="customMatLabel">Name of Officer<strong
                                            class="matMandatory">*</strong></mat-label>
                                        <input matInput formControlName="NameOfOfficer" autocomplete="off"
                                               placeholder="Name of Officer"
                                               readonly="readonly"/>
                                    </mat-form-field>
                                </div>

                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                    <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                        <mat-label class="customMatLabel">P.P.NO<strong class="matMandatory">*</strong>
                                        </mat-label>
                                        <input matInput formControlName="PPNO" autocomplete="off" readonly="readonly"
                                               placeholder="PPNO"/>
                                    </mat-form-field>
                                </div>

                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                    <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                        <mat-label class="customMatLabel">Tour Date<strong
                                            class="matMandatory">*</strong></mat-label>
                                        <input matInput readonly [matDatepicker]="picker2" formControlName="TourDate"
                                               maxlength="8"
                                               autocomplete="off" [max]="maxDate" (dateChange)="setDate()"
                                               appNumberOnly placeholder="TourDate"/>
                                        <mat-datepicker-toggle matSuffix [for]="picker2"
                                                               [disabled]="!edit_mode && currentActivity.R"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                    <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                        <mat-label class="customMatLabel">Tour Plan<strong
                                            class="matMandatory">*</strong></mat-label>
                                        <mat-select formControlName="TourPlanId"
                                                    [disabled]="!edit_mode && currentActivity.R"
                                                    (selectionChange)="getTourDiary($event)">
                                            <mat-option>
                                                Select
                                            </mat-option>
                                            <mat-option *ngFor="let obj of TourPlan" [value]="obj.TourPlanId">
                                                {{obj.PurposeName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="sub-heading">Departure From
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Departure Place<strong
                                                class="matMandatory">*</strong></mat-label>
                                            <input matInput formControlName="DepartureFromPlace" autocomplete="off"
                                                   placeholder="Departure Place"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Departure Time<strong
                                                class="matMandatory">*</strong></mat-label>
                                            <input type="text" matInput [ngxTimepicker]="timepickerDeparture"
                                                   [format]="DateFormat()" readonly
                                                   [disabled]="!edit_mode && currentActivity.R"
                                                   formControlName="DepartureFromTime" placeholder="Departure Time"/>
                                            <mat-icon *ngIf="edit_mode" class="cursor-pointer" matSuffix
                                                      (click)="openFromIcon(timepickerDeparture)">schedule
                                            </mat-icon>
                                            <mat-icon *ngIf="!edit_mode" matSuffix>schedule</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div class="sub-heading">Arrival At
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Arrival Place<strong class="matMandatory">*</strong>
                                            </mat-label>
                                            <input matInput formControlName="ArrivalAtPlace" autocomplete="off"
                                                   placeholder="Arrival Place"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Arrival Time<strong
                                                class="matMandatory">*</strong></mat-label>
                                            <input type="text" matInput [ngxTimepicker]="timepickerArrival"
                                                   [format]="DateFormat()" readonly
                                                   [disabled]="!edit_mode && currentActivity.R"
                                                   formControlName="ArrivalAtTime"/>
                                            <mat-icon *ngIf="edit_mode" class="cursor-pointer" matSuffix
                                                      (click)="openFromIcon(timepickerArrival)">schedule
                                            </mat-icon>
                                            <mat-icon *ngIf="!edit_mode" matSuffix>schedule</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="sub-heading">Disbursements
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">No. of New Borrowers Contacted</mat-label>
                                            <input appNumberOnly matInput formControlName="DisbNoOfNewBorrowerContacted"
                                                   placeholder="No. of New Borrowers Contacted"
                                                   autocomplete="off" [readonly]="!edit_mode && currentActivity.R"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 240px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">No. Of Borrowers Of Roll-Over Cases
                                            </mat-label>
                                            <input appNumberOnly matInput
                                                   formControlName="DisbBorrowerRollOverCasesContacted"
                                                   placeholder="No. Of Borrowers Of Roll-Over Cases"
                                                   autocomplete="off" [readonly]="!edit_mode && currentActivity.R"/>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="sub-heading">Recovery
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">No. Of Defaulters Contacted</mat-label>
                                            <input appNumberOnly matInput formControlName="RecNoOfDefaulterContacted"
                                                   placeholder="No. Of Defaulters Contacted"
                                                   autocomplete="off" [readonly]="!edit_mode && currentActivity.R"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Amount Recovered With L.C. No.</mat-label>
                                            <input appNumberOnly matInput formControlName="RecAmountRecoveredWithLCNo"
                                                   placeholder="Amount Recovered With L.C. No."
                                                   autocomplete="off" [readonly]="!edit_mode && currentActivity.R"/>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">No. Of Utilizations Checked
                                            </mat-label>
                                            <input appNumberOnly matInput formControlName="NoOfUtilizationChecked"
                                                   placeholder="No. Of Utilizations Checked"
                                                   autocomplete="off" [readonly]="!edit_mode && currentActivity.R"/>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="sub-heading">Transfer of Technology
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Progressive Farmers Contacted</mat-label>
                                            <input appNumberOnly matInput formControlName="TOTFarmersContacted"
                                                   placeholder="Progressive Farmers Contacted"
                                                   autocomplete="off" [readonly]="!edit_mode && currentActivity.R"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">No. Of Farms Visited</mat-label>
                                            <input appNumberOnly matInput formControlName="TOTNoOfFarmersVisisted"
                                                   placeholder="No. Of Farms Visited"
                                                   autocomplete="off" [readonly]="!edit_mode && currentActivity.R"/>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Any Other Work Done</mat-label>
                                            <input matInput formControlName="AnyOtherWorkDone" autocomplete="off"
                                                   placeholder="Any Other Work Done"
                                                   [readonly]="!edit_mode && currentActivity.R"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Remarks</mat-label>
                                            <input matInput formControlName="Remarks" autocomplete="off"
                                                   placeholder="Remarks" [readonly]="!edit_mode && currentActivity.R"/>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="row mt-2 mr-1">
                            <div class="col-lg-12 text-right">
                                <button type="button" *ngIf="isUpdate==false && currentActivity.C && edit_mode"
                                        class="mr-2 bg-green" mat-raised-button color="primary"
                                        (click)="saveTourDiary()">
                                    <mat-icon class="mr-2">save</mat-icon>
                                    Save
                                </button>
                                <button type="button" *ngIf="isUpdate==true && currentActivity.U && edit_mode"
                                        class="mr-2 bg-green" mat-raised-button color="primary"
                                        (click)="saveTourDiary()">
                                    <mat-icon class="mr-2">save</mat-icon>
                                    Update
                                </button>
                                <button type="button" *ngIf="isUpdate==true && currentActivity.U && edit_mode"
                                        mat-raised-button class="mr-2" color="primary" (click)="changeStatus('','S')">
                                    <mat-icon class="mr-2">check_circle</mat-icon>
                                    Submit
                                </button>
                                <button type="button"
                                        class="mat-focus-indicator btn bg-red-500 text-white rounded-md mx-2 mat-raised-button mat-button-base mat-danger"
                                        mat-raised-button color="danger" *ngIf="currentActivity.C && edit_mode"
                                        (click)="onClearForm()">
                                    <mat-icon class="mr-2"> clear_all</mat-icon>
                                    Clear
                                </button>
                            </div>
                        </div>

                        <div class="col-lg-12 p-0 ist-table overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th rowspan="2" class="border-r border-gray-400">Date</th>
                                    <th rowspan="2" class="border-r border-gray-400">Tour Plan</th>
                                    <th colspan="2" class="border-r border-gray-400">Departure from</th>
                                    <th colspan="2" class="border-r border-gray-400">Arrival at</th>
                                    <th colspan="2" class="border-r border-gray-400">Disbursements</th>
                                    <th colspan="2" class="border-r border-gray-400">Recovery</th>
                                    <th rowspan="2" class="border-r border-gray-400">No. of utilizations checked as per
                                        quota
                                    </th>
                                    <th colspan="2" class="border-r border-gray-400">
                                        Transfer of Technology
                                    </th>
                                    <th rowspan="2" class="border-r border-gray-400">Any other work done</th>
                                    <th rowspan="2" class="border-r border-gray-400">Remarks</th>
                                    <th rowspan="2" class="border-r border-gray-400">Actions</th>
                                </tr>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400">Place</th>
                                    <th class="border-r border-gray-400">Time</th>
                                    <th class="border-r border-gray-400">Place</th>
                                    <th class="border-r border-gray-400">Time</th>
                                    <th class="border-r border-gray-400">No. of new borrowers contacted</th>
                                    <th class="border-r border-gray-400">No. of borrowers of Roll-over cases contacted
                                    </th>
                                    <th class="border-r border-gray-400">No. of Defaulters contacted</th>
                                    <th class="border-r border-gray-400">Amount recovered with L.C. No.</th>
                                    <th class="border-r border-gray-400">Progressive Farmers contacted</th>
                                    <th class="border-r border-gray-400">No. of farms visited</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let single_list of TourDiaryList">
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly" [value]="single_list?.TourDate">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly" [value]="single_list?.PlanPurposeName">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.DepartureFromPlace">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.DepartureFromTime">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly" [value]="single_list?.ArrivalAtPlace">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly" [value]="single_list?.ArrivalAtTime">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.DisbNoOfNewBorrowerContacted">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.DisbBorrowerRollOverCasesContacted">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.RecNoOfDefaulterContacted">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.RecAmountRecoveredWithLCNo">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline" style="width: 13rem !important">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.NoOfUtilizationChecked">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline" style="width: 13rem !important">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.TOTFarmersContacted">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline" style="width: 13rem !important">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.TOTNoOfFarmersVisisted">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline" style="width: 13rem !important">
                                            <input matInput readonly="readonly" [value]="single_list?.AnyOtherWorkDone">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline" style="width: 13rem !important">
                                            <input matInput readonly="readonly" [value]="single_list?.Remarks">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <button
                                            *ngIf="checkStatus(single_list, 'edit') && currentActivity.U && edit_mode"
                                            mat-icon-button (click)="editData(single_list); container.scrollTop = 0">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button
                                            *ngIf="checkStatus(single_list, 'delete') && currentActivity.D && edit_mode"
                                            mat-icon-button (click)="deleteData(single_list)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>


                        <div
                            class="col-lg-12 p-0  third-table  overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table ">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th colspan="6" class="border-r border-gray-400">
                                        Disbursement
                                    </th>
                                </tr>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400">Annual Target</th>
                                    <th class="border-r border-gray-400">Proportionate Target up to the end of month
                                        under report
                                    </th>
                                    <th class="border-r border-gray-400">Total disbursement up to the end of previous
                                        month
                                    </th>
                                    <th class="border-r border-gray-400">Disbursement during the month under report</th>
                                    <th class="border-r border-gray-400">Total disbursement up to the end of month under
                                        report
                                    </th>
                                    <th class="border-r border-gray-400">Increase/Deficit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DisbAnnualTarget}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DPropTargetEoM}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DTotalDisbEOPM}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DisbDuringMnth}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DTotalDisbUpToEOM}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DisbIncreaseDeficit}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                        <div
                            class="col-lg-12 p-0  third-table  overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table ">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th colspan="15" class="border-r border-gray-400">RECOVERY</th>
                                </tr>
                                </thead>
                                <thead>
                                <tr class="table-header-background text-center">
                                    <!-- UTILIZATIONS -->
                                    <th colspan="3" class="border-r border-gray-400">Amount in default up to the month
                                        under report (TARGET)
                                    </th>
                                    <th colspan="3" class="border-r border-gray-400">Recovery during the month under
                                        report
                                    </th>
                                    <th colspan="3" class="border-r border-gray-400">Balance Recoverable</th>
                                    <th colspan="3" class="border-r border-gray-400">Recovery during corresponding
                                        period
                                    </th>
                                    <th rowspan="2" class="border-r border-gray-400">Increase/Deficit</th>
                                    <th colspan="2" class="border-r border-gray-400">
                                        Reschedulement/Restructuring/Write-off/Remission cases of the branch visited
                                    </th>
                                </tr>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Activity</th>
                                    <th class="border-r border-gray-400">No.</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringMonthPD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringMonthCD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringMonthTotal}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RBalnceRecoverablePD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RBalnceRecoverableCD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RBalnceRecoverableTotal}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringCorrespondingPD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringCorrespondingCD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringCorrespondingTotal}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RecIncreaseDecrease}}</td>
                                    <td class="border-r border-gray-400">
                                        <ul>
                                            <li>Reschedulement</li>
                                            <li>Restructring of Installments</li>
                                            <li>RightOff/remission</li>
                                        </ul>
                                    </td>
                                    <td class="border-r border-gray-400"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div
                            class="col-lg-12 p-0  third-table  overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table ">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th colspan="5">
                                        Deposits
                                    </th>
                                </tr>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400">Annual Target</th>
                                    <th class="border-r border-gray-400">Proportionate Target</th>
                                    <th class="border-r border-gray-400">Achievement Percentage</th>
                                    <th class="border-r border-gray-400">Deposit Balance during corresponding period
                                    </th>
                                    <th class="border-r border-gray-400">Increase/Deficit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DepositAnnualTarget}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DepProportionateTarget}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DepAcchivementPercentage}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DepCorrespondingPeriod}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DepIncreaseDecrease}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<ngx-material-timepicker #timepickerDeparture></ngx-material-timepicker>
<ngx-material-timepicker #timepickerArrival></ngx-material-timepicker>
