<div
    #container
    class="px-10  sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 overflow-y-scroll overflow-x-hidden bg-card dark:bg-transparent">


    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading" style="display: flex;justify-content: space-between">TOUR DIARY & PROGRESS REPORT OF
                TOUR DIARY & PROGRESS REPORT OF RECOVERY OFFICER

            </div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center">
            <button class="py-1 mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                    (click)="previousPage()" *ngIf="has_previous">
                <mat-icon class="mr-2">keyboard_backspace</mat-icon>
                Back To List
            </button>

        </div>

    </div>


    <div id="Kt-portlet-margin-top">
        <div class="collapse show" id="collapseExample">
            <form [formGroup]="gridForm" class="kt-form kt-form--group-seperator-dashed">

                <div class="kt-form">

                    <div class="kt-portlet__body">

                        <div class="col-lg-12">
                            <div class="flex" style="flex-wrap: wrap;">
                                <app-zone-branch-circle (branchZoneCircleData)="getAllData($event)" [form]="gridForm"
                                                        [is_required_circle]="false"
                                                        [show_circle]="false"></app-zone-branch-circle>
                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                        <mat-label class="customMatLabel">Name of Officer<strong
                                            class="matMandatory">*</strong></mat-label>
                                        <input autocomplete="off" formControlName="Name" matInput
                                               placeholder="Name of Officer"
                                               readonly="readonly"/>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                        <mat-label class="customMatLabel">P.P.NO<strong class="matMandatory">*</strong>
                                        </mat-label>
                                        <input autocomplete="off" formControlName="Ppno" matInput placeholder="Ppno"
                                               readonly="readonly"/>
                                    </mat-form-field>
                                </div>
                                <!--                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">-->
                                <!--                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">-->
                                <!--                                            <mat-label class="customMatLabel">Month</mat-label>-->
                                <!--                                            <input matInput formControlName="Month" autocomplete="off" readonly="readonly"/>-->
                                <!--                                        </mat-form-field>-->
                                <!--                                    </div>-->
                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                        <mat-label class="customMatLabel">Tour Date<strong
                                            class="matMandatory">*</strong></mat-label>
                                        <input (dateChange)="setDate()" [matDatepicker]="picker2" [max]="maxDate"
                                               appNumberOnly
                                               autocomplete="off"
                                               formControlName="TourDate"
                                               matInput maxlength="8" placeholder="Tour Date"
                                               readonly/>
                                        <mat-datepicker-toggle (click)="checkZone()" [disabled]="!zone" [for]="picker2"
                                                               matSuffix></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                    <mat-form-field appearance="outline" class=" mat-form-field-fluid w-full">
                                        <mat-label>Tour Plan<strong class="matMandatory">*</strong></mat-label>
                                        <mat-select [disabled]="!edit_mode && currentActivity?.R"
                                                    formControlName="TourPlanId">
                                            <mat-option>
                                                Select
                                            </mat-option>
                                            <mat-option *ngFor="let obj of TourPlan" [value]="obj.TourPlanId">
                                                {{obj.PurposeName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>


                                <!--                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">-->
                                <!--                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">-->
                                <!--                                            <mat-label class="customMatLabel">Zone</mat-label>-->
                                <!--                                            <input matInput formControlName="Zone" autocomplete="off" readonly="readonly"/>-->
                                <!--                                        </mat-form-field>-->
                                <!--                                    </div>-->


                            </div>

                            <div class="sub-heading">Departure From
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">Departure Place<strong
                                                class="matMandatory">*</strong></mat-label>
                                            <input autocomplete="off" formControlName="DepartureFromPlace" matInput
                                                   placeholder="Departure Place "/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">Departure Time<strong
                                                class="matMandatory">*</strong></mat-label>
                                            <input [disabled]="!edit_mode && currentActivity?.R" [format]="DateFormat()"
                                                   [ngxTimepicker]="timepickerDeparture"
                                                   formControlName="DepartureFromTime" matInput
                                                   placeholder="Departure Time"
                                                   readonly
                                                   type="text"/>
                                            <mat-icon (click)="openFromIcon(timepickerDeparture)" *ngIf="edit_mode"
                                                      class="cursor-pointer"
                                                      matSuffix>schedule
                                            </mat-icon>
                                            <mat-icon *ngIf="!edit_mode" matSuffix>schedule</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div class="sub-heading">Arrival At
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">Arrival Place</mat-label>
                                            <input autocomplete="off" formControlName="ArrivalAtPlace" matInput/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">Arrival Time</mat-label>
                                            <input [disabled]="!edit_mode && currentActivity?.R" [format]="DateFormat()"
                                                   [ngxTimepicker]="timepickerArrival"
                                                   formControlName="ArrivalAtTime"
                                                   matInput readonly
                                                   type="text"/>
                                            <mat-icon (click)="openFromIcon(timepickerArrival)" *ngIf="edit_mode"
                                                      class="cursor-pointer"
                                                      matSuffix>schedule
                                            </mat-icon>
                                            <mat-icon *ngIf="!edit_mode" matSuffix>schedule</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">No. Of Defaulters Contacted</mat-label>
                                            <input [readonly]="!edit_mode && currentActivity?.R" appNumberOnly
                                                   autocomplete="off"
                                                   formControlName="NoOfDefaulterContacted"
                                                   matInput placeholder="No. Of Defaulters Contacted"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">Results Of Contacts So Made</mat-label>
                                            <input [readonly]="!edit_mode && currentActivity?.R" appNumberOnly
                                                   autocomplete="off"
                                                   formControlName="ResultContactMade" matInput
                                                   placeholder="Results Of Contacts So Made"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">Measure Boosting Up Record</mat-label>
                                            <input [readonly]="!edit_mode && currentActivity?.R" appNumberOnly
                                                   autocomplete="off"
                                                   formControlName="MeasureBoostUpRecord" matInput
                                                   placeholder="Measure Boosting Up Record"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2"
                                         style="width: 225px;">
                                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                            <mat-label class="customMatLabel">Remarks</mat-label>
                                            <input [readonly]="!edit_mode && currentActivity?.R" autocomplete="off"
                                                   formControlName="Remarks"
                                                   matInput placeholder="Remarks"/>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>


                        </div>

                        <div class="row mt-2 mr-1">
                            <div class="col-lg-12 text-right">
                                <button (click)="saveTourDiary()"
                                        *ngIf="isUpdate==false && currentActivity?.C && edit_mode"
                                        class="mr-2 bg-green" color="primary" mat-raised-button
                                        type="button">
                                    <mat-icon class="mr-2">save</mat-icon>
                                    Save
                                </button>
                                <button (click)="saveTourDiary()"
                                        *ngIf="isUpdate==true && currentActivity?.D && edit_mode"
                                        class="mr-2 bg-green" color="primary" mat-raised-button
                                        type="button">
                                    <mat-icon class="mr-2">save</mat-icon>
                                    Update
                                </button>
                                <button (click)="changeStatus('','S')" *ngIf="currentActivity?.U && edit_mode"
                                        [disabled]="checkDisable" class="mr-2"
                                        color="primary" mat-raised-button
                                        type="button">
                                    <mat-icon class="mr-2">check_circle</mat-icon>
                                    Submit
                                </button>
                                <button (click)="onClearForm()"
                                        *ngIf="currentActivity?.C && edit_mode"
                                        class="mat-focus-indicator btn bg-red-500 text-white rounded-md mx-2 mat-raised-button mat-button-base mat-danger"
                                        color="danger" mat-raised-button
                                        type="button">
                                    <mat-icon class="mr-2"> clear_all</mat-icon>
                                    Clear
                                </button>
                            </div>
                        </div>

                        <div class="col-lg-12 p-0 ist-table overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400" rowspan="3">Actions</th>
                                    <th class="border-r border-gray-400" rowspan="3">Date</th>
                                    <th class="border-r border-gray-400" rowspan="3">Tour Plan</th>
                                    <th class="border-r border-gray-400" colspan="2" rowspan="2">Departure from</th>
                                    <th class="border-r border-gray-400" colspan="2" rowspan="2">Arrival at</th>
                                    <th class="border-r border-gray-400" rowspan="3">No. of defaulters contacted</th>
                                    <th class="border-r border-gray-400" rowspan="3">Results of contacts so made
                                    </th>
                                    <th class="border-r border-gray-400" rowspan="3">Measures/Efforts for boosting up
                                        recovery
                                    </th>
                                    <th class="border-r border-gray-400" rowspan="3">Remarks</th>
                                </tr>

                                <tr class="table-header-background text-center">
                                </tr>

                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400">Place</th>
                                    <th class="border-r border-gray-400">Time</th>
                                    <th class="border-r border-gray-400">Place</th>
                                    <th class="border-r border-gray-400">Time</th>
                                </tr>
                                </thead>
                                <tbody *ngFor="let single_list of TourDiaryList">
                                <tr>
                                    <td class="border-r border-gray-400">
                                        <button
                                            (click)="edit(single_list); container.scrollTop = 0"
                                            *ngIf="checkStatus(single_list, 'edit') && currentActivity?.U && edit_mode"
                                            mat-icon-button
                                            type="button">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button
                                            (click)="delete(single_list,'C')"
                                            *ngIf="checkStatus(single_list, 'delete') && currentActivity?.D && edit_mode"
                                            mat-icon-button type="button">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                    <td class="border-r border-gray-400">{{single_list.TourDate}}</td>
                                    <td class="border-r border-gray-400">{{single_list.PlanPurposeName}}</td>
                                    <td class="border-r border-gray-400">{{single_list.DepartureFromPlace}}</td>
                                    <td class="border-r border-gray-400">{{single_list.DepartureFromTime}}</td>
                                    <td class="border-r border-gray-400">{{single_list.ArrivalAtPlace}}</td>
                                    <td class="border-r border-gray-400">{{single_list.ArrivalAtTime}}</td>
                                    <td class="border-r border-gray-400">{{single_list.NoOfDefaulterContacted}}</td>
                                    <td class="border-r border-gray-400">{{single_list.ResultContactMade}}</td>
                                    <td class="border-r border-gray-400">{{single_list.MeasureBoostUpRecord}}</td>
                                    <td class="border-r border-gray-400">{{single_list.Remarks}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div
                            class="col-lg-12 p-0  third-table  overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400" colspan="6">Portfolio of the
                                        Province/Zone/Branch/Circle
                                    </th>
                                    <th class="border-r border-gray-400" colspan="16">RECOVERY</th>
                                </tr>
                                </thead>
                                <thead>
                                <tr class="table-header-background text-center">
                                    <!-- UTILIZATIONS -->
                                    <th class="border-r border-gray-400" colspan="2">General</th>
                                    <th class="border-r border-gray-400" colspan="2">NPLs</th>
                                    <th class="border-r border-gray-400" colspan="2">SAM</th>
                                    <th class="border-r border-gray-400" colspan="3">Annual Target/Recoverable of
                                        Province/Zone/Branch/Circle
                                    </th>
                                    <th class="border-r border-gray-400" colspan="3">Proportionate Target upto the end
                                        of month under report
                                    </th>
                                    <th class="border-r border-gray-400" colspan="3">Recovery achievement during the
                                        month under report
                                    </th>
                                    <th class="border-r border-gray-400" colspan="3">Balance Recoverable</th>
                                    <th class="border-r border-gray-400" rowspan="2">Recovery during corresponding
                                        period
                                    </th>
                                    <th class="border-r border-gray-400" rowspan="2">Increase/Deficit</th>

                                </tr>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400" colspan="1">No.</th>
                                    <th class="border-r border-gray-400" colspan="1">Amt.</th>
                                    <th class="border-r border-gray-400" colspan="1">No.</th>
                                    <th class="border-r border-gray-400" colspan="1">Amt.</th>
                                    <th class="border-r border-gray-400" colspan="1">No.</th>
                                    <th class="border-r border-gray-400" colspan="1">Amt.</th>
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td class="border-r border-gray-400">{{systemGenerated?.PortfolioGeneralNo}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.PortfolioGeneralAmount}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.PortfolioNplNo}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.PortfolioNplAmount}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.PortfolioSamNo}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.PortfolioSamAmount}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.AnnualTargetPD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.AnnualTargetCD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.AnnualTargetTotal}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.ProportionatTargetPD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.ProportionatTargetCD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.ProportionatTargetTotal}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RecoveryTargetPD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RecoveryTargetCD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RecoveryTargetTotal}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.BalanceRecoverabletPD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.BalanceRecoverableCD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.BalanceRecoverableTotal}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RecoveryDuringCorrespondingPeroid}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.IncreaseDeficit}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </form>
        </div>

        <!--        <div class="row">-->
        <!--            <div class="col-lg-12 flex  py-2 border-t">-->
        <!--                <button mat-raised-button class="mr-2" color="primary" (click)="SubmitTourDiary()">-->
        <!--                    <mat-icon class="mr-2">check_circle</mat-icon>-->
        <!--                    Submit-->
        <!--                </button>-->
        <!--            </div>-->
        <!--        </div>-->


    </div>

</div>

<ngx-material-timepicker #timepickerDeparture></ngx-material-timepicker>
<ngx-material-timepicker #timepickerArrival></ngx-material-timepicker>
