/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.trend-dialog{
  overflow-y: hidden;
  .mat-dialog-container{
      overflow-y: hidden;
      box-shadow: none !important;
  }
}


body.light .mat-flat-button.mat-primary, body.light .mat-raised-button.mat-primary, body.light .mat-fab.mat-primary, body.light .mat-mini-fab.mat-primary, body .light .mat-flat-button.mat-primary, body .light .mat-raised-button.mat-primary, body .light .mat-fab.mat-primary, body .light .mat-mini-fab.mat-primary {
    background-color: #ECBD00;
    border-radius: 6px !important;
}


.bg-image{
  background-image: url("../assets/images/main.jpg");
  height: 100vh !important;
      width: 100% !important;
      background-repeat: round;
}



.table-header-background{
    background-color: #01671B;
    color: white;
}


.text-green{
  color: #01671B;
}
.bg-green{
  background-color: #01671B;
}

.cdk-overlay-pane{
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 32px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #01671B; 
    border-radius: 32px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #01671B; 
  }

  .tab-box{
      .mat-tab-group{
        .mat-tab-body{
          .mat-tab-body-content{
            padding-left: 0%;
          }
        }
        .mat-tab-label-container{
          padding-left: 0px;
          padding-top: 4px;
        }
      }
  }

  .button{
    border-radius:6px ;
  }


  input[type="text"][disabled] {
    color: black;
 }
 option:disabled {
  color: black;
}
select:disabled {
  color: black;
}
body.light .mat-select-disabled .mat-select-value, body .light .mat-select-disabled .mat-select-value {
  color: black;
}

.text-yellow{
  color:#ECBD00;
}
.theme-default{

.mat-table {
.table-header-background{
  background: #01671b;
  .mat-sort-header-content{
    color: white;
  }
  .mat-column-actions{
    color: white;
  }
  .mat-header-cell{
    color: white;
  }
}
}
}

::ng-deep.mat-sort-header-arrow {
  color: #fff;
}


.mat-paginator-outer-container{
  .mat-paginator-container{
    padding-top: 0;
    padding-bottom: 0px;
    .mat-paginator-page-size{
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}


.owner-ship-table{
  .values-row{
    td{
      width: 50px;
      .mat-form-field-fluid{
        border: none;
      }
    }
  }
  .mat-form-field{
    float: left;
    border: none;
    .mat-form-field-wrapper{
      padding: 0%;
      .mat-form-field-outline{
        width: 100px;
      }
    }
  }
  .mat-form-field-wrapper{
    padding-bottom: 0%;
  }
  .mat-form-field-infix{
    padding-top: 5px;
    width: 50px;
      padding-bottom: 5px;
  }
}

.mat-select-panel-wrap{
  overflow-x: hidden;
}

.kt-mat-alert--warn{
  display: flex;
  border-bottom: 1px solid #ef4444;
  background-color: #fbd0d0;
  width: fit-content;
  margin-bottom: 4px;
  .kt-mat-alert__text{
    align-self: center;
    padding-left: 5px;
  }
}

.api-table{
  .mat-expansion-panel-content {
    .mat-expansion-panel-body{
      padding: 0%;
    }
  }
}
.mat-form-field-infix {
  font-size: 12px;
}
.mat-form-field-wrapper{
  padding-bottom: 8px;
}