<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="text-4xl font-extrabold tracking-tight mx-10 mt-4">Recovery Officer</div>
    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8">
  
    </div>
  
    <!-- Main -->
    <div class="flex flex-auto overflow-y-scroll">
  
      <!-- Products list -->
      <div class="flex flex-auto overflow-y-scroll mx-10" style="flex-direction: column;">
      <div class="">
          <div  class="row">
            <div id="chart">
                <apx-chart
                  [series]="chartOptions.series"
                  [chart]="chartOptions.chart"
                  [labels]="chartOptions.labels"
                  [title]="chartOptions.title"
                  [theme]="chartOptions.theme"
                  [responsive]="chartOptions.responsive"
                ></apx-chart>
              </div>
          </div>
          <div  class="row  justify-content-md-center">
            <label>Recovery</label>
              <div class="col-8">
               
            <table class="table">
              
                <thead>
                  <tr>
                    <th scope="col">Calendar Year Target</th>
                    <th scope="col">Achievement</th>
                    <th scope="col">%age</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Fiscsal year Target</th>
                    <td>Achievement</td>
                    <td>%age</td>
                  </tr>
                  <tr>
                    <th scope="row">Calendar Year Target Corresponding Period</th>
                    <td>Achievement</td>
                    <td>%age</td>
                  </tr>
                  <tr>
                    <th scope="row">Fiscsal year Target Corresponding Period</th>
                    <td>Achievement</td>
                    <td>%age</td>
                  </tr>
                </tbody>
              </table>
          </div>     
        </div>    
      </div>
      <div  class="row justify-content-md-center">
        <label>Circle Wise within Allocated Branches</label>
          <div class="col-8 text-center">
           
        <table class="table">
            
            <thead>
                <tr>
                <th scope="col">Branch</th>
                <th scope="col">Disbursement</th>
                <th scope="col">Recovery</th>
                <th scope="col">NPL</th>
                <th scope="col">SAM</th>
                <th scope="col">Outstanding</th>
              </tr>
            </thead>
            <tbody>
                <tr>
               
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                 
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
    </div>

    </div>
  </div>