<div
    class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="heading">Recovery Officer</div>
    <!-- Header -->
    <form #f="ngForm" name="form" novalidate>
        <div class="form-row row pt-2">
            <div class="form-group col-lg-3">
                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full mb-0">
                    <mat-label class="customMatLabel">Year</mat-label>
                    <mat-select #Year="ngModel" [(ngModel)]="year" name="year"
                                required>

                        <mat-option *ngFor="let single_year of years;let i=index"
                                    [value]="single_year">{{single_year}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="f.submitted && Year.invalid" class="invalid-feedback">
                    <div *ngIf="Year.errors.required">Title is required</div>
                </div>
            </div>
            <div class="form-group col-lg-3">
                <button (click)="getData()" class="btn btn-primary mat-flat-button mr-1 bg-gray-500 mt-2 mat-primary"
                        mat-raised-button>
                    <mat-icon class="mr-2">search</mat-icon>
                    Search
                </button>

            </div>
        </div>
        <div class="text-center">

        </div>
    </form>

    <!-- Main -->
    <div class="flex flex-auto overflow-x-hidden overflow-y-scroll">


        <div class="flex flex-auto overflow-x-hidden overflow-y-scroll" style="flex-direction: column;">
            <div class="row">
                <div class="col-lg-6 py-3">
                    <div class="shadow-sm border graph-box" style="height:auto !important;">
                        <div class=" m-0 pt-2" id="chart">
                            <apx-chart
                                [chart]="chartOptions?.chart"
                                [colors]="chartOptions?.colors"
                                [dataLabels]="chartOptions.dataLabels"
                                [labels]="chartOptions?.labels"
                                [noData]="chartOptions?.noData"
                                [responsive]="chartOptions?.responsive"
                                [series]="chartOptions?.series"
                                [theme]="chartOptions?.theme"
                                [title]="chartOptions?.title"
                                [tooltip]="chartOptions.tooltip"

                            ></apx-chart>
                        </div>
                    </div>


                </div>
                <div class="col-lg-6 py-3 pb-1">
                    <div *ngIf="CreditCeiling" class="shadow-sm border pt-2" style="height:auto !important;">
                        <p class=" ml-3" style="font-size: 14px; font-weight: 900;">Credit Ceiling</p>
                        <app-pyramid-chart [item]="CreditCeiling">

                        </app-pyramid-chart>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 table-responsive">
                    <p class="heading mb-2 text-lg">Recovery</p>
                    <table class="table  table-striped">
                        <tbody>
                        <tr *ngFor="let items of recoveryAchievment" class="text-center">
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCaseString(items[0], 0)}}
                                    </div>
                                    <div class="fw-bold">
                                        {{dashboardService.getCamelCaseString(items[0], 1)}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCaseString(items[1], 0)}}
                                    </div>
                                    <div class="fw-bold">
                                        {{dashboardService.getCamelCaseString(items[1], 1)}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCaseString(items[2], 0)}}
                                    </div>
                                    <div class="fw-bold">
                                        {{dashboardService.getCamelCaseString(items[2], 1)}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row  justify-content-md-center">
                <div class="col-lg-12 table-responsive">
                    <p class="heading mb-2 text-lg">Circle Wise within Allocated Branches</p>
                    <table class="table  table-striped">

                        <thead>
                        <tr class="table-header-background">
                            <th scope="col">Circle</th>
                            <th scope="col">Disbursement</th>
                            <th scope="col">Recovery</th>
                            <th scope="col">NPL</th>
                            <th scope="col">SAM</th>
                            <th scope="col">Outstanding</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of circlePositions">
                            <th>{{item?.Name}}</th>
                            <td>{{item?.TotalDisbursment}}</td>
                            <td>{{item?.TotalRecovery}}</td>
                            <td>{{item?.NplOS}}</td>
                            <td>{{item?.SamOS}}</td>
                            <td>{{item?.TotalOS}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>


        </div>

    </div>
</div>
