<div
    class="px-10  sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-y-scroll bg-card dark:bg-transparent">


    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">Assign Pages</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center mt-1 text-end ">
            <button class="  py-1 mat-focus-indicator mat-flat-button mat-button-base mat-primary" type="button"
                    color="primary" onclick="toggleCollapse()">
                <mat-icon class="mr-2" id="arrow">keyboard_arrow_down</mat-icon>
                Advance Filter
            </button>
        </div>
    </div>

    <!-- Header -->


    <div class="collapse show" id="collapseExample">
        <div class="card card-body">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="flex flex-shrink-0 items-center sm:mt-0">
                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline" id="focus-removal">
                            <mat-label>Roles</mat-label>
                            <mat-select placeholder="--Select--" name="ProfileID"
                                        (selectionChange)="getProfile($event)">
                                <mat-option *ngFor="let profile of profiles" [value]="profile.ProfileID">
                                    {{profile.ProfileName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'" *ngIf="isLoading"></mat-progress-bar>
        </div>
        <!-- Title -->
        <!-- Actions -->

    </div>

    <!-- Main -->
    <div class="mb-4 px-3 ">
        <!-- CONTENT GOES HERE -->
        <div>
            <div class="form-group row" style="
                min-width: max-content;

                overflow-y:scroll;
            "
                 id="canva"
            >
                <div
                    class="col-lg-12 col-md-12 kt-margin-bottom-20-mobile border shadow-xs rounded-sm bg-gray-50 px-2  mat-elevation-z8">
                    <div *ngIf="!isActivityStringValid">
                        <mat-error><strong>Please select any activity</strong></mat-error>
                    </div>
                    <div class="custom-accordion custom-accordion  rounded-lg my-2 bg-white shadow-sm border"
                         *ngFor="let activity of userActivities;let i=index">
                        <div class="custom-accordion-head border-0" (click)="toggleAccordion(activity.ActivityID)"
                             style="cursor: pointer">
                            <div class="self-center ml-8">
                                <span class=" text-base text-green">
                                    {{activity.ActivityName}}
                                </span>
                            </div>
                            <div class="mr-5">
                                <button mat-icon-button *ngIf="!lists_record.includes(activity.ActivityID)">
                                    <mat-icon>expand_more</mat-icon>
                                </button>
                                <button mat-icon-button *ngIf="lists_record.includes(activity.ActivityID)">
                                    <mat-icon>expand_less</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="custom-accordion-body" id="{{'table_'+activity.ActivityID}}" style="display: none">
                            <table class="table table-responsive" style="display: inline-table !important;">
                                <thead class="thead-light">
                                <tr class="table-header-background">
                                    <th>Activity Name</th>
                                    <th>Activity URL</th>
                                    <th>Create</th>
                                    <th>Read</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let child of activity.ChildActvities">
                                    <td>{{child.ActivityName}}</td>
                                    <td>{{child.ActivityUrl}}</td>
                                    <td><input type="checkbox" [checked]="child.C"
                                               (change)="updateActivityDetails(activity.ActivityID,child.ActivityID,'create',child.C?true:false)">
                                    </td>
                                    <td><input type="checkbox" [checked]="child.R"
                                               (change)="updateActivityDetails(activity.ActivityID,child.ActivityID,'read',child.R?true:false)">
                                    </td>
                                    <td><input type="checkbox" [checked]="child.U"
                                               (change)="updateActivityDetails(activity.ActivityID,child.ActivityID,'update',child.U?true:false)">
                                    </td>
                                    <td><input type="checkbox" [checked]="child.D"
                                               (change)="updateActivityDetails(activity.ActivityID,child.ActivityID,'delete',child.D?true:false)">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

            </div>
            <div class="row py-2 ">
                <div class="col-lg-12 p-0 mb-4">
                    <button type="button" *ngIf="!ShowButton &&  (_currentActivity.U || _currentActivity.C)"
                            color="primary"
                            class="mat-focus-indicator mat-flat-button mat-button-base mat-primary bg-green"
                            (click)="onSubmit()"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                            [disabled]="viewLoading || submitted">
                        <mat-icon class="mr-2">save</mat-icon>
                        Save
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>
