<!-- <div id="Kt-portlet-margin-top"> -->
<div id="Kt-portlet">

    <div class="kt-portlet">
        <!--[ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }"-->
        <div class="w-full flex">

            <h3 class="heading w-11/12">Location</h3>


            <button  class="w-1/12 text-end" color="danger" (click)="close(0)">
                <mat-icon class="text-danger">cancel</mat-icon>
            </button>
        </div>
    </div>


    <form>
        <div class="row">
            <div class="col-lg-12 col-md-12  mat-elevation-z8">

                <!--            <label>Search</label>-->
                <input matInput class="" type="text" (keydown.enter)="$event.preventDefault()"
                       placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off"
                       spellcheck="off" type="text"
                       #search>
                               <agm-map #gm [zoom]="zoom" [latitude]="lat" [longitude]="lng" [restriction]="countryRestriction"
                         [fullscreenControl]='true' [mapTypeControl]='true' [fitBounds]="true" (mapReady)="onMapReady($event)"
                         class="h-screen">
                    <agm-marker [iconUrl]="iconChange(i)" *ngFor="let coordinate of start_end_mark; let i=index"

                                [latitude]="isNumber(coordinate?.Latitude)"
                                [longitude]="isNumber(coordinate?.Longitude)" [agmFitBounds]="true">

                        <agm-info-window [isOpen]="true">
                            <strong>{{Heading(i)}}</strong>
                        </agm-info-window>
                    </agm-marker>
<!--                                   -->
<!--                   <agm-marker *ngFor="let m of fenceMarkers; let i = index"-->
<!--                               (markerClick)="gm.lastOpen?.close();-->
<!--                                gm.lastOpen = infoWindow;-->
<!--                                 // clickedMarker(i, infowindow)"-->
<!--                               viewCircleFense()-->
<!--                               [latitude]="m.lat" [longitude]="m.lng" [title]="m.BranchId">-->

<!--                       <agm-info-window #infowindow>-->
<!--                           <strong>{{m.BranchId}}</strong>-->
<!--                       </agm-info-window>-->

<!--                   </agm-marker>-->


                    <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#07b57a'">
                        <agm-polyline-point
                            *ngFor="let coordinate of latlong; let i=index"
                            [latitude]="isNumber(coordinate?.Latitude)"
                            [longitude]="isNumber(coordinate?.Longitude)">
                        </agm-polyline-point>
                    </agm-polyline>
                </agm-map>

                <!-- <button (click)="addMarker()">Add marker</button> -->

            </div>
        </div>
    </form>

</div>


<!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)"
                 size="medium"
                 color="#ecbd00"
                 type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner> -->
