<div
    class="
        px-10
        sm:absolute sm:inset-0
        flex flex-col flex-auto
        min-w-0
        sm:overflow-y-scroll
        bg-card
        dark:bg-transparent
    "
>
    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">{{ getTitle() }}</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center">
            <p class="text-right">
                <button aria-controls="collapseExample" aria-expanded="false"
                        class="mt-1  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                        color="primary" onclick="toggleCollapse()" type="button">
                    <mat-icon class="mr-2" id='arrow'>keyboard_arrow_down</mat-icon>
                    Advance Filter
                </button>
            </p>
        </div>
    </div>
    <div>
        <div class="collapse show" id="collapseExample">
            <div class="card card-body">

                <form
                    [formGroup]="RecoveryForm"
                    class="kt-form kt-form--group-seperator-dashed"
                >
                    <div class="kt-form">
                        <div class="kt-portlet__body">
                            <div class="kt-portlet__body-progress"></div>

                            <div class="collapse show" id="collapseExample">

                                <div class="flex" style="flex-wrap: wrap;">
                                    <!--                                    <div class="row px-2" *ngIf="SearchType == 1">-->
                                    <div class="flex" style="flex-wrap: wrap;">
                                        <app-zone-branch-circle
                                            (branchZoneCircleData)="getAllData($event)"
                                            [form]="RecoveryForm"
                                            [show_circle]="false"></app-zone-branch-circle>

                                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2 "
                                             style="width: 225px;">
                                            <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                                <mat-label class="customMatLabel">Working Date (ddMMyyyy) <strong
                                                    class="matMandatory">*</strong>
                                                </mat-label>
                                                <input (dateChange)="isEnableWorkingDate()" [disabled]="disableWorkingDate" [matDatepicker]="picker"
                                                       appNumberOnly
                                                       autocomplete="off" formControlName="WorkingDate"
                                                       matInput maxlength="30"/>
                                                <mat-datepicker-toggle [for]="picker"
                                                                       matSuffix></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </div>

                                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2 "
                                             style="width: 225px;">

                                            <mat-form-field
                                                appearance="outline"
                                                class="mat-form-field-fluid w-full"
                                            >
                                                <mat-label class="customMatLabel"
                                                >Transaction Date (ddMMyyyy)
                                                    <strong class="matMandatory"
                                                    >*</strong
                                                    ></mat-label
                                                >
                                                <input
                                                    [matDatepicker]="picker2"
                                                    [max]="maxDate"
                                                    appNumberOnly
                                                    autocomplete="off"
                                                    formControlName="TransactionDate"
                                                    matInput
                                                    maxlength="30"
                                                />
                                                <mat-datepicker-toggle
                                                    [for]="picker2"
                                                    matSuffix
                                                ></mat-datepicker-toggle>
                                                <mat-datepicker
                                                    #picker2
                                                ></mat-datepicker>

                                                <mat-error
                                                    *ngIf="
                                                    hasError(
                                                        'TransactionDate',
                                                        'required'
                                                    )
                                                "
                                                >Transaction Date
                                                    <strong
                                                    >required</strong
                                                    ></mat-error
                                                >
                                            </mat-form-field>
                                        </div>
                                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2 "
                                             style="width: 225px;">

                                            <mat-form-field
                                                appearance="outline"
                                                class="mat-form-field-fluid w-full"
                                            >
                                                <mat-label class="customMatLabel"
                                                >LC #
                                                    <strong class="matMandatory"
                                                    >*</strong
                                                    >
                                                </mat-label>
                                                <input
                                                    appNumberOnly
                                                    autocomplete="off"
                                                    formControlName="LoanCaseNo"
                                                    matInput
                                                    maxlength="30"
                                                    placeholder="LC No"
                                                />
                                                <mat-error
                                                    *ngIf="
                                                    hasError(
                                                        'LoanCaseNo',
                                                        'required'
                                                    )
                                                "
                                                >LC No
                                                    <strong
                                                    >required</strong
                                                    ></mat-error
                                                >
                                            </mat-form-field>
                                        </div>

                                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2 "
                                             style="width: 225px;">

                                            <mat-form-field
                                                appearance="outline"
                                                class="mat-form-field-fluid w-full"
                                            >
                                                <mat-label class="customMatLabel"
                                                >Voucher #
                                                    <strong class="matMandatory"
                                                    >*</strong
                                                    ></mat-label
                                                >
                                                <input
                                                    appNumberOnly
                                                    autocomplete="off"
                                                    formControlName="VoucherNo"
                                                    matInput
                                                    maxlength="30"
                                                    placeholder="Voucher No"
                                                />
                                                <mat-error
                                                    *ngIf="
                                                    hasError(
                                                        'VoucherNo',
                                                        'required'
                                                    )
                                                "
                                                >Voucher No
                                                    <strong
                                                    >required</strong
                                                    ></mat-error
                                                >
                                            </mat-form-field>
                                        </div>
                                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2 "
                                             style="width: 225px;">

                                            <mat-form-field
                                                appearance="outline"
                                                class="mat-form-field-fluid w-full"
                                            >
                                                <mat-label class="customMatLabel"
                                                >Instrument #
                                                    <strong class="matMandatory"
                                                    >*</strong
                                                    ></mat-label
                                                >
                                                <input
                                                    appNumberOnly
                                                    autocomplete="off"
                                                    formControlName="InstrumentNO"
                                                    matInput
                                                    maxlength="30"
                                                    placeholder="Instrument #"
                                                />
                                                <mat-error
                                                    *ngIf="
                                                    hasError(
                                                        'InstrumentNO',
                                                        'required'
                                                    )
                                                "
                                                >Instrument #
                                                    <strong>required</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2 "
                                             style="width: 225px;">

                                            <mat-form-field
                                                appearance="outline"
                                                class="mat-form-field-fluid w-full"
                                            >
                                                <mat-label>Select Status</mat-label>
                                                <mat-select
                                                    (selectionChange)="change()"
                                                    formControlName="Status"
                                                >
                                                    <mat-option
                                                        *ngFor="
                                                        let status of CustomerStatuses
                                                    "
                                                        [value]="status.Value"
                                                    >
                                                        {{ status.Name }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2 "
                                             style="width: 225px;">

                                            <button
                                                (click)="find(true)"
                                                class="
                                                mat-focus-indicator
                                                mat-flat-button
                                                mat-button-base
                                                mat-primary
                                                bg-gray-500
                                            "
                                                color="primary"
                                                type="button"
                                            >
                                                <mat-icon class="mr-2"
                                                >search
                                                </mat-icon
                                                >
                                                Search
                                            </button>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <!-- <div
                                class="flex flex-shrink-0 items-center mt-6 sm:mt-0"
                                style="width: 225px"
                            >
                                <button
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample"
                                    aria-expanded="false"
                                    class="bg-gray-500 mat-primary"
                                    mat-raised-button
                                    color="accent"
                                    type="button"
                                    (click)="find()"
                                >
                                    <mat-icon class="mr-2">search</mat-icon>
                                    Search
                                </button>
                            </div> -->
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
    <div
        *ngIf="
        dataFetched && RecoveryLoanTransaction.length > 0
    "
        class="form-group kt-form__group row"
    >
        <div class="col-lg-12">
            <div
                [style.height]="gridHeight"
                class="table-responsive overflow-scroll"
            >
                <table class="table table-striped">
                    <thead>
                    <tr class="table-header-background">
                        <th>Branch</th>
                        <th>Voucher #</th>
                        <th>Transaction Date</th>
                        <th>LC #</th>
                        <th>Tran Master</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                        *ngFor="
                            let transaction of RecoveryLoanTransaction
                                | paginate
                                    : {
                                          itemsPerPage:
                                              itemsPerPage,
                                          currentPage:
                                              pageIndex,
                                          totalItems:
                                              totalItems
                                      };
                            let i = index
                        "
                    >
                        <td>

                            {{ transaction.UserBranchName }}
                        </td>
                        <td>{{ transaction.VoucherNo }}</td>
                        <td>
                            {{ transaction.EffectiveDate }}
                        </td>
                        <td>
                            {{ transaction.LoanCaseNo }}
                        </td>
                        <td>{{ transaction.Remarks }}</td>
                        <td>{{ transaction.DrAmount }}</td>
                        <td>{{ transaction.CrAmount }}</td>
                        <td>
                            {{ transaction.StatusName }}
                        </td>
                        <td class="pl-0">
                            <div class="flex" style="flex-wrap: wrap; width: max-content;">
                                <button
                                    (click)="
                                    editLoadTransaction(
                                        transaction.TransactionID,
                                        transaction.LoanCaseNo,
                                        false
                                    )
                                "
                                    *ngIf="
                                    isShowEditIcon(
                                        transaction.TransactionStatus,
                                        transaction.CircleID
                                    ) && SearchType != 1 && currentActivity?.C
                                "
                                    color="primary"
                                    mat-icon-button
                                >
                                    <mat-icon title="Edit"
                                    >create
                                    </mat-icon
                                    >
                                </button>
                                <button
                                    (click)="
                                    editLoadTransaction(
                                        transaction.TransactionID,
                                        transaction.LoanCaseNo,
                                        true
                                    )
                                "
                                    *ngIf="!searchSBS"
                                    color="primary"
                                    mat-icon-button
                                >
                                    <mat-icon
                                        class="text-green"
                                        style="margin-left: 2px"
                                        title="View Recovery"
                                    >visibility
                                    </mat-icon>
                                </button>
                                <button
                                    (click)="
                                    submit(
                                        transaction.TransactionID,
                                        transaction.DisbursementID,
                                        transaction.BranchWorkingDate,
                                        transaction.EffectiveDate
                                    )
                                "
                                    *ngIf="searchSBS && currentActivity?.U"
                                    color="primary"
                                    mat-icon-button
                                >
                                    <mat-icon
                                        style="margin-left: 2px"
                                        title="Submit"
                                    >save_alt
                                    </mat-icon
                                    >
                                </button
                                >
                                <button
                                    (click)="delete( transaction.TransactionID)"
                                    *ngIf="searchSBS && currentActivity?.D"
                                    color="primary"
                                    mat-icon-button>
                                    <mat-icon
                                        style="margin-left: 2px"
                                        title="Cancel"
                                    >cancel_presentation
                                    </mat-icon>
                                </button
                                >
                                <button
                                    (click)=" showReceipt(transaction) "
                                    *ngIf=" showReceiptIcon(transaction) "
                                    color="primary"
                                    mat-icon-button>
                                    <mat-icon
                                        style="margin-left: 2px"
                                        title="View Receipt"
                                    >receipt
                                    </mat-icon>
                                </button
                                >
                                <button (click)="viewMap(transaction)" *ngIf="checkMap(transaction)" color="primary"
                                        mat-icon-button>
                                    <mat-icon title="view location of loan">location_on</mat-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div
                *ngIf="MatTableLenght"
                class="mat-select"
                style="padding: 5px"
            >
                <span class="font-bold text-green">Items per page:</span>

                <mat-select
                    (valueChange)="paginateAs(1, $event)"
                    [(value)]="itemsPerPage"
                    display="inline"
                    style="
                width: 50px;
                margin-left: 15px;
                display: inline-block;
                margin-right: 10px;
            "
                >
                    <mat-option [value]="10">10</mat-option>
                    <mat-option [value]="20">20</mat-option>
                    <mat-option [value]="40">40</mat-option>
                    <mat-option [value]="60">60</mat-option>
                    <mat-option [value]="80">80</mat-option>
                </mat-select>
                <button (click)="paginateAs(1)">
                    First
                </button>
                <pagination-controls
                    (pageChange)="paginateAs($event)"
                    display="inline"
                    style="display: inline-block"
                ></pagination-controls>
                <button
                    (click)="
                paginateAs(
                    Math.ceil(
                        totalItems / itemsPerPage
                    )
                )
            "
                >
                    Last
                </button>
                <p style="float: right">
                    Total <b>{{ totalItems }}</b> items
                </p>
            </div>
        </div>
    </div>

    <div
        *ngIf="
        dataFetched &&
        RecoveryLoanTransaction.length == 0 &&
        !submitted
    "
        class="form-group kt-form__group row"
    >
        <div
            class="
            col-lg-12
            kt-margin-bottom-20-mobile
            mat-table
        "
        >
            <p class="text-green text-center p-5 font-bold">No Record found.</p>
        </div>
    </div>
</div>
