<div class="pyramid-container " style="min-height: 311px;">

    <div id="pyramid-level-2" class="position-relative">
        <div class="position-absolute text" style="top: 65px;">2</div>
    </div>
    <div id="pyramid-level-1" style="margin-top: 2px;" class="position-relative">
        <div class="position-absolute top-5 text">2</div>
    </div>
    <div id="pyramid-level-11" style="margin-top: 3px;" class="position-relative">
        <div class="position-absolute top-5 text">2</div>
    </div>
</div>