<div *ngIf="!(item?.Recovery=='0' && item?.Disbursment=='0' && item?.Margin=='0')" class="pyramid-container "
     style="min-height: 310px;">
    <div class="position-relative" id="pyramid-level-2">
        <div class="position-absolute text" style="top: 88px; font-size: 12px;">Recovery : {{item?.Recovery}}</div>
    </div>
    <div class="position-relative" id="pyramid-level-1" style="margin-top: 2px;">
        <div class="position-absolute top-5 text" style=" font-size: 12px;">Disbursment : {{item?.Disbursment}}</div>
    </div>
    <div class="position-relative" id="pyramid-level-11" style="margin-top: 3px;">
        <div class="position-absolute top-5 text" style=" font-size: 12px;">Margin :{{item?.Margin}}</div>
    </div>
</div>
<div *ngIf="item?.Recovery=='0' && item?.Disbursment=='0' && item?.Margin=='0'"
     style="margin-top: 25%; color: #01671B; font-size: 18px; margin-left: 35%;">
    <p>No Data Available </p>
</div>
