<div>
    <div class=" px-10  sm:absolute sm:inset-0   overflow-y-scroll overflow-x-scroll bg-card dark:bg-transparent">


        <div class="row pt-3">
            <div class="col-lg-9 col-sm-12">
                <div class="heading">NDC Search List</div>
            </div>
            <div class="col-lg-3 col-sm-12 self-center">
                <p class="text-right">
                <button class="mt-1  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary" type="button"
                        color="primary"
                        aria-expanded="false" aria-controls="collapseExample" onclick="toggleCollapse()">
                    <mat-icon class="mr-2" id='arrow'>keyboard_arrow_down</mat-icon>
                    Advance Filter
                </button>
                </p>
            </div>
        </div>

        <!-- Header -->


        <div class="collapse show" id="collapseExample">
            <div class="card card-body">
                <!-- Header -->
                <form [formGroup]="ndcForm">
                    <!-- <div class="kt-portlet__body-progress">
                      <mat-spinner [diameter]="20"></mat-spinner>
                    </div>
                    <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
                      Please enter valid Input
                    </kt-alert> -->
                    <div class="sm:flex grid" style="flex-wrap: wrap;">


                        <app-zone-branch-circle [form]="ndcForm" [should_show_circle]="false"
                                                (branchZoneCircleData)="getAllData($event)"></app-zone-branch-circle>

                        <div class="mx-2">
                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <mat-label class="customMatLabel">Cnic</mat-label>
                                    <input matInput placeholder="Enter Cnic" formControlName="Cnic" appNumberOnly
                                           maxlength="13"
                                           autocomplete="off"/>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="mx-2">
                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                                <button
                                    class=" mt-2 bg-gray-500 mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                                    (click)="findCnic()"
                                    color="primary" type="button">
                                    <mat-icon class="mr-2">search</mat-icon>
                                    Search
                                </button>
                                <span class="cursor-pointer mt-2  mx-4" id="llcInquiryText" (click)="refresh()"><b
                                    class="-mt-4 text-green">Get All</b></span>
                            </div>
                        </div>


                    </div>


                </form>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="mat-table__wrapper overflow-scroll border shadow-xs rounded-sm bg-gray-50"
                     [style.height]="gridHeight">
                    <mat-table class="lmat-elevation-z8"
                               [dataSource]="request_data_source | paginate: {id: 'ndcReq',itemsPerPage: pageSize, currentPage: pageIndex, totalItems: ndcLength}">
                        <ng-container matColumnDef="Id">
                            <mat-header-cell [style.min-width]="" *matHeaderCellDef>Sr#</mat-header-cell>
                            <mat-cell [style.min-width]="" *matCellDef="let request">{{request.srNo}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="customer_cnic">
                            <mat-header-cell style="min-width: 150px;" *matHeaderCellDef>Customer CNIC
                            </mat-header-cell>
                            <mat-cell [style.min-width]="" *matCellDef="let request" style="min-width: 150px;">
                                <span>{{request.Cnic}}</span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <mat-header-cell [style.min-width]="" *matHeaderCellDef>Customer Name</mat-header-cell>
                            <mat-cell [style.min-width]="" *matCellDef="let request">
                                <span>{{request.CustomerName}}</span></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="current_status">
                            <mat-header-cell [style.min-width]="" *matHeaderCellDef>Current Status</mat-header-cell>
                            <mat-cell [style.min-width]="" *matCellDef="let request"><span>{{request.Status}}</span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="last_status">
                            <mat-header-cell [style.min-width]="" *matHeaderCellDef>Last Action</mat-header-cell>
                            <mat-cell [style.min-width]="" *matCellDef="let request"><span>{{request.LastStatus}}</span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="next_action_by">
                            <mat-header-cell [style.min-width]="" *matHeaderCellDef>Next Action By</mat-header-cell>
                            <mat-cell [style.min-width]="" *matCellDef="let request">
                                <span>{{request.ApprovalPendingWith}}</span></mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="request_by">
                            <mat-header-cell [style.min-width]="" *matHeaderCellDef>Requested By</mat-header-cell>
                            <mat-cell [style.min-width]="" *matCellDef="let request"><span>{{request.Ppno}}</span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="request_on">
                            <mat-header-cell [style.min-width]="" *matHeaderCellDef>Requested On</mat-header-cell>
                            <mat-cell [style.min-width]="" *matCellDef="let request"><span>{{request.CreatedOn}}</span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                            <mat-cell *matCellDef="let request">
                                <button mat-icon-button color="primary"
                                        (click)="downloadFile(request.Cnic,request.NDCId)">
                                    <mat-icon title="download">file_download</mat-icon>
                                </button>

                                <button mat-icon-button color="primary" *ngIf="submitDeleteStatus(request)"
                                        (click)="DeleteUser(request)">
                                    <mat-icon title="Delete">delete</mat-icon>
                                </button>

                                <button mat-icon-button color="primary" *ngIf="submitSubmitStatus(request)"
                                        (click)="SubmitUser(request)">
                                    <mat-icon>check_circle</mat-icon>
                                </button>

                                <button style="margin-left: 5px" mat-icon-button *ngIf="checkMap(request)"
                                        color="primary" (click)="viewMap(request)">
                                    <mat-icon title="view benchmarking">location_on</mat-icon>
                                </button>

                            </mat-cell>

                        </ng-container>

                        <mat-header-row *matHeaderRowDef="ndc_requests_displayed_columns;sticky:true;"
                                        class="table-header-background"></mat-header-row>

                        <mat-row *matRowDef="let request; columns: ndc_requests_displayed_columns"></mat-row>
                    </mat-table>
                    <div class="mat-table__message" *ngIf="!loading && request_data_source.data?.length==0">No records
                        found
                    </div>
                    <!-- Message for empty data  -->
                    <div class="mat-table__message" *ngIf="loading">Please wait....</div>
                </div>


            </div>
        </div>
        <div class="row py-2">
            <div class="col-lg-12">

                <div class="mat-select" style="padding:5px;">
                    <!-- This mat select is customized, not a part of Ngx Paginator, used for selected items per page -->
                    Items per page:
                    <mat-select display="inline" [(value)]="pageSize" (valueChange)="paginateRequest(1,$event)"
                                style="width: 50px; margin-left: 15px; display: inline-block; margin-right: 10px;">
                        <mat-option [value]="5">5</mat-option>
                        <mat-option [value]="10">10</mat-option>
                        <mat-option [value]="25">25</mat-option>
                        <mat-option [value]="50">50</mat-option>
                    </mat-select>
                    <button (click)="paginateRequest(1)">First</button>
                    <pagination-controls id="ndcReq" display="inline" (pageChange)="paginateRequest($event)"
                                         style="display: inline-block;"></pagination-controls>
                    <button (click)="paginateRequest(Math.ceil(ndcLength/pageSize))">Last</button>
                    <p style="float:right;">Total <b  class="text-green">{{ndcLength}}</b> items</p>
                </div>
            </div>
        </div>


        <div class="text-3xl font-extrabold tracking-tight pb-2 border-b border-green-500 p-2"
             style="background-color: #f6fcf8;">NDCs Pending for Approval
        </div>


        <div class="mat-table__wrapper  overflow-scroll border shadow-xs rounded-sm bg-gray-50"
             [style.height]="gridHeight">
            <mat-table class="lmat-elevation-z8"
                       [dataSource]="pending_requests_data_source | paginate: {id:'pendingReq', itemsPerPage: pageSizePending, currentPage: pageIndexPending, totalItems: pendingLength}">
                <ng-container matColumnDef="customer_cnic">
                    <mat-header-cell style="min-width: 150px;" [style.min-width]="" *matHeaderCellDef>Customer CNIC
                    </mat-header-cell>
                    <mat-cell style="min-width: 150px;" [style.min-width]="" *matCellDef="let request">
                        <span>{{request.Cnic}}</span></mat-cell>
                </ng-container>
                <ng-container matColumnDef="customer_name">
                    <mat-header-cell [style.min-width]="" *matHeaderCellDef>Customer Name</mat-header-cell>
                    <mat-cell [style.min-width]="" *matCellDef="let request"><span>{{request.CustomerName}}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="request_on">
                    <mat-header-cell [style.min-width]="" *matHeaderCellDef>Requested On</mat-header-cell>
                    <mat-cell [style.min-width]="" *matCellDef="let request"><span>{{request.CreatedOn}}</span>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="pending_ndc_requests_displayed_columns;sticky:true;"
                                class="table-header-background"></mat-header-row>

                <mat-row *matRowDef="let request; columns: pending_ndc_requests_displayed_columns"></mat-row>
            </mat-table>
            <div class="mat-table__message" *ngIf="!loading && pending_requests_data_source.data?.length==0">No records
                found
            </div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="loading">Please wait....</div>

        </div>

        <div class="mat-select" style="padding:5px;">
            <!-- This mat select is customized, not a part of Ngx Paginator, used for selected items per page -->
            Items per page:
            <mat-select display="inline" [(value)]="pageSizePending" (valueChange)="paginatePending(1,$event)"
                        style="width: 50px; margin-left: 15px; display: inline-block; margin-right: 10px;">
                <mat-option [value]="5">5</mat-option>
                <mat-option [value]="10">10</mat-option>
                <mat-option [value]="25">25</mat-option>
                <mat-option [value]="50">50</mat-option>
            </mat-select>
            <button (click)="paginatePending(1)">First</button>
            <pagination-controls id="pendingReq" display="inline" (pageChange)="paginatePending($event)"
                                 style="display: inline-block;"></pagination-controls>
            <button (click)="paginatePending(Math.ceil(pendingLength/pageSize))">Last</button>
            <p style="float:right;">Total <b  class="text-green">{{pendingLength}}</b> items</p>

        </div>

    </div>

</div>







