<div class="flex flex-col flex-auto min-w-0 bg-white w-full leo">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class=" border-2 border-dashed border-gray-300 rounded-2xl">
            <div class="row">
                <div class="container">
                    <img src="./assets/media/bg/Group 1.png" class="img-responsive" alt="Alternate Text"/>
                </div>
                <div class="container">
                    <img src="./assets/media/bg/Group 2.png" class="img-responsive" alt="Alternate Text"/>
                </div>
            </div>
        </div>

    </div>

    <button type="button"(click)="popup = true">
        Open
         </button>
         <p></p>
         <div class="overlay" *ngIf="popup">
             <div class="popup">
                 <h2>Here i am</h2>
                 <a class="close" (click)="popup = false">&times;</a>
                 <div class="content">
                  Time Remaing {{time}};
                 </div>
             </div>
         </div>
         
</div>
