.md-tab.md-disabled {
    display: none;
}

.mat-tab-body-wrapper {
    height: 100% !important;
}

foreignObject {
    .apexcharts-legend {
        overflow: hidden;
    }
}

.dash-ttab {
    .mat-tab-label-active {
        height: 31px !important;
        width: 100%;
    }

    .mat-tab-label {
        height: 31px !important;
        width: 100%;
        border: 1px solid #01671B;
    }

    .mat-tab-label-container {
        margin-bottom: 0.5rem !important;
    }
}

.dash-tab {

    .mat-tab-labels {
        .mat-tab-label-active {
            display: none;
        }
    }

}


// .apexcharts-legend{
//   overflow: hidden;
// }

.apexcharts-legend,
.apexcharts-canvas:hover,
.apexcharts-canvas:focus {
    overflow-x: hidden;
    overflow-y: scroll;
}

.apexcharts-align-center {
    overflow-x: hidden;
    overflow-y: hidden;
}

.apexcharts-align-center:hover {
    overflow: scroll;
}
