<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="heading ">Zonal Chief</div>
    <form #f="ngForm" name="form" novalidate>
        <div class="form-row row pt-2">
            <div class="form-group col-lg-3">
                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full mb-0">
                    <mat-label class="customMatLabel">Year</mat-label>
                    <mat-select #Year="ngModel" [(ngModel)]="year" name="year" required>

                        <mat-option *ngFor="let single_year of years;let i=index"
                                    [value]="single_year">{{single_year}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="f.submitted && Year.invalid" class="invalid-feedback">
                    <div *ngIf="Year.errors.required">Title is required</div>
                </div>
            </div>
            <div class="form-group col-lg-3">
                <button (click)="getData()" class="btn btn-primary mat-flat-button mr-1 bg-gray-500 mt-2 mat-primary"
                        mat-raised-button>
                    <mat-icon class="mr-2">search</mat-icon>
                    Search
                </button>

            </div>
        </div>
        <div class="text-center">

        </div>
    </form>
    <!-- Main -->
    <div class="flex flex-auto overflow-y-scroll">

        <!-- Products list -->
        <div class="flex flex-auto overflow-x-hidden overflow-y-scroll" style="flex-direction: column;">
            <div class="row">
                <div class="col-lg-6">
                    <div class="shadow-sm border graph-box" style="height:auto !important;">
                        <div *ngIf="chartPerformanceIndicators" class=" mt-0 py-3" id="chart">
                            <apx-chart [chart]="chartPerformanceIndicators?.chart"
                                       [colors]="chartPerformanceIndicators?.colors"
                                       [dataLabels]="chartPerformanceIndicators.dataLabels"
                                       [labels]="chartPerformanceIndicators?.labels"
                                       [noData]="chartPerformanceIndicators.noData"
                                       [responsive]="chartPerformanceIndicators?.responsive"
                                       [series]="chartPerformanceIndicators?.series"
                                       [theme]="chartPerformanceIndicators?.theme"
                                       [title]="chartPerformanceIndicators?.title"
                                       [tooltip]="chartPerformanceIndicators.tooltip">
                            </apx-chart>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="shadow-sm border graph-box" style="height:auto !important;">
                        <div *ngIf="chartLoanPortfolio" class=" mt-0 py-3" id="chart">
                            <apx-chart [chart]="chartLoanPortfolio?.chart"
                                       [colors]="chartLoanPortfolio?.colors"
                                       [dataLabels]="chartLoanPortfolio.dataLabels"
                                       [labels]="chartLoanPortfolio?.labels"
                                       [noData]="chartLoanPortfolio.noData"
                                       [responsive]="chartLoanPortfolio?.responsive"
                                       [series]="chartLoanPortfolio?.series"
                                       [theme]="chartLoanPortfolio?.theme"
                                       [title]="chartLoanPortfolio?.title"
                                       [tooltip]="chartLoanPortfolio.tooltip"></apx-chart>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-lg-6 py-3">
                    <div class="shadow-sm border graph-box" style="height:auto !important;">
                        <div *ngIf="chartnoOfBorrowers" class=" mt-0 py-3" id="chart">
                            <apx-chart [chart]="chartnoOfBorrowers?.chart"
                                       [colors]="chartnoOfBorrowers?.colors"
                                       [dataLabels]="chartnoOfBorrowers.dataLabels"
                                       [labels]="chartnoOfBorrowers?.labels"
                                       [noData]="chartnoOfBorrowers?.noData"
                                       [responsive]="chartnoOfBorrowers?.responsive"
                                       [series]="chartnoOfBorrowers?.series"
                                       [theme]="chartnoOfBorrowers?.theme"
                                       [title]="chartnoOfBorrowers?.title"
                                       [tooltip]="chartnoOfBorrowers.tooltip"></apx-chart>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 py-3">
                    <div *ngIf="CreditCeiling" class="shadow-sm border pt-2" style="height:auto !important;">
                        <p class=" ml-3" style="font-size: 14px; font-weight: 900;">Credit Ceiling</p>
                        <app-pyramid-chart [item]="CreditCeiling">
                        </app-pyramid-chart>

                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6 table-responsive">
                    <p class="heading mb-2 text-lg">
                        Disbursements
                    </p>
                    <table class="table  table-striped">
                        <!-- <thead>
                            <tr class="table-header-background text-white">
                              <th>Calendar Year Target</th>
                              <th>Achievement</th>
                              <th>%age</th>
                            </tr>
                          </thead> -->

                        <tbody>

                        <tr *ngFor="let items of DisbursmentAchievement" class="text-center">
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCaseString(items[0], 0)}}
                                    </div>
                                    <div class="fw-bold">
                                        {{dashboardService.getCamelCaseString(items[0], 1)}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCaseString(items[1], 0)}}
                                    </div>
                                    <div class="fw-bold">
                                        {{dashboardService.getCamelCaseString(items[1], 1)}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCaseString(items[2], 0)}}
                                    </div>
                                    <div class="fw-bold">
                                        {{dashboardService.getCamelCaseString(items[2], 1)}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-6 table-responsive">
                    <p class="heading mb-2 text-lg">
                        Recovery
                    </p>
                    <table class="table  table-striped">
                        <!-- <thead>
                            <tr class="table-header-background text-white">
                              <th>Calendar Year Target</th>
                              <th>Achievement</th>
                              <th>%age</th>
                            </tr>
                          </thead> -->

                        <tbody>
                        <tr *ngFor="let items of RecoveryAchievement" class="text-center">
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCaseString(items[0], 0)}}
                                    </div>
                                    <div class="fw-bold">
                                        {{dashboardService.getCamelCaseString(items[0], 1)}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCaseString(items[1], 0)}}
                                    </div>
                                    <div class="fw-bold">
                                        {{dashboardService.getCamelCaseString(items[1], 1)}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCaseString(items[2], 0)}}
                                    </div>
                                    <div class="fw-bold">
                                        {{dashboardService.getCamelCaseString(items[2], 1)}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 table-responsive">
                    <p class="heading mb-2 text-lg">Branch Position</p>
                    <table class="table table-striped">
                        <thead>
                        <tr class="table-header-background">
                            <th>Serial #</th>
                            <th>Branch</th>
                            <th>Disbursement</th>
                            <th>Recovery</th>
                            <th>NPL</th>
                            <th>SAM</th>
                            <th>Outstanding</th>
                            <th>Audit Paras</th>
                            <th>Utilization</th>
                            <th>Mutation</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of CirclePositions;let i=index">
                            <td>{{i + 1}}</td>
                            <td>{{item?.Name}}</td>
                            <td>{{item?.TotalDisbursment}}</td>
                            <td>{{item?.TotalRecovery}}</td>
                            <td>{{item?.NplOS}}</td>
                            <td>{{item?.SamOS}}</td>
                            <td>{{item?.TotalOS}}</td>
                            <td>{{item?.AuditParas}}</td>
                            <td>{{item?.Utilizations}}</td>
                            <td>{{item?.Mutations}}</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
