<div *ngIf="url" style="height: 85vh;">
    <div class="row">
        <div class="col-lg-12 sticky-top text-right relative">
            <div class="w-full">
                <button mat-icon-button class="close-button float-right bg-white"
                        [mat-dialog-close]="true">
                    <!-- X -->
                    <mat-icon class="close-icon" color="warn">cancel</mat-icon>
                </button>
            </div>
        </div>
    </div>


    <angular-image-viewer [src]="url" [config]="config"
                          style="width: 500px;height: 500px;"></angular-image-viewer>

    <!--            <img class="images zoom-images mx-auto" style="width: 500px; height:480px; " [src]="url" id="image"-->
    <!--                 [ngStyle]="{-->
    <!--                 transform: 'scale(' + scale / 100 + ')',-->
    <!--                 'transform-origin': left + 'px ' + top + 'px'-->
    <!--                 }"-->
    <!--            />-->


</div>
