<div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
        <div class="kt-portlet__head-label">
            <h5 class="kt-portlet__head-title">Appraisal Of Proposed Investment</h5>
        </div>
    </div>

    <form [formGroup]="LoanAOPIForm" class="kt-form kt-form--group-seperator-dashed">
        <div class="kt-form">
            <div class="kt-portlet__body">
                <kt-alert (close)="onAlertClose($event)" *ngIf="hasFormErrors" [duration]="30000" [showCloseButton]="true"
                          type="warn">
                    Please enter valid Input
                </kt-alert>

                <div class="form-group kt-form__group row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-striped" id="apprialsal11Table">
                                <thead>
                                <tr class="table-header-background">
                                    <th style="width:40%">Farm Income / Expenditure</th>
                                    <th style="width:20%">Future Value</th>
                                    <th style="width:20%">Present Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Crop Income</td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off"
                                               class="form-control" formControlName="CropIncomeFutureControl"
                                               maxlength="12" placeholder="0"/></td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off"
                                               class="form-control" formControlName="CropIncomePresnetControl"
                                               maxlength="12" placeholder="0"/></td>
                                </tr>
                                <tr>
                                    <td>Livestock/Dairy Income</td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off"
                                               class="form-control" formControlName="LiveStockIncomeFutureControl"
                                               maxlength="12" placeholder="0"/></td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off"
                                               class="form-control" formControlName="LiveStockIncomePresnetControl"
                                               maxlength="12" placeholder="0"/></td>
                                </tr>
                                <tr>
                                    <td>Others(Specify)</td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off"
                                               class="form-control" formControlName="OthersFutureControl" maxlength="12"
                                               placeholder="0"/></td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off"
                                               class="form-control" formControlName="OthersPresnetControl" maxlength="12"
                                               placeholder="0"/></td>
                                </tr>
                                <tr>
                                    <td>Total Income</td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off" class="form-control"
                                               formControlName="TotalIncomeFutureControl" maxlength="12"
                                               placeholder="0" readonly/></td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off" class="form-control"
                                               formControlName="TotalIncomePresnetControl" maxlength="12"
                                               placeholder="0" readonly/></td>
                                </tr>
                                <tr>
                                    <td>Crop Raising Expenditure</td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off"
                                               class="form-control" formControlName="CropRaisingFutureControl"
                                               maxlength="12" placeholder="0"/></td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off"
                                               class="form-control" formControlName="CropRaisingPresnetControl"
                                               maxlength="12" placeholder="0"/></td>
                                </tr>
                                <tr>
                                    <td>Livestock/Dairy Farming Expenditure</td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off"
                                               class="form-control" formControlName="LiveStockFarmingFutureControl"
                                               maxlength="12" placeholder="0"/></td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off"
                                               class="form-control" formControlName="LiveStockFarmingPresnetControl"
                                               maxlength="12" placeholder="0"/></td>
                                </tr>
                                <tr>
                                    <td>Rents, Lease, Payments and others(Specify)</td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off"
                                               class="form-control" formControlName="OtherExpenditureFutureControl"
                                               maxlength="12" placeholder="0"/></td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off"
                                               class="form-control" formControlName="OtherExpenditurePresnetControl"
                                               maxlength="12" placeholder="0"/></td>
                                </tr>
                                <tr>
                                    <td>Loan Installments (ZTBL & other Bank if any)</td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off"
                                               class="form-control" formControlName="LoanFutureControl" maxlength="12"
                                               placeholder="0"/></td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off"
                                               class="form-control" formControlName="LoanPresnetControl" maxlength="12"
                                               placeholder="0"/></td>
                                </tr>
                                <tr>
                                    <td>Total Expenditure</td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off" class="form-control"
                                               formControlName="ExpenditureFutureControl" maxlength="12"
                                               placeholder="0" readonly/></td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off" class="form-control"
                                               formControlName="ExpenditurePresnetControl" maxlength="12"
                                               placeholder="0" readonly/></td>
                                </tr>
                                <tr>
                                    <td>Total Net Income</td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off" class="form-control"
                                               formControlName="NetIncomeFutureControl" maxlength="12"
                                               placeholder="0" readonly/></td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off" class="form-control"
                                               formControlName="NetIncomePresnetControl" maxlength="12"
                                               placeholder="0" readonly/></td>
                                </tr>
                                <tr>
                                    <td>Increase in Net Income</td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off" class="form-control"
                                               formControlName="IncreaseFutureControl" maxlength="12" placeholder="0"
                                               readonly/></td>
                                    <td><input (input)="dtInputChange()" appNumberOnly autocomplete="off" class="form-control"
                                               formControlName="IncreasePresnetControl" maxlength="12"
                                               placeholder="0" readonly/></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="form-group kt-form__group row">
                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label class="customMatLabel">Land lying Un-Cultivated (A-K-M)</mat-label>
                            <input formControlName="UncultivatedLand" matInput
                                   maxlength="50" placeholder="Enter Land lying Un-Cultivated"/>
                            <mat-error *ngIf="hasError('UncultivatedLand', 'pattern')"><strong>Invalid input</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label class="customMatLabel">Land not to be Cultivated (A-K-M)</mat-label>
                            <input formControlName="NocultivatedLand" matInput
                                   maxlength="50" placeholder="Enter Land not to be Cultivated"/>
                            <mat-error *ngIf="hasError('NocultivatedLand', 'pattern')"><strong>Invalid input</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="form-group kt-form__group row">
                    <div class="col-lg-12 kt-margin-bottom-20-mobile">
                        <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
                            <div class="kt-portlet__head-label">
                                <h5 class="kt-portlet__head-title text-md ">Existing/Proposed Crop Production</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group kt-form__group row">
                    <div class="col-lg-4 col-sm-12 kt-margin-bottom-20-mobile">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label class="customMatLabel">Type</mat-label>
                            <mat-select formControlName="Type">
                                <mat-option *ngFor="let proCrop of selectedProposedCropType" [value]="proCrop.Value">
                                    {{proCrop.Name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-sm-12 kt-margin-bottom-20-mobile">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label class="customMatLabel">Crop</mat-label>
                            <mat-select formControlName="Crop">
                                <mat-option *ngFor="let crop of selectedCrops" [value]="crop.Id">
                                    {{crop.Name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-sm-12 kt-margin-bottom-20-mobile">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label class="customMatLabel">Area (A-K-M)</mat-label>
                            <input formControlName="Area" matInput maxlength="50" placeholder="Enter Area"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12 kt-margin-bottom-20-mobile">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label class="customMatLabel">Total Output(md)</mat-label>
                            <input appNumberOnly formControlName="Output" matInput maxlength="50"
                                   placeholder="Enter Output"/>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-sm-12 kt-margin-bottom-20-mobile">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label class="customMatLabel">Price(Rs./Md)</mat-label>
                            <input appNumberOnly formControlName="Price" matInput maxlength="50"
                                   placeholder="Enter Price"/>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-sm-12 kt-margin-bottom-20-mobile">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label class="customMatLabel">Expenditure %</mat-label>
                            <input appNumberOnly formControlName="Expenditure" matInput maxlength="3"
                                   placeholder="Enter Expenditure"/>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 kt-margin-bottom-20-mobile mb-2">
                        <button (click)="AddCropDetail()" *ngIf="currentActivity.C" class="btn btn-primary" color="primary"
                                mat-raised-button
                                type="button">
                            <mat-icon class="mr-2">add_circle</mat-icon>
                            Add
                        </button>
                    </div>
                </div>
                <div class="form-group kt-form__group row">
                    <div class="col-lg-12 kt-margin-bottom-20-mobile mat-table">

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr class="table-header-background">
                                    <th>Type</th>
                                    <th>Crop</th>
                                    <th>Area</th>
                                    <th>Total Output(md)</th>
                                    <th>Price(Rs./Md)</th>
                                    <th>Total Income(Rs) (TotalOutput * Price)</th>
                                    <th>Exp(%)</th>
                                    <th>Exp(Rs) (Total Income % Exp(%))</th>
                                    <th>Net income from crop</th>
                                    <th>Select</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let production of productionArray; let i = index;">
                                    <td>
                                        {{production.AppraisalTypeName}}
                                    </td>
                                    <td>
                                        {{production.CropType}}
                                    </td>
                                    <td>
                                        {{production.Area}}
                                    </td>
                                    <td>
                                        {{production.TotalOutput}}
                                    </td>
                                    <td>
                                        {{production.Price}}
                                    </td>
                                    <td>
                                        {{production.TotalIncome_RS}}
                                    </td>
                                    <td>
                                        {{production.ExpPrec}}
                                    </td>
                                    <td>
                                        {{production.Expense_RS}}
                                    </td>
                                    <td>
                                        {{production.NetIncomeFromCrop}}
                                    </td>
                                    <td style="cursor:pointer;">
                                        <input (change)="changeChecked($event,production)" type="checkbox"/>
                                    </td>
                                </tr>
                                </tbody>
                                <!-- <button class="btn btn-primary bg-red-500 "  mat-raised-button type="button" (click)="deleteAppraisalItemDetail()"
                                        style="float:right">
                                        <mat-icon class="mr-2">
                                            delete
                                        </mat-icon>
                                    Delete
                                </button> -->

                            </table>
                        </div>

                    </div>
                </div>


                <div class="form-group kt-form__group row">
                    <div class="col-lg-12 kt-margin-bottom-20-mobile">
                        <button (click)="deleteAppraisalItemDetail()" *ngIf="currentActivity.D" class="btn btn-primary bg-red-500"
                                color="primary" mat-raised-button type="button">
                            <mat-icon class="mr-2">delete</mat-icon>
                            Delete
                        </button>
                        <button (click)="AddAppraisalProposed()" *ngIf="currentActivity.C" class="btn btn-primary bg-green ml-3"
                                color="primary" mat-raised-button type="button">
                            <mat-icon class="mr-2">save</mat-icon>
                            Save
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)"
                 size="medium"
                 color="#ecbd00"
                 type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner> -->
