<h3 class="text-3xl  font-extrabold tracking-tight pb-2 border-b mb-2 border-green-500 p-2"
    style="background-color: #f6fcf8;">Api Log({{RequestResponse.APIName}})</h3>


<div class="row">
    <div class="col-lg-12 col-sm-12">
        <table class="table overflow-scroll">
            <thead class="bg-green border-0">
            <tr style="text-align: center">
                <th scope="col" class="text-white">Encrypted Request</th>
                <th scope="col" class="text-white">Request</th>
                <th scope="col" class="text-white">Response</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-black w-56" style="vertical-align:text-top">
                    <div class="w-96 break-words">{{RequestResponse?.EncRequest}}</div>
                </td>
                <td class="text-black w-56" style="vertical-align:text-top">
                    <div class="w-96 break-words">{{RequestResponse.Request}}</div>
                </td>
                <td class="text-black w-56" style="vertical-align:text-top">
                    <div class="w-96 break-words">{{RequestResponse.Response}}</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

