<div
    class=" px-10 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-y-scroll bg-card dark:bg-transparent">


    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">Tour Plan For Approval</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center">
            <p class="text-right">
                <button class="mt-1  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary" type="button"
                        color="primary"
                        aria-expanded="false" aria-controls="collapseExample" onclick="toggleCollapse()">
                    <mat-icon class="mr-2" id='arrow'>keyboard_arrow_down</mat-icon>
                    Advance Filter
                </button>
            </p>
        </div>
    </div>


    <div class="collapse show" id="collapseExample">
        <div class="card card-body">
            <div [formGroup]="tourPlanApprovalForm">


                <div class="flex mt-1" style="flex-wrap: wrap;">
                    <app-zone-branch-circle [form]="tourPlanApprovalForm" [should_hide_fields]="true"
                                            [show_circle]="false" [should_filter]="false"
                                            (branchZoneCircleData)="getAllData($event)"></app-zone-branch-circle>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">

                            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                <mat-label class="customMatLabel">From</mat-label>
                                <input matInput [matDatepicker]="picker" placeholder="ddMMyyyy" autocomplete="off"
                                       formControlName="FromDate" (dateChange)="setFromDate()" #to_date
                                       autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                <mat-label class="customMatLabel">To</mat-label>
                                <input matInput [matDatepicker]="picker1" placeholder="ddMMyyyy"
                                       formControlName="ToDate" [min]="minDate"
                                       (dateChange)="setToDate()" autocomplete="off">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                <mat-label>PPNO</mat-label>
                                <input matInput formControlName="PPNO">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                <mat-label>Select tourPlan Status</mat-label>
                                <mat-select formControlName="Status" disabled>
                                    <mat-option value="">
                                        Select
                                    </mat-option>
                                    <mat-option *ngFor="let obj of tourPlanStatusLov?.LOVs" [value]="obj.Value">
                                        {{obj.Name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                            <button (click)="searchTourPlanApproval()" type="button"
                                    class=" mt-2 mat-raised-button mat-button-base bg-gray-500 kt-login__btn-primary btn-block mat-primary">
                                <mat-icon class="mr-2">search</mat-icon>
                                Search
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <mat-tab-group [ngClass]="{'dash-tab': TourPlans?.length == 1}"
                   class="pt-3 flex  flex-auto dash-ttab  shadow-xs rounded-sm pb-3"
                   style="flex-direction: column; overflow-y: scroll"
                   animationDuration="200ms" style="background-color: white;">


        <ng-container *ngFor="let item of TourPlans;let i=index;">
            <mat-tab [label]="item.Heading">
                <app-tour-approval-tab [TourPlans]="item" [branch]="branch" [zone]="zone"
                                       [circle]="circle"
                                       [tab_number]="i"
                                       [tourPlanApprovalForm]="tourPlanApprovalForm.value"></app-tour-approval-tab>
            </mat-tab>
        </ng-container>
    </mat-tab-group>


</div>
