<div
    class="
        px-10
        sm:absolute sm:inset-0
        flex flex-col flex-auto
        min-w-0
        sm:overflow-scroll
        bg-card
        dark:bg-transparent
    "
>
    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">Demand Notices</div>
        </div>
    </div>

    <div class="mt-2">
        <div class="col-lg-12">
            <div [formGroup]="notificationTable" class="">
                <div class="flex" style="flex-wrap: wrap;">

                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label class="customMatLabel">Name</mat-label>
                            <input (keyup)="applyFilter($event.target.value)" formControlName="Name" matInput
                                   placeholder="Name">
                        </mat-form-field>
                    </div>

                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label class="customMatLabel">Cnic</mat-label>
                            <input (keyup)="applyFilter($event.target.value)" appNumberOnly formControlName="Cnic"
                                   matInput placeholder="Cnic">
                        </mat-form-field>
                    </div>
                </div>

            </div>

            <!--                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">-->

            <!--                    <button class="bg-gray-500" mat-raised-button color="primary" (click)="find()">-->
            <!--                        <mat-icon class="mr-2">search</mat-icon>-->
            <!--                        Find-->
            <!--                    </button>-->
            <!--                </div>-->


        </div>
    </div>


    <div class="mt-2">


        <div class="mat-table__wrapper  border shadow-xs rounded-sm bg-gray-50 ">
            <!--[style.height]="gridHeight"-->
            <mat-table
                #sort1="matSort"
                #table
                [dataSource]="
                    dataSource
                "
                [style.height]="gridHeight"
                class="lmat-elevation-z8 overflow-scroll"
                matSort
                matSortActive="id"
                matSortDirection="asc"
                matSortDisableClear
            >
                <ng-container matColumnDef="Phone">
                    <mat-header-cell *matHeaderCellDef
                    >Phone No
                    </mat-header-cell
                    >
                    <mat-cell *matCellDef="let notification">{{
                        notification.PhoneNo
                        }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="Cast">
                    <mat-header-cell *matHeaderCellDef
                    >Caste
                    </mat-header-cell
                    >
                    <mat-cell *matCellDef="let notification">{{
                        notification.Cast
                        }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="Cnic">
                    <mat-header-cell *matHeaderCellDef style="min-width: 120px;">CNIC</mat-header-cell>
                    <mat-cell *matCellDef="let notification" style="min-width: 120px;">{{
                        notification.Cnic
                        }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef
                    >Name
                    </mat-header-cell
                    >
                    <mat-cell *matCellDef="let notification">{{
                        notification.CustomerName
                        }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="FatherName">
                    <mat-header-cell *matHeaderCellDef>Father Name</mat-header-cell>
                    <mat-cell *matCellDef="let notification">{{
                        notification.FatherName
                        }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="Lnd">
                    <mat-header-cell *matHeaderCellDef
                    >Legal Notice Date
                    </mat-header-cell
                    >
                    <mat-cell *matCellDef="let notification" class="text-center">{{
                        notification.LegalNoticeDate
                        }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="Dnd">
                    <mat-header-cell *matHeaderCellDef
                    >Demand Notice Date
                    </mat-header-cell
                    >
                    <mat-cell *matCellDef="let notification" class="text-center">{{
                        notification.DemandNoticeDate
                        }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="Gl">
                    <mat-header-cell *matHeaderCellDef
                    >GL Code
                    </mat-header-cell
                    >
                    <mat-cell *matCellDef="let notification">{{
                        notification.GlCode
                        }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="Lcno">
                    <mat-header-cell *matHeaderCellDef
                    >LC #
                    </mat-header-cell
                    >
                    <mat-cell *matCellDef="let notification">{{
                        notification.LcNo
                        }}</mat-cell>
                </ng-container>


                <ng-container matColumnDef="Dd">
                    <mat-header-cell *matHeaderCellDef
                    >Due Date
                    </mat-header-cell
                    >
                    <mat-cell *matCellDef="let notification">{{
                        notification.DueDate
                        }}</mat-cell>
                </ng-container>


                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                    class="table-header-background"
                ></mat-header-row>

                <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></mat-row>
            </mat-table>

            <div *ngIf="loading" class="mat-table__message">
                Please wait....
            </div>

            <!-- <div *ngIf="matTableLenght" class="mat-select" style="padding: 5px">
                        <span class="font-bold text-green">Items per page:</span>

                <mat-select
                    display="inline"
                    [(value)]="itemsPerPage"
                    (valueChange)="paginate(1, $event)"
                    style="
                        width: 50px;
                        margin-left: 15px;
                        display: inline-block;
                        margin-right: 10px;
                    "
                >
                    <mat-option [value]="5">5</mat-option>
                    <mat-option [value]="10">10</mat-option>
                    <mat-option [value]="25">25</mat-option>
                    <mat-option [value]="50">50</mat-option>
                </mat-select>
                <button (click)="paginate(1)">First</button>
                <pagination-controls
                    display="inline"
                    (pageChange)="paginate($event)"
                    style="display: inline-block"
                ></pagination-controls>
                <button
                    (click)="paginate(Math.ceil(totalItems / itemsPerPage))"
                >
                    Last
                </button>
                <p style="float: right">
                    Total <b>{{ totalItems }}</b> items
                </p>
            </div> -->
        </div>

    </div>
