<div class="kt-portlet">
  <div class="kt-form">
    <div class="kt-portlet__body">

      <div class="form-group">

        <div class="col-lg-12 text-center mt-1">
          <img src="./assets/media/icons/alert.png" class="img-responsive center-block w-12 mx-auto mb-3" alt="icon"/>
        </div>

        <div class="col-lg-12 text-center" *ngIf="data.code">
          <span
            class="heading-alert mt-5">Error Code: {{data.code}}</span>
        </div>
        <div class="col-lg-12 text-center  mt-3">
          <span style="font-weight:500" [innerHTML]="data.description"></span>
        </div>
      </div>
    </div>
    <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit text-center">
      <div class="kt-form__actions kt-form__actions--sm mt-4">
        <!--<button mat-button (click)="onNoClick()">Cancel</button>&nbsp;-->
        <button mat-button (click)="onNoClick()" class="btn btn-success btn-block bg-red-500 text-white" color="primary" cdkFocusInitial
                [disabled]="viewLoading">OK
        </button>
      </div>
    </div>
  </div>
</div>
