<div
     class=" px-10  sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 overflow-y-scroll overflow-x-hidden bg-card dark:bg-transparent">
    <div class="row pt-3">
        <div class="col-lg-12 p-0 col-sm-12">
            <div class="heading">Tour Approval Diary of MCO</div>
        </div>
    </div>

    <div class="mt-2 row">
        <div class="col-lg-12 p-0 ist-table overflow-auto shadow-xs rounded-sm mt-3">
            <table class="table mb-0">
                <thead>
                <tr class=" text-center">
<!--                    <th rowspan="2">Actions</th>-->
                    <th style="height: 40px;" rowspan="2">Date</th>
                    <th style="height: 40px;" rowspan="2">Tour Plan</th>
                    <th colspan="2">Departure from</th>
                    <th colspan="2">Arrival at</th>
                    <th colspan="6">Disbursements</th>
                    <th rowspan="2">No. of sanctioned mutations verified</th>
                    <th rowspan="2">No. of utilizations checked</th>
                    <th colspan="4">Recovery</th>
                    <th colspan="2">TRANSFER OF TECHNOLOGY</th>
                    <th rowspan="2">Any other work done</th>
                    <th rowspan="2">Remarks</th>

                </tr>
                <tr class=" text-center sub-table">
                    <th>Place</th>
                    <th>Time</th>
                    <th>Place</th>
                    <th>Time</th>
                    <th>No.of cases received/ entertained</th>
                    <th>No. of cases appraised</th>
                    <th>No. of cases in which original revenue record verified</th>
                    <th>No. of cases sanctioned if authorized</th>
                    <th>No. of sanction letters delivered</th>
                    <th>No. of supply orders delivered</th>
                    <th>No. of demand notices delivered</th>
                    <th>No. of legal notices delivered</th>
                    <th>No. of defaulters contacted</th>
                    <th>Amount recovered (Daily)</th>
                    <th>Progressive farmers contacted</th>
                    <th>No. of farms visited</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let mcoDiary of TourDiaryList">
<!--                    <td>-->
<!--                        <button class="ml-2" mat-icon-button color="primary" (click)="edit(mcoDiary)"-->
<!--                        >-->
<!--                            <mat-icon>-->
<!--                                edit-->
<!--                            </mat-icon>-->
<!--                        </button>-->
<!--                        <button mat-icon-button (click)="delete(mcoDiary,'C')">-->
<!--                            <mat-icon class="text-red-500">-->
<!--                                delete_forever-->
<!--                            </mat-icon>-->
<!--                        </button>-->

<!--                    </td>-->
                    <td>{{dateChange(mcoDiary?.TourDate)}}</td>
                    <td>{{mcoDiary?.PlanPurposeName}}</td>
                    <td>{{mcoDiary?.DepartureFromPlace}}</td>
                    <td>{{mcoDiary?.DepartureFromTime}}</td>
                    <td>{{mcoDiary?.ArrivalAtPlace}}</td>
                    <td>{{mcoDiary?.ArrivalAtTime}}</td>
                    <td>{{mcoDiary?.DisbNoOfCasesReceived}}</td>
                    <td>{{mcoDiary?.DisbNoOfCasesAppraised}}</td>
                    <td>{{mcoDiary?.DisbNoOfRecordVerified}}</td>
                    <td>{{mcoDiary?.DisbNoOfSanctionedAuthorized}}</td>
                    <td>{{mcoDiary?.DisbSanctionLetterDelivered}}</td>
                    <td>{{mcoDiary?.DisbSupplyOrderDelivered}}</td>
                    <td>{{mcoDiary?.NoOfSanctnMutationVerified}}</td>
                    <td>{{mcoDiary?.NoOfUtilizationChecked}}</td>
                    <td>{{mcoDiary?.RecNoOfNoticeDelivered}}</td>
                    <td>{{mcoDiary?.RecNoOfLegalNoticeDelivered}}</td>
                    <td>{{mcoDiary?.RecNoOfDefaulterContacted}}</td>
                    <td>{{systemGenerated?.AmountRecoverDaily}}</td>
                    <td>{{mcoDiary?.TOTFarmersContacted}}</td>
                    <td>{{mcoDiary?.TOTNoOfFarmersVisisted}}</td>
                    <td>{{mcoDiary?.AnyOtherWorkDone}}</td>
                    <td>{{mcoDiary?.Remarks}}</td>

                </tr>

                <tr>
                    <td>
                        <div class="p-3"><strong class="text-md">Totals: </strong></div>
                    </td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>{{TotalNoOfCasesReceived}}</td>
                    <td>{{TotalDisbNoOfCasesAppraised}}</td>
                    <td>{{TotalDisbNoOfRecordVerified}}</td>
                    <td>{{TotalDisbNoOfSanctionedAuthorized}}</td>
                    <td>{{TotalDisbSanctionLetterDelivered}}</td>
                    <td>{{TotalDisbSupplyOrderDelivered}}</td>
                    <td>{{TotalNoOfSanctnMutationVerified}}</td>
                    <td>{{TotalNoOfUtilizationChecked}}</td>
                    <td>{{TotalRecNoOfNoticeDelivered}}</td>
                    <td>{{TotalRecNoOfLegalNoticeDelivered}}</td>
                    <td>{{TotalRecNoOfDefaulterContacted}}</td>
                    <td>-
                        <div class="w-36"></div>
                    </td>
                    <td>{{TotalTOTFarmersContacted}}</td>
                    <td>{{TotalTOTNoOfFarmersVisisted}}</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 p-0 sec-table overflow-auto  shadow-xs rounded-sm mt-3">

            <table class="table mb-0 ">
                <thead>
                <tr class=" text-center">
                    <th colspan="6">Disbursements</th>
                    <th colspan="5">Mutations</th>
                </tr>
                </thead>
                <thead>
                <tr class=" text-center sub-table">
                    <!-- Disbursements -->
                    <th>Annual Target</th>
                    <th>Proportionate Target upto the end of month under report</th>
                    <th>Total Disbursement upto the end of previous month</th>
                    <th>Disburse-ment during the month under report</th>
                    <th>Total Disbursement upto the end of the month under report</th>
                    <th>Increase/Deficit</th>
                    <!-- Mutations -->
                    <th>No. of Mutations pending as on the previous month</th>
                    <th>No. of disbursed cases during the month</th>
                    <th>Total No. of mutations to be verified</th>
                    <th>Mutation verified during the month</th>
                    <th>Pending for verification</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{systemGenerated?.DAnnualTarget}}</td>
                    <td>{{systemGenerated?.DPropoTargetEOM}}</td>
                    <td>{{systemGenerated?.DDisbDuringMonth}}</td>
                    <td>{{systemGenerated?.DTotalDisbDuringMonth }}</td>
                    <td>{{systemGenerated?.DIncreaseDeficit}}</td>
                    <!-- Mutations -->
                    <td>{{systemGenerated?.MNoMutationPendingPM }}</td>
                    <td>{{systemGenerated?.MNoDisbDuringMonth}}
<!--                        <mat-form-field class=" mat-form-field-fluid w-full" style="width: 12rem !important"-->
<!--                                        appearance="outline">-->
<!--                            <input matInput [value]=" ">-->
<!--                        </mat-form-field>-->
                    </td>
                    <td>{{systemGenerated?.MMutationToBeVerified}}</td>
                    <td>{{systemGenerated?.MMutationPending}}</td>
                    <td>{{systemGenerated?.MMutationToBeVerified}}
<!--                        <mat-form-field class=" mat-form-field-fluid w-full" style="width: 12rem !important"-->
<!--                                        appearance="outline">-->
<!--                            <input matInput [value]="">-->
<!--                        </mat-form-field>-->
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="row ">
        <div class="col-lg-12 p-0  third-table  overflow-auto  shadow-xs rounded-sm  mt-3">
            <table class="table mb-0 ">
                <thead>
                <tr class=" text-center">
                    <th colspan="5">UTILIZATIONS</th>
                    <th colspan="12">RECOVERY</th>
                </tr>
                </thead>
                <thead>
                <tr class=" text-center sub-table">
                    <!-- UTILIZATIONS -->
                    <th rowspan="4">No. of utilizations pending as on last date of the previous month</th>
                    <th rowspan="4">No. of cases disbursed during the month</th>
                    <th rowspan="4">Total No. of utilizations to be verified</th>
                    <th rowspan="4">Utilization verified during the month</th>
                    <th rowspan="4">Pending cases checking of utilization</th>
                    <!-- RECOVERY -->
                    <th colspan="4">Amount in default upto the month under Report (Target)</th>
                    <th colspan="4">Recovery during the month under Report.</th>
                    <th colspan="4">Balance Recoverable</th>
                </tr>
                <tr class=" text-center">
                    <th colspan="2">Past Dues</th>
                    <th colspan="2">Current Dues</th>
                    <th colspan="2">Past Dues</th>
                    <th colspan="2">Current Dues</th>
                    <th colspan="2">Past Dues</th>
                    <th colspan="2">Current Dues</th>
                </tr>
                <tr class=" text-center">
                    <th>No.</th>
                    <th>Amount</th>
                    <th>No.</th>
                    <th>Amount</th>
                    <th>No.</th>
                    <th>Amount</th>
                    <th>No.</th>
                    <th>Amount</th>
                    <th>No.</th>
                    <th>Amount</th>
                    <th>No.</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{systemGenerated?.UUtilizationPendingPM}}
<!--                        <mat-form-field class=" mat-form-field-fluid w-full" style="width: 12rem !important"-->
<!--                                        appearance="outline">-->
<!--                            <input matInput>-->
<!--                        </mat-form-field>-->
                    </td>
                    <td>{{systemGenerated?.UNoOfCasesDisbursed }}</td>
                    <td>{{systemGenerated?.UNoOfUtliztionToVerify }}</td>
                    <td>
                        <mat-form-field class=" mat-form-field-fluid w-full" style="width: 12rem !important"
                                        appearance="outline">
                            <input matInput [value]="systemGenerated?.UUtilizationVerified">
                        </mat-form-field>
                    </td>
                    <td>{{systemGenerated?.UPendingCasesChecking }}</td>
                    <td>{{systemGenerated?.RTPastDuesNo  }}</td>
                    <td>{{systemGenerated?.RTPstDuesAmount  }}</td>
                    <td>{{systemGenerated?.RTCurrentDuesNo  }}</td>
                    <td>{{systemGenerated?.RTCurrentDuesAmount  }}</td>
                    <td>{{systemGenerated?.RRPastDuesNo  }}</td>
                    <td>{{systemGenerated?.RRPastDuesAmount  }}</td>
                    <td>{{systemGenerated?.RRCurrentDuesNo  }}</td>
                    <td>{{systemGenerated?.RRCurrentDuesAmount  }}</td>
                    <td>{{systemGenerated?.RBPastDuesNo  }}</td>
                    <td>{{systemGenerated?.RBPastDuesAmount  }}</td>
                    <td>{{systemGenerated?.RBCurrentDuesNo  }}</td>
                    <td>{{systemGenerated?.RBCurrentDuesAmount  }}</td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 flex  py-2 border-t">
            <button *ngIf="isUpdate" mat-raised-button class="mr-2" color="primary">
                <mat-icon class="mr-2">check_circle</mat-icon>
                Submit
            </button>
        </div>
    </div>

    <!--    <div class="col-lg-12 mt-2">-->

    <!--    </div>-->
    <div class="row mt-2 mr-1">
        <div class="col-lg-12 text-right">
            <button class="mr-2 bg-green" mat-raised-button color="primary" (click)="changeStatus('A')">
                <mat-icon class="mr-2">check</mat-icon>
                Approve All
            </button>
            <button class="mr-2 bg-red" mat-raised-button color="primary" (click)="changeStatus('R')">
                <mat-icon class="mr-2">cancel</mat-icon>
                ReferBack All
            </button>
        </div>
    </div>

</div>

<ngx-material-timepicker #timepickerDeparture></ngx-material-timepicker>
<ngx-material-timepicker #timepickerArrival></ngx-material-timepicker>
