<div
    class=" px-10 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-y-scroll bg-card dark:bg-transparent">


    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">Tour Diary Approval</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center">
            <p class="text-right">
                <button aria-controls="collapseExample" aria-expanded="false"
                        class="mt-1  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                        color="primary" onclick="toggleCollapse()" type="button">
                    <mat-icon class="mr-2" id='arrow'>keyboard_arrow_down</mat-icon>
                    Advance Filter
                </button>
            </p>
        </div>
    </div>


    <div class="collapse show" id="collapseExample">
        <div class="card card-body">
            <div [formGroup]="tourDiaryForm">


                <div class="flex mt-1" style="flex-wrap: wrap;">
                    <app-zone-branch-circle (branchZoneCircleData)="getAllData($event)" [form]="tourDiaryForm" [should_filter]="false"
                                            [should_hide_fields]="true"
                                            [show_circle]="false"></app-zone-branch-circle>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">

                            <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                <mat-label class="customMatLabel">From</mat-label>
                                <input #to_date (dateChange)="setFromDate()" [matDatepicker]="picker" autocomplete="off"
                                       autocomplete="off" formControlName="FromDate" matInput
                                       placeholder="ddMMyyyy">
                                <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                            <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                <mat-label class="customMatLabel">To</mat-label>
                                <input (dateChange)="setToDate()" [matDatepicker]="picker1" [min]="minDate"
                                       autocomplete="off" formControlName="ToDate"
                                       matInput placeholder="ddMMyyyy">
                                <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                            <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                <mat-label>PPNO</mat-label>
                                <input formControlName="PPNo" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                            <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                <mat-label>Select tourPlan Status</mat-label>
                                <mat-select formControlName="Status">
                                    <mat-option value="">
                                        Select
                                    </mat-option>
                                    <mat-option *ngFor="let obj of tourPlanStatusLov?.LOVs" [value]="obj.Value">
                                        {{obj.Name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                            <button (click)="searchTourDiaryApproval()" class=" mt-2 mat-raised-button mat-button-base bg-gray-500 kt-login__btn-primary btn-block mat-primary"
                                    type="button">
                                <mat-icon class="mr-2">search</mat-icon>
                                Search
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <mat-tab-group [ngClass]="{'dash-tab': TourDiary?.length == 1}"
                   animationDuration="200ms"
                   class="pt-3 flex  flex-auto dash-ttab  shadow-xs rounded-sm pb-3"
                   style="flex-direction: column; overflow-y: scroll" style="background-color: white;">


        <ng-container *ngFor="let item of TourDiary;let i=index;">
            <mat-tab [label]="item.Heading">
                <app-tour-diary-approval-tab [TourDiary]="item" [branch]="branch" [circle]="circle"
                                             [tab_number]="i"
                                             [tourDiaryApprovalForm]="tourDiaryForm.value"
                                             [zone]="zone"></app-tour-diary-approval-tab>
            </mat-tab>
        </ng-container>
    </mat-tab-group>


</div>
