<div class=" pt-3 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="heading">Branch Manager</div>
    <!-- Header -->
    <form [formGroup]="options">
    <div class="row py-2">

          <div class="col-lg-4">
            <mat-form-field  class="w-full" appearance="outline">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="picker">
             
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-4">
            <mat-form-field class="w-full" appearance="outline" [floatLabel]="floatLabelControl.value">
              <mat-label>Branch Name</mat-label>
              <input matInput placeholder="Enter Branch Name">
            </mat-form-field>
          </div>
          <div class="col-lg-4">
            <mat-form-field  class="w-full" appearance="outline" [floatLabel]="floatLabelControl.value">
              <mat-label>Zone Name</mat-label>
              <input matInput placeholder="Enter Zone Name">
            </mat-form-field>
          </div>

      </div>
    </form>
    <!-- Main -->
    <div class="flex flex-auto overflow-y-scroll">
  
      <!-- Products list -->
      <div class="flex flex-auto overflow-x-hidden overflow-y-scroll" style="flex-direction: column;">
      <div class="row">
          <div  class="col-lg-4">
            <div id="chart">
                <apx-chart
                  [series]="chartOptions.series"
                  [chart]="chartOptions.chart"
                  [labels]="chartOptions.labels"
                  [title]="chartOptions.title"
                  [theme]="chartOptions.theme"
                  [responsive]="chartOptions.responsive"
                ></apx-chart>
              </div>
          </div>
          <div  class="col-lg-4">
            <div id="chart">
                <apx-chart
                  [series]="chartOptions.series"
                  [chart]="chartOptions.chart"
                  [labels]="chartOptions.labels"
                  [title]="chartOptions.title"
                  [theme]="chartOptions.theme"
                  [responsive]="chartOptions.responsive"
                ></apx-chart>
              </div>
          </div>
          <div  class="col-lg-4">
            <div id="chart">
                <apx-chart
                  [series]="chartOptions.series"
                  [chart]="chartOptions.chart"
                  [labels]="chartOptions.labels"
                  [title]="chartOptions.title"
                  [theme]="chartOptions.theme"
                  [responsive]="chartOptions.responsive"
                ></apx-chart>
              </div>
          </div>
          </div>
          <div class="row mb-2">          
            <div  class="col-lg-12 table-responsive">
              <p class="heading mb-2 text-lg">
                Disbursements
              </p>
            <table class="table  table-striped">
              <thead>
                <tr class="table-header-background text-white">
                  <th >Calendar Year Target</th>
                  <th>Achievement</th>
                  <th>%age</th>
                </tr>
              </thead>
          
                <tbody>

                     
                      
                          <tr>
                            <th scope="row">Fiscsal year Target</th>
                            <td>Achievement</td>
                            <td>%age</td>
                          </tr>
                          <tr>
                            <th scope="row">Calendar Year Target Corresponding Period</th>
                            <td>Achievement</td>
                            <td>%age</td>
                          </tr>
                          <tr>
                            <th scope="row">Fiscsal year Target Corresponding Period</th>
                            <td>Achievement</td>
                            <td>%age</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>  
                </div>
      </div>
    </div>
 </div>
  
