<div class="flex">
    <h2 class="mb-0 w-11/12 heading mt-0" mat-dialog-title>Create User Role</h2>
    <mat-icon class="text-end w-1/12 text-danger self-center justify-content-end" mat-dialog-close>cancel</mat-icon>
</div>

<mat-dialog-content class="mat-typography">

    <form (ngSubmit)="onSubmit()" [formGroup]="roleForm" novalidate>
        <div class="flex gt-xs:flex-row mt-2">
            <mat-form-field class="flex-auto mr-3  w-6/12">
                <mat-label>Profile Name</mat-label>
                <input formControlName="ProfileName" id="ProfileName" matInput placeholder="Role Code">
                <!-- <mat-error *ngIf="errorHandling('ProfileName', 'required')">
                  You Must Provide Role Code
               </mat-error> -->

            </mat-form-field>
            <mat-form-field class="flex-auto   w-6/12">
                <mat-label>Description</mat-label>
                <input formControlName="ProfileDesc" id="ProfileDesc" matInput placeholder="Role Name">
                <!-- <mat-error *ngIf="errorHandling('ProfileDesc', 'required')">
                    You must provide Description
                 </mat-error> -->
            </mat-form-field>
        </div>
        <div class="flex gt-xs:flex-row mt-2">
            <mat-form-field appearance="outline" class="mat-form-field-fluid mr-4 w-6/12 map-fields">
                <mat-label>Group</mat-label>
                <mat-select formControlName="ProfileID">
                    <mat-option *ngFor="let lov of LOVs" [value]="lov?.Id">
                        {{lov?.Name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="py-3 border-t">


    <button
        (click)="onSubmit()"
        *ngIf="currentActivity.U"
        [color]="'primary'"
        [disabled]="viewLoading"
        class=" bg-green"
        mat-flat-button>

        <mat-icon class="mr-2">save</mat-icon>
        Save
    </button>
</mat-dialog-actions>


<!-- Copyright 2021 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
