<h2 mat-dialog-title>Create User Role</h2>
<mat-dialog-content class="mat-typography">

    <form  [formGroup]="createOrEditFrom" (ngSubmit)="onSubmit()" novalidate>
        <div class="flex gt-xs:flex-row">
            <mat-form-field  [ngClass]="formFieldHelpers"  class="flex-auto gt-xs:pr-3 mr-5">
                <mat-label>Profile Name</mat-label>
                <input matInput id="ProfileName"  placeholder="Role Code" formControlName="ProfileName" >
                  <mat-error *ngIf="errorHandling('ProfileName', 'required')">
                    You Must Provide Role Code
                 </mat-error>
                
            </mat-form-field>
            <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto gt-xs:pl-3">
                <mat-label>Description</mat-label>
                <input matInput id="ProfileDesc" placeholder="Role Name" formControlName="ProfileDesc">
                <mat-error *ngIf="errorHandling('ProfileDesc', 'required')">
                    You must provide Description
                 </mat-error>
            </mat-form-field>
        </div>
        <div class="flex gt-xs:flex-row">
            <mat-form-field appearance="fill" class="flex-auto gt-xs:pl-3">
                <mat-label> Group</mat-label>
                <mat-select formControlName="ProfileID" required>
                  <mat-option>--</mat-option>
                  <mat-option  [value]="'Y'"  >
                    {{'Yes'}}
                  </mat-option>
                  <mat-option  [value]="'N'"  >
                    {{'No'}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="errorHandling('ProfileID', 'required')">
                    You must provide Active
                 </mat-error>
              </mat-form-field>
           
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
   
     <button
     class=""
     mat-flat-button
     [color]="'primary'"
     [disabled]="createOrEditFrom.disabled || !createOrEditFrom.valid"
     (click)="onSubmit()">
     <span *ngIf="!createOrEditFrom.disabled">
        Save
     </span>
     <mat-progress-spinner
         *ngIf="createOrEditFrom.disabled"
         [diameter]="24"
         [mode]="'indeterminate'"></mat-progress-spinner>
 </button>
</mat-dialog-actions>


<!-- Copyright 2021 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->