<div id="Kt-portlet-margin-top">
    <div class="kt-portlet">
        <!--[ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }"-->
        <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Organization</h3>
            </div>
        </div>
    </div>

    <div class="orgDiv">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodeToggle>
                <button disabled mat-icon-button></button>
                <mat-checkbox (change)="todoLeafItemSelectionToggle(node)"
                              [checked]="checklistSelection.isSelected(node)"
                              class="checklist-leaf-node">{{node.item}}</mat-checkbox>
            </mat-tree-node>

            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                <button [attr.aria-label]="'Toggle ' + node.item" mat-icon-button
                        matTreeNodeToggle>
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                <mat-checkbox
                    (change)="todoItemSelectionToggle(node)"
                    [checked]="descendantsAllSelected(node)"
                    [indeterminate]="descendantsPartiallySelected(node)"
                >{{node.item}}</mat-checkbox>
                <mat-progress-bar *ngIf="node.isLoading"
                                  class="example-tree-progress-bar"
                                  mode="indeterminate"></mat-progress-bar>
            </mat-tree-node>
        </mat-tree>

    </div>


    <div class="form-group kt-form__group row">
        <div class="col-lg-11 kt-margin-bottom-20-mobile mat-table">
            <button (click)="onSelect()" class="pull-right org-button" color="primary" mat-raised-button>Select</button>
            <button (click)="close(0)" class="pull-right org-button" color="primary" mat-raised-button>Close</button>
        </div>
    </div>
</div>

