<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="heading ">EVP (Credit Division)</div>
    <form #f="ngForm" name="form" novalidate>
        <div class="form-row row pt-2">
            <div class="form-group col-lg-3">
                <mat-form-field appearance="outline" class="mat-form-field-fluid w-full mb-0">
                    <mat-label class="customMatLabel">Year</mat-label>
                    <mat-select #Year="ngModel" [(ngModel)]="year" name="year" required>

                        <mat-option *ngFor="let single_year of years;let i=index" [value]="single_year">{{single_year}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="f.submitted && Year.invalid" class="invalid-feedback">
                    <div *ngIf="Year.errors.required">Title is required</div>
                </div>
            </div>
            <div class="form-group col-lg-3">
                <button (click)="getData()" class="btn btn-primary mat-flat-button mr-1 bg-gray-500 mt-2 mat-primary"
                        mat-raised-button>
                    <mat-icon class="mr-2">search</mat-icon>
                    Search
                </button>

            </div>
        </div>
        <div class="text-center">

        </div>
    </form>

    <!-- Main -->
    <div class="flex flex-auto overflow-x-hidden overflow-y-scroll">

        <!-- Products list -->
        <div class="flex flex-auto overflow-x-hidden overflow-y-scroll" style="flex-direction: column;">
            <div class="row">

                <div class="col-lg-6">
                    <div class="shadow-sm border graph-box" style="height: 365px;">
                        <div *ngIf="chartOptions1" class=" mt-0 py-3  position-relative " id="chart">
                            <apx-chart [chart]="chartOptions1?.chart" [colors]="chartOptions1?.colors"
                                       [dataLabels]="chartOptions1.dataLabels" [labels]="chartOptions1?.labels"
                                       [noData]="chartOptions1.noData" [responsive]="chartOptions1?.responsive"
                                       [series]="chartOptions1?.series"
                                       [theme]="chartOptions1?.theme"
                                       [title]="chartOptions1?.title"
                                       [tooltip]="chartOptions1.tooltip"
                            ></apx-chart>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="shadow-sm border graph-box" style="height: 365px;">
                        <div *ngIf="chartOptions2" class=" mt-0 py-3  position-relative " id="chart">
                            <apx-chart [chart]="chartOptions2?.chart"
                                       [colors]="chartOptions2?.colors"
                                       [dataLabels]="chartOptions2.dataLabels"
                                       [labels]="chartOptions2?.labels"
                                       [noData]="chartOptions2.noData"
                                       [responsive]="chartOptions2?.responsive"
                                       [series]="chartOptions2?.series"
                                       [theme]="chartOptions2?.theme"
                                       [title]="chartOptions2?.title"
                                       [tooltip]="chartOptions2.tooltip"
                            ></apx-chart>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 mt-3">
                    <div class="shadow-sm border graph-box" style="height: 365px;">
                        <div *ngIf="chartOptions3" class=" mt-0 py-3  position-relative " id="chart">
                            <apx-chart [chart]="chartOptions3?.chart"
                                       [colors]="chartOptions3?.colors"
                                       [dataLabels]="chartOptions3.dataLabels"
                                       [labels]="chartOptions3?.labels"
                                       [noData]="chartOptions3.noData"
                                       [responsive]="chartOptions3?.responsive"
                                       [series]="chartOptions3?.series"
                                       [theme]="chartOptions3?.theme"
                                       [title]="chartOptions3?.title"
                                       [tooltip]="chartOptions3.tooltip"></apx-chart>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 mt-3">
                    <div class="shadow-sm border graph-box" style="height: 365px;">
                        <div *ngIf="chartOptions4" class=" mt-0 py-3  position-relative " id="chart">
                            <apx-chart [chart]="chartOptions4?.chart"
                                       [colors]="chartOptions4?.colors"
                                       [dataLabels]="chartOptions4.dataLabels"
                                       [labels]="chartOptions4?.labels"
                                       [noData]="chartOptions4.noData"
                                       [responsive]="chartOptions4?.responsive"
                                       [series]="chartOptions4?.series"
                                       [theme]="chartOptions4?.theme"
                                       [title]="chartOptions4?.title"
                                       [tooltip]="chartOptions4.tooltip"></apx-chart>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 py-3">
                    <div *ngIf="CreditCeiling" class="shadow-sm border pt-2" style="height: 365px;">
                        <p class=" ml-3" style="font-size: 14px; font-weight: 900;">Credit Ceiling</p>
                        <app-pyramid-chart [item]="CreditCeiling">

                        </app-pyramid-chart>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 table-responsive">
                    <p class="heading mb-2 text-lg">Disbursements</p>
                    <table class="table table-striped">

                        <!-- <thead>
                        <tr class="table-header-background">
                            <th scope="col">Calendar Year Target</th>
                            <th scope="col">Achievement</th>
                            <th scope="col">%age</th>
                        </tr>
                        </thead> -->
                        <tbody *ngIf="DisbursmentAchievement">
                        <tr class="text-center">
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCase("CalenderYearAchievement")}}
                                    </div>
                                    <div class="fw-bold">
                                        {{DisbursmentAchievement["CalenderYearAchievement"]}}
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCase("CorrespondingCalenderYearAchievement")}}
                                    </div>
                                    <div class="fw-bold">
                                        {{DisbursmentAchievement["CorrespondingCalenderYearAchievement"]}}
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{getFormatString("Increase_Decrease_Calendar")}}
                                    </div>
                                    <div class="fw-bold">
                                        {{DisbursmentAchievement["Increase_Decrease_Calendar"]}}
                                    </div>
                                </div>
                            </td>

                        </tr>
                        <tr class="text-center">
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCase("FiscalYearAchievement")}}
                                    </div>
                                    <div class="fw-bold">
                                        {{DisbursmentAchievement["FiscalYearAchievement"]}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCase("CorrespondingFiscalYearAchievement")}}
                                    </div>
                                    <div class="fw-bold">
                                        {{DisbursmentAchievement["CorrespondingFiscalYearAchievement"]}}
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{getFormatString("Increase_Decrease_Fiscal")}}
                                    </div>
                                    <div class="fw-bold">
                                        {{DisbursmentAchievement["Increase_Decrease_Fiscal"]}}
                                    </div>
                                </div>
                            </td>

                        </tr>
                        <!-- <tr *ngFor="let items of DisbursmentAchievement ; let row=index" class="text-center">
                            <td>
                                <div class="d-grid">
                                    <div>
                                       {{dashboardService.getCamelCaseString(items[0],0)}}
                                    </div>
                                    <div class="fw-bold">
                                        {{dashboardService.getCamelCaseString(items[0],1)}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCaseString(items[1],0)}}
                                     </div>
                                     <div class="fw-bold">
                                         {{dashboardService.getCamelCaseString(items[1],1)}}
                                     </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCaseString(items[2],0)}}
                                     </div>
                                     <div class="fw-bold">
                                         {{dashboardService.getCamelCaseString(items[2],1)}}
                                     </div>
                                </div>
                            </td>
                        </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12 table-responsive">
                    <p class="heading mb-2 text-lg">Recovery</p>
                    <table class="table table-striped">
                        <!-- <thead>
                        <tr class="table-header-background">
                            <th scope="col">Calendar Year Target</th>
                            <th scope="col">Achievement</th>
                            <th scope="col">%age</th>
                        </tr>
                        </thead> -->
                        <tbody>
                        <tr *ngFor="let items of RecoveryAchievement" class="text-center">
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCaseString(items[0], 0)}}
                                    </div>
                                    <div class="fw-bold">
                                        {{dashboardService.getCamelCaseString(items[0], 1)}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCaseString(items[1], 0)}}
                                    </div>
                                    <div class="fw-bold">
                                        {{dashboardService.getCamelCaseString(items[1], 1)}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <div>
                                        {{dashboardService.getCamelCaseString(items[2], 0)}}
                                    </div>
                                    <div class="fw-bold">
                                        {{dashboardService.getCamelCaseString(items[2], 1)}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 table-responsive">
                    <p class="heading mb-2 text-lg">Top 5 Zones: Bursting Annual Credit Ceiling</p>
                    <table class="table table-striped">

                        <thead>
                        <tr class="table-header-background">
                            <th scope="col">SR. No</th>
                            <th scope="col">Name of Zone</th>
                            <th scope="col">Amount</th>
                        </tr>
                        </thead>
                        <tbody *ngIf="CountryTop5">
                        <tr *ngFor="let item of CountryTop5; let row=index">
                            <td>{{row + 1}}</td>
                            <td> {{item.Name != '' ? item.Name : 'No Data'}}</td>
                            <td> {{item.Amount != '' ? item.Amount : 'No Data'}}</td>
                        </tr>
                        </tbody>
                        <tbody *ngIf="!CountryTop5">
                        <tr>
                            <td></td>
                            <td> No Data</td>
                            <td> No Data</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
