<div class="pt-3 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="heading ">EVP (Credit Division)</div>
    <div>
        <form [formGroup]="options">
            <div class="row pt-2">
                <div class="col-lg-4">
                    <mat-form-field class="w-full" appearance="outline">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="picker">

                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field class="w-full" appearance="outline" [floatLabel]="floatLabelControl?.value">
                        <mat-label>Zone Name</mat-label>
                        <input matInput placeholder="Enter Branch Name">
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field class="w-full" appearance="outline" [floatLabel]="floatLabelControl?.value">
                        <mat-label>Province Name</mat-label>
                        <input matInput placeholder="Enter Zone Name">
                    </mat-form-field>
                </div>
            </div>


        </form>
    </div>
    <!-- Main -->
    <div class="flex flex-auto overflow-x-hidden overflow-y-scroll">

        <!-- Products list -->
        <div class="flex flex-auto overflow-x-hidden overflow-y-scroll" style="flex-direction: column;">
            <div class="row">
                <div class="col-lg-6">
                    <div class="shadow-sm border">
                        <div id="chart" class=" mt-0 py-3">
                            <apx-chart
                                [series]="chartOptions1?.series"
                                [chart]="chartOptions1?.chart"
                                [labels]="chartOptions1?.labels"
                                [title]="chartOptions1?.title"
                                [theme]="chartOptions1?.theme"
                                [responsive]="chartOptions1?.responsive"
                            ></apx-chart>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="shadow-sm border">
                        <div id="chart" class=" mt-0 py-3">
                            <apx-chart
                                [series]="chartOptions2?.series"
                                [chart]="chartOptions2?.chart"
                                [labels]="chartOptions2?.labels"
                                [title]="chartOptions2?.title"
                                [theme]="chartOptions2?.theme"
                                [responsive]="chartOptions2?.responsive"
                            ></apx-chart>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 mt-3">
                    <div class="shadow-sm border">
                        <div id="chart" class=" mt-0 py-3">
                            <apx-chart
                                [series]="chartOptions3?.series"
                                [chart]="chartOptions3?.chart"
                                [labels]="chartOptions3?.labels"
                                [title]="chartOptions3?.title"
                                [theme]="chartOptions3?.theme"
                                [responsive]="chartOptions3?.responsive"
                            ></apx-chart>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 mt-3">
                    <div class="shadow-sm border">
                        <div id="chart" class=" mt-0 py-3">
                            <apx-chart
                                [series]="chartOptions4?.series"
                                [chart]="chartOptions4?.chart"
                                [labels]="chartOptions4?.labels"
                                [title]="chartOptions4?.title"
                                [theme]="chartOptions4?.theme"
                                [responsive]="chartOptions4?.responsive"
                            ></apx-chart>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 table-responsive">
                    <p class="heading mb-2 text-lg">Disbursements</p>
                    <table class="table table-striped">

                        <thead>
                        <tr class="table-header-background">
                            <th scope="col">Calendar Year Target</th>
                            <th scope="col">Achievement</th>
                            <th scope="col">%age</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Fiscsal year Target</th>
                            <td>Achievement</td>
                            <td>%age</td>
                        </tr>
                        <tr>
                            <th scope="row">Calendar Year Target Corresponding Period</th>
                            <td>Achievement</td>
                            <td>%age</td>
                        </tr>
                        <tr>
                            <th scope="row">Fiscsal year Target Corresponding Period</th>
                            <td>Achievement</td>
                            <td>%age</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6 table-responsive">
                    <p class="heading mb-2 text-lg">Recovery</p>
                    <table class="table table-striped">
                        <thead>
                        <tr class="table-header-background">
                            <th scope="col">Calendar Year Target</th>
                            <th scope="col">Achievement</th>
                            <th scope="col">%age</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Fiscsal year Target</th>
                            <td>Achievement</td>
                            <td>%age</td>
                        </tr>
                        <tr>
                            <th scope="row">Calendar Year Target Corresponding Period</th>
                            <td>Achievement</td>
                            <td>%age</td>
                        </tr>
                        <tr>
                            <th scope="row">Fiscsal year Target Corresponding Period</th>
                            <td>Achievement</td>
                            <td>%age</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 table-responsive">
                    <p class="heading mb-2 text-lg">Circle Wise within Allocated Branches</p>
                    <table class="table table-striped">

                        <thead>
                        <tr class="table-header-background">
                            <th scope="col">Branch</th>
                            <th scope="col">Disbursement</th>
                            <th scope="col">Recovery</th>
                            <th scope="col">NPL</th>
                            <th scope="col">SAM</th>
                            <th scope="col">Outstanding</th>
                            <th scope="col">Audit Prase</th>
                            <th scope="col">Utilization</th>
                            <th scope="col">Mutations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


