<div [formGroup]="gridForm"
     class="px-10  sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 overflow-y-scroll overflow-x-hidden bg-card dark:bg-transparent">


    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">TOUR DIARY & PROGRESS REPORT OF BRANCH MANAGER</div>

        </div>
        <div class="col-lg-3 col-sm-12 self-center">
        </div>
    </div>

    <app-zone-branch-circle (branchZoneCircleData)="getAllData($event)" [form]="gridForm" [is_required_circle]="false"
                            [should_filter]="false" [show_circle]="false"
                            hidden></app-zone-branch-circle>

    <div id="Kt-portlet-margin-top">
        <div class="collapse show" id="collapseExample">
            <div class="kt-form kt-form--group-seperator-dashed">

                <div class="kt-form">

                    <div class="kt-portlet__body">

                        <div class="col-lg-12 p-0 ist-table overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400" rowspan="2">Date</th>
                                    <th class="border-r border-gray-400" colspan="2">Departure from</th>
                                    <th class="border-r border-gray-400" colspan="2">Arrival at</th>
                                    <th class="border-r border-gray-400" colspan="2">Disbursements</th>
                                    <th class="border-r border-gray-400" colspan="2">Recovery</th>
                                    <th class="border-r border-gray-400" rowspan="2">No. of utilizations checked as per
                                        quota
                                    </th>
                                    <th class="border-r border-gray-400" colspan="2">
                                        Transfer of Technology
                                    </th>
                                    <th class="border-r border-gray-400" rowspan="2">Any other work done</th>
                                    <th class="border-r border-gray-400" rowspan="2">Remarks</th>
                                </tr>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400">Place</th>
                                    <th class="border-r border-gray-400">Time</th>
                                    <th class="border-r border-gray-400">Place</th>
                                    <th class="border-r border-gray-400">Time</th>
                                    <th class="border-r border-gray-400">No. of new borrowers contacted</th>
                                    <th class="border-r border-gray-400">No. of borrowers of Roll-over cases contacted
                                    </th>
                                    <th class="border-r border-gray-400">No. of Defaulters contacted</th>
                                    <th class="border-r border-gray-400">Amount recovered with L.C. No.</th>
                                    <th class="border-r border-gray-400">Progressive Farmers contacted</th>
                                    <th class="border-r border-gray-400">No. of farms visited</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let single_list of TourDiaryList">
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.TourDate" matInput readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.DepartureFromPlace" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.DepartureFromTime" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.ArrivalAtPlace" matInput readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.ArrivalAtTime" matInput readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.DisbNoOfNewBorrowerContacted" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.DisbBorrowerRollOverCasesContacted" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.RecNoOfDefaulterContacted" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full">
                                            <input [value]="single_list?.RecAmountRecoveredWithLCNo" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full" style="width: 13rem !important">
                                            <input [value]="single_list?.NoOfUtilizationChecked" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full" style="width: 13rem !important">
                                            <input [value]="single_list?.TOTFarmersContacted" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full" style="width: 13rem !important">
                                            <input [value]="single_list?.TOTNoOfFarmersVisisted" matInput
                                                   readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full" style="width: 13rem !important">
                                            <input [value]="single_list?.AnyOtherWorkDone" matInput readonly="readonly">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field appearance="outline"
                                                        class=" mat-form-field-fluid w-full" style="width: 13rem !important">
                                            <input [value]="single_list?.Remarks" matInput readonly="readonly">
                                        </mat-form-field>
                                    </td>

                                </tr>

                                </tbody>
                            </table>

                        </div>


                        <div
                            class="col-lg-12 p-0  third-table  overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table ">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400" colspan="6">
                                        Disbursement
                                    </th>
                                </tr>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400">Annual Target</th>
                                    <th class="border-r border-gray-400">Proportionate Target up to the end of month
                                        under report
                                    </th>
                                    <th class="border-r border-gray-400">Total disbursement up to the end of previous
                                        month
                                    </th>
                                    <th class="border-r border-gray-400">Disbursement during the month under report</th>
                                    <th class="border-r border-gray-400">Total disbursement up to the end of month under
                                        report
                                    </th>
                                    <th class="border-r border-gray-400">Increase/Deficit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DisbAnnualTarget}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DPropTargetEoM}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DTotalDisbEOPM}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DisbDuringMnth}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DTotalDisbUpToEOM}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DisbIncreaseDeficit}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                        <div
                            class="col-lg-12 p-0  third-table  overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table ">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400" colspan="15">RECOVERY</th>
                                </tr>
                                </thead>
                                <thead>
                                <tr class="table-header-background text-center">
                                    <!-- UTILIZATIONS -->
                                    <th class="border-r border-gray-400" colspan="3">Amount in default up to the month
                                        under report (TARGET)
                                    </th>
                                    <th class="border-r border-gray-400" colspan="3">Recovery during the month under
                                        report
                                    </th>
                                    <th class="border-r border-gray-400" colspan="3">Balance Recoverable</th>
                                    <th class="border-r border-gray-400" colspan="3">Recovery during corresponding
                                        period
                                    </th>
                                    <th class="border-r border-gray-400" rowspan="2">Increase/Deficit</th>
                                    <th class="border-r border-gray-400" colspan="2">
                                        Reschedulement/Restructuring/Write-off/Remission cases of the branch visited
                                    </th>
                                </tr>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Activity</th>
                                    <th class="border-r border-gray-400">No.</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RecoveryAmountUpToEOMPD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RecoveryAmountUpToEOMCD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RecoveryAmountUpToEOMTotal}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringMonthPD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringMonthCD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringMonthTotal}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RBalnceRecoverablePD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RBalnceRecoverableCD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RBalnceRecoverableTotal}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringCorrespondingPD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringCorrespondingCD}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RDuringCorrespondingTotal}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.RecIncreaseDecrease}}</td>
                                    <td class="border-r border-gray-400">
                                        <ul>
                                            <li>Reschedulement/Restructring of Installments</li>
                                            <li>RightOff/remission</li>
                                        </ul>
                                    </td>
                                    <td class="border-r border-gray-400"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div
                            class="col-lg-12 p-0  third-table  overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table ">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th colspan="6">
                                        Deposits
                                    </th>
                                </tr>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400">Annual Target</th>
                                    <th class="border-r border-gray-400">Proportionate Target</th>
                                    <th class="border-r border-gray-400">Achievement Percentage</th>
                                    <th class="border-r border-gray-400">Deposit Balance during corresponding period</th>
                                    <th class="border-r border-gray-400">Deposit Balance during period</th>
                                    <th class="border-r border-gray-400">Increase/Deficit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DepositAnnualTarget}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DepProportionateTarget}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DepAcchivementPercentage}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DepCorrespondingPeriod}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DepBalnceDuringPeriod}}</td>
                                    <td class="border-r border-gray-400">{{systemGenerated?.DepIncreaseDecrease}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="row mt-2 mr-1">
        <div class="col-lg-12 text-right">
            <button (click)="changeStatus('A')" class="mr-2 bg-green" color="primary" mat-raised-button>
                <mat-icon class="mr-2">check</mat-icon>
                Approve All
            </button>
            <button (click)="changeStatus('R')" class="mr-2 bg-red" color="primary" mat-raised-button>
                <mat-icon class="mr-2">cancel</mat-icon>
                ReferBack All
            </button>
        </div>
    </div>
</div>

<ngx-material-timepicker #timepickerDeparture></ngx-material-timepicker>
<ngx-material-timepicker #timepickerArrival></ngx-material-timepicker>
