<div
    class="px-10  sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 overflow-y-scroll overflow-x-hidden bg-card dark:bg-transparent">


    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">TOUR DIARY & PROGRESS REPORT OF BRANCH MANAGER</div>

        </div>
        <div class="col-lg-3 col-sm-12 self-center">
        </div>
    </div>


    <div id="Kt-portlet-margin-top">
        <div  class="collapse show" id="collapseExample">
            <div class="kt-form kt-form--group-seperator-dashed">

                <div class="kt-form">

                    <div class="kt-portlet__body">

                        <div class="col-lg-12 p-0 ist-table overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th rowspan="2" class="border-r border-gray-400">Date</th>
                                    <th colspan="2" class="border-r border-gray-400">Departure from</th>
                                    <th colspan="2" class="border-r border-gray-400">Arrival at</th>
                                    <th colspan="2" class="border-r border-gray-400">Disbursements</th>
                                    <th colspan="2" class="border-r border-gray-400">Recovery</th>
                                    <th rowspan="2" class="border-r border-gray-400">No. of utilizations checked as per
                                        quota
                                    </th>
                                    <th colspan="2" class="border-r border-gray-400">
                                        Transfer of Technology
                                    </th>
                                    <th rowspan="2" class="border-r border-gray-400">Any other work done</th>
                                    <th rowspan="2" class="border-r border-gray-400">Remarks</th>
                                </tr>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400">Place</th>
                                    <th class="border-r border-gray-400">Time</th>
                                    <th class="border-r border-gray-400">Place</th>
                                    <th class="border-r border-gray-400">Time</th>
                                    <th class="border-r border-gray-400">No. of new borrowers contacted</th>
                                    <th class="border-r border-gray-400">No. of borrowers of Roll-over cases contacted
                                    </th>
                                    <th class="border-r border-gray-400">No. of Defaulters contacted</th>
                                    <th class="border-r border-gray-400">Amount recovered with L.C. No.</th>
                                    <th class="border-r border-gray-400">Progressive Farmers contacted</th>
                                    <th class="border-r border-gray-400">No. of farms visited</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let single_list of TourDiaryList">
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly" [value]="single_list?.TourDate">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.DepartureFromPlace">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.DepartureFromTime">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly" [value]="single_list?.ArrivalAtPlace">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly" [value]="single_list?.ArrivalAtTime">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.DisbNoOfNewBorrowerContacted">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.DisbBorrowerRollOverCasesContacted">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.RecNoOfDefaulterContacted">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.RecAmountRecoveredWithLCNo">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline" style="width: 13rem !important">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.NoOfUtilizationChecked">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline" style="width: 13rem !important">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.TOTFarmersContacted">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline" style="width: 13rem !important">
                                            <input matInput readonly="readonly"
                                                   [value]="single_list?.TOTNoOfFarmersVisisted">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline" style="width: 13rem !important">
                                            <input matInput readonly="readonly" [value]="single_list?.AnyOtherWorkDone">
                                        </mat-form-field>
                                    </td>
                                    <td class="border-r border-gray-400">
                                        <mat-form-field class=" mat-form-field-fluid w-full"
                                                        appearance="outline" style="width: 13rem !important">
                                            <input matInput readonly="readonly" [value]="single_list?.Remarks">
                                        </mat-form-field>
                                    </td>

                                </tr>

                                </tbody>
                            </table>

                        </div>


                        <div
                            class="col-lg-12 p-0  third-table  overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table ">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th colspan="6" class="border-r border-gray-400">
                                        Disbursement
                                    </th>
                                </tr>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400">Annual Target</th>
                                    <th class="border-r border-gray-400">Proportionate Target up to the end of month
                                        under report
                                    </th>
                                    <th class="border-r border-gray-400">Total disbursement up to the end of previous
                                        month
                                    </th>
                                    <th class="border-r border-gray-400">Disbursement during the month under report</th>
                                    <th class="border-r border-gray-400">Total disbursement up to the end of month under
                                        report
                                    </th>
                                    <th class="border-r border-gray-400">Increase/Deficit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                        <div
                            class="col-lg-12 p-0  third-table  overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table ">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th colspan="15" class="border-r border-gray-400">RECOVERY</th>
                                </tr>
                                </thead>
                                <thead>
                                <tr class="table-header-background text-center">
                                    <!-- UTILIZATIONS -->
                                    <th colspan="3" class="border-r border-gray-400">Amount in default up to the month
                                        under report (TARGET)
                                    </th>
                                    <th colspan="3" class="border-r border-gray-400">Recovery during the month under
                                        report
                                    </th>
                                    <th colspan="3" class="border-r border-gray-400">Balance Recoverable</th>
                                    <th colspan="3" class="border-r border-gray-400">Recovery during corresponding
                                        period
                                    </th>
                                    <th rowspan="2" class="border-r border-gray-400">Increase/Deficit</th>
                                    <th colspan="2" class="border-r border-gray-400">
                                        Reschedulement/Restructuring/Write-off/Remission cases of the branch visited
                                    </th>
                                </tr>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Past Dues</th>
                                    <th class="border-r border-gray-400">Current Dues</th>
                                    <th class="border-r border-gray-400">Total</th>
                                    <th class="border-r border-gray-400">Activity</th>
                                    <th class="border-r border-gray-400">No.</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400">
                                        <ul>
                                            <li>Reschedulement</li>
                                            <li>Restructring of Installments</li>
                                            <li>RightOff/remission</li>
                                        </ul>
                                    </td>
                                    <td class="border-r border-gray-400"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div
                            class="col-lg-12 p-0  third-table  overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                            <table class="table ">
                                <thead>
                                <tr class="table-header-background text-center">
                                    <th colspan="5">
                                        Deposits
                                    </th>
                                </tr>
                                <tr class="table-header-background text-center">
                                    <th class="border-r border-gray-400">Annual Target</th>
                                    <th class="border-r border-gray-400">Proportionate Target</th>
                                    <th class="border-r border-gray-400">Achievement Percentage</th>
                                    <th class="border-r border-gray-400">Deposit Balance during corresponding period
                                    </th>
                                    <th class="border-r border-gray-400">Increase/Deficit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                    <td class="border-r border-gray-400"></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
s
    <div class="row mt-2 mr-1">
        <div class="col-lg-12 text-right">
            <button class="mr-2 bg-green" mat-raised-button color="primary" (click)="changeStatus('A')">
                <mat-icon class="mr-2">check</mat-icon>
                Approve All
            </button>
            <button class="mr-2 bg-red" mat-raised-button color="primary" (click)="changeStatus('R')">
                <mat-icon class="mr-2">cancel</mat-icon>
                ReferBack All
            </button>
        </div>
    </div>
</div>

<ngx-material-timepicker #timepickerDeparture></ngx-material-timepicker>
<ngx-material-timepicker #timepickerArrival></ngx-material-timepicker>
