<div class=" px-10  sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-scroll bg-card dark:bg-transparent">


    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">Tour Diary of MCO</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center">

            <p class="text-right">
                <button class="mt-1  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary" type="button"
                        color="primary"
                        aria-expanded="false" aria-controls="collapseExample" onclick="toggleCollapse()">
                    <mat-icon class="mr-2" id='arrow'>keyboard_arrow_down</mat-icon>
                    Advance Filter
                </button>
            </p>

        </div>
    </div>


    <div id="Kt-portlet-margin-top">
        <div class="collapse show" id="collapseExample">
            <div class="card card-body">
                <form [formGroup]="gridForm" class="kt-form kt-form--group-seperator-dashed">

                    <div class="kt-form">

                        <div class="kt-portlet__body">

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Mco Name</mat-label>
                                            <input matInput placeholder="Enter Mco Name" formControlName="McoName" autocomplete="off" readonly="readonly"/>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">PPNO:</mat-label>
                                            <input matInput placeholder="Enter PPNO" formControlName="PPNO" maxlength="30"
                                                   autocomplete="off" readonly="readonly"/>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Month</mat-label>
                                            <input matInput placeholder="Enter Month" formControlName="Month" maxlength="30"
                                                   autocomplete="off"/>
                                        </mat-form-field>
                                    </div>
<!--                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">-->
<!--                                        <button class="bg-gray-500" mat-raised-button color="primary" (click)="Add()">-->
<!--                                            <mat-icon class="mr-2">add</mat-icon>-->
<!--                                            Add-->
<!--                                        </button>-->
<!--                                    </div>-->

                                </div>


                            </div>

                        </div>
                    </div>


                </form>
            </div>
        </div>


    </div>

    <div class="col-lg-12 mt-2">
                <table class="table ">
                    <thead>
                    <tr class="table-header-background text-center">
                        <th rowspan="2">Date</th>
                        <th colspan="2">Departure from</th>
                        <th colspan="2">Arrival at</th>
                        <th colspan="6">Disbursements</th>
                        <th rowspan="2">No. of sanctioned mutations verified</th>
                        <th rowspan="2">No. of utilizations checked</th>
                        <th colspan="4">Recovery</th>
                        <th colspan="2">TRANSFER OF TECHNOLOGY</th>
                        <th rowspan="2">Any other work done</th>
                        <th rowspan="2">Remarks</th>
                    </tr>
                    <tr class="table-header-background text-center">
                        <th>Place</th>
                        <th>Time</th>
                        <th>Place</th>
                        <th>Time</th>
                        <th>No.of cases received/ entertained</th>
                        <th>No. of cases appraised</th>
                        <th>No. of cases in which original revenue record verified</th>
                        <th>No. of cases sanctioned if authorized</th>
                        <th>No. of sanction letters delivered</th>
                        <th>No. of supply orders delivered</th>
                        <th>No. of demand notices delivered</th>
                        <th>No. of legal notices delivered</th>
                        <th>No. of defauters contacted</th>
                        <th>Amount recovered (Daily)</th>
                        <th>Progressive farmers contacted</th>
                        <th>No. of farms visited</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td></td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput placeholder="Total">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td></td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class=" mat-form-field-fluid w-full"
                                            appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </td>
                    </tr>
                    </tbody>
                </table>

    </div>

    <div class="col-lg-12 mt-2">
                <table class="table ">
                    <thead>
                    <tr class="table-header-background text-center">
                        <th colspan="6">Disbursements</th>
                        <th colspan="5">Mutations</th>
                    </tr>
                    </thead>
                    <thead>
                    <tr class="table-header-background text-center">
                        <!-- Disbursements -->
                        <th>Annual Target</th>
                        <th>Proportionate Target upto the end of month under report</th>
                        <th>Total Disbursement upto the end of previous month</th>
                        <th>Disburse-ment during the month under report</th>
                        <th>Total Disbursement upto the end of the month under report</th>
                        <th>Increase/Deficit</th>
                        <!-- Mutations -->
                        <th>No. of Mutations pending as on the previous month</th>
                        <th>No. of disbursed cases during the month</th>
                        <th>Total No. of mutations to be verified</th>
                        <th>Mutation verified during the month</th>
                        <th>Pending for verification</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    </tbody>
                </table>
    </div>

    <div class="col-lg-12 mt-2">
        <table class="table ">
            <thead>
            <tr class="table-header-background text-center">
                <th colspan="5">UTILIZATIONS</th>
                <th colspan="12">RECOVERY</th>
            </tr>
            </thead>
            <thead>
            <tr class="table-header-background text-center">
                <!-- UTILIZATIONS -->
                <th rowspan="4">No. of utilizations pending as on last date of the previous month</th>
                <th rowspan="4">No. of cases disbursed during the month</th>
                <th rowspan="4">Total No. of utilizations to be verified</th>
                <th rowspan="4">Utilization verified during the month</th>
                <th rowspan="4">Pending cases checking of utilization</th>
                <!-- RECOVERY -->
                <th colspan="4">Amount in default upto the month under Report (Target)</th>
                <th colspan="4">Recovery during the month under Report.</th>
                <th colspan="4">Balance Recoverable</th>
            </tr>
            <tr class="table-header-background text-center">
                <th colspan="2">Past Dues</th>
                <th colspan="2">Current Dues</th>
                <th colspan="2">Past Dues</th>
                <th colspan="2">Current Dues</th>
                <th colspan="2">Past Dues</th>
                <th colspan="2">Current Dues</th>
            </tr>
            <tr class="table-header-background text-center">
                <th>No.</th>
                <th>Amount</th>
                <th>No.</th>
                <th>Amount</th>
                <th>No.</th>
                <th>Amount</th>
                <th>No.</th>
                <th>Amount</th>
                <th>No.</th>
                <th>Amount</th>
                <th>No.</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

<!--    <div class="col-lg-12 mt-2">-->

<!--    </div>-->

</div>
