<div id="Kt-portlet-margin-top">
    <div class="kt-portlet">
        <div class="kt-portlet__head kt-portlet__head__custom" id="list-header"
             style="display: flex;flex-direction: row;justify-content: space-between; margin-bottom: 10px;">
            <div class="kt-portlet__head-label flex w-full">
                <h3 class="heading w-11/12">Upload Document</h3>
                <button class="text-end w-1/12" (click)="close(0)">
                    <mat-icon class="ml-2 text-white  p-3   bg-danger rounded-md">close</mat-icon>
                </button>
            </div>
            <!-- <span (click)="close(0)"><mat-icon>close</mat-icon></span> -->


        </div>
    </div>

    <form [formGroup]="PostDocument" class="kt-form kt-form--group-seperator-dashed">

        <div class="kt-form">

            <div class="kt-portlet__body">

                <div class="col-lg-12">

                    <div class="kt-portlet__head-label flex w-full">
                        <h6 class="heading w-full">Loan Information</h6>
                    </div>

                    <div class="flex" style="flex-wrap: wrap;">
                        <app-zone-branch-circle [form]="PostDocument" [should_show_circle]="false"
                                                [should_filter]="false"
                                                (branchZoneCircleData)="getAllData($event)"></app-zone-branch-circle>
                        <div class="mx-2">
                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                                <mat-form-field style="width: 150px;" class=" mat-form-field-fluid"
                                                appearance="outline">
                                    <mat-label class="customMatLabel">Loancase NO: <strong
                                        class="matMandatory">*</strong>
                                    </mat-label>
                                    <input matInput formControlName="LcNo" readonly>
                                    <mat-error *ngIf="hasError('DocumentRefNo', 'required')">LcNo
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                                <input style="width: 50px;" type="button" mat-raised-button color="primary"
                                       class="ml-2 w-5/12 mat-raised-button mat-button-base mat-primary searchLCBtn"
                                       (click)="loanCase()" value="Search"/>
                            </div>

                        </div>
                        <div class="mx-2">
                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <mat-label class="customMatLabel">Status: <strong class="matMandatory">*</strong>
                                    </mat-label>
                                    <input matInput formControlName="LoanStatus" readonly>
                                    <mat-error *ngIf="hasError('LoanStatus', 'required')">Document Ref No
                                        <strong>required</strong></mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="mx-2">
                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <mat-label class="customMatLabel">Loan Type: <strong class="matMandatory">*</strong>
                                    </mat-label>
                                    <input matInput formControlName="CategoryName" readonly>
                                    <mat-error *ngIf="hasError('DocumentRefNo', 'required')">Loan Type
                                        <strong>required</strong></mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="mx-2">
                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <mat-label class="customMatLabel">Loan Doc Type:<strong
                                        class="matMandatory">*</strong>
                                    </mat-label>
                                    <mat-select formControlName="DocLoanId">
                                        <!--                                    <mat-option>-->
                                        <!--                                        <ngx-mat-select-search placeholderLabel="Search Loan Type..." (focusout)="validateLoanTypeOnFocusOut()" noEntriesFoundLabel="No Loan Type Found" (keyup)="searchLoanType($event.target.value)">-->
                                        <!--                                        </ngx-mat-select-search>-->
                                        <!--                                    </mat-option>-->
                                        <mat-option *ngFor="let documentType of documentSelectedLoanType"
                                                    [value]="documentType.Id">
                                            {{documentType.Name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="hasError('ParentDocId', 'required')">Parent Doc Id
                                        <strong>required</strong></mat-error>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>


                    <div class="kt-portlet__head-label flex w-full">
                        <h6 class="heading w-full">Documents Information</h6>
                    </div>
                    <div class="flex" style="flex-wrap: wrap;">
                        <div class="mx-2">
                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <mat-label class="customMatLabel">Documents:<strong class="matMandatory">*</strong>
                                    </mat-label>
                                    <mat-select formControlName="ParentDocId" disabled>
                                        <!--                                    <mat-option>-->
                                        <!--                                        <ngx-mat-select-search placeholderLabel="Search Loan Type..." (focusout)="validateLoanTypeOnFocusOut()" noEntriesFoundLabel="No Loan Type Found" (keyup)="searchLoanType($event.target.value)">-->
                                        <!--                                        </ngx-mat-select-search>-->
                                        <!--                                    </mat-option>-->
                                        <mat-option *ngFor="let documentType of SelectedDocument"
                                                    [value]="documentType.Id">
                                            {{documentType.Name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="hasError('ParentDocId', 'required')">Parent Doc Id
                                        <strong>required</strong></mat-error>
                                </mat-form-field>
                            </div>

                        </div>

                        <div class="mx-2">
                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                                    <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                        <mat-label class="customMatLabel">Document Ref No. <strong
                                            class="matMandatory">*</strong></mat-label>
                                        <input matInput formControlName="DocumentRefNo" appNumberOnly>
                                        <mat-error *ngIf="hasError('DocumentRefNo', 'required')">Document Ref No
                                            <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="mx-2">
                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <mat-label class="customMatLabel">No of Files to Upload<strong class="matMandatory">*</strong>
                                    </mat-label>
                                    <input matInput formControlName="NoOfFilesToUpload"
                                           (keyup)="changeFilesQuantity()" appNumberOnly min="1">
                                    <mat-error *ngIf="hasError('NoOfFilesToUpload', 'required')">No Of Files To Upload
                                        <strong>required</strong></mat-error>
                                </mat-form-field>
                            </div>
                        </div>


                        <div class="mx-2">
                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                                <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                    <mat-label class="customMatLabel">Description</mat-label>
                                    <input matInput formControlName="Description">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>


                    <div class="kt-portlet__head-label flex w-full">
                        <h6 class="heading w-full">Attachments:</h6>
                    </div>

                    <div class="col-lg-12">
                        <div class="table-responsive">

                            <table class="table table-striped">
                                <thead>
                                <tr class="table-header-background">
                                    <th>Files</th>
                                    <th>Page No</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                                <tbody class="bg-white">

                                <tr *ngFor="let item of [].constructor(number_of_files); let i = index">
                                    <td>
                                        <div class="col-lg-12 kt-margin-bottom-20-mobile">
                                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                                                <input type="file" id="file_{{i}}"
                                                       accept="image/png, image/jpg, image/jpeg"
                                                       (change)="onFileChange($event)">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-lg-6 kt-margin-bottom-20-mobile">
                                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0">
                                                <mat-form-field class=" mat-form-field-fluid w-full"
                                                                appearance="outline">
                                                    <mat-label class="customMatLabel">Page No</mat-label>
                                                    <input matInput [value]="i+1" id="page_{{i}}" [disabled]="true">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-lg-12 kt-margin-bottom-20-mobile">
                                            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0"
                                                 style="font-size: 14px;">
                                                <mat-form-field class=" mat-form-field-fluid w-full"
                                                                appearance="outline">
                                                    <mat-label class="customMatLabel">Description</mat-label>
                                                    <input matInput
                                                           id="description_{{i}}">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

            </div>
        </div>


    </form>

    <div class="form-group kt-form__group row">
        <div class="col-lg-12 kt-margin-bottom-20-mobile mat-table mt-3 d-flex justify-between">
            <button style="background-color: #01671B;" type="button"
                    class="mt-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                    (click)="saveLoanDocuments()">
                <mat-icon class="mr-2">save</mat-icon>
                Save
            </button>
        </div>
    </div>

</div>


