<div
    class=" px-10 sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-scroll bg-card dark:bg-transparent">
    <div class="heading">Journal Voucher</div>
    <div [formGroup]="JvForm" class="pt-3">
        <div class="flex" style="flex-wrap: wrap;">


            <app-zone-branch-circle (branchZoneCircleData)="getAllData($event)" [form]="JvForm"
                                    [should_filter]="false"
                                    [show_circle]="false"></app-zone-branch-circle>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">

                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Working Date<strong class="matMandatory">*</strong>
                        </mat-label>
                        <input autocomplete="off" formControlName="BranchWorkingDate" matInput maxlength="30"
                               readonly="readonly"/>
                    </mat-form-field>
                </div>
            </div>


            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Voucher # <strong class="matMandatory">*</strong></mat-label>
                        <input appNumberOnly autocomplete="off" formControlName="VoucherNo" matInput
                               maxlength="30" placeholder="Voucher No" readonly="readonly"/>
                        <mat-error *ngIf="hasError('VoucherNo', 'required')">Voucher No <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-8/12">
                        <mat-label class="customMatLabel">Master Code <strong class="matMandatory">*</strong>
                        </mat-label>
                        <input [readonly]="recoverySaved || transactionEdit || viewOnly" appNumberOnly autocomplete="off" formControlName="TransactionMasterID"
                               matInput maxlength="5"
                               placeholder="Master Code"/>
                        <mat-error *ngIf="hasError('TransactionMasterID', 'required')">Master Code
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <input (click)="openJVMasterCodeDialog()" *ngIf="!viewOnly && currentActivity?.C" [disabled]="submitted || transactionEdit"
                           class=" ml-2 w-3/12 mat-raised-button mat-button-base mat-primary searchLCBtn"
                           color="primary" mat-raised-button type="button"
                           value="Search"/>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Effective Date (ddMMyyyy) <strong
                            class="matMandatory">*</strong>
                        </mat-label>
                        <input (dateChange)="isEnableReceipt(false)" [matDatepicker]="picker2" [max]="maxDate" [readonly]="recoverySaved || transactionEdit || viewOnly"
                               appNumberOnly autocomplete="off" formControlName="EffectiveDate"
                               matInput maxlength="30"/>
                        <mat-datepicker-toggle [disabled]="submitted || transactionEdit || viewOnly" [for]="picker2"
                                               matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>

                        <mat-error *ngIf="hasError('EffectiveDate', 'required')">Effective Date
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>


            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label>GL Head <strong class="matMandatory">*</strong></mat-label>
                        <mat-select [disabled]="recoverySaved || transactionEdit || viewOnly" formControlName="GlHead">
                            <mat-option *ngFor="let list of heads" [value]="list.Value">
                                {{list.Name}}
                            </mat-option>
                        </mat-select>
                        <!-- <div *ngIf="JvForm.controls['GlHead'].touched && !JvForm.controls['GlHead'].valid"> -->
                        <mat-error *ngIf="hasError('GlHead', 'required')">GL Head <strong>required</strong></mat-error>
                        <!-- </div> -->
                    </mat-form-field>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel"></mat-label>
                        <input [disabled]="recoverySaved || transactionEdit || viewOnly" [readonly]="recoverySaved || transactionEdit || viewOnly" appNumberOnly autocomplete="off" formControlName="GlSubID"
                               matInput maxlength="4"
                               minlength="4" placeholder=""/>
                        <mat-hint align="start" style="font-size: 12px; color: black">{{glSub}}</mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Total Amount <strong class="matMandatory">*</strong>
                        </mat-label>
                        <input [disabled]="recoverySaved || transactionEdit || viewOnly" [readonly]="recoverySaved || transactionEdit || viewOnly" appNumberOnly autocomplete="off"
                               formControlName="Amount" matInput
                               maxlength="14" placeholder="Total Amount"/>
                        <!-- <mat-error *ngIf="hasError('Amount', 'required')">Total Amount <strong>required</strong></mat-error> -->
                        <mat-error *ngIf="hasError('Amount', 'required')">Total Amount <strong>required</strong>
                        </mat-error>

                    </mat-form-field>
                    <mat-error *ngIf="amountError">Total Amount not more then Total OS</mat-error>
                </div>
            </div>

            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Tr Code <strong class="matMandatory">*</strong></mat-label>
                        <input [readonly]="recoverySaved || transactionEdit || viewOnly" appNumberOnly autocomplete="off" formControlName="TrCode" matInput
                               maxlength="3" placeholder="Tr Code"/>
                        <mat-error *ngIf="hasError('TrCode', 'required')">Tr Code <strong>required</strong></mat-error>
                    </mat-form-field>

                </div>
            </div>


            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label>RO</mat-label>
                        <mat-select [disabled]="recoverySaved || transactionEdit || viewOnly" formControlName="RoCode">
                            <mat-option *ngFor="let list of JvRos" [value]="list.Value">
                                {{list.Name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('RoCode', 'required')">RO <strong>required</strong></mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Advice #</mat-label>
                        <input [readonly]="recoverySaved || transactionEdit || viewOnly" appNumberOnly autocomplete="off" formControlName="AdviceNo"
                               matInput
                               maxlength="30" placeholder="Advice No"/>
                        <!-- <mat-error *ngIf="hasError('AdviceNo', 'required')">Advice No <strong>required</strong></mat-error> -->
                    </mat-form-field>
                </div>

                <!-- <strong class="matMandatory">*</strong> -->
            </div>

            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Contra Branch Code</mat-label>
                        <input [readonly]="recoverySaved || transactionEdit || viewOnly" appNumberOnly autocomplete="off"
                               formControlName="ContraBranchCode"
                               matInput maxlength="6"
                               placeholder="Contra Branch Code"/>
                        <!-- <mat-error *ngIf="hasError('ContraBranchCode', 'required')">Contra Branch Code <strong>required</strong></mat-error> -->
                    </mat-form-field>
                </div>
            </div>

            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid  w-8/12">
                        <mat-label class="customMatLabel">Dept Code</mat-label>
                        <input [readonly]="recoverySaved || transactionEdit || viewOnly" appNumberOnly autocomplete="off" formControlName="OrgDeptID"
                               matInput
                               maxlength="6" placeholder="Dept Code"/>
                        <!-- <mat-error *ngIf="hasError('OrgDeptID', 'required')">Deposit Code <strong>required</strong></mat-error> -->
                    </mat-form-field>
                    <input (click)="openJvOrganizationDialog()" *ngIf="!viewOnly && currentActivity?.C" [disabled]="submitted || transactionEdit"
                           class="ml-2 w-3/12 mat-raised-button mat-button-base mat-primary searchLCBtn" color="primary"
                           mat-raised-button type="button"
                           value="Search"/>
                </div>
            </div>

            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid  w-8/12">
                        <mat-label class="customMatLabel">LC #</mat-label>
                        <input (keyup)="changed($event)" [readonly]="recoverySaved || transactionEdit || viewOnly" appNumberOnly autocomplete="off"
                               formControlName="LoanCaseID" matInput maxlength="6"
                               placeholder="LC No"/>
                        <!-- <mat-error *ngIf="hasError('LoanCaseID', 'required')">LC No <strong>required</strong></mat-error> -->
                    </mat-form-field>
                    <input (click)="searchLC()" *ngIf="!viewOnly && currentActivity?.C" [disabled]="submitted || transactionEdit || viewOnly"
                           [readonly]="recoverySaved || transactionEdit" class="ml-2 w-3/12 mat-raised-button mat-button-base mat-primary searchLCBtn"
                           color="primary" mat-raised-button
                           type="button" value="Search"/>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field *ngIf="!expandDisbursement" appearance="outline"
                                    class="mat-form-field-fluid w-full">
                        <mat-label>Disbursement/LC GL</mat-label>
                        <mat-select [disabled]="recoverySaved || transactionEdit || viewOnly"
                                    formControlName="LoanDisbID">
                            <mat-option *ngFor="let list of DisbursementGLList" [value]="list.LoanDisbID">
                                {{list.Description}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="hasError('LoanDisbID', 'required')">Disbursement ID <strong>required</strong></mat-error> -->
                    </mat-form-field>

                </div>
            </div>
            <div class="mx-2 mt-4">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field *ngIf="expandDisbursement" appearance="outline"
                                    class="mat-form-field-fluid w-11/12">
                        <mat-label>Disbursement/LC GL</mat-label>
                        <mat-select [disabled]="recoverySaved || transactionEdit || viewOnly"
                                    formControlName="LoanDisbID">
                            <mat-option *ngFor="let list of DisbursementGLList" [value]="list.LoanDisbID">
                                {{list.Description}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="hasError('LoanDisbID', 'required')">Disbursement ID <strong>required</strong></mat-error> -->
                    </mat-form-field>
                    <span (click)="viewLLCInquiryGL()" *ngIf="!viewOnly && currentActivity?.C" class="cursor-pointer mx-4"
                          id="llcInquiryText"
                          style="color: #01671B;"><b class="underline">View LC Inquiry</b></span>
                </div>
            </div>

            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label>Account No</mat-label>
                        <input [readonly]="recoverySaved || transactionEdit || viewOnly" autocomplete="off" formControlName="DepositAccID" matInput
                               maxlength="14" placeholder="Account No"/>
                        <!-- <mat-error *ngIf="hasError('DepositAccID', 'required')">Account No <strong>required</strong></mat-error> -->
                    </mat-form-field>
                </div>
            </div>


            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Contra Voucher #</mat-label>
                        <input [readonly]="recoverySaved || transactionEdit || viewOnly" appNumberOnly autocomplete="off" formControlName="ContraVoucherNo"
                               matInput maxlength="14"
                               placeholder="Contra Voucher No"/>
                        <!-- <mat-error *ngIf="hasError('ContraVoucherNo', 'required')">Contra Voucher No <strong>required</strong></mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Rec #</mat-label>
                        <input [readonly]="recoverySaved || transactionEdit || viewOnly" appNumberOnly autocomplete="off" formControlName="RecordNo"
                               matInput
                               maxlength="7" placeholder="Record No"/>
                        <!-- <mat-error *ngIf="hasError('RecordNo', 'required')">Record No <strong>required</strong></mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">CA Code</mat-label>
                        <input [readonly]="recoverySaved || transactionEdit || viewOnly" appNumberOnly autocomplete="off" formControlName="CaCode" matInput
                               maxlength="7" placeholder="CA Code"/>
                        <!-- <mat-error *ngIf="hasError('CaCode', 'required')">CA Code <strong>required</strong></mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <div *ngIf="showInstrument">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label>Instrument Type</mat-label>
                            <mat-select [disabled]="recoverySaved || transactionEdit || viewOnly"
                                        formControlName="InstrumentType">
                                <mat-option *ngFor="let list of InstrumentTypes" [value]="list.Value">
                                    {{list.Name}}
                                </mat-option>
                            </mat-select>
                            <!-- <mat-error *ngIf="hasError('InstrumentType', 'required')">Instrument Type <strong>required</strong></mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <div *ngIf="showInstrument">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label class="customMatLabel"></mat-label>
                            <input [readonly]="recoverySaved || transactionEdit || viewOnly" autocomplete="off" formControlName="InstrumentNO1" matInput
                                   maxlength="6"
                                   placeholder=""/>
                            <!-- <mat-error *ngIf="hasError('InstrumentNO1', 'required')">Instrument # <strong>required</strong></mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <div *ngIf="showInstrument">
                        <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                            <mat-label class="customMatLabel"></mat-label>
                            <input [readonly]="recoverySaved || transactionEdit || viewOnly" autocomplete="off" formControlName="InstrumentNO2" matInput
                                   maxlength="10"
                                   placeholder=""/>
                            <!-- <mat-error *ngIf="hasError('InstrumentNO2', 'required')">Instrument # <strong>required</strong></mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">PP No</mat-label>
                        <input [readonly]="recoverySaved || transactionEdit || viewOnly" appNumberOnly autocomplete="off" formControlName="EmpPPNo" matInput
                               maxlength="8" placeholder=""/>
                        <!-- <mat-error *ngIf="hasError('EmpPPNo', 'required')">PP No <strong>required</strong></mat-error> -->
                    </mat-form-field>
                </div>
            </div>


            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Note:</mat-label>
                        <input [disabled]="!viewOnly" [readonly]="recoverySaved || transactionEdit || viewOnly" autocomplete="off" formControlName="Note"
                               matInput
                               placeholder="Note"/>
                    </mat-form-field>
                    <!-- <mat-error *ngIf="remarksError">Note <strong>required</strong></mat-error> -->
                </div>

            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">SAM LC</mat-label>
                        <input [readonly]="recoverySaved || transactionEdit || viewOnly" appNumberOnly autocomplete="off" formControlName="Samlc" matInput
                               maxlength="6" placeholder=""/>
                    </mat-form-field>
                </div>
            </div>
            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">SAM GL</mat-label>
                        <input [readonly]="recoverySaved || transactionEdit || viewOnly" appNumberOnly autocomplete="off" formControlName="Glsam" matInput
                               maxlength="4" placeholder="SAM GL"/>
                        <!-- <mat-error *ngIf="hasError('Glsam', 'required')">SAM GL <strong>required</strong></mat-error> -->
                    </mat-form-field>
                </div>
            </div>


            <div class="mx-2">
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Remarks:</mat-label>
                        <input [disabled]="!viewOnly" [readonly]="recoverySaved || transactionEdit || viewOnly" autocomplete="off" formControlName="Remarks"
                               matInput
                               maxlength="200" placeholder="Remarks"/>
                    </mat-form-field>
                    <!-- <mat-error *ngIf="remarksError">Remarks <strong>required</strong></mat-error> -->
                </div>
            </div>


        </div>


        <!-- <div  class="">

        </div> -->


    </div>
    <div class="col-lg-12 text-left pt-4 border-t">


        <button (click)="save()" *ngIf="!viewOnly && currentActivity?.C" [disabled]="submitted || transactionEdit" color="primary" mat-raised-button
                style="background-color: #01671B;" type="submit">
            <mat-icon class="mr-2">save</mat-icon>
            Save
        </button>
        <button (click)="clearForm()" *ngIf="!viewOnly && currentActivity?.C"
                [disabled]="submitted || transactionEdit"
                class="ml-2 mat-focus-indicator shadow-md btn bg-red-500 text-white rounded-md mx-2 mat-raised-button mat-button-base mat-danger"
                color="primary" mat-raised-button>
            <mat-icon class="mr-2"> clear_all</mat-icon>
            Clear
        </button>
        <!-- <button mat-raised-button color="primary" class="ml-2" type="reset" [disabled]="submitted || transactionEdit">Clear</button> -->

        <button (click)="submitJv()" *ngIf="!viewOnly && currentActivity?.U" [disabled]="submitted || viewOnly" class="ml-2"
                color="primary" mat-raised-button>
            <mat-icon class="mr-2">check_circle</mat-icon>
            Submit
        </button>
        <button (click)=" backToList()" *ngIf="!viewOnly && currentActivity?.C" [disabled]="submitted || transactionEdit" class="ml-2"
                color="primary" mat-raised-button>
            <mat-icon class="mr-2">list</mat-icon>
            Back To List
        </button>

        <button (click)="deleteJv()" *ngIf="isEditMode && deleteBtn && !viewOnly && currentActivity?.D" [disabled]="submitted || viewOnly" class="ml-2"
                color="primary" mat-raised-button>
            <mat-icon class="mr-2">delete_forever</mat-icon>
            Delete
        </button>
        <button (click)="findJv()" *ngIf="!viewOnly && currentActivity?.U" [disabled]="submitted || transactionEdit" class="ml-2"
                color="primary" mat-raised-button>
            <mat-icon class="mr-2">search</mat-icon>
            Search
        </button>
        <!--<button mat-raised-button color="primary" class="ml-2">Delete</button>-->
    </div>

    <div class="mt-4">
        <div *ngIf="tf">
            <mat-form-field appearance="outline" class="mat-form-field-fluid">
                <input autocomplete="off" matInput maxlength="30" placeholder="No Details Exist" readonly="readonly"/>
            </mat-form-field>
        </div>

        <div *ngIf="tf">
            <mat-form-field appearance="outline" class="mat-form-field-fluid">
                <input autocomplete="off" matInput maxlength="30" placeholder="No Details Exist" readonly="readonly"/>
            </mat-form-field>
        </div>
    </div>

    <div class="col-lg-12">

        <table *ngIf="table" class="table table-striped ">
            <thead>
            <tr class="table-header-background">
                <th>VOUCHER</th>
                <th>Flag</th>
                <th>TR Master</th>
                <th>Status</th>
                <th>Debit</th>
                <th>Credit</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let master of jvMaster">
                <td>{{master.ManualVoucherNo}}</td>
                <td>{{master.TransactionFlag}}</td>
                <td>{{master.TransactionMasterCode}}</td>
                <td>{{master.TransactionStatus}}</td>
                <td>{{master.DrAmount}}</td>
                <td>{{master.CrAmount}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-12">
        <div class="table-responsive">

            <table *ngIf="table" class="table table-striped">
                <thead>
                <tr class="table-header-background">
                    <th>GL Code</th>
                    <th>GL</th>
                    <th>Eff. Date</th>
                    <th>TR Code</th>
                    <th>LOAN ACC#</th>
                    <th>ACC #</th>
                    <th>ADV #</th>
                    <th>RO CODE</th>
                    <th>Cont-BR</th>
                    <th>Cont-Dept</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th *ngIf="!viewOnly"></th>
                    <th *ngIf="!viewOnly"></th>
                    <th *ngIf="viewOnly">Note</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let gl of jvGl;let i = index">
                    <td>{{gl.GlSubCode}}</td>
                    <td>{{gl.GlSubName}}</td>
                    <td>{{gl.EffectiveDate}}</td>
                    <td>{{gl.TrCode}}</td>
                    <td>{{gl.LoanCaseNo}}</td>
                    <td>{{gl.DepositAccID}}</td>
                    <td>{{gl.AdviceNo}}</td>
                    <td>{{gl.RoCode}}</td>
                    <td>{{gl.ContraBranchCode}}</td>
                    <td>{{gl.OrgDeptID}}</td>
                    <td>{{gl.DrAmount}}</td>
                    <td>{{gl.CrAmount}}</td>
                    <td *ngIf="!viewOnly && currentActivity?.U">
                        <button (click)="editRow(gl.TransactionSeq)" color="primary" mat-icon-button>
                            <mat-icon style="margin-left: 5px;" title="Edit Customer">edit</mat-icon>
                        </button>
                    </td>
                    <td *ngIf="!viewOnly && currentActivity?.C">
                        <button (click)="deleteRow(gl)" color="primary" mat-icon-button>
                            <mat-icon style="margin-left: 5px;" title="Edit Customer">delete</mat-icon>
                        </button>
                    </td>
                    <td *ngIf="viewOnly">{{gl.DetNote}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
