<div cdkScrollable class="px-10  absolute inset-0 bg-white flex flex-col min-w-0 overflow-y-scroll overflow-x-hidden">

    <div class="row py-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">Refresh Lov</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center">
            <p class="text-right">
                <button (click)="Refresh()"
                        class="  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary">
                    <mat-icon class=" mr-2 text-white">refresh</mat-icon>
                    Refresh
                </button>
            </p>
        </div>
    </div>

</div>
