<div [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }"
     class=" px-4  kt-portlet">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label flex">

            <h3 class=" heading w-3/12">{{getTitle()}}</h3>
            <div class="w-9/12 text-end">
                <button (click)="editCircleFence()" *ngIf="isEditBtnShown && _currentActivity.U" [disabled]="viewLoading || submitted"
                        class="btn btn-primary" color="primary" mat-raised-button
                        type="button">
                    <mat-icon class="mr-2">edit</mat-icon>
                    Edit
                </button>

                <button (click)="DeeteCircleFence()" *ngIf="isDeleteBtnShown && _currentActivity.D"
                        [disabled]="viewLoading || submitted"
                        class=" mx-2 mat-focus-indicator shadow-md btn bg-red-500 text-white rounded-md mx-2 mat-raised-button mat-button-base mat-danger" color="primary" mat-raised-button
                        type="button">
                    <mat-icon class="mr-2">delete_forever</mat-icon>
                    Delete
                </button>


                <button (click)="Clear()" *ngIf="isClearBtnShown" [disabled]="viewLoading || submitted" class="btn btn-primary" color="primary"
                        mat-raised-button type="button">
                    <mat-icon class="mr-2"> clear_all</mat-icon>
                    Clear
                </button>

                <button (click)="onSubmit()" *ngIf="isSaveBtnShown" [disabled]="viewLoading || submitted"
                        class=" mx-2 btn btn-primary" color="primary"
                        mat-raised-button style="background-color: #01671B;" type="button">
                    <mat-icon class="mr-2">save</mat-icon>
                    Save
                </button>
                <button [mat-dialog-close]="false" cdkFocusInitial class="ml-2" type="button" value="Cancel">
                    <mat-icon class="text-red-500">cancel</mat-icon>
                </button>
            </div>

        </div>


        <!-- <div class="row pb-3">
          <div class="col-lg-12  flex " style="color: #01671B;">
            <h5 class="mr-5 mt-3"><span class="map-circle-1 mr-2"> </span>Add</h5>


            <h5 class="mr-5 mt-3"><span class="map-circle-2 mr-2"> </span>Edit</h5>



            <h5 class="mr-5 mt-3"><span class="map-circle-3 mr-2"> </span>View</h5>
          </div>
        </div> -->

    </div>
    <form class="kt-form kt-form--group-seperator-dashed">
        <div class="kt-form">
            <div class="kt-portlet__body">
                <div class="row ">
                    <div class="col-lg-12 col-md-12  mat-elevation-z8 pt-0 p-3">

                        <input #search (keydown.enter)="$event.preventDefault()" autocapitalize="off"
                               autocorrect="off" class="form-control mb-2" placeholder="Search Nearest Location"
                               spellcheck="off" type="text" type="text">

                        <agm-map (mapReady)="onMapReady($event)"
                                 [latitude]="lat"
                                 [longitude]="lng"
                                 [mapTypeControlOptions]="controlOptions"
                                 [mapTypeControl]="true"
                                 [restriction]="countryRestriction"
                                 [zoom]="zoom"
                                 style="height:75vh;">
                        </agm-map>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row pt-3">
        <div class="col-lg-12 text-right">

        </div>
    </div>
</div>


<!--<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">
  <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
    </div>
  </div>
  <div>
    <div class="kt-portlet__body">-->
<!--</div>
  </div>
  <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
    <div class="kt-form__actions kt-form__actions--solid">
      <div class="row text-right">
        <div class="col-lg-12">
          <button type="button" class="button-red" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial>
            Cancel
          </button>&nbsp;
          <button type="button" class="btn btn-primary" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading || submitted">
            Save
          </button>&nbsp;
          <button type="button" class="btn btn-primary" mat-raised-button color="primary" (click)="Clear()" [disabled]="viewLoading || submitted">
            Clear
          </button>
        </div>
      </div>
    </div>
  </div>
</div>-->
