<div class=" px-4  kt-portlet"
     [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label flex">

            <h3 class=" heading w-3/12">{{getTitle()}}</h3>
            <div class="w-9/12 text-end">
              <button *ngIf="isEditBtnShown && _currentActivity.U" type="button" class="btn btn-primary"
              mat-raised-button color="primary" (click)="editCircleFense()"
              [disabled]="viewLoading || submitted">
              <mat-icon class="mr-2">edit</mat-icon> Edit
              </button>
  
              <button *ngIf="isDeleteBtnShown && _currentActivity.D" type="button" class=" mx-2 mat-focus-indicator shadow-md btn bg-red-500 text-white rounded-md mx-2 mat-raised-button mat-button-base mat-danger"
              mat-raised-button color="primary" (click)="DeeteCircleFence()"
              [disabled]="viewLoading || submitted">
              <mat-icon class="mr-2">delete_forever</mat-icon> Delete
              </button>
  
  
  
              <button *ngIf="isClearBtnShown" type="button" class="btn btn-primary" mat-raised-button color="primary"
              (click)="Clear()" [disabled]="viewLoading || submitted">
              <mat-icon class="mr-2"> clear_all</mat-icon>Clear
              </button>
  
              <button style="background-color: #01671B;" *ngIf="isSaveBtnShown" type="button" class=" mx-2 btn btn-primary" mat-raised-button
              color="primary" (click)="onSubmit()" [disabled]="viewLoading || submitted">
              <mat-icon class="mr-2">save</mat-icon> Save
              </button>
              <button type="button" class="ml-2" cdkFocusInitial value="Cancel" [mat-dialog-close]="false">
                <mat-icon class="text-red-500">cancel</mat-icon>
              </button>
            </div>

        </div>


      <!-- <div class="row pb-3">
        <div class="col-lg-12  flex " style="color: #01671B;">
          <h5 class="mr-5 mt-3"><span class="map-circle-1 mr-2"> </span>Add</h5>


          <h5 class="mr-5 mt-3"><span class="map-circle-2 mr-2"> </span>Edit</h5>



          <h5 class="mr-5 mt-3"><span class="map-circle-3 mr-2"> </span>View</h5>
        </div>
      </div> -->

    </div>
    <form class="kt-form kt-form--group-seperator-dashed">
        <div class="kt-form">
            <div class="kt-portlet__body">
                <div class="row ">
                    <div class="col-lg-12 col-md-12  mat-elevation-z8 pt-0 p-3">

                        <input type="text" class="form-control mb-2" (keydown.enter)="$event.preventDefault()"
                               placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off"
                               spellcheck="off" type="text" #search>

                        <agm-map [zoom]="zoom" 
                                 [latitude]="lat"
                                 [longitude]="lng"
                                 [mapTypeControlOptions]="controlOptions"
                                 [mapTypeControl]="true"
                                 (mapReady)="onMapReady($event)"
                                 [restriction]="countryRestriction" 
                                 style="height:75vh;">
                        </agm-map>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row pt-3">
      <div class="col-lg-12 text-right">

      </div>
    </div>
</div>


<!--<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">
  <div class="kt-portlet__head kt-portlet__head__custom" id="list-header">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
    </div>
  </div>
  <div>
    <div class="kt-portlet__body">-->
<!--</div>
  </div>
  <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
    <div class="kt-form__actions kt-form__actions--solid">
      <div class="row text-right">
        <div class="col-lg-12">
          <button type="button" class="button-red" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial>
            Cancel
          </button>&nbsp;
          <button type="button" class="btn btn-primary" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading || submitted">
            Save
          </button>&nbsp;
          <button type="button" class="btn btn-primary" mat-raised-button color="primary" (click)="Clear()" [disabled]="viewLoading || submitted">
            Clear
          </button>
        </div>
      </div>
    </div>
  </div>
</div>-->
