<div
    class="px-10  sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-scroll bg-card dark:bg-transparent">


    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">Request for Reschedulement of Loan Installment</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center">
            <p class="text-right">
                <button aria-controls="collapseExample" aria-expanded="false"
                        class="mt-1  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary"
                        color="primary" onclick="toggleCollapse()" type="button">
                    <mat-icon class="mr-2" id='arrow'>keyboard_arrow_down</mat-icon>
                    Advance Filter
                </button>
            </p>
        </div>
    </div>

    <!-- Header -->


    <div class="collapse show" id="collapseExample">
        <div class="card card-body">
            <div [formGroup]="RfrlForm">

                <div class="flex" style="flex-wrap: wrap;">
                    <app-zone-branch-circle (branchZoneCircleData)="getAllData($event)" [form]="RfrlForm"
                                            [show_circle]="false"></app-zone-branch-circle>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">

                            <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                <mat-label class="customMatLabel">Cnic <strong class="matMandatory">*</strong>
                                </mat-label>
                                <input appNumberOnly autocomplete="off" formControlName="Cnic" matInput
                                       maxlength="13"
                                       placeholder="Enter Cnic"/>
                                <mat-error *ngIf="hasError('Cnic', 'required')">Cnic <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">

                            <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                <mat-label class="customMatLabel">Application Date(ddMMyyyy) <strong
                                    class="matMandatory">*</strong>
                                </mat-label>
                                <input [matDatepicker]="picker3" [max]="today" formControlName="EffectiveReqDate"
                                       matInput
                                       readonly="readonly">
                                <mat-datepicker-toggle [for]="picker3" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                                <!--<mat-error *ngIf="hasError('AppDate', 'required')">Application Date <strong>required</strong></mat-error>-->
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">

                            <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                <mat-label class="customMatLabel">Branch Remarks<strong class="matMandatory">*</strong>
                                </mat-label>
                                <input autocomplete="off" formControlName="Remarks" matInput
                                       placeholder="Enter Branch Remarks"/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                            <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                <mat-label class="customMatLabel">Request Category <strong
                                    class="matMandatory">*</strong></mat-label>
                                <mat-select (selectionChange)="onSelectionChange($event)"
                                            formControlName="RequestCategory">

                                    <mat-option *ngFor="let Request of SelectedRequestType" [value]="Request.Id">
                                        {{Request.Name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mx-2">
                        <div *ngIf="graceMonthsSelect" class="flex flex-shrink-0 items-center mt-6 sm:mt-0"
                             style="width: 225px;">

                            <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                <mat-label class="customMatLabel">Grace Months <strong class="matMandatory">*</strong>
                                </mat-label>
                                <mat-select formControlName="GraceMonths">
                                    <mat-option *ngFor="let slct of select" [value]="slct.value">
                                        {{slct.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                            <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                                <mat-label class="customMatLabel">Manager PPNO <strong class="matMandatory">*</strong>
                                </mat-label>
                                <input appNumberOnly autocomplete="off" formControlName="MPpno" matInput
                                       placeholder="Enter Manager PPNO"/>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mx-2">
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0" style="width: 225px;">
                            <button (click)="find()" *ngIf="currentActivity?.C" class="bg-gray-500 mt-2" color="primary"
                                    mat-raised-button>
                                <mat-icon class="mr-2">search</mat-icon>
                                Search
                            </button>
                        </div>
                    </div>
                </div>


                <!--                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4" *ngIf="Field">-->
                <!--                    <mat-form-field class="mat-form-field-fluid" appearance="outline">-->
                <!--                        <mat-label class="customMatLabel"><em>No Record Found</em></mat-label>-->
                <!--                        <input matInput placeholder="No Record Found" autocomplete="off" readonly="readonly"/>-->
                <!--                    </mat-form-field>-->
                <!--                </div>-->
                <!--                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4" *ngIf="Field">-->
                <!--                    <mat-form-field class="mat-form-field-fluid" appearance="outline">-->
                <!--                        <mat-label class="customMatLabel"><em>No Record Found</em></mat-label>-->
                <!--                        <input matInput placeholder="No Record Found" autocomplete="off" readonly="readonly"/>-->
                <!--                    </mat-form-field>-->
                <!--                </div>-->

            </div>
        </div>
    </div>


    <div class="flex flex-auto mb-3 border shadow-xs rounded-sm bg-gray-50 "
         style="flex-direction: column; overflow-y: scroll ">
        <table class="example-table-container  ">
            <thead>
            <tr class="table-header-background p-5 ">
                <th>LC#</th>
                <th>Cnic</th>
                <th>Customer Name</th>
                <th>Father Name</th>
                <th>GL Description</th>
                <th>AGPS</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let res of response; let i = index;">
                <td>{{res.LoanCaseNo}}</td>
                <td>{{res.Cnic}}</td>
                <td>{{res.CustomerName}}</td>
                <td>{{res.FatherName}}</td>
                <td>{{res.GlSubname}}</td>
                <td>{{res.MajorBorrower}}</td>
                <td>
                    <mat-checkbox (change)="onChange(res, $event, i)" [(ngModel)]="checked"></mat-checkbox>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="Table" class="d-flex justify-content-center">
        <button (click)="Add()" color="primary" mat-raised-button>Add Select Record</button>
    </div>

    <div class="col-lg-12 mt-2">

        <table *ngIf="AddTable && checkedArr.length>0" class="table table-striped ">
            <thead>
            <tr class="table-header-background">
                <th>LC#</th>
                <th>Cnic</th>
                <th>Customer Name</th>
                <th>Father Name</th>
                <th>GL Description</th>
                <th>AGPS</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let res of tableArr; let i = index;">
                <td>{{res.LoanCaseNo}}</td>
                <td>{{res.Cnic}}</td>
                <td>{{res.CustomerName}}</td>
                <td>{{res.FatherName}}</td>
                <td>{{res.GlSubname}}</td>
                <td>{{res.MajorBorrower}}</td>
                <td>
                    <button (click)="deleteRow(i)" *ngIf="currentActivity?.D" color="primary" mat-raised-button>Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="AddTable && checkedArr.length>0" class="d-flex justify-content-center">
        <button (click)="submitData()" *ngIf="currentActivity?.U" color="primary" mat-raised-button>Submit</button>
        <button (click)="cancelData()" *ngIf="currentActivity?.D" class="ml-2" color="primary" mat-raised-button>Cancel
        </button>
    </div>
</div>
