<div class="px-10  sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 overflow-y-scroll overflow-x-hidden bg-card dark:bg-transparent">


    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">TOUR DIARY & PROGRESS REPORT OF ZONAL CHIEF</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center">

            <!--            <p class="text-right">-->
            <!--                <button class="mt-1  py-2 mat-focus-indicator mat-flat-button mat-button-base mat-primary" type="button"-->
            <!--                        color="primary"-->
            <!--                        aria-expanded="false" aria-controls="collapseExample" onclick="toggleCollapse()">-->
            <!--                    <mat-icon class="mr-2" id='arrow'>keyboard_arrow_down</mat-icon>-->
            <!--                    Advance Filter-->
            <!--                </button>-->
            <!--            </p>-->

        </div>
    </div>


    <div id="Kt-portlet-margin-top">
        <div class="collapse show" id="collapseExample">
                <form [formGroup]="gridForm" class="kt-form kt-form--group-seperator-dashed">

                    <div class="kt-form">

                        <div class="kt-portlet__body">

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Name of Officer</mat-label>
                                            <input matInput formControlName="NameOfOfficer" autocomplete="off" readonly="readonly"/>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">P.P.NO</mat-label>
                                            <input matInput formControlName="PPNO" autocomplete="off" readonly="readonly"/>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Month</mat-label>
                                            <input matInput formControlName="Month" autocomplete="off" readonly="readonly"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class=" mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label>Tour Plan</mat-label>
                                            <mat-select formControlName="TourPlanId">
                                                <mat-option>
                                                    Select
                                                </mat-option>
                                                <mat-option *ngFor="let obj of TourPlan" [value]="obj.TourPlanId">
                                                    {{obj.DisbDesc}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>


                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Date of Visit (ddMMyyyy) <strong class="matMandatory">*</strong>
                                            </mat-label>
                                            <input matInput [matDatepicker]="picker2" formControlName="TourDate" maxlength="30" autocomplete="off"
                                                   [max]="maxDate" (dateChange)="isEnableReceipt(false)" appNumberOnly/>
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <app-zone-branch-circle [form]="gridForm" [show_circle]="false"
                                                            [is_required_circle]="false"
                                                            (branchZoneCircleData)="getAllData($event)"></app-zone-branch-circle>

                                </div>

                                <div class="sub-heading">Departure From
                                </div>

                                <div class="col-lg-12">
                                    <div class="flex" style="flex-wrap: wrap;">
                                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                                <mat-label class="customMatLabel">Departure Place</mat-label>
                                                <input matInput formControlName="DepartureFromPlace" autocomplete="off"/>
                                            </mat-form-field>
                                        </div>

                                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                                <mat-label class="customMatLabel">Departure Time</mat-label>
                                                <input type="text" matInput [ngxTimepicker]="timepickerDeparture" [format]="DateFormat()" readonly formControlName="DepartureFromTime"/>
                                                <mat-icon matSuffix (click)="openFromIcon(timepickerDeparture)">schedule</mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <div class="sub-heading">Arrival At
                                </div>

                                <div class="col-lg-12">
                                    <div class="flex" style="flex-wrap: wrap;">
                                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                                <mat-label class="customMatLabel">Arrival Place</mat-label>
                                                <input matInput formControlName="ArrivalAtPlace" autocomplete="off"/>
                                            </mat-form-field>
                                        </div>

                                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                            <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                                <mat-label class="customMatLabel">Arrival Time</mat-label>
                                                <input type="text" matInput [ngxTimepicker]="timepickerArrival" [format]="DateFormat()" readonly
                                                    formControlName="ArrivalAtTime"/>
                                                <mat-icon matSuffix (click)="openFromIcon(timepickerArrival)">schedule</mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                </div>


                            </div>

                            <div class="sub-heading">Departure From
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Departure Place</mat-label>
                                            <input matInput formControlName="DepartureFromPlace" autocomplete="off"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Departure Time</mat-label>
                                            <input matInput formControlName="DepartureFromTime" autocomplete="off"/>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div class="sub-heading">Arrival At
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Arrival Place</mat-label>
                                            <input matInput formControlName="ArrivalAtPlace" autocomplete="off"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Arrival Time</mat-label>
                                            <input matInput formControlName="ArrivalAtTime" autocomplete="off"/>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">General Administration</mat-label>
                                            <input matInput formControlName="GeneralAdministration" autocomplete="off"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Cash Management </mat-label>
                                            <input matInput formControlName="CashManagement" autocomplete="off"/>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="sub-heading">Audit Reports/Audit Discussions and Compliance Status of Branch Visited
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Audit Reports</mat-label>
                                            <input matInput formControlName="AuditReports" autocomplete="off"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Outstanding Paras </mat-label>
                                            <input matInput formControlName="OutstandingParas" autocomplete="off"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Settlement </mat-label>
                                            <input matInput formControlName="Settlement" autocomplete="off"/>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">No. of loan cases in which Recovery Schedule</mat-label>
                                            <input matInput formControlName="LoanCasesInRecoverySchedule" autocomplete="off"/>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div class="sub-heading">Transfer of Technology
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Progressive Farmers Contacted</mat-label>
                                            <input matInput formControlName="ProgressiveFarmersContacted" autocomplete="off"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">No. of Farms Visited</mat-label>
                                            <input matInput formControlName="NoOfFarmsVisited" autocomplete="off"/>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Any other work done</mat-label>
                                            <input matInput formControlName="AnyOtherWorkDone" autocomplete="off"/>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Remarks</mat-label>
                                            <input matInput formControlName="Remarks" autocomplete="off"/>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="row mt-2 mr-1">
                            <div class="col-lg-12 text-right">
                                <button *ngIf="isUpdate==false" class="ml-2 bg-green" mat-raised-button color="primary" (click)="saveTourDiary()"><mat-icon class="mr-2">save</mat-icon>Save</button>
                                <button *ngIf="isUpdate==true" class="ml-2 bg-green" mat-raised-button color="primary" (click)="saveTourDiary()"><mat-icon class="mr-2">save</mat-icon>Update</button>
                                <button mat-raised-button class="mr-2" color="primary" (click)="SubmitTourDiary()">
                                    <mat-icon class="mr-2">check_circle</mat-icon>
                                    Submit
                                </button>
                                <button type="button"
                                        class="mat-focus-indicator btn bg-red-500 text-white rounded-md mx-2 mat-raised-button mat-button-base mat-danger"
                                        mat-raised-button color="danger" (click)="onClearForm()">
                                    <mat-icon class="mr-2"> clear_all</mat-icon>
                                    Clear
                                </button>
                            </div>
                        </div>

                            <div class="col-lg-12 p-0 ist-table  overflow-auto shadow-xs rounded-sm bg-gray-50 mt-2">
                                <table class="table ">
                                    <thead>
                                    <tr class=" text-center">
                                        <th rowspan="2"  >Date</th>
                                        <th colspan="2"  >Departure from</th>
                                        <th colspan="2"  >Arrival at</th>
                                        <th rowspan="2"  >General Administration/Ambiance & Public Complaints of the Branch Visited</th>
                                        <th rowspan="2"  >Cash Management & Compliance of Bank Instructions/SBP directives on FTC/AML/KYC etc by the Branch visited</th>
                                        <th colspan="3"  >Audit Reports/Audit Discussions and Compliance Status of Branch Visited
                                        </th>
                                    </tr>
                                    <tr class=" text-center">
                                        <th  >Place</th>
                                        <th  >Time</th>
                                        <th  >Place</th>
                                        <th  >Time</th>
                                        <th  >Audit Reports</th>
                                        <th  >Outstanding Paras</th>
                                        <th  >Settlement</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td  >
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput readonly="readonly">
                                            </mat-form-field>
                                        </td>
                                        <td  >
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput readonly="readonly">
                                            </mat-form-field>
                                        </td>
                                        <td  >
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput readonly="readonly">
                                            </mat-form-field>
                                        </td>
                                        <td  >
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput readonly="readonly">
                                            </mat-form-field>
                                        </td>
                                        <td  >
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput readonly="readonly">
                                            </mat-form-field>
                                        </td>
                                        <td  >
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput readonly="readonly">
                                            </mat-form-field>
                                        </td>
                                        <td  >
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput readonly="readonly">
                                            </mat-form-field>
                                        </td>
                                        <td  >
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput readonly="readonly">
                                            </mat-form-field>
                                        </td>
                                        <td  >
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput readonly="readonly">
                                            </mat-form-field>
                                        </td>
                                        <td  >
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline">
                                                <input matInput readonly="readonly">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

<!--                            <div class="row pt-3">-->
<!--                                <div class="col-lg-12 p-0 col-sm-12">-->
<!--                                    <div class="sub-heading">Transfer of Technology, Portfolio of Branch Visited and Remarks</div>-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="col-lg-12 p-0 sec-table  overflow-auto shadow-xs rounded-sm bg-gray-50 mt-2">
                                <table class="table ">
                                    <thead>
                                    <tr class=" text-center">
                                        <th rowspan="3"  >No. of loan cases in which Recovery Schedule/Revised Recovery Schedules have not
                                            been issued to borrowers
                                        </th>
                                        <th colspan="2"  >
                                            Transfer of Technology
                                        </th>
                                        <th colspan="6"  >Portfolio of the Branch Visited</th>
                                        <th rowspan="3"  >Any other work done</th>
                                        <th rowspan="3"  >Remarks</th>
                                    </tr>
                                    <tr class=" text-center">
                                        <th  >Progressive Farmers contacted</th>
                                        <th  >No. of farms visited</th>
                                        <th  >No.</th>
                                        <th  >Amt.</th>
                                        <th  >No.</th>
                                        <th  >Amt.</th>
                                        <th  >No.</th>
                                        <th  >Amt.</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td  >
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline" style="width: 12rem !important">
                                                <input matInput readonly="readonly">
                                            </mat-form-field>
                                        </td>
                                        <td  >
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline" style="width: 12rem !important">
                                                <input matInput readonly="readonly">
                                            </mat-form-field>
                                        </td>
                                        <td  >
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline" style="width: 12rem !important">
                                                <input matInput readonly="readonly">
                                            </mat-form-field>
                                        </td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  >
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline" style="width: 12rem !important">
                                                <input matInput readonly="readonly">
                                            </mat-form-field>
                                        </td>
                                        <td  >
                                            <mat-form-field class=" mat-form-field-fluid w-full"
                                                            appearance="outline" style="width: 12rem !important">
                                                <input matInput readonly="readonly">
                                            </mat-form-field>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                            <div class="col-lg-12 p-0  third-table   overflow-auto shadow-xs rounded-sm bg-gray-50 mt-2">
                                <table class="table ">
                                    <thead>
                                    <tr class=" text-center">
                                        <th colspan="6"  >
                                            Disbursement
                                        </th>
                                    </tr>
                                    <tr class=" text-center">
                                        <th  >Annual Target</th>
                                        <th  >Proportionate Target up to the end of month under report</th>
                                        <th  >Total disbursement up to the end of previous month </th>
                                        <th  >Disbursement during the month under report</th>
                                        <th  >Total disbursement up to the end of month under report</th>
                                        <th  >Increase/Deficit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>


                            <div class="col-lg-12 p-0  third-table   overflow-auto shadow-xs rounded-sm bg-gray-50 mt-2">
                                <table class="table">
                                    <thead>
                                    <tr class="table-header-background text-center">
                                        <th colspan="15"  >RECOVERY</th>
                                    </tr>
                                    </thead>
                                    <thead>
                                    <tr class="table-header-background text-center">
                                        <!-- UTILIZATIONS -->
                                        <th colspan="3"  >Amount in default up to the month under report (TARGET)</th>
                                        <th colspan="3"  >Recovery during the month under report</th>
                                        <th colspan="3"  >Balance Recoverable</th>
                                        <th colspan="3"  >Recovery during corresponding period</th>
                                        <th rowspan="2"  >Increase/Deficit</th>
                                        <th colspan="2"  >Reschedulement/Restructuring/Write-off/Remission cases of the branch visited</th>
                                    </tr>
                                    <tr class="table-header-background text-center">
                                        <th  >Past Dues</th>
                                        <th  >Current Dues</th>
                                        <th  >Total</th>
                                        <th  >Past Dues</th>
                                        <th  >Current Dues</th>
                                        <th  >Total</th>
                                        <th  >Past Dues</th>
                                        <th  >Current Dues</th>
                                        <th  >Total</th>
                                        <th  >Past Dues</th>
                                        <th  >Current Dues</th>
                                        <th  >Total</th>
                                        <th  >Activity</th>
                                        <th  >No.</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  >
                                            <ul>
                                                <li>Reschedulement</li>
                                                <li>Restructring of Installments</li>
                                                <li>RightOff/remission</li>
                                            </ul>
                                        </td>
                                        <td  ></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-lg-12 p-0  third-table   overflow-auto shadow-xs rounded-sm bg-gray-50 mt-2">
                                <table class="table ">
                                    <thead>
                                    <tr class="table-header-background text-center">
                                        <th colspan="5"  >
                                            Deposits
                                        </th>
                                    </tr>
                                    <tr class="table-header-background text-center">
                                        <th  >Annual Target</th>
                                        <th  >Proportionate Target</th>
                                        <th  >Achievement Percentage</th>
                                        <th  >Deposit Balance during corresponding period</th>
                                        <th  >Increase/Deficit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                        <td  ></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                            <div class="col-lg-12">
                                <div class="flex" style="flex-wrap: wrap;">

                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Name</mat-label>
                                            <input matInput formControlName="Name" autocomplete="off" readonly="readonly"/>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Designation</mat-label>
                                            <input matInput formControlName="Designation" autocomplete="off" readonly="readonly"/>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 mx-2" style="width: 225px;">
<!--                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">-->
<!--                                            <mat-label class="customMatLabel">Dated <strong class="matMandatory">*</strong>-->
<!--                                            </mat-label>-->
<!--                                            <input matInput [matDatepicker]="picker2" formControlName="Dated" maxlength="30" autocomplete="off"-->
<!--                                                   [max]="maxDate" (dateChange)="isEnableReceipt(false)" appNumberOnly/>-->
<!--                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>-->
<!--                                            <mat-datepicker #picker2></mat-datepicker>-->
<!--                                        </mat-form-field>-->
                                        <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">
                                            <mat-label class="customMatLabel">Dated</mat-label>
                                            <input matInput formControlName="Dated" autocomplete="off" readonly="readonly"/>
                                        </mat-form-field>
                                    </div>
                                </div>


                            </div>

                        </div>


                </form>
        </div>

        <div class="row">
            <div class="col-lg-12 flex  py-2 border-t">
                <button mat-raised-button class="mr-2" color="primary" (click)="SubmitTourDiary()">
                    <mat-icon class="mr-2">check_circle</mat-icon>
                    Submit
                </button>
            </div>
        </div>


    </div>

    <ngx-material-timepicker  #timepickerDeparture></ngx-material-timepicker>
    <ngx-material-timepicker #timepickerArrival></ngx-material-timepicker>
