<form [formGroup]="applicationHeaderForm" class="kt-form kt-form--group-seperator-dashed">
    <div class="kt-form">
        <div class="kt-portlet__body">

            <div class="form-group kt-form__group flex " style="flex-wrap: wrap;">
                <app-zone-branch-circle (branchZoneCircleData)="getAllData($event)" [form]="applicationHeaderForm"
                                        [should_filter]="false"
                                        [show_circle]="false"></app-zone-branch-circle>
                <div class="col-lg-4 col-sm-12  kt-margin-bottom-20-mobile mx-2" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Application Date <strong class="matMandatory">*</strong>
                        </mat-label>
                        <input [matDatepicker]="picker3" [max]="today" autocomplete="off" formControlName="AppDate"
                               matInput readonly="readonly">
                        <mat-datepicker-toggle [for]="picker3" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                        <mat-error *ngIf="hasError('AppDate', 'required')">Application Date <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>


                <div class="col-lg-4 col-sm-12 kt-margin-bottom-20-mobile mx-2" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Loan Type <strong class="matMandatory">*</strong></mat-label>
                        <mat-select (selectionChange)="onChangeLoanType($event)" formControlName="DevProdFlag">
                            <mat-option>
                                <ngx-mat-select-search (focusout)="validateLoanTypeOnFocusOut()"
                                                       (keyup)="searchLoanType($event.target.value)"
                                                       noEntriesFoundLabel="No Loan Type Found"
                                                       placeholderLabel="Search Loan Type...">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let loanType of SelectedLoanType" [value]="loanType.Value">
                                {{loanType.Name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('DevProdFlag', 'required')">LoanType <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-sm-12 kt-margin-bottom-20-mobile mx-2" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Development Loan Amount <strong
                            class="matMandatory">*</strong></mat-label>
                        <input appNumberOnly formControlName="DevAmount" matInput
                               maxlength="9"
                               placeholder="Enter Development Loan Amount"/>
                        <mat-error *ngIf="hasError('DevAmount', 'required')">Development Loan Amount
                            <strong>required</strong></mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-sm-12 kt-margin-bottom-20-mobile mx-2" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Production Loan Amount <strong class="matMandatory">*</strong>
                        </mat-label>
                        <input appNumberOnly formControlName="ProdAmount" matInput
                               maxlength="9"
                               placeholder="Enter Production Loan Amount"/>
                        <mat-error *ngIf="hasError('ProdAmount', 'required')">Production Loan Amount
                            <strong>required</strong></mat-error>
                    </mat-form-field>
                </div>

                <div class="col-lg-4 col-sm-12 kt-margin-bottom-20-mobile mx-2" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <input autocomplete="off" formControlName="LoanCaseNo" matInput placeholder="Enter Lc Old No"
                               readonly/>
                    </mat-form-field>

                </div>
                <div class="col-lg-4 col-sm-12 kt-margin-bottom-20-mobile mx-2" style="width: 225px;">


                    <button (click)="getLcNoAutoAssignedByApi()" *ngIf="currentActivity?.C" [disabled]="checkDisable()"
                            class="mt-2 btn btn-primary w-full"
                            color="primary" mat-raised-button type="button">
                        Check LC #
                    </button>
                </div>

                <div class="col-lg-4 col-sm-12 kt-margin-bottom-20-mobile mx-2" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Loan Category <strong class="matMandatory">*</strong>
                        </mat-label>
                        <mat-select formControlName="CategoryID">
                            <mat-option>
                                <ngx-mat-select-search (focusout)="validateLoanCategoryOnFocusOut()"
                                                       (keyup)="searchLoanCategory($event.target.value)"
                                                       noEntriesFoundLabel="No Loan Category Found"
                                                       placeholderLabel="Search Loan Category...">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let loanCategory of SelectedLoanCategory" [value]="loanCategory.Id">
                                {{loanCategory.Name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('CategoryID', 'required')">Loan Category <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-sm-12 kt-margin-bottom-20-mobile mx-2" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">LA File/booklet No <strong class="matMandatory">*</strong>
                        </mat-label>
                        <input appNumberOnly autocomplete="off" formControlName="AppNumberManual" matInput
                               maxlength="12"
                               placeholder="Enter Booklet No"/>
                        <mat-error *ngIf="hasError('AppNumberManual', 'required')">LA File/booklet No
                            <strong>required</strong></mat-error>
                    </mat-form-field>
                </div>


                <!--        <div class="col-lg-4 col-sm-12 kt-margin-bottom-20-mobile">-->
                <!--          <mat-form-field class="mat-form-field-fluid w-full" appearance="outline">-->
                <!--            <input matInput placeholder="LC NO" formControlName="LoanAutoNo" readonly="readonly" autocomplete="off" />-->
                <!--            <mat-error *ngIf="hasError('LoanAutoNo', 'required')">"LC NO <strong>required</strong></mat-error>-->
                <!--          </mat-form-field>-->
                <!--        </div>-->
                <div class="col-lg-4 col-sm-12 kt-margin-bottom-20-mobile mx-2" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Deposit Acc# <strong class="matMandatory">*</strong>
                        </mat-label>
                        <input autocomplete="off" formControlName="RefDepositAcc" matInput
                               maxlength="14" placeholder="Enter Deposit Account"/>
                        <mat-error *ngIf="hasError('RefDepositAcc', 'required')">Deposit Account
                            <strong>required</strong></mat-error>
                        <mat-error *ngIf="hasError('RefDepositAcc', 'minLength')">Deposit Account minimum length
                            <strong>14</strong></mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4  col-sm-12 kt-margin-bottom-20-mobile mx-2" style="width: 225px;">
                    <mat-form-field appearance="outline" class="mat-form-field-fluid w-full">
                        <mat-label class="customMatLabel">Reference Number(PITB)</mat-label>
                        <input appNumberOnly formControlName="ApplicantionTitle" matInput maxlength="20"
                               placeholder="Enter Reference Number(PITB)"/>
                        <!--  <mat-error *ngIf="hasError('Zone', 'required')">Zone <strong>required</strong></mat-error>-->
                    </mat-form-field>
                </div>

            </div>

        </div>
    </div>
</form>
<div class="form-group kt-form__group row pt-2 ml-0.5">
    <div class="col-lg-12 pl-1">
        <button (click)="onSaveApplicationHeader()" *ngIf="currentActivity?.C" [disabled]="isSaveApplicationHeaderInProgress"
                class="btn btn-primary" color="primary" mat-raised-button style="background-color: #01671B;"
                type="button">
            <mat-icon class="mr-2">save</mat-icon>
            Save
        </button>
        <button (click)="onClearSavApplicationHeader()"
                *ngIf="currentActivity?.C"
                class="mat-focus-indicator btn bg-red-500 text-white rounded-md mx-2 mat-raised-button mat-button-base mat-danger" color="danger" mat-raised-button type="button">
            <mat-icon class="mr-2"> clear_all</mat-icon>
            Clear
        </button>
    </div>
</div>
<!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#ecbd00"
             type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->
