<div [formGroup]="gridForm"
     class="px-10  sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 overflow-y-scroll overflow-x-hidden bg-card dark:bg-transparent">


    <div class="row pt-3">
        <div class="col-lg-9 col-sm-12">
            <div class="heading">TOUR DIARY & PROGRESS REPORT OF REGIONAL CHIEF</div>
        </div>
        <div class="col-lg-3 col-sm-12 self-center">


        </div>
    </div>
    <app-zone-branch-circle (branchZoneCircleData)="getAllData($event)" [form]="gridForm" [is_required_circle]="false"
                            [should_filter]="false" [show_circle]="false"
                            hidden></app-zone-branch-circle>

    <div id="Kt-portlet-margin-top">
        <div class="collapse show" id="collapseExample">

            <div class="kt-form">

                <div class="kt-portlet__body">


                    <div class="col-lg-12 p-0 ist-table overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                        <table class="table">
                            <thead>
                            <tr class="table-header-background text-center">
                                <th class="border-r border-gray-400" rowspan="3">Date</th>
                                <th class="border-r border-gray-400" colspan="2" rowspan="2">Departure from</th>
                                <th class="border-r border-gray-400" colspan="2" rowspan="2">Arrival at</th>
                                <th class="border-r border-gray-400" rowspan="3">No. of defaulters contacted</th>
                                <th class="border-r border-gray-400" rowspan="3">Results of contacts so made
                                </th>
                                <th class="border-r border-gray-400" rowspan="3">Measures/Efforts for boosting up
                                    recovery
                                </th>
                                <th class="border-r border-gray-400" rowspan="3">Remarks</th>
                            </tr>

                            <tr class="table-header-background text-center">
                            </tr>

                            <tr class="table-header-background text-center">
                                <th class="border-r border-gray-400">Place</th>
                                <th class="border-r border-gray-400">Time</th>
                                <th class="border-r border-gray-400">Place</th>
                                <th class="border-r border-gray-400">Time</th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let single_list of TourDiaryList">
                            <tr>
                                <td class="border-r border-gray-400">
                                    <mat-form-field appearance="outline"
                                                    class=" mat-form-field-fluid w-full">
                                        <input [value]="single_list?.TourDate" matInput readonly="readonly">
                                    </mat-form-field>
                                </td>
                                <td class="border-r border-gray-400">
                                    <mat-form-field appearance="outline"
                                                    class=" mat-form-field-fluid w-full">
                                        <input [value]="single_list?.DepartureFromPlace" matInput
                                               readonly="readonly">
                                    </mat-form-field>
                                </td>
                                <td class="border-r border-gray-400">
                                    <mat-form-field appearance="outline"
                                                    class=" mat-form-field-fluid w-full">
                                        <input [value]="single_list?.DepartureFromTime" matInput readonly="readonly">
                                    </mat-form-field>
                                </td>
                                <td class="border-r border-gray-400">
                                    <mat-form-field appearance="outline"
                                                    class=" mat-form-field-fluid w-full">
                                        <input [value]="single_list?.ArrivalAtPlace" matInput readonly="readonly">
                                    </mat-form-field>
                                </td>
                                <td class="border-r border-gray-400">
                                    <mat-form-field appearance="outline"
                                                    class=" mat-form-field-fluid w-full">
                                        <input [value]="single_list?.ArrivalAtTime" matInput readonly="readonly">
                                    </mat-form-field>
                                </td>
                                <td class="border-r border-gray-400">
                                    <mat-form-field appearance="outline"
                                                    class=" mat-form-field-fluid w-full">
                                        <input [value]="single_list?.NoOfDefaulterContacted" matInput
                                               readonly="readonly">
                                    </mat-form-field>
                                </td>
                                <td class="border-r border-gray-400">
                                    <mat-form-field appearance="outline"
                                                    class=" mat-form-field-fluid w-full">
                                        <input [value]="single_list?.ResultContactMade" matInput readonly="readonly">
                                    </mat-form-field>
                                </td>
                                <td class="border-r border-gray-400">
                                    <mat-form-field appearance="outline"
                                                    class=" mat-form-field-fluid w-full"
                                                    style="width: 12rem !important">
                                        <input [value]="single_list?.MeasureBoostUpRecord" matInput>
                                    </mat-form-field>
                                </td>
                                <td class="border-r border-gray-400">
                                    <mat-form-field appearance="outline"
                                                    class=" mat-form-field-fluid w-full"
                                                    style="width: 12rem !important">
                                        <input [value]="single_list?.Remarks" matInput>
                                    </mat-form-field>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div
                        class="col-lg-12 p-0  third-table  overflow-auto border shadow-xs rounded-sm bg-gray-50 mt-2">
                        <table class="table">
                            <thead>
                            <tr class="table-header-background text-center">
                                <th class="border-r border-gray-400" colspan="6">Portfolio of the
                                    Province/Zone/Branch/Circle
                                </th>
                                <th class="border-r border-gray-400" colspan="16">RECOVERY</th>
                            </tr>
                            </thead>
                            <thead>
                            <tr class="table-header-background text-center">
                                <!-- UTILIZATIONS -->
                                <th class="border-r border-gray-400" colspan="2">General</th>
                                <th class="border-r border-gray-400" colspan="2">NPLs</th>
                                <th class="border-r border-gray-400" colspan="2">SAM</th>
                                <th class="border-r border-gray-400" colspan="3">Annual Target/Recoverable of
                                    Province/Zone/Branch/Circle
                                </th>
                                <th class="border-r border-gray-400" colspan="3">Proportionate Target upto the end
                                    of month under report
                                </th>
                                <th class="border-r border-gray-400" colspan="3">Recovery achievement during the
                                    month under report
                                </th>
                                <th class="border-r border-gray-400" colspan="3">Balance Recoverable</th>
                                <th class="border-r border-gray-400" colspan="3">Recovery during corresponding
                                    period
                                </th>
                                <th class="border-r border-gray-400" rowspan="2">Increase/Deficit</th>

                            </tr>
                            <tr class="table-header-background text-center">
                                <th class="border-r border-gray-400" colspan="1">No.</th>
                                <th class="border-r border-gray-400" colspan="1">Amt.</th>
                                <th class="border-r border-gray-400" colspan="1">No.</th>
                                <th class="border-r border-gray-400" colspan="1">Amt.</th>
                                <th class="border-r border-gray-400" colspan="1">No.</th>
                                <th class="border-r border-gray-400" colspan="1">Amt.</th>
                                <th class="border-r border-gray-400">Past Dues</th>
                                <th class="border-r border-gray-400">Current Dues</th>
                                <th class="border-r border-gray-400">Total</th>
                                <th class="border-r border-gray-400">Past Dues</th>
                                <th class="border-r border-gray-400">Current Dues</th>
                                <th class="border-r border-gray-400">Total</th>
                                <th class="border-r border-gray-400">Past Dues</th>
                                <th class="border-r border-gray-400">Current Dues</th>
                                <th class="border-r border-gray-400">Total</th>
                                <th class="border-r border-gray-400">Past Dues</th>
                                <th class="border-r border-gray-400">Current Dues</th>
                                <th class="border-r border-gray-400">Total</th>
                                <th class="border-r border-gray-400">Past Dues</th>
                                <th class="border-r border-gray-400">Current Dues</th>
                                <th class="border-r border-gray-400">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="border-r border-gray-400">{{systemGenerated?.PortfolioGeneralNo}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.PortfolioGeneralAmount}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.PortfolioNplNo}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.PortfolioNplAmount}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.PortfolioSamNo}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.PortfolioSamAmount}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.AnnualTargetPD}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.AnnualTargetCD}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.AnnualTargetTotal}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.ProportionatTargetPD}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.ProportionatTargetCD}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.ProportionatTargetTotal}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.RecoveryTargetPD}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.RecoveryTargetCD}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.RecoveryTargetTotal}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.BalanceRecoverabletPD}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.BalanceRecoverableCD}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.BalanceRecoverableTotal}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.RDuringCorrespondingPD}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.RDuringCorrespondingCD}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.RDuringCorrespondingTotal}}</td>
                                <td class="border-r border-gray-400">{{systemGenerated?.IncreaseDeficit}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>


    </div>


    <div class="row mt-2 mr-1">
        <div class="col-lg-12 text-right">
            <button (click)="changeStatus('A')" class="mr-2" color="primary" mat-raised-button type="button">
                <mat-icon class="mr-2">check_circle</mat-icon>
                Approve
            </button>
            <button (click)="changeStatus('R')"
                    class="mat-focus-indicator btn bg-red-500 text-white rounded-md mx-2 mat-raised-button mat-button-base mat-danger"
                    color="danger" mat-raised-button type="button">
                <mat-icon class="mr-2"> clear_all</mat-icon>
                Referback
            </button>
        </div>
    </div>
</div>

<ngx-material-timepicker #timepickerDeparture></ngx-material-timepicker>
<ngx-material-timepicker #timepickerArrival></ngx-material-timepicker>
